[2022-02-07 13:47] joshrosso commented on #2992
Who can figure this compatibility question out?

As part of this work, we'll ensure the upstream libs (tanzu-framework) have this capability. Who will own the reconciliation of the mirror/downstream dep?

[2022-02-07 14:17] #3040 closed

[2022-02-07 14:19] joshrosso commented on #2848
Read this proposal, it seems the core of what we're suggesting is:

1. A package called "App platform"
2. A set of additional packages (some which already exist) including:

    | Packages                |
    | ----------------------- |
    | Contour                 |
    | Cert-manager            |
    | Source Controller       |
    | knative-serving         |
    | kpack                   |

[2022-02-07 14:28] joshrosso commented on #2848
Sent message to the mailing list.

Reference: https://groups.google.com/g/tanzu-community-edition/c/IQ7aNVSlZw0

We’re currently planning to keep the RFC window open until 02/14/2022.

[2022-02-07 14:28] renmaosheng commented on #2992
@Maharshi Bhatt is the major contact from TKG downstream side, we can confirm with Maharshi on the compatibility questions.  to Echo Steven Zou's point, we want the TKG/TCE release can share the same tanzu-framework sha, so that TMC doesn't need to treat TKG/TCE separately. we are also working with TKG to define an API instead of using the client library code, we want to align with TCE as well to

[2022-02-07 14:29] joshrosso commented on #2738
Due to lack of follow-up and still getting our feet under us around versioning schemes, we'll close this proposal.

Let's re-open and/or revise once we've got bandwidth to evaluate where we should put this information and how to version our assets.

[2022-02-07 14:29] #2738 closed

[2022-02-07 14:34] joshrosso commented on #2992
@renmaosheng

Unfortunately, this will not be possible. Tanzu-framework should provide backwards compatibility guarantees. We cannot pin the community project on versions of our downstream product.

[2022-02-07 15:01] kcoriordan commented on #2990
@AndriyKalashnykov  - do you meant add links to these in the support matrix:

https://azure.microsoft.com
https://aws.amazon.com/
https://www.docker.com
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/

?

[2022-02-07 15:07] vrabbi commented on #2848
This looks great and would indeed bring huge value to tce! I have built such a package repo and meta package that i use for this same use case and it has made the installation process very easy and quick!
You can see the one i have built at https://github.com/vrabbi/tap-oss

[2022-02-07 15:09] joshrosso commented on #3043
@seemiller saw some commits come in. Are you wrapped up on this one?

thanks in advance!

[2022-02-07 15:19] stmcginnis commented on #2990
I think:
- https://github.com/kubernetes-sigs/cluster-api-provider-azure
- https://github.com/kubernetes-sigs/cluster-api-provider-aws
- https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/
- https://github.com/kubernetes-sigs/cluster-api/tree/main/test/infrastructure/docker

Not sure if we want/need the docker one in there since that's a sort of odd one.

[2022-02-07 15:31] joshrosso commented on #3043
based on a slack convo, @seemiller put his changes in.

I'll add updates from here to close this out! Thanks.

[2022-02-07 16:42] skriss commented on #1744
We also have `local.projectcontour.io` as a public DNS record for 127.0.0.1 for this exact purpose!

[2022-02-07 16:45] jorgemoralespou opened #3058 "Can not connect to a Cluster after it has restarted using Antrea CNI (docker provider)"
## Bug Report
When creating a cluster with Docker provider (managed or unmanaged) and the cluster is restarted you can no longer connect to the cluster's API server when Antrea is the CNI. It works when using calico as the CNI.

Some pointers from the TCE team, says that [this antrea issue](https://github.com/antrea-io/antrea/issues/1113) might be related and that it's also related to the [code in

[2022-02-07 17:11] jorgemoralespou opened #3060 "Support bind address when mapping ports - `unmanaged cluster`"
## Feature Request
When creating an unmanaged cluster I would like to be able to set Kind`s listen address for the extraPortMappings, [as documented in Kind docs](https://kind.sigs.k8s.io/docs/user/configuration/#extra-port-mappings) so that I can have other services binding 80 and 443 on other interfaces on my machine for other services, e.g. being able to run concurrently an unmanaged cluster an

[2022-02-07 17:38] jorgemoralespou opened #3061 "[unmanaged-cluster] Save Kind config in the Kind cluster"
## Feature Request
For troubleshooting purposes it would be ideal to see the kind configuration that was created. This configuration is now managed in memory while creating the cluster, but it'll be ideal that this information was persisted somewhere. I would think that since this is not an important file to have on the local system it can be saved within the cluster, on the cluster's filesystem o

[2022-02-07 19:52] #2958 closed

[2022-02-07 21:07] seemiller commented on #3049
Looks like a resolution was found, feel free to reopen if we missed anything.

[2022-02-07 21:07] #3049 closed

[2022-02-07 21:55] miclettej opened #3066 "UI Plugin: Add a Go HTTP server to serve static UI content"
The Tanzu management cluster plugin has a Go HTTP server that is used for serving static UI and routing HTTP REST calls. A version of this implementation should be added to the TCE UI plugin, to enable development and proving decisions on the UI plugin's technology stack.

The user should be able to reference the UI plugin and execute a command which starts the HTTP server and launches a browser w

[2022-02-07 22:31] ciberkleid opened #3067 "local-path-storage package delete fails when configuration is: `namespace: default`"
## Bug Report

If local-path-storage package is installed with `namespace: default`, then the following error occurs when deleting the package:

[code]

As a result, the package is not deleted:

[code]

and:

[code]

## Expected Behavior

The package should be deleted.
There should not be an attempt to delete the default namespace.

## Steps to Reproduce the Bug

Create a local-path-storage-values

[2022-02-07 22:35] miclettej opened #3068 "[Spike] UI Plugin: Decide implementation for Clarity webcomponents/React"
Considering UI tech stack for open source UI plugin React vs Angular:

Requires: Ability to use Clarity UI framework

Current React versions do not support web components (Clarity Core). Explore wrapping Clarity components for consumption in React.

One possible solution is using @clr/react

[2022-02-07 22:37] miclettej opened #3069 "[Spike]UI Plugin: Makefile for building UI plugin"
Explore tooling for building open source UI plugin to construct UI/Go single binary

[2022-02-07 22:38] ciberkleid opened #3070 "tanzu CLI error output should say how to get to the usefulErrorMessage"
## Feature Request

tanzu CLI outputs the following on errors:
`Delete failed: Error (see .status.usefulErrorMessage for details)`

The error would be more user-friendly if it included guidance on ho to get the status, for example, by running `tanzu package installed get <package-name>` (or if there is another advised way to get to the details, then that can be mentioned. This is the way I discove

[2022-02-07 22:50] stmcginnis commented on #3070
Thanks Cora. Can you expand on this a little? Under what condition did you get to this error message?

[2022-02-07 23:00] seemiller opened #3071 "Typo in Harbor Docs - 'lightwight' -> 'lightweight'"
## Bug Report

`lightwight` -> `lightweight`

[2022-02-08 07:25] snehalbiche commented on #3053
Thanks will wait for v0.10, do we have a tentative date for release?

[2022-02-08 08:14] aman556 opened #3076 "[Harbor] e2e test is failing for harbor"
## Bug Report
While running e2e test for harbor by following the steps mention in description of PR [2278](https://github.com/vmware-tanzu/community-edition/pull/2278) it is failing with the below logs.
[code]

## Expected Behavior

The e2e-test has to be pass without any failure.
## Steps to Reproduce the Bug

Follow steps in PR [2278](https://github.com/vmware-tanzu/community-edition/pull/2278)

[2022-02-08 08:15] aman556 commented on #3076
Did we have to use any configuration file for harbor in docker environment ?

[2022-02-08 11:37] nilarte opened #3077 "Need more documentation / help on tanzu package install command"
## Description

We are trying to deploy tanzu packages on this setup from here:

However facing issues

ubuntu@ip-172-16-6-116:~$ kubectl config get-contexts
CURRENT   NAME                              CLUSTER        AUTHINFO             NAMESPACE
*         tkg-mgmt-aws-admin@tkg-mgmt-aws   tkg-mgmt-aws   tkg-mgmt-aws-admin
          tkg-wl-aws-admin@tkg-wl-aws       tkg-wl-aws     tkg-wl-aws-admi

[2022-02-08 13:59] stmcginnis commented on #3077
Hi @nilarte - can you run `tanzu package repository list --all-namespaces` to verify the package namespace, then `tanzu package available list --namespace ${NS}` to verify the contour package is showing up?

[2022-02-08 13:59] ciberkleid commented on #3067
I think actually this is a kapp issue, not a Tanzu Community Edition issue... In general, kapp should probably have a safeguard whereby it does not try to delete the default namespace and still enables successful deletion of the thing that is being deleted.

Should I close this issue here or is there a way to reassign this or create a linked issue or something like that?

[2022-02-08 14:01] stmcginnis commented on #3067
Let's keep this open. If you do open an issue with kapp, if you would be able to add a link to that here, then we could use this as a tracking issue to make sure that change makes it all the way through to a TCE release.

Thanks @ciberkleid!

[2022-02-08 16:00] joshrosso opened #3080 "List of Pre-flight Checks for creating clusters"
## Feature Request

A primary issue of cluster creation is that it starts and often finds pre-req issues during creation. This causes a bad UX since users find they need to make adjustments after creation has started (meaning they need to delete what was created, make adjustments, and restart).

This can be mitigated by introducing pre-flight checks to the cluster bootstrap process. This issue tra

[2022-02-08 16:14] #2956 closed

[2022-02-08 16:30] miclettej commented on #3068
Hi Garry, we would likely use the latest stable version of React which would be in v17 major. If we can confirm that component state works as it should (bindings and events like onchange), we may be good to go.

[2022-02-08 16:35] #3071 closed

[2022-02-08 16:43] kcoriordan commented on #2977
@ciberkleid

Hi Cora

The version is kept dynamically up to date in multiple locations in the doc. Is the ask here to add a note in each of these locations to **not** use latest -as I think this could get clunky ?

The version (dynamic) appears in these topics:

Work with Packages
https://tanzucommunityedition.io/docs/latest/package-management/

Installing a Package in the Getting Started guide
ht

[2022-02-08 16:51] seemiller commented on #3077
I suspect that the package repository is installed into the `tanzu-package-repo-global` namespace.

If so, then your install command needs to be like this, where the `--namespace` parameter refers to the namespace that the package repository is installed into.

[code]

[2022-02-08 17:06] joshrosso commented on #3076
@vmware-tanzu/pkg-harbor-owners && @heww, looks like this is an issue with the tests, curious if you could take a look.

[2022-02-08 17:19] kcoriordan commented on #1485
- For mac and windows, we link to the specific OS steps for the docker version that must be used because of cgroup limitation
- For linux, we link to a page that contains all the linux distributions

If we want to provide installation scripts similar to what Rancher does [here](https://github.com/rancher/install-docker), this should go in the roadmap

Not sure where to take this as opinions seem t

[2022-02-08 17:34] kartiklunkad26 opened #3084 "[Docs] [](/docs/latest/getting-started-standalone/) Adding the TCE Package Repository command should refer to v0.9.2"
## Description

The docs refer to v0.9.1 for the TCE Package Repository. This means kpack won't be available for installation.

## Location

https://tanzucommunityedition.io/docs/latest/getting-started-standalone/#creating-clusters

In the section of Installing a Package

Install the Tanzu Community Edition package repository into the tanzu-package-repo-global namespace.

`tanzu package repository

[2022-02-08 17:48] seemiller commented on #1727
The latest `0.9.2` package repository has knative-serving `0.26.0` and `1.0.0`.

[2022-02-08 17:48] #1727 closed, assigned to seemiller

[2022-02-08 17:53] kcoriordan commented on #2893
thanks @kartiklunkad26 - some great suggestions here. I plan to action these in conjunction with other restructure after v0.10.0 is releases

[2022-02-08 18:01] kcoriordan commented on #3084
I wasn't aware of this, so the package repository should be = v0.9.2
but the latest TCE release remains at v0.9.1
?

[2022-02-08 18:08] stmcginnis commented on #3084
Yeah, we needed to release a new package repo update to pick up kpack, but that didn't correspond to a full TCE release. So there is a newer package repo.

Is there a way we can set a docs variable to pick this up that would default to be the same as the normal release version, but would allow us to update it to something else if needed?

[2022-02-08 18:10] kcoriordan commented on #3084
OK, I can add a variable for this
When v0.10.0 goes out, will the package repo change to `0.10.0`

[2022-02-08 18:11] joshrosso opened #3085 "Introduce release branching starting in v0.11.0"
We've been pretty loose with our releases and we're starting to find the latency in the RC process means we need to introduce release branches. This enables development to continue against `main`  while retaining the integrity of the work we are cutting releases against.

The primary risk is whether our automation will fail with this new strategy, thus we'll run this experiment for the v0.11.0 rel

[2022-02-08 18:41] kcoriordan commented on #3084
OK so I created a variable and this should probably get updated by automation when the repo is tagged for final GA?
and if we need a different pkg repo version between releases, we can update the pkg-repo variable manually

[2022-02-08 19:22] nilarte commented on #3077
Thanks @seemiller @stmcginnis
TCE package repository was indeed not added to tanzu-package-repo-global namespace
I referred another issue [https://github.com/vmware-tanzu/community-edition/issues/3084](url)
And added repo via :
This command
**tanzu package repository add tce-repo --url projects.registry.vmware.com/tce/main:0.9.1 --namespace tanzu-package-repo-global**
Now I can see contour package

[2022-02-08 19:29] seemiller commented on #3077
@nilarte The `0.9.1` repo might not have Contour `1.19.1`, but `0.9.2` does. The package repository version `0.9.2` was release early last week and the documentation may not have been updated.

You can check the available versions of a package using this command:

[code]

[2022-02-08 19:33] EstebanFS opened #3087 "Add FluxCD Source Controller as a package to TCE"
# Add FluxCD Source Controller as a package to TCE

## Feature Request

### Problem

If "sources" (usually git repos, but also images, Helm charts and potentially other things) existed in their own right as Kubernetes resources, components like Flux, Cartographer could use standard Kubernetes mechanisms to build on them; and, they could be managed independently of the components using them.

## Fl

[2022-02-08 19:48] #3084 closed

[2022-02-08 20:02] AnilSankar75 opened #3088 "Improve Day 0 experience with TCE setup on AWS by supporting default installs."
## Feature Request

Improve the day 0 user experience for new users adopting TCE when they are trying to Deploy a Management or Standalone Cluster to AWS. Prior to starting the installs we should support preflight checks that ensure that minimum system requirements for the install are met. (Memory, CPu etc.) This will ensure that the overall experience is a lot faster and better. In following the

[2022-02-08 20:09] nilarte commented on #3077
Thanks a lot @seemiller
I think 0.9.2 does not have community contour package.
ubuntu@ip-172-16-6-116:~$ tanzu package repository list --namespace tanzu-package-repo-global
| Retrieving repositories...
  NAME            REPOSITORY                                                      STATUS               DETAILS
  tanzu-standard  projects.registry.vmware.com/tkg/packages/standard/repo:v1.4.1  Recon

[2022-02-08 20:44] AnilSankar75 commented on #3080
This will help immensely with improving the user experience for the user. For example a preflight check to ensure the right AWS region (Run preflight checks for Key pairs ) is selected prior to installing the bootstrap cluster and then failing would save time and improve the UX.

[2022-02-08 20:50] seemiller commented on #3077
@nilarte I think that you might have missed it in my last post, if you use the `tanzu package repository list` command and pass the name of a package, you'll get the versions available.

[code]

You can also use `kubectl` to get the same information.

[code]

[2022-02-08 22:13] thesteve0 commented on #3002
I see it as a test that your workload or unmanaged cluster is actually working.

[2022-02-09 09:37] nilarte commented on #3077
@seemiller I was pretty certain that with 0.9.2 I saw only contour.tanzu.vmware.com  and NOT contour.community.tanzu.vmware.com in package list

So in foll. commands only first one returned results
tanzu package available list contour.tanzu.vmware.com --namespace tanzu-package-repo-global
tanzu package available list contour.community.tanzu.vmware.com --namespace tanzu-package-repo-global

Right n

[2022-02-09 10:18] stealthybox commented on #2545
I also have this same issue on the `v0.10.1-rc3` pre-release after upgrading from `v0.9.1`:
[code]

Workaround is to delete the `~/.config/tanzu/tkg/compatibility/tkg-compatibility.yaml`, then the new BOM's will be automatically downloaded:
[code]

[2022-02-09 13:52] kcoriordan opened #3094 "Do we want to document alternative workaround for cgroup1 issue?"
## Description

Based on  Eric Shanks  experience deploying TCE in this [blog](https://theithollow.com/2022/01/17/tanzu-community-edition-on-vsphere-installation-notes/)

We have a work around documented for cgroup1 [issue ](https://github.com/vmware-tanzu/community-edition/issues/2798) -
PR https://github.com/vmware-tanzu/community-edition/pull/2837 - to use a docker version that leverages cgroup

[2022-02-09 13:55] kcoriordan opened #3095 "Note that vSphere name in Installer should use User Principal Name format"
## Description

Based on  Eric Shanks  experience deploying TCE in this [blog](https://theithollow.com/2022/01/17/tanzu-community-edition-on-vsphere-installation-notes/) - Can't use persistent volumes

Should we note that the vsphere name should be User Principal Name format?

## Location

## Additional Context

[2022-02-09 18:54] #2147 closed

[2022-02-09 19:14] #3003 closed

[2022-02-09 19:42] joshrosso commented on #3088
Tracking issues:

* https://github.com/vmware-tanzu/community-edition/issues/3088

[2022-02-09 20:00] kartiklunkad26 commented on #2848
@joshrosso you've got it right!

[2022-02-10 05:11] karuppiah7890 opened #3100 "AWS E2E test failures"
https://github.com/vmware-tanzu/community-edition/actions/runs/1806483257/attempts/1
https://github.com/vmware-tanzu/community-edition/actions/runs/1806483257/attempts/2 - [1806483257-attempt-2.zip](https://github.com/vmware-tanzu/community-edition/files/8038244/1806483257-attempt-2.zip)

https://github.com/vmware-tanzu/community-edition/actions/runs/1807951525 - [1807951525-attempt-1.zip](https:/

[2022-02-10 11:55] navidshaikh commented on #3033
The tag on this image determines the right compatibility file. Tanzu CLI takes care of it by mapping to the correct compatibility file with its own version (v0.16.0 in this case), see the tip of v01.6.0 tag https://github.com/vmware-tanzu/tanzu-framework/commit/1fdb45bc1fda2597b85f56a2ea3adb6bc51e814f

As long as the correct image coordinate (registry and name) is given, we should be good. Ensurin

[2022-02-10 11:56] kcoriordan opened #3101 "Uninstall commands in doc need to be fixed"
## Description

The uninstall commands in doc need to be fixed: https://tanzucommunityedition.io/docs/latest/cli-uninstall/

Linux should be:

Windows should be:

Mac should be:

## Location

## Additional Context

[2022-02-10 14:19] heww commented on #3076
@MinerYang could you have a look at this issue?

[2022-02-10 16:06] sunjayBhatia opened #3104 "Changes to Contour package for new namespace-scoped Role (in Contour v1.21.0)"
## Feature Request

The next release of Contour (v1.21.0) will switch from using a ClusterRole to a namespace-scoped Role to configure RBAC for leader election resources (Leases and Events). This is a small security change to limit Contour's access footprint in a cluster.

As this change adds a new resource (a new Role) to Contour's base deployment configuration, some steps will need to be taken i

[2022-02-10 16:20] joshrosso commented on #3033
Ok, I think this all sounds good.

One comment for future readers of this thread, we'll like ping ourselves to v0.17.0 (or possibly even higher) for our v0.11.0 release.

I'll keep this ticket open until we release, but please note @navidshaikh's steps described at:

https://github.com/vmware-tanzu/community-edition/issues/3033#issuecomment-1030118313

[2022-02-10 16:34] stmcginnis opened #3106 "Set up regular jobs to check tanzu-framework compatibility"
## Feature Request

It would be great to set up a periodic job to run that pulls in the tanzu-framework and does some basic steps like building and creating an unmanaged cluster or something. Just so we know when something breaking happens.

Today we pick a release of tanzu-framework and stay on that until the next TCE release. Usually the delta between the version we use and the current tanzu-fra

[2022-02-10 16:41] kcoriordan opened #3108 "Update Architecture topic for unmanaged cluster"
## Description

Update https://tanzucommunityedition.io/docs/latest/architecture/ to exclude standalone cluster and and include unmanaged cluster.

## Location

## Additional Context

[2022-02-10 17:05] #2228 closed

[2022-02-10 17:18] seemiller commented on #3077
@nilarte Based on the conversations here and off-issue in Slack, is there any further action to be taken on this issue?

[2022-02-10 17:22] seemiller commented on #2907
Should this issue be handled in Framework if we're considering changes to the CLI?

[2022-02-10 17:41] #2641 closed

[2022-02-10 22:27] qnetter opened #3113 "Modify /download to include OVA link"
## Description

Please add a section to the /download template at https://github.com/vmware-tanzu/community-edition//docs/site/themes/template/layouts/partials/download-table.html to allow the path to the OVA download page to be shown.

It should approximately look like:

[code]

I will submit a matching issue and  PR to amend the 0.9.1 file to include this info for testing, if it can be tested on

[2022-02-10 22:39] qnetter commented on #3113
@stmcginnis you and I were correcting it at the same time :)

[2022-02-10 22:48] qnetter opened #3114 "Modify 0.9.1 download data to include OVAs in Customer Connect"
## Description

New fields are added for the URL of OVAs. If this works, on clicking a link, Customer Connect validation should occur, then the download. If this is wrong. we'll try another approach.

## Location

/docs/site/data/downloads/0-9-1.yml

## Additional Context

Fields to add for each OVA are:

.ova (section)
.ova_page_path

[2022-02-10 23:03] qnetter commented on #3113
This approach doesn't work. trying another.

[2022-02-11 03:20] aman556 opened #3119 "Use --depth 1 once issue related to it in Github CLI get resolve"
## Description

To clone the repository in any script we don’t want to pull the complete history by using `git clone REPO_NAME`. There is a option in git command to avoid this by using `git clone --depth 1` but there is a [issue](https://github.com/cli/cli/issues/2979#issuecomment-780490392) in Github cli for this that with `--depth 1` `gh pr create` give error. Due to which can’t use this option

[2022-02-11 12:43] vrabbi opened #3121 "[Unmanaged Clusters] add support for multi node clusters"
## Feature Request

I would like to be able to define a multi node kind cluster to be provisioned via the unamanged cluster plugin.

## Describe alternatives you've considered
Deploy a cluster manually via kind and then use the existing kubeconfig in the tce unamanged cluster config file to target that pre created cluster.

## Additional context
For testing of many features on k8s, it is beneficia

[2022-02-11 13:43] ndwinton commented on #3094
It looks like there is a better workaround provided by Docker itself as of Docker Desktop 4.4.2, see [the release notes](https://docs.docker.com/desktop/mac/release-notes/#bug-fixes-and-minor-changes-1). There is also more detail in [this issue](https://github.com/docker/for-mac/issues/6073).

Changing the value of `deprecatedCgroupv1` to `true` in `~/Library/Group Containers/group.com.docker/sett

[2022-02-11 15:09] thesteve0 commented on #3121
I would like this as well. If I want to test or develop anything HA I would need at least two worker nodes, but preferably at least 3

[2022-02-11 16:36] EstebanFS commented on #3087
@jpmcb there is not a team right now and I would be the owner for now!. Maybe we can create a Fluxcd team just in case we add more people in the near future

[2022-02-11 17:26] joshrosso commented on #3121
Sounds good. We can do this easily.

I want to clearly set the expectation though that we will **not** support scaling existing clusters, but add support for creating new multi-node clusters.

If scaling existing clusters (a lot more to think about here) is a need, let us know. We'd likely need a new issue.

[2022-02-11 18:53] cgsamp opened #3124 "Add Create Metapackage section"
## Description

A meta-package includes a group of existing TCE packages. While a meta-package shares structure with a TCE package, many of the steps are not required.

Referring to
https://tanzucommunityedition.io/docs/latest/package-creation-step-by-step/
Step 1 would be simpler, because there is no upstream or overlay directory required. Steps 2-5 are not required at all. We would also discuss

[2022-02-13 06:32] vrabbi commented on #3121
For me personally scaling isnt needed.

[2022-02-13 10:29] vrabbi opened #3129 "[Knative package] Support additional values for knative package"
## Feature Request
Add additional configurations to kantive serving package.
currently the package is very minimalistic in its config options. the main flag that would helpful to add is to update the config-network configmap in the knative-serving namespace to allow setting a different naming template (domain-template field) for service FQDNs.
The default value is "{{.Name}}.{{.Namespace}}.{{.Doma

[2022-02-14 03:49] karuppiah7890 opened #3132 "vSphere management and workload cluster E2E test pipelines failures"
Pod wait timeout errors - https://github.com/vmware-tanzu/community-edition/actions/runs/1827723426/attempts/1 We have a timeout of 900 seconds but it's still timing out 🤔

Diagnostics data - [diagnostics-data.zip](https://github.com/vmware-tanzu/community-edition/files/8057713/diagnostics-data.9.zip)

I haven't digged into it yet but it seemed fishy, so creating an issue for now

[2022-02-14 04:01] karuppiah7890 commented on #3132
Cluster creation errors - https://github.com/vmware-tanzu/community-edition/actions/runs/1832211874/attempts/1

Diagnostics data - [diagnostics-data.zip](https://github.com/vmware-tanzu/community-edition/files/8057746/diagnostics-data.10.zip)

[2022-02-14 14:30] gbarceloPIB commented on #2970
I am experiencing exactly the same strange behavior, but with downstream TKG 1.4.1. Tried ubuntu and photon OVAs, with same issue. I also have common environment: 7.0.3 ESXis and 7.0u2 vcenter, regular vSwitch, DRS on, HA on, etc. And have all required options in our DHCP server (gw, ntp, dns, mask). This DHCP server works just fine in other VMs on same VLAN, also checked that i am not out of IPs.

[2022-02-14 15:12] stmcginnis commented on #2970
The deployed machine can be SSH'd into using the instructions here: https://tanzucommunityedition.io/docs/latest/tips/#connect-to-cluster-nodes-with-ssh

Not sure if that is useful, but maybe that can help to compare the runtime configuration.

[2022-02-14 15:21] stmcginnis commented on #2970
@yastij - it looks like you may have dealt with similar issues in the past. Any ideas here? Or do you know if there is someone else we can ask for input here? Thanks!

[2022-02-14 15:57] krisapplegate commented on #2848
Our intention is also to let the app-platform meta-package live in the TCE repo. All of the packages that it deploys are included in that same repo so there's no need to add anything external.

[2022-02-14 16:50] joekr commented on #551
/assign @joekr

[2022-02-14 17:35] joshrosso commented on #3129
@vmware-tanzu/pkg-knative-serving-owners is this a feature we could introduce into our package?

[2022-02-14 17:44] joshrosso commented on #3106
We've decided that in the v0.11.0 we'll figure out a plan here.

[2022-02-14 17:54] #3114 closed

[2022-02-14 18:55] jorgemoralespou commented on #3129
This is something we definitely should do :-D
I can do a PR very easily, but I'm not sure how versioning works for existing package versions. I think there's a discussion about this on slack.
Maybe this is something that I can introduce as I also contribute latest knative-serving to date 1.2.1 (https://github.com/knative/serving/releases/tag/knative-v1.2.1). Thoughts?

[2022-02-14 20:04] seemiller commented on #3129
I was also thinking about updating the package to version 1.2.1, would be open to pairing with @jorgemoralespou on this.

We could update the current 1.0.0 package and push a new 1.0.0 version. That's how we've handled things in the past.

[2022-02-14 20:31] seemiller commented on #3124
@cgsamp Thanks for submitting this issue. We've looked over it, got a question...

Why do you not see the need for upstream and/or overlay directories?

[2022-02-14 20:57] jorgemoralespou commented on #3129
@vrabbi I would like your thoughts on whether this annotation makes sense to all/every configuration ConfigMap, so that users can fiddle with the config themselves, at the cost of losing reconciliation of the "source of truth". I can see this annotation fine while testing things out, but not so much for productive systems. There's a mechanism (not easy or nice) to provide overlays to things that a

[2022-02-14 21:36] vrabbi commented on #3129
I think it make sense for values/configmaps that change often. Its an interesting line and im not sure exactly where it should be drawn. For this case i think it makes sense but i get the case for going either way.
Maybe adding a variable reconcileConfigMaps or something like that with a default of true which would omit this setting but then allow an easy way without overlays to add this annotatio

[2022-02-15 06:26] karuppiah7890 commented on #2488
One more error - https://github.com/vmware-tanzu/community-edition/actions/runs/1841910225/attempts/1 , diagnostics data - [diagnostics-data.zip](https://github.com/vmware-tanzu/community-edition/files/8066389/diagnostics-data-feb-15.zip)

[2022-02-15 07:27] gbarceloPIB commented on #2970
We could try the following:
1- Try to deploy TKG/Com.
2- When VM is deployed, stop deployment with `kind delete cluster`. This way we can shutdown the VM, because tanzu tries to turn it on continuously. We need the VM in a power off state to edit its advanced configuration keys.
3- Edit cloud-init through VM advanced configuration (I think in vCenter 7.0u3 this is a bit easier), as of 7.0 u1/2: Ed

[2022-02-15 08:07] gbarceloPIB commented on #2970
https://bugs.launchpad.net/cloud-init/+bug/1946493 seems related, do we know inlcuded cloud-init version?

[2022-02-15 09:08] jorgemoralespou opened #3142 "Provide an easy way to set mutable/unmutable resources for packages"
## Feature Request
When installing packages, most of the times a user might need to make a change to a resource that has been created and it might be desirable to be able to set an annotation that would skip reconciliation of that specific resource when doing package reconciliation via the `kapp.k14s.io/update-strategy: skip` annotation. In this way, a user might be able to experiment with the pac

[2022-02-15 09:09] jorgemoralespou commented on #3129
@vrabbi does this somehow represent what you want? https://github.com/vmware-tanzu/community-edition/issues/3142

[2022-02-15 09:32] vrabbi commented on #3129
This would be awesome!!!!!

[2022-02-15 11:37] alexbarbato opened #3143 "Download links pointing to unreleased version"
## Description

Right now the public docs are pointing to downloading the community edition are pointing to an unreleased version.

## Location
The public docs page - https://tanzucommunityedition.io/docs/latest/cli-installation/
The code (for mac) - https://github.com/vmware-tanzu/community-edition/blob/main/docs/site/content/docs/assets/cli-install-mac.md

An example:
[code]

resolving to:
[code

[2022-02-15 12:30] gbarceloPIB commented on #2970
**I solved my issue**, I had an ACL blocking intra-vlan dhcp traffic through trunk link, DHCPREQ (unicast) worked for older clients or wih old leases, but not for DHCPDISCOVER!

[2022-02-15 13:01] #3121 closed

[2022-02-15 13:03] stmcginnis commented on #2970
Awesome, glad you figured it out @gbarceloPIB! Thanks for letting us know what it was.

@5280tunage any chance you have a similar set up in your environment?

[2022-02-15 14:11] joshrosso opened #3144 "Docs site bumped versions of TCE pre-maturely."
Before releasing TCE, the website updated its references to the newest version.

![image](https://user-images.githubusercontent.com/6200057/154078774-3bd9b893-f3a7-458e-9529-affae028f26a.png)

This should not happen until we officially GA. We likely should move to a model where the version is driven by a value in a YAML file, rather than an automated PR.

[2022-02-15 14:43] joshrosso opened #3145 "Enhance cluster node count capability when creating clusters"
With the introduction of:

* https://github.com/vmware-tanzu/community-edition/pull/3139

Users can now specify multi-node clusters. However, the current model operates under an assumption that you're going to specify a "number of nodes". Which may be too generic/limiting for future use cases and especially for future providers.

While a little more complex, I think we need to update the API to be

[2022-02-15 15:09] stmcginnis commented on #3144
This is a duplicate of https://github.com/vmware-tanzu/community-edition/issues/3143

[2022-02-15 15:26] jorgemoralespou commented on #3142
Tracking TF issue: https://github.com/vmware-tanzu/tanzu-framework/issues/1700

[2022-02-15 17:00] jpmcb commented on #3144
Looks like this was done by TCE automation in our YAML config: https://github.com/vmware-tanzu/community-edition/pull/3138/files

[2022-02-15 17:02] jpmcb commented on #3144
Closing in favor of #3143

[2022-02-15 17:02] #3144 closed

[2022-02-15 17:04] jpmcb commented on #3143
Let's plan to disconnect the automation that is associated with bumping the version in the docs site and associated yaml file here: https://github.com/vmware-tanzu/community-edition/pull/3138/files

[2022-02-15 17:57] #3143 closed

[2022-02-15 20:05] qnetter opened #3151 "Update download page data for 0.10 release"
## Description

Data for the 0.10 release needs to be added to the download page.

## Location

https://tanzucommunityedition.io/download/ will show the result. The file will be in https://github.com/vmware-tanzu/community-edition/docs/site/data/downloads as v0-10-0.yml

## Additional Context

[2022-02-15 21:50] #2985 closed

[2022-02-15 21:52] joshrosso commented on #1398
With our bump in Framework via #2985, this should be fixed. I've assigned myself to do the validation.

[2022-02-15 21:56] joshrosso commented on #3043
This was done in commits to https://github.com/vmware-tanzu/community-edition/pull/2720

[2022-02-15 21:56] #3043 closed

[2022-02-15 22:01] joshrosso commented on #2798
We are now on the bleeding edge of tanzu-framework, however, the image used for kind-based managed clusters still resolves from the BOM.

Keeping this issue open until we can verify what kind image will end up in the BOM.

[2022-02-15 22:50] seemiller commented on #2785
Current version of kapp-controller is `0.32.0`, are we still locked to `0.30.0` in framework?

[2022-02-16 02:56] blackpiglet commented on #2215
The maintainer is already updated to me

[code]
https://github.com/vmware-tanzu/community-edition/blob/main/addons/packages/velero/metadata.yaml#L10-L11

I'm also added into https://github.com/orgs/vmware-tanzu/teams/pkg-velero-owners

[2022-02-16 04:15] 5280tunage commented on #2970
Unfortunately no, but my understanding is the DHCPDISCOVER should only happen when using a DHCP relay.  Given that my switch is the DHCP server, there is no DHCP relay in the equation, and I certainly don't have any ACL's blocking traffic types like this on my L2/L3 switch.

[2022-02-16 05:10] thesteve0 commented on #2848
Sorry have been on PTO. Love the idea and really excited about it.
I do think we are missing external-DNS as one of the packages. Not such an issue for a local docker install, but for any use case, managed or unmanaged, I would want to be able to hook up External DNS so I can have a real URL for my workloads.

In terms of metadata required in the developer-values.yaml - how do you propose to docum

[2022-02-16 07:40] gbarceloPIB commented on #2970
From my understanding this is not how DHCP works (simplifying):
1. If client had a previous old lease tries to request this one, with DHCPREQUEST (unicast)
2. IF no leases were found, do DHCPDISCOVER to broadcast MAC (ff...ff) and 255.255.255.255 IP.
3. DHCP server responds with DHCP Offer.
4. etc

You may spin up a TKG Ubuntu OVA, when grub appears, go to Advanced, and start a recovery root shell

[2022-02-16 10:30] karuppiah7890 commented on #2739
Noticed this issue coming up again here - https://github.com/vmware-tanzu/community-edition/actions/runs/1825093144 - https://github.com/vmware-tanzu/community-edition/runs/5144653651?check_suite_focus=true , diagnostics data -
[diagnostics-data.zip](https://github.com/vmware-tanzu/community-edition/files/8079009/diagnostics-data-feb-10.zip)

[2022-02-16 11:19] karuppiah7890 opened #3156 "Check existence of Windows Zip file in update-choco-package script"
We currently check existence of darwin tar ball

https://github.com/vmware-tanzu/community-edition/blob/b40db67bb3a22cd310a6ec78ed0b13dbbf524975/hack/choco/update-choco-package.sh#L21

[2022-02-16 12:43] kcoriordan opened #3157 "Netlify preview cancelled"
## Description

(There might be a dup of this issue but I can't find it)
In the PR checks, **sometimes** the Netflify preview is canceled with message:
`netflify/quirky-franklin-8969be/deploy-preview - Deploy Preview cancelled `

the preview link can be created manually by adding the `PR-NUMBER` into:

`https://deploy-preview-_<PR-NUMBER>_--quirky-franklin-8969be.netlify.app/`

It's an inconsisten

[2022-02-16 14:56] grtrout commented on #832
I take it this is still an issue? I spent the last hour trying to figure out why my newly-created TCE cluster seems to be completely broken after I restarted my laptop. I get the reasons why this happens (sort of), but I thought one of the primary motivations behind TCE was to provide an experience akin to kind or minikube for local environments?

[2022-02-16 15:11] stmcginnis commented on #832
Well, yes and no. With our `standalone-cluster` and `unmanaged-cluster` implementations, we are targeting the ability to deploy local clusters for development. But TCE as a whole, no.

@grtrout were you using the `standalone-cluster` command, or the new `unmanaged-cluster` command in the v0.10.0 release candidate?

There are issues with the way `standalone-cluster` works, so there is not a solutio

[2022-02-16 15:25] jpmcb commented on #3157
cc @jonasrosland might know or have context? 👀

[2022-02-16 15:28] jpmcb commented on #2395
We've bumped to `v0.16.0` of tanzu-framework and this should be apart of the v0.11.0 release of TCE. Ref PR: https://github.com/vmware-tanzu/community-edition/pull/3149

[2022-02-16 16:12] jorgemoralespou opened #3159 "Update secure Ingress on AWS guide for Contour 1.20+"
## Description
Contour 1.20+ package supports namespaces for secrets for Ingressv1 via an annotation (https://github.com/projectcontour/contour/pull/4271). Update the Secure Ingress guide once the contour package 1.20+is released

## Location
https://tanzucommunityedition.io/docs/latest/solutions-secure-ingress/

[2022-02-16 16:17] grtrout commented on #832
Hey @stmcginnis, thanks for the quick reply. I've used Tanzu/TKG at a previous job and since I want to continue keeping up with the Tanzu ecosystem at my new job, I thought using TCE in my local environment might be smart. I'm also thinking about using it in a homelab, but that's a different thing...

In any case, yes, I just followed along the "getting started" docs I created a standalone cluster

[2022-02-16 16:32] nrb commented on #2215
@blackpiglet Yeah, it can! Thanks for reminding us.

[2022-02-16 16:32] #2215 closed

[2022-02-16 20:38] AnilSankar75 opened #3163 "Improve documentation for users for creating workload clusters."
## Description

I was following this documentation https://tanzucommunityedition.io/docs/latest/workload-clusters/
to create workload clusters on AWS infrastructure.
1. The step 10 captures this command line "tanzu cluster create <WORKLOAD-CLUSTER-NAME> --file <CONFIG-FILE>"
and below it says that if workload cluster name is not specified it will pick from the configuration file.  I dont think tha

[2022-02-16 20:43] seemiller commented on #3094
Can confirm that the workaround does indeed work! (at least on a Mac)

[2022-02-16 21:02] 5280tunage commented on #2970
thanks, i'm trying to follow the process @gbarceloPIB has suggested, I've booted into the recovery shell and have changed the root password, but whats the best way to avoid the cloud-init process, as every subsequent restart simply restarts the cloud-init process which is where the VM hangs indefinitely.  I checked in the grub editor and don't see an easy way to bypass the cloud-init process.  usi

[2022-02-16 22:10] joshrosso commented on #1633
Due to inactivity and users not (seemingly) hitting this in recent release, we'll close this issue. If this does surface again, please re-open thank you!

[2022-02-16 22:10] #1633 closed

[2022-02-16 22:34] #2811 closed

[2022-02-17 00:40] joshrosso commented on #3005
@jpmcb I'm removing:

* https://github.com/vmware-tanzu/community-edition/issues/3045

From the list. It's super important! Just no a qualifier for standalone being removed.

[2022-02-17 00:42] joshrosso commented on #536
Handed this issue over to @seemiller to work with various teams and determine what we're going to do via the license change.

[2022-02-17 00:50] #2864 closed

[2022-02-17 00:51] jpmcb commented on #3005
Sounds good! Also just merged the `diagnostics` plugin PR into our `next` branch. So all that should be left is the docs removal 🚀

[2022-02-17 01:07] joshrosso commented on #1398
Verified with our current release (0.9.1) the X509 validation fails:

![image](https://user-images.githubusercontent.com/6200057/154382950-232b8fb9-3c23-45d2-8924-d5b870feb0dc.png)

Rebuilt off df11daf9e2dbe1fa26fccb60886f16b6a04334e9 using:

[code]

Unfortunately, it still fails.

![image](https://user-images.githubusercontent.com/6200057/154384486-d59ab4ea-fc2a-4afc-a0e1-baee8e879a6d.png)

Note

[2022-02-17 01:12] joshrosso commented on #1398
I've opened

* https://github.com/vmware-tanzu/tanzu-framework/issues/1710

in framework to track this issue.

[2022-02-17 04:45] 5280tunage commented on #2970
Once again, I spent most of the day troubleshooting this and found nothing to work.  I'll post some more screenshots in case anyone can think of anything, but I've tried literally everything I can think of.

 - I put the windows10 system with docker desktop in the exact same vlan as the deployed templates, just to negate any L2 broadcast issues.
 - I enabled a Win2012 server as a dhcp server for t

[2022-02-17 07:41] gbarceloPIB commented on #2970
@5280tunage

I think you have to change instance-id to apply a new metadata?
Have you tried flushing the device, and setting an IP addr and GW through iproute2 suite? Then exec `dhclient -v` command and check output.
I would also try:
1. Try to put the DHCP server in the same esxi host, and same vSwitch (or DS), it may be like this already? You may put a little dnsmasq test server. This way you wi

[2022-02-17 14:53] jonasrosland commented on #3157
This happens sometimes, I've now reached out to Netlify's support.
The deploy log states `Failed during stage 'checking build content for changes': Canceled build due to no content change` which is obviously incorrect.

[2022-02-17 15:10] kartiklunkad26 commented on #2696
@joshrosso Hey Josh! The Apps CLI Plugin team is in the final stages of making their repository public. Post that they will look to have the Apps CLI Plugin releases in that repository.

The experience we want is for the Apps CLI Plugin to be installed as part of the TCE Installation. How do you recommend we proceed forward about the collaboration?

This will very much depend on Cartographer (and

[2022-02-17 15:58] #3108 closed

[2022-02-17 16:18] #3151 closed

[2022-02-17 17:12] nrb opened #3174 "Update checksum for Windows zip file in chocolately update script."
## Bug Report

Currently, https://github.com/vmware-tanzu/community-edition/blob/v0.10.0/hack/choco/update-choco-package.sh does not update the checksum value in the chocolatelyInstall.ps1 script. See https://github.com/vmware-tanzu/community-edition/commit/b2f549305fd9994a665bcf713ac4d82900c9bf45 for an example where the checksum wasn't updated.

## Expected Behavior

https://github.com/vmware-ta

[2022-02-17 17:29] #3156 closed

[2022-02-17 18:17] kartiklunkad26 commented on #2848
Hey Steve. thank you fro this feedback! I'll reply to the feedback individually.

Will definitely look at external-dns and whether this is worth incorporating into App-Platform.

We will provide a minimal `app-platform-values.yml` file in the documentation. Users can query the schema of the individual packages, in case they want to add additional configuration from the individual packages to the m

[2022-02-17 18:24] mstergianis commented on #2848
Agreed. Looking into the CRD for [`Package`](https://carvel.dev/kapp-controller/docs/v0.32.0/packaging/#package), which is where I think we'd want to put a list, I think the best place would be the `releaseNotes` key. Where you might do something like
[code]

And hope :crossed_fingers: that the tanzu cli renders that in a sane way. :shrug: we're stuck between a rock and a hard place no matter how

[2022-02-17 18:43] jorgemoralespou commented on #2848
I find that as part of the discussion happening on this thread there's a lot of good ideas that should somehow be tracked. I understand that this RFC is just "create a App platform package" so let's keep it that way, but there's a lot of comments (in this and the related "metapackage proposal") that could be added as RFE and Issues to improve the packaging experience in TCE. Not to hammer the same

[2022-02-17 20:53] dvonthenen opened #3178 "Choco automation doesn't appear to upload new releases"
## Bug Report

After an audit of the Choco github action and associated scripts (https://github.com/vmware-tanzu/community-edition/blob/main/hack/choco/update-choco-package.sh), it does appear (or at least it is difficult to find) that the automation is invoking the script (https://github.com/vmware-tanzu/community-edition/blob/main/hack/choco/packpush.ps1) to actually perform the update. Also, no

[2022-02-17 21:02] dvonthenen opened #3179 "Choco and Homebrew automation PRs failed to merge"
## Bug Report

Here are the referenced GitHub actions for Choco and Homebrew:
Choco - https://github.com/vmware-tanzu/community-edition/runs/5235221353?check_suite_focus=true
Homebrew - https://github.com/vmware-tanzu/community-edition/runs/5235221350?check_suite_focus=true

Here are the automation failed to merge Choco and Homebrew automation PRs found below:
Choco - https://github.com/vmware-tan

[2022-02-17 21:33] dvonthenen commented on #3178
Linking to parent:
https://github.com/vmware-tanzu/community-edition/issues/1663

[2022-02-17 21:35] nrb commented on #3178
See also #2228; while we're automatically updating some values, there needs to be a job that runs on Windows machines and executes `choco pack/choco push`

[2022-02-17 21:57] kartiklunkad26 opened #3180 "TCE-repo Package Repository named as "TKG-Core" and still uses v0.9.1 version"
## Bug Report
When I create a `unmanaged-cluster` with TCE v0.10, and I query the Package Repositories available in the cluster. I get the below output.

[code]

## Expected Behavior

- I expected the name of the TCE Package Repository to be tce-repo and not tkg-core-repository.
- I expected the v0.10 or v0.9.2 repository to be used.

## Steps to Reproduce the Bug

- Install the Tanzu CLI v0.10
-

[2022-02-17 21:59] kartiklunkad26 opened #3181 "Bug Report Template refers to Standalone instead of Unmanaged cluster"
## Bug Report

Bug Report Template should refer to Unmanaged cluster

[2022-02-17 22:20] jpmcb commented on #3181
Note that this is being slated for `v0.11.0`. The newly shipped `v0.10.0` of TCE has _both_ the unmanaged and standalone cluster plugins.

[2022-02-17 22:22] jpmcb commented on #3181
This was already tackled in https://github.com/vmware-tanzu/community-edition/pull/3169 and is on the `next` branch.

The `next` branch will merge into `main` soon and the issues template will reflect that change.

[2022-02-17 22:22] #3181 closed

[2022-02-17 22:42] jpmcb commented on #3180
Good catch!

`unmanaged-cluster` has an older reference to the `v0.9.1` core repo which gets installed by default. You can still install the newest repo by:

[code]

If you're really curious about available tags, you can list them like:
[code]

[2022-02-17 23:07] jpmcb commented on #3180
I _believe_ the `v0.10.1` repo has the newest `kpack` stuff - @seemiller may be able to confirm as well

[2022-02-17 23:24] seemiller commented on #3180
Yeah, that got missed in the creating the release. Unmanaged clusters is using 0.9.1 by default. You can upgrade the repo to 0.10.1 with the following command:

[code]

[2022-02-18 04:10] karuppiah7890 commented on #3178
Yes, I noticed #2228 and it shouldn't have been closed without the push process 😅

[2022-02-18 04:11] karuppiah7890 commented on #3174
Related commit that we used to fix things https://github.com/vmware-tanzu/community-edition/commit/653e73ed580329592c0a786e735dd2102da46846

[2022-02-18 06:33] appdess opened #3189 "TCE 0.10 Management Cluster Creation fails "load: name crd not found in module static.lib.yaml""
## Bug Report

Trying to boostrap TCE Edition with Existing AVI installation.

Setup fails right after initiating the "tanzu management-cluster create mgmt  --file /Users/adess/.config/tanzu/tkg/clusterconfigs/adxqhx8l8h.yaml" command

[code]

## Expected Behavior
Boostrap of the TCE Cluster should happen and not abort

## Steps to Reproduce the Bug
Fully reproducable by running the command "tanzu

[2022-02-18 10:26] appdess commented on #3189
Validated the same result when using a linux-machine to boostrap a mgmt-cluster with AVI (ubuntu 18.04).

[code]

[2022-02-18 12:02] snehalbiche opened #3190 "Tanzu v0.10 not able to detect os image"
## Bug Report

deployed Tanzu community version version: v0.10.1 buildDate: 2022-02-14 sha: 401d55b and also create image out of OVF ubuntu-2004-kube-v1.21.5+vmware.1-tkg.1-12483545147728596280-tce-010.ova from download link https://customerconnect.vmware.com/downloads/get-download?downloadGroup=TCE-0100

tanzu UI unable to detect os image and complains for different version:
Your management clust

[2022-02-18 14:47] stmcginnis commented on #3190
I have confirmed this in my environment. It looks like at least the v1.21 Ubuntu OVA is not correct. Going to try photon and maybe other kubernetes versions to see if it is specific to this one or a broader issue.

[2022-02-18 15:06] stmcginnis commented on #3190
I have tried with the Photon 1.21 and 1.20 OVAs as well, and none of them are recognized by the deployment UI. It definitely appears there is an issue with the versions provided on Customer Connect.

Internal VMware folks have been notified, and I believe the OVAs available for download will be updated to the correct ones as soon as they are identified. Thanks for raising this!

[2022-02-18 15:11] stmcginnis commented on #3189
@seemiller do you know who would be best to take a look at this? Looks like a packaging error?

[2022-02-18 15:21] seemiller commented on #3189
Not a package problem, not sure where this would be coming from yet...

[2022-02-18 15:42] nrobbins00 commented on #3189
For what it's worth, i ran into this yesterday and got past it by editing pkg/v1/providers/ytt/03_customizations/02_avi/add_akoo.yaml , removing crd from the load static.lib.yaml line so it says
`#@ load("static.lib.yaml", "service")`
and removing the line that says
`--- #@ crd()`

I got that from this PR https://github.com/vmware-tanzu/tanzu-framework/pull/821/files

My add_akoo.yaml looks like t

[2022-02-18 15:45] stmcginnis commented on #3190
@snehalbiche I am noticing that my UI does not state v.1.21.2 like your does. Mine does state v1.21.5 like the OVAs, though for maybe some other reason my environment isn't happy with detecting them.

Was this an existing installation of TCE v0.9.1? It looks like the BOM (bill of materials) file being used in your environment may have some stale information from an older version.

If you do not cu

[2022-02-18 16:05] snehalbiche commented on #3190
resolved after removing rm -fr ~/.config/tanzu, then running tanzu management-cluster create --ui again.

[2022-02-18 16:12] stmcginnis commented on #3190
Awesome, thanks @snehalbiche!

[2022-02-18 17:33] nrb commented on #3180
We should get some docs in with the update command above, but also fix this for our next released version.

[2022-02-18 17:35] nrb commented on #3189
@vmware-tanzu/pkg-ako-operator-owners This looks like an issue in the AKO package, would you be able to take a look at it?

[2022-02-19 18:46] TONY-All opened #3197 "Cannot create unmanaged cluster"
## Bug Report
After updated to release v0.10.
1, Unmanaged Cluster cannot create
## Expected Behavior

Create Unmanaged Cluster

## Steps to Reproduce the Bug

run `tanzu um create maxmc`

## Screenshots or additional information and context
[code]
## Environment Details

* Build version (`tanzu version`): v0.10.1
* Deployment (Managed/Standalone cluster): Unmanaged Cluster
* Infrastructure Provid

[2022-02-20 01:52] #2464 closed

[2022-02-20 18:56] minuq opened #3200 "Creation of managed cluster fails"
## Bug Report

Following the [getting started](https://tanzucommunityedition.io/docs/latest/getting-started/) guide, the management-cluster creation fails at `Waiting for cert-manager to be available...`.

## Expected Behavior

Cluster to be created and starting.

## Steps to Reproduce the Bug

Follow the guide for Linux, Docker until step "Local Docker Bootstrapping" `tanzu management-cluster cre

[2022-02-20 20:01] stmcginnis commented on #3200
Thanks for reporting this!

Can you run through the troubleshooting steps here: https://tanzucommunityedition.io/docs/latest/tsg-bootstrap/

I've seen occasional timeouts pulling down images, so it's possible this is just one of those transient errors and it could work well if you tried again later. But we would need to see some of the logs to understand what is happening with cert-manager.

[2022-02-20 21:45] minuq commented on #3200
[bootstrap.tkg-kind-c89b0sgg348drglfddo0.diagnostics.tar.gz](https://github.com/vmware-tanzu/community-edition/files/8104966/bootstrap.tkg-kind-c89b0sgg348drglfddo0.diagnostics.tar.gz)

[2022-02-21 01:48] #2549 closed

[2022-02-21 01:48] #2206 closed

[2022-02-21 11:39] karuppiah7890 opened #3203 "Use self hosted runners for AWS and Azure E2E tests"
We currently use GitHub hosted runners which build Tanzu Framework and TCE slowly due to less CPUs and RAM. Some of the workflows use self hosted runners (on demand AWS EC2 instances) which seem to have faster build time due to more CPUs and RAM. So it's better to use those for other E2E tests too which do a build

[2022-02-21 11:41] karuppiah7890 opened #3204 "Use cache to speed up builds"
When we do rerun of worflows, we do a clean build again where we build Tanzu Framework and TCE from scratch and then do the tests etc. We could cache the builds for a given TCE commit sha for TCE CLI plugins and Tanzu Framework version for Tanzu Framework CLI and CLI plugins, this way, the reruns are faster. This can be especially done in E2E test pipelines ! 😄

[2022-02-21 11:46] karuppiah7890 opened #3205 "Release validation reports"
We currently don't have a single view for a given release / commit SHA to see if it passes all the checks / tests (E2E tests etc). This is mainly because the GitHub workflows work based on conditions, for example, if a commit has only markdown file changes, it won't trigger E2E test code. But E2E tests are triggered when there's a golang code change in TCE. Due to this, all commits may or may not

[2022-02-21 12:01] kcoriordan commented on #3163
@AnilSankar75
I'm following up on both points above, do you have any more details on where the failure occurred with the attach the wl cluster to TMC?

[2022-02-21 12:20] kcoriordan commented on #3023
fixed by https://github.com/vmware-tanzu/community-edition/pull/3122

[2022-02-21 12:20] #3023 closed

[2022-02-21 12:24] kcoriordan commented on #2808
Fixed by https://github.com/vmware-tanzu/community-edition/pull/2862

[2022-02-21 12:24] #2808 closed

[2022-02-21 14:29] stmcginnis commented on #3197
Thanks for reporting this Tony. Not a lot of details here, so we'll have to do a little digging to see what actually happened.

I have not tested on Rocky Linux, but that should be fine. Can you capture the output of `docker info` and attach that so we can see what the current settings are for the docker engine?

Another thing we can check is if `kind` itself can create a cluster. If you can [inst

[2022-02-22 12:41] kartiklunkad26 commented on #2848
@jorgemoralespou good point. I was wondering myself the best way to track all the Meta-Package related feedback that we have received. I'll create a issue focusing on the "introduction of meta-package as a concept in TCE", that will mostly be a "docs" story rather than a "new capability of TCE", and we can use that as a good place to capture all of the feedback.

That sound good?

[2022-02-22 12:47] kartiklunkad26 commented on #2893
Hey @kcoriordan hope we can work on this now! Happy to pair.

[2022-02-22 12:48] jorgemoralespou commented on #2848
Not sure if better to have individual issues tracking smaller feature requests. I would defer to the TCE team for what they consider best way. @joshrosso @vkorbes

[2022-02-22 16:36] kartiklunkad26 commented on #2848
I'll use that docs issue to capture the feedback, and then will create individual issues after that.

[2022-02-22 17:17] kcoriordan commented on #882
1. In `config.yaml ` added v`0.10.0 `under `doc versions` and `release_versions` and changed `doc_latest` to `v0.10.0 `

[2022-02-22 17:37] dvonthenen commented on #3204
this should be addressed soon with the packaging changes we are making in 0.11.0

[2022-02-22 19:12] kartiklunkad26 opened #3213 "Mirror Tanzu CLI Installation on Managed Clusters with Unmanaged Clusters"
## Description
The docs to install Tanzu CLI are nicely simplified for Unmanaged Clusters in the Getting Started section.  We should use the same for Managed Clusters as well.

## Location
Location that needs updating -> [Getting Started with Managed Clusters](https://tanzucommunityedition.io/docs/latest/getting-started/)

[Getting Started with Unmanaged Clusters](https://tanzucommunityedition.io/

[2022-02-22 19:29] mylesagray commented on #3200
@stmcginnis FWIW, I was working with @minuq on this, and the `kubenet` container is consistently failing in TCE mgmt cluster with some kind of weird memory cgroup problem (detail above).

Docker daemon running in cgroup v1 mode.

The same doesn’t occur with a vanilla kind cluster running on the same Docker env.

Additionally, unmanaged TCE clusters, that use antrea instead of kubenet are not affec

[2022-02-22 20:23] seemiller opened #3215 "Azure docs reference incorrect image name"
## Bug Report

When installing on Azure, the [documentation](https://tanzucommunityedition.io/docs/latest/azure-mgmt/#accept-the-base-image-license) states that you must first accept a license agreement for the `k8s-1dot21dot2-ubuntu-2004` image. For the latest release, that image is actually `k8s-1dot21dot5-ubuntu-2004`.

## Expected Behavior

The documentation should reference the correct image

[2022-02-22 20:25] gwang550 commented on #3189
I am looking into this issue now. This should be an issue that's fixed in the newer release.

At meantime, this issue might be resolved by removing the CRD under `$HOME/.tanzu/providers` as @[nrobbins00](https://github.com/nrobbins00) commented above.

[2022-02-22 21:05] LarryBetson opened #3217 "tanzu management-cluster create --ui fails to open browser"
## Bug Report

Installing Tanzu Commnuity edition on vSphere using a CentOS-7 VM as the bootstrap node.

## Expected Behavior

When I run this command:
`tanzu management-cluster create --ui `
I expect it to open a browser or if I click the link that it will open up in my browser. I get this error and when I try to ctrl-click the link nothing comes up in my browser.
[code]

## Steps to Reproduce th

[2022-02-22 21:20] stmcginnis commented on #3217
Thanks for reporting this @LarryBetson. Just to confirm, you have a full desktop environment on this machine, right?

If not, or if connecting remotely via SSH, you may need to follow the headless installation instructions found here: https://tanzucommunityedition.io/docs/latest/headless-install/

One thing we can check - can you run `xdg-open https://tanzucommunityedition.io` and verify the syste

[2022-02-23 01:54] #2195 closed

[2022-02-23 02:19] adriens opened #3222 "🙏 Please downgrade minimal requirements to 2 CPU (instead of 4)"
## 🗣️ Feedback

Hi I wanted to write a katacoda scenario for my team mates. Everything ran pretty well until I faced the minimal requirement of CPUs.

I made an issue to Katacoda Team, and they thold be we were stuck on 2 CPU on the community edition of Katacoda.

I guess it would be really worth try to downgrade minimal requirements so people could play with it on Katacoda community

## 🙏 Suggest

[2022-02-23 04:41] #3203 closed

[2022-02-23 04:54] aishvaryaps opened #3223 "API to post events to TMC"
## Feature Request

## Describe alternatives you've considered

## Additional context

Hello
Can i import my custom events in Tanzu mission control?
is there any api which can post events to TMC ?

[2022-02-23 14:46] stmcginnis commented on #3223
Hi @aishvaryaps. TCE does not provide any interface for interacting or sending events to TMC. You would probably need to interact with TMC directly.

[2022-02-23 14:46] #3223 closed

[2022-02-23 16:17] jpmcb commented on #3222
Hi @adriens - thanks for opening this issue with this feedback!

For `management-cluster`, I don't believe we can go much lower than 4 CPUs. But have you [considered trying `unmanaged-cluster`?](https://github.com/vmware-tanzu/community-edition/tree/main/cli/cmd/plugin/unmanaged-cluster#readme)

It's a single node cluster that deploys ontop of kind with much lower resource requirements. All the "t

[2022-02-23 16:39] jorgemoralespou commented on #3222
@jpmcb isn't there a minimium requirements preflight check for any type of cluster? Although I guess that for Docker on Linux that does not exist, as it'll take whatever the host can take.

[2022-02-23 16:43] jpmcb commented on #3222
Yes, there are also pre-flight checks for `unmanaged-cluster`, but it's resource requirements are much smaller:

https://github.com/vmware-tanzu/community-edition/blob/36d86446867fce6b09d4c098d80e66ecf2e46998/cli/cmd/plugin/unmanaged-cluster/cluster/kind.go#L24-L25

So only 1 CPU for unmanaged

[2022-02-23 16:46] seemiller commented on #3180
Different namespaces, so the names don't collide.

[2022-02-23 16:47] jpmcb commented on #3180
The default package-repo that gets installed _for `unmanaged-cluster` is the `v0.9.1` repo since we didn't get a chance to update that in the bom files `unmanaged` users.

So, as Nick noted, users can run `tanzu package repository update` after installing a unmanaged cluster to get the latest packages.

[2022-02-23 16:56] jorgemoralespou commented on #3180
I guess it works, although it's confusing. Couldn't the TCE repository be named something more significative? e.g. `tce-userpackages-repository`? The facts both have `tkg` and `core` in the names is way too confusing.

[2022-02-23 17:11] jorgemoralespou commented on #3129
@xtreme-sameer-vohra This issue is knative-serving related

[2022-02-23 17:12] jorgemoralespou commented on #3030
@xtreme-sameer-vohra This issue is knative-serving related

[2022-02-23 18:58] joshrosso commented on #1658
Unfortunately this request seems to be falling behind without prioritization.

Moving it to our icebox, with help-wanted.

I've also opened an issue for the maintainer of `management-cluster` to consider this at:

* https://github.com/vmware-tanzu/tanzu-framework/issues/1725

[2022-02-23 19:01] joshrosso commented on #1490
Putting this in the icebox, no current plans to pickup this work for a future milestone.

[2022-02-23 19:02] LarryBetson commented on #3217
Thank you for the quick response.

I do not have a full desktop environment on the bootstrap node. It's a minimal install with just the tools required or installed as needed. And yes I am connecting to the bootstrap node via ssh. So, yes this would be considered a headless environment then.

I can easily destroy the node and create a new one with a desktop environment. You can close this issue out

[2022-02-23 19:02] #3217 closed

[2022-02-23 19:23] MasterWayZ opened #3230 "Updating TCE to 0.10 fails with an error during kubectl apply."
## Bug Report

Upgrading TCE to 0.10 fails with an error during kubectl apply.

## Expected Behavior

The upgrade succeeds.

## Screenshots or additional information and context

The error that it fails with: `Error: unable to upgrade management cluster: failed to update metadata configmaps after kubernetes upgrade: error while upgrading additional component 'addons-management/standard-package-rep

[2022-02-23 20:53] jpmcb opened #3232 "Dependabot not working"
## Bug Report

We do have a `.github/dependabot.yml` but it doesn't seem to actually be working.

We need to follow up and attempt to get this working so we can automatically capture CVE bumps that we can consume.

## Expected Behavior

See dependabot PRs opened.

[2022-02-23 21:38] adriens commented on #3222
Hmmm, these are pretty good news ❣️

Here is the final command I run :

[code]

Which command would you like me to consider to switch to `unmanaged-cluster` ❔ 🙏

[2022-02-23 21:50] #2853 closed

[2022-02-23 21:52] stmcginnis commented on #3222
You could instead run:

[code]

That would get you a one node cluster, running in docker, that uses a minimal amount of RAM and CPU.

[2022-02-23 21:56] joshrosso commented on #2995
This is complete with our framework bump.

[2022-02-23 21:56] #2995 closed

[2022-02-23 22:12] joshrosso opened #3233 "CLI binaries (CLI plugins) should be pushed as OCI images"
To support `tanzu` CLI's new OCI source, we must publish our CLI binaries as OCI assets.

The destination for each CLI plugin should be:

[code]

We should be able to push periodically, unsigned images, for example, something equivalent to:

[code]

For a release, the same process should be follow, but a **signed binary** should be pushed.

[2022-02-23 22:31] joshrosso opened #3234 "Create OCI Plugin Releases"
## Summary

We should create a script that can:

1. Copy TF plugins into TCE's OCI repo
2. Create a plugin release manifest
3. Push the plugin release manifest to TCE's OCI repo

### 1. Copy TF plugins into TCE's OCI repo

We must be able to copy TF's plugin releases using `imgpkg`. The following image shows how the copy should occur:

![image](https://user-images.githubusercontent.com/6200057/155

[2022-02-23 22:32] joshrosso commented on #3234
@karuppiah7890 is added here. @seemiller owns the initial work. Release engineering should then handle the triggering of it (via automation) and maintencne of it over time.

@karuppiah7890 feel free to assign someone from your team if you're not the right human.

[2022-02-23 22:32] joshrosso commented on #3233
@karuppiah7890 is added here. @dvonthenen owns the initial work. Release engineering should then handle the triggering of it (via automation) and maintencne of it over time.

@karuppiah7890 feel free to assign someone from your team if you're not the right human.

[2022-02-23 23:21] miclettej opened #3235 "TCE Guided UI Experience"
## Abstract
We believe one of the largest areas of friction for TCE end users is successfully creating clusters. This process includes:

1. Determine which cluster deployment model is most appropriate
    a. ie: unmanaged vs managed
2. Deploy a cluster
3. Delete a cluster

Along with introducing a new UI, this proposal focuses on an initial use case where a user can accomplish the above with a sim

[2022-02-24 01:00] gwang550 commented on #3189
I have verified the workaround works and I was able to create a management cluster after the changes.

I have also narrowed down the problem. It seems like the current TCE is not using the latest version of the tanzu-framework. From the commit history https://github.com/vmware-tanzu/tanzu-framework/commits/main/pkg/v1/providers/ytt/03_customizations/02_avi/add_akoo.yaml, I think TCE is using the v

[2022-02-24 01:54] #2182 closed

[2022-02-24 01:54] #2158 closed

[2022-02-24 01:56] thesteve0 opened #3237 "References for what goes in the a config file for an unmanaged cluster"
## Description

Discussed in this thread in Slack
https://kubernetes.slack.com/archives/C02GY94A8KT/p1645319008410969

The CLI says you can pass in a config file on unmanaged cluster creation but there is no documentation on what can be in the config file

``` -f, --config string                        A config file describing how to create the Tanzu environment```

According to @stmcginnis you ca

[2022-02-24 02:05] thesteve0 opened #3238 "Doc that on umanaged clusters, the only options for provider is kind or none"
## Description
In reading more about unmanaged clusters, the doc says:
``` By default, they run locally via kind with Tanzu components installed atop```

But according to Sean:
```We've implemented a provider interface, but right now the only options are kind or none , using the --provider switch. There are some use cases being worked out for none where this plugin can be used to tie in to other w

[2022-02-24 02:44] thesteve0 opened #3239 "Until #3058 is fixed, can we make calico the default CNI for unmanaged clusters"
## Feature Request

There is already a bug #3058 which tracks the problem that unmanaged clusters are non-reachable after a machine or docker restart. If we made calico the default CNI for unmanaged clusters then it would provide a much better experience for users on their local machine.

Developers and sysadmins generally do not want to have to delete and recreate their clusters when they restart

[2022-02-24 03:39] dvonthenen commented on #3204
These will be used to implement a good portion of this:
https://github.com/vmware-tanzu/community-edition/issues/3234
https://github.com/vmware-tanzu/community-edition/issues/3233

[2022-02-24 03:42] dvonthenen commented on #3085
Will give this a try tonight!

[2022-02-24 07:16] snehalbiche opened #3243 "Failure while deploying management cluster (Vcentre)"
## Bug Report
while deploying management cluster it fails with the below message on UI:

 [0223 09:24:03.46246]: clusterclient.go:523] cluster control plane is still being initialized: WaitingForControlPlane
 [0223 09:24:18.52096]: clusterclient.go:523] cluster control plane is still being initialized: ScalingUp ‼
 [0223 09:54:33.50469]: init.go:700] Failure while deploying management cluster, Her

[2022-02-24 12:44] djschny commented on #2172
/reopen

[2022-02-24 12:59] stmcginnis commented on #3237
Did you find this, and are you saying it did not create a config file for you?

[code]

[2022-02-24 14:21] kcoriordan commented on #2893
@kartiklunkad26 thanks - once versioning is gone through on #882 - I'll work on this

[2022-02-24 14:51] stmcginnis commented on #3239
cc @jpmcb

[2022-02-24 15:16] jpmcb commented on #3058
Is this actually something the TCE team can execute against?

For `unmanaged` cluster, we simply consume the BOM from upstream `tanzu-framework` which gives us the antrea CNI to use. This is why this issue exists for both managed and unmanaged. If this is as simple as bumping the version of antrea that's in the BOM, than we should transfer this issue to `tanzu-framework`.

For `unmanaged`, we _do_

[2022-02-24 16:08] jpmcb commented on #3180
Can you open a separate issue for this? We'll loose track of this line if we don't and this issue is about the `v0.9.1` / `v0.10.1` discrepancy in `unmanaged` cluster.

[2022-02-24 16:24] jpmcb commented on #2616
Circling back on this:

- [x] Docs updated with support matrix for arm:

![image](https://user-images.githubusercontent.com/23109390/155564416-f68d0719-c7d3-4e54-8ce2-265dc7151a9a.png)

- [x] Preflight checks exist for `unmanaged` cluster and will display an error if user is trying to bootstrap from an arm based machine
- [x] Opened issue in tanzu framework: https://github.com/vmware-tanzu/tanzu-f

[2022-02-24 16:54] #2137 closed

[2022-02-24 16:58] dvonthenen opened #3247 "Run e2es on Windows-based systems"
## Feature Request

Putting this in the v0.11.0 milestone knowing this probably won't get completed by then... it's simply just to track and prioritize this so that it can be moved into the v0.12.0/next milestone.

We need to duplicate the goals of the e2es currently done on Linux but exercise the functionality on the Windows platform. This can (and should) be done in the easiest way possible. Thi

[2022-02-24 17:06] jorgemoralespou commented on #3058
@jpmcb does the above comment mean that antrea on unmanaged clusters work fine and do survive restarts?

[2022-02-24 17:10] jorgemoralespou commented on #3180
@jpmcb this is in this issue as item 1 for Expected behaviour.

[code]

[2022-02-24 17:30] jpmcb commented on #3058
No - Antrea clusters still won't survive after a restart.

My comment was more around _who_ is able to execute on this problem. Since we merely consume upstream components, I'm not sure where this should land.

This issue deserves more investigation to figure out what's going on.

[2022-02-24 17:50] #3068 closed

[2022-02-24 19:26] swalner-vmware opened #3250 "Concierge: [SPIKE] create seed Electron-React app"
## Feature Request
Create a PoC-type React application using the Electron framework. Start with the existing tce-install-poc branch.

[2022-02-24 19:27] swalner-vmware opened #3251 "Installer: [SPIKE] use Astilectron in PoC"
## Feature Request
Add in the mechanism to execute Go code (especially an OSExec call) to the PoC installer.

[2022-02-24 19:29] swalner-vmware opened #3252 "Concierge: build tooling to generate binaries"
## Feature Request
Build out tooling that will create binaries (Windows, Mac, Linux) out of the PoC installer app

[2022-02-24 19:31] jakerobinson opened #3253 "Improve scaling docs to include troubleshooting steps"
## Description

I am having an issue with scaling and would like to know where the log files are located. It would be helpful if there was a small troubleshooting section on this page (and possibly every page) to detail how to see what is going on for both learning and troubleshooting purposes.

## Location

https://tanzucommunityedition.io/docs/latest/scale-cluster/

## Additional Context

`tanzu

[2022-02-24 20:16] AndyTauber opened #3254 "Docker e2e test on mac fails"
## Bug Report

"make docker-management-and-cluster-e2e-test" running on mac fails for 3 issues:

1) requires aws-nuke to be installed.  This should be installed like the other prereqs automatically (or removed if not needed for this test case).

2) make is installing the wrong version of tanzu client for x86_64 macs.  The variable $BUILD_ARCH is not being set using "uname -m" and exported in file

[2022-02-24 22:15] miclettej opened #3257 "Proposal TCE Concierge (installer)"
## Abstract
We believe one of the large areas of friction for TCE end users is getting the Tanzu CLI installed. Getting the Tanzu CLI installed is defined as:

Installing the Tanzu CLI:
 - Installed to $PATH
 - Installing CLI Plugins:
 - Installed to [${XDG_DATA_HOME}](https://github.com/adrg/xdg#xdg-base-directory)/tanzu-cli
 - Verifying Tanzu CLI and plugins are up to date and compatible with ea

[2022-02-24 23:20] cjohnston23 commented on #2752
This still seems to be a problem, I added 172.18.0.0/24 to be included as part of the TKG_NO_PROXY, but boostrap cluster still tried to use the proxies defined for TKG_HTTP_PROXY and TKG_HTTPS_PROXY.  I could easily see it failing to connect to the proxy in the pod logs.  My boostrap cluster is deploying on my laptop that doesn't have access to the required proxy where the management cluster gets

[2022-02-25 01:53] #2150 closed

[2022-02-25 01:53] #2142 closed

[2022-02-25 02:41] stealthybox commented on #3087
I'll do my best to follow this.
I know a remember some things about the various manifests, repos, build process, and `flux` cli specifics related to building the Flux project.
It's a fairly automated, multi-repo process with some Go thrown in to support more complex use-cases like `flux bootstrap`.

[2022-02-25 04:44] aman556 commented on #3178
Hello everyone, I just saw this issue.
https://github.com/vmware-tanzu/community-edition/actions/runs/1859766349
This failure is due to not doing the git Configuration with githubaction which is handled in [#3242](https://github.com/vmware-tanzu/community-edition/pull/3242). Yes the automation has to be edit to do executes `choco pack/choco push`. I will try to update [#3242 ](https://github.com/v

[2022-02-25 07:57] aman556 commented on #3178
Hey @nrb and @dvonthenen,
For [this comment](https://github.com/vmware-tanzu/community-edition/pull/3242#pullrequestreview-892739688) and above this issue I have come up with an approach.
So we have three scripts to take care of choco automation for testing and upgrading.
- Upgrade test - This powershell Script is just testing the current version and then temporarily updating the choco package scr

[2022-02-25 09:01] karuppiah7890 commented on #3178
Like @dvonthenen said

We do have to review the pack and push script. The script currently uses a local repository to push, notice the `--source`

https://github.com/vmware-tanzu/community-edition/blob/b035580373517291cd4ee88acdcaa3fad9b113d0/hack/choco/packpush.ps1#L18-L20

We need to push the package to the public Chocolatey Community Repository at https://community.chocolatey.org/ which would r

[2022-02-25 10:20] aman556 commented on #3178
Thanks @karuppiah7890 for mentioning this. I am planning a PR with a comman workflow and working packpush script and will update everyone in this issue during the ongoing work on that PR.

[2022-02-25 11:10] snehalbiche commented on #3243
ok so this "tanzumgmtt-control-plane-22dnl" is control plan VM but not sure about why control plan is in provisioning state?
is this because K8S cluster is not coming up? I am even unable to login to control plan VM to find out whats wrong :(

                "name": "tanzumgmtt-control-plane-22dnl",
                "namespace": "tkg-system",
                "ownerReferences": [

[2022-02-25 13:28] snehalbiche commented on #3243
ok now I have even tried deploying standalone cluster and it confirms issue with brining up k8s cluster.
 [0225 07:56:58.65997]: clusterclient.go:523] cluster control plane is still being initialized: WaitingForKubeadmInit

The question is : my control plan is having single IP address assigned using DHCP and its running on internal VLAN? is that a problem? does this control plan needs access to pu

[2022-02-25 15:24] stmcginnis commented on #3243
Yes, looks like this may be the source of your problems. The cluster needs internet access to pull container images, so this could be why the deployment fails.

[2022-02-25 16:29] AnilSankar75 commented on #3163
@kcoriordan , Sorry just saw this comment, Basically I was just trying to create workload cluster independently with the TCE [documentation ](https://tanzucommunityedition.io/docs/latest/workload-clusters/)prior to attaching to TMC... and currently it does not pick up the workload cluster name from the configuration file...You have to specify in the command like...(Contrary to what step 10 says in

[2022-02-25 16:53] cirocosta commented on #3024
Hi @joshrosso , I'll be the one pushing a PR to include the Cartographer package - just went through the documentation and **everything sounds good!**

We have created a `package-for-cartographer` repository under `vmware-tanzu` (should be made public soon - repository created but still private, just waiting for approval), but the repository is currently publishing the artifacts to `ghcr.io` as I

[2022-02-25 16:58] kartiklunkad26 commented on #3024
@seemiller can give you access to the registry @cirocosta.

[2022-02-25 17:19] snehalbiche commented on #3243
Hi Sean McGinnis,

Thanks for replying, could you please let me know then if we need internet access which will be a public interface then where the DHCP comes into the picture? and if the same image is used to deploy worker nodes and as normally org don't want to expose cluster and worker nodes to the internet then how to assign to limit this exposure in internal test labs?

Thanks,
Snehal

[2022-02-25 17:39] stmcginnis commented on #3243
Typically this is done just using the normal DHCP services on a subnet. You mention exposing nodes to the internet - are you directly exposed publicly? I would highly recommend against that. It would be best to have your local subnet - with DHCP services - limited to local traffic, with some sort of router providing access to the internet.

[2022-02-25 19:21] #1647 closed

[2022-02-25 19:56] joshrosso commented on #3058
It is. The investigation and work here involves the building of our kind image. The goal would be to build it in such a way that the node patching is not required or done automatically during at the right time of node (container) initialization.

[2022-02-26 13:23] stmcginnis opened #3265 "Upgrade version of misspell used for macOS Monterey support"
## Bug Report

There is a panic running the misspell checks on macOS Monterey. This is a known issue with the project.

Filing this issue to track updating once https://github.com/client9/misspell/issues/190 is fixed and so any
others hitting this issue can find that it is something we are aware of.

## Expected Behavior

No boom.

## Steps to Reproduce the Bug

## Screenshots or additional inform

[2022-02-26 16:20] snehalbiche commented on #3243
let me describe more:

In our lab, we have public VLAN and private VLAN. the internet can be only reached using proxy on public VLAN.

This public VLAN strictly does not allow DHCP and IP addresses to be configured manually.

In this case, I won't be able to bring up a DHCP server on public VLAN which will configure IP address to control plan and worker nodes.
neither using private VLANs VM's will

[2022-02-26 21:51] martinborgman commented on #3094
The statement in the Docker documentation says it all.

So why do we need this workaround?

[2022-02-27 21:46] #2381 closed

[2022-02-28 01:53] #2608 closed

[2022-02-28 09:35] hemakshis opened #3271 "Proposal for adding Flux Helm Controller to TCE"
## Feature Request

### Problem
The main goal here is to provide an automated operator that can bootstrap and continuously reconcile the cluster state from helm charts releases present in the customers registry.

The helm-controller is a Kubernetes operator, allowing one to declaratively manage Helm chart releases. It is part of a composable [GitOps toolkit](https://fluxcd.io/docs/components/) and

[2022-02-28 10:58] karuppiah7890 opened #3272 "E2E test for `unmanaged-cluster` plugin"
Similar to E2E tests for `management-cluster` and `cluster` plugins from [Tanzu Framework](https://github.com/vmware-tanzu/tanzu-framework/), we need to add E2E test for `unmanaged-cluster` too

[2022-02-28 11:05] karuppiah7890 commented on #3272
Oops. Duplicate of #3045. Closing! 😅

[2022-02-28 11:05] #3272 closed

[2022-02-28 16:15] jpmcb commented on #3238
I'm not sure this would actually be helpful to end users in our main documentation.

We do document this in the [`unmanaged-cluster` README](https://github.com/vmware-tanzu/community-edition/tree/main/cli/cmd/plugin/unmanaged-cluster#readme) which _consumers_ of the `unmanaged-cluster` go code can go to and find out more about how it works and it's APIs.

[2022-02-28 16:59] nrb commented on #3178
`packpush.ps1` was made for local testing, so yes, it does not currently know how to push to the public repos.

As stated before, if the intention is to use it for both it will need to be modified and any flags that change behavior need to be documented.

[2022-02-28 17:12] dvonthenen commented on #3178
The original issue description might not be correct since I haven't really been involved with the choco stuff.

If we want to use the same script, great. If we want to have 2 separate scripts for separation of concerns, great. The intention of the issue is to provide automation somewhere in the pipeline to publish to chocolatey.org.

[2022-02-28 17:20] #3066 closed

[2022-02-28 17:48] miclettej opened #3273 "UI Plugin: [Spike] Redux data store initial implementation"
The new TCE UI plugin should include a redux library/data store to enable ease of storing and accessing data in the UI, saving data to local storage and defining data flow across components.

This spike should include standing up an initial redux implementation along with a small PoC that stores and retrieves simple form data.

[2022-02-28 17:57] miclettej opened #3274 "UI Plugin: Route client HTTP calls to management-cluster plugin"
The existing Tanzu CLI management cluster plugin includes an HTTP server and REST layer that can be leveraged for several UI functions. Some of these functions include authentication with a cloud provider, discovery of resources on a cloud provider, and starting deployment of a management cluster.

The new TCE UI plugin should attempt to route any HTTP calls related to the above functionality from

[2022-02-28 18:13] stmcginnis commented on #3274
We may want to think about either duplicating (with the goal of eventually migrating?) some of this functionality from the management-cluster plugin to the new UI plugin so we don't need to launch a second web server to serve these calls. Or importing the code so we can have one library that contains the logic, but can be used by two different services.

[2022-02-28 18:30] miclettej commented on #3274
@stmcginnis absolutely and let's maybe chat offline to see how we can go about this. Having a single library sounds ideal, and I would like to talk through how we can make that happen.

[2022-02-28 19:10] joshrosso opened #3275 "Revert Framework version to `v0.11.1`"
In order to support TMC registration in the `v0.11.1` release, we need to pin TCE's framework version to the **same** version as TKG 1.5.X.

TKG 1.5.X uses tanzu-framework `v0.11.1`.

[2022-02-28 19:16] joshrosso commented on #1398
This won't make it in `v0.11.0`, bumping to `v0.12.0`.

[2022-02-28 19:17] joshrosso commented on #2716
Due to:

* https://github.com/vmware-tanzu/community-edition/issues/3275

This is technically no longer possible since the compatibility file cannot be changed dynamically until framework version `v0.17.0`. Moving to revisit in `v0.12.0`.

[2022-02-28 19:18] joshrosso commented on #1219
Due to the need for:

* https://github.com/vmware-tanzu/community-edition/issues/3275

This will not make it in for v0.11.0. We'll revisit this in v0.12.0. Note that this is not possible until we jump to to framework v0.17.0, as that is where the work to dynamically change compatibility files came in.

[2022-02-28 19:26] joshrosso commented on #2785
I will investigate this today.

Due to https://github.com/vmware-tanzu/community-edition/issues/3275#event-6156944162, we need to keep our BOM at the same version as v1.5.1. That will determine our kapp-controller version.

If it's below v0.30, this issue will be moved out to another milestone.

[2022-02-28 19:27] joshrosso commented on #2710
Would be cool, but moving this out to v0.12.0.

[2022-02-28 19:27] joshrosso commented on #2709
This would be cool, but moving to v0.12.0

[2022-02-28 20:37] joshrosso commented on #2785
This should be part of our next release. Our plan is is to pin to the TKG v1.5.1 BOM. Here is the evidence of the kapp-controller version:

`tkr-compatibility`:

[code]

`projects.registry.vmware.com/tkg/tkr-bom:v1.22.5_vmware.1-tkg.3`:

[code]

[2022-02-28 20:43] joshrosso opened #3277 "Cluster upgrades don't work due to assumption of TKG standard repository"
## Bug Report

All cluster upgrades for TCE will fail due to assumptions about a `addons-management/standard-package-repo` existing.

The error users will receive is as follows:

[code]

[2022-02-28 20:54] adriens commented on #3222
Hi @jpmcb .

I could not work on that item but I should be able to do it this morning. Hence, a feedback should come within a few hours today 🤞

[2022-02-28 21:14] #2934 closed

[2022-02-28 22:19] jpmcb commented on #3061
I think this feature request would introduce alot of unnecessary complexity in order to store the `kind` yaml config on the cluster. We would need to have either a storage solution installed on the cluster that can accept the file or a custom CRD that can consume the yaml.

Further, I don't think this would be very discoverable by users. We already have the precedence that configs are stored on th

[2022-02-28 22:29] stmcginnis commented on #3243
In this case, other than using a different environment, you will need to set up a DHCP server within your private VLAN as well as some sort of proxy to allow internet access.

Some notes about network requirements can be found here: https://tanzucommunityedition.io/docs/latest/vsphere/#before-you-begin

[2022-02-28 22:54] adriens commented on #3222
Here we go for the feedbacks 🎆 :

Actually :

[code]

leads to the following log :

[code]
![image](https://user-images.githubusercontent.com/5235127/156071876-7358fc87-a161-4076-b522-a3b40c4c7877.png)

[2022-02-28 22:56] adriens commented on #3222
What should I do to _"tap it"_ 🙏 ❔

[2022-02-28 23:14] stmcginnis commented on #3222
Hey @adriens - looks like you have a typo in that command that combined the two lines. First, just run:

[code]

Then that will give you the next step to run the setup script that does a few things that brew isn't able to handle. It will likely be `/home/tanzu/.linuxbrew/Cellar/tanzu-community-edition/v0.10.0/libexec/configure-tce.sh`, but check the output to make sure.

Hope that helps!

[2022-02-28 23:32] adriens commented on #3222
Now, got this :

![image](https://user-images.githubusercontent.com/5235127/156076571-5915eb73-a2dd-410a-9264-a4a505984426.png)

[2022-02-28 23:41] adriens commented on #3222
I could go a bit further now.

When I run

[code]

I get :

![image](https://user-images.githubusercontent.com/5235127/156077378-00094385-0708-4067-b736-bcab4a452ea5.png)

hence back to the CPU limitation 🤔

[2022-02-28 23:43] adriens commented on #3222
Gues I should now try

[code]

[2022-02-28 23:44] adriens commented on #3222
I'm building a new session from scratch ...

[2022-02-28 23:57] adriens commented on #3222
Fianlly these commands 👇

[code]

[code]

lead me to 👇

![image](https://user-images.githubusercontent.com/5235127/156078820-6f6e25ea-696e-46b4-b79e-d3445ddafe98.png)

[2022-03-01 00:02] seemiller commented on #536
Due to the concerns with bundling/distributing a package containing AGPL-3.0 licensed software, we will not be providing a package with any Grafana 8.x versions.

In light of this, options are as follows:
* Continue to update the current Grafana package to utilize the latest versions of the 7.5.x release branch.
* Retire the Grafana package
* Adopt a suitable alternative to Grafana
* Allow the com

[2022-03-01 00:02] #536 closed

[2022-03-01 01:02] jpmcb commented on #3060
Currently, in the `create` cluster options, there is:

[code]

If I create a cluster with the following option:

[code]

I see on my docker provider:
[code]
And I can see we are mapping correctly `0.0.0.0:888->444/tcp`

Is that not sufficient? Can we close this issue?

[2022-03-01 02:53] joshrosso opened #3285 "TMC and TCE Compatibility in TCE `v0.11.0`"
For the TCE `v0.11.0` release, management-clusters must be able to be registered to TMC. At this time, VMware is only positioned to support registration with TKG clusters. This is due to current limitations in testing, resourcing, and pursuit to create stable libraries in tanzu-framework.

With the above, TCE will bind its next release to TKG `1.5.1`. This means TCE will ship management and worklo

[2022-03-01 02:55] joshrosso opened #3286 "Create a community-edition release based on the TKG 1.5.1 BoM"
In order to support https://github.com/vmware-tanzu/community-edition/issues/3285, we need our next BoM to be based on:

`projects.registry.vmware.com/tkg/tkg-bom:v1.5.1`

However, in order to be used in TCE, we must swap `antrea-advanced` for `antrea-standard`.

Once this swap occurs, we should produce the full BoM and compatibility files for a TCE release.

[2022-03-01 02:56] joshrosso commented on #3286
@navidshaikh, I'll need your help here or for this to be delegated some someone who can construct this BoM.

Let's talk about it tomorrow :+1:

[2022-03-01 02:59] joshrosso commented on #3033
This conversation is no longer relevant based on https://github.com/vmware-tanzu/community-edition/issues/3286.

We'll continue the conversation there.

[2022-03-01 02:59] #3033 closed

[2022-03-01 03:04] joshrosso commented on #2785
Once we get a build based on TKG 1.5.1, we just need to verify kapp-controller is v0.30.0.

[2022-03-01 03:07] joshrosso commented on #3277
From @shivaani0505:

[2022-03-01 10:35] pkqsun opened #3288 "cluster control plane is still being initialized, retrying"
## Issue Description

I think it is not a bug but it does not work as expected and need your support sincerely.

I try to installe TCE over vSphere 7.0  with package tce-linux-amd64-v0.9.1.tar.gz and template photon-3-kube-v1.21.2%2Bvmware.1-tkg.2-12816990095845873721.ova.

I need to set the system proxy and also the docker proxy (file  /etc/systemd/system/docker.service.d/http-proxy.conf) to pull

[2022-03-01 12:27] jorgemoralespou commented on #1946
This issue is still relevant. Probably needs a corresponding issue in tanzu-framework and/or kapp-controller cli.

[2022-03-01 12:33] jorgemoralespou commented on #3060
@jpmcb no, we need something like `-p 127.0.0.1:8080:8080/tcp` to be supported, so that the container can be bound to 127.0.0.1 and not 0.0.0.0 which is the default if no ip is specified. This could be any ip, as a user I might want the cluster to be listening only on a specific interface and not on all.

This is the format [Docker supports](https://docs.docker.com/config/containers/container-netw

[2022-03-01 13:51] stmcginnis commented on #3288
Hi @pkqsun - thanks for the detailed output. There is one more set of logs that should give us a little better picture if what is going on, if you could also capture it. Can you do `kubectl logs -n capv-system   capv-controller-manager-587fbf697f-j5b72 -f  manager` and post the logs?

The main thing we are looking for is any lines that start with `E` indicating an actual processing error, but the

[2022-03-01 14:29] kartiklunkad26 commented on #3257
How does this installer tie to the installer to creating clusters. Will they be separate user experiences?

[2022-03-01 14:59] joshrosso commented on #3286
@navidshaikh and I talked today. We discussed the need to pin to the same TKG BOM and framework version such that our clusters look identical to those made by TKG v1.5.1.

As a reminder, there will be 2 differences:

1. We'll ship antrea standard
2. We'll ship the TCE user-managed package repo, rather than TKG's standard repo

![image](https://user-images.githubusercontent.com/6200057/156192623-2a

[2022-03-01 15:02] kcoriordan commented on #3163
I think this might be a Tanzu Frame work issue, as far as I can gather the information in doc is correct.
Do you think there is an issue with your cluster name in the config file:

https://github.com/vmware-tanzu/tanzu-framework

[2022-03-01 15:06] joshrosso commented on #3286
@navidshaikh, i'm not sure how the release graphs works, but wanted to make sure we were on the same page with the files we're planning on:

The compatibility file should be:

[code]

Which contains:

[code]

The referenced BOM is:

[code]

The BOM contents are:

[code]

The TKR compatibility file is:

[code]

The TKR compatibility file contents are:

[code]

An  example of the newest TKR is:

[co

[2022-03-01 15:21] joshrosso commented on #2696
Hey all!

Largely what is needed here is for us to have a place we can pull the binary from. An OCI asset or direct binary could work.

We just need to verify:

Will the binary that gets produced be signed by VMware?

[2022-03-01 15:39] stmcginnis commented on #3163
I've filed an issue in `tanzu-framework` for this: https://github.com/vmware-tanzu/tanzu-framework/issues/1753

We can use this issue to track that to inclusion in a TCE release.

[2022-03-01 15:42] stmcginnis commented on #3257
This proposal is related to installing the `tanzu` CLI and related TCE plugins so that you can then deploy clusters. So the difference between "install" and "deploy" here is key.

[2022-03-01 16:08] jorgemoralespou opened #3289 "[unmanaged cluster] With multi control-plane clusters make HAProxy location configurable"
## Bug Report
When creating an unmanaged cluster with TCE 0.11+, HAProxy is used to provide load balancer to the API server from the host. This image is pulling from Docker Hub, and might create an issue "rate limit" when TCE used in specific workflows (e.g. CI/CD) where the image might need to be pulled multiple times a day on fresh hosts.

## Expected Behavior
Have the HAProxy coming from projec

[2022-03-01 16:19] #3180 closed

[2022-03-01 16:20] jpmcb commented on #3061
Good point! That directory is already irrelevant and doesn't hold anything useful. Right now, it has the
- bootstrapping logs
- the unmanaged-cluster config that was used in bootstrapping
- the kube.conf that gets merged into the users `~/.kube/config`
So I think placing another file directly there works for now 👍🏼

[2022-03-01 16:21] joshrosso opened #3290 "Update unmanaged-cluster package repository to v0.11.0"
This is to track so we don't forget for the v0.11.0 release:

Once we produce a v0.11.0 package repository, let's update the unmanaged-cluster default package repository to include this. Currently this is set to v0.10.1

[2022-03-01 16:22] seemiller opened #3291 "Update Grafana package to latest 7.5.x release"
## Feature Request

The Grafana package is currently using 7.5.7. It should be updated to the latest 7.5.x version available. At the time of this issue, that is 7.5.11. There are CVE fixes that have been addressed in the more current versions.

## Describe alternatives you've considered

## Additional context

[2022-03-01 16:23] joshrosso commented on #2205
@stmcginnis could you please verify this for us.

Knowing that v0.11.0 will pin to framework v0.11.1, could you:

1. Build the management-cluster plugin from **framework** using the v0.11.1 tag
2. Verify the management-cluster plugin is of the correct version
3. Try what's describe above and see if this error still shows up?

[2022-03-01 16:26] joshrosso commented on #3024
@seemiller @cirocosta do you have the appropriate permissions now?

[2022-03-01 16:29] seemiller opened #3292 "Update Grafana/Prometheus packages to work with latest cert-manager api"
## Feature Request

In cert-manager 1.6.0, the `cert-manager.io/v1alpha2` APIs were removed. The Grafana and Prometheus packages are currently utilizing the deprecated APIs. This should be updated to use the current, supported `cert-manager.io/v1` APIs.

## Describe alternatives you've considered

## Additional context

[2022-03-01 16:35] seemiller commented on #3024
I added @cirocosta to the TCE Harbor project 4 days ago, he should be able to push packages.

[2022-03-01 16:40] jpmcb opened #3293 "`unmanaged-cluster` deployed with multiple nodes and port mappings fails"
## Bug Report

When creating a new unmanaged-cluster with the following command:
[code]
the following error occurs:
[code]

This is due to the `80` port already being allocated. If you attempt to run one of the workers with the above command and than another, you get the following error from docker:
[code]

and is coming from logic we do that loops over all nodes and adds the port mappings to each

[2022-03-01 16:47] stmcginnis commented on #2205
Tested with the current v0.10.0 release just to see. This error is not there, but the v0.10.0 release does contain the similar error of:

[code]

That is fixed in https://github.com/vmware-tanzu/tanzu-framework/issues/1521

Built and installed with tanzu-framework v0.11.1. Same error as above since https://github.com/vmware-tanzu/tanzu-framework/issues/1521 wasn't included in a release until the t

[2022-03-01 16:51] joshrosso commented on #3106
Realistically, we won't get to evaluating this until v0.12.0. Could even be later.

[2022-03-01 17:02] l0r3zz commented on #2798
cgroup V2 is really needed for people who run on Linux Desktops (Ubuntu, Mint, PopOS). Asking adopters to change kernel parameters on their desktop or to spin up a VM just to try TCE provides substantial adoption friction.

Is there a timeline for this feature to be released?

[2022-03-01 17:11] jorgemoralespou commented on #3293
@stmcginnis I would advise against. I want local port to be deterministic, because when I do use the cluster and create an Ingress I want to access my cluster via a name `127-0-0-1.sslip.io`  rather than needing to find the assigned port (god knows how) and then do `127-0-0-1.sslip.io:32456`.

When using an Ingress controller in unmanaged clusters, Ingress controller needs to be created using "hos

[2022-03-01 17:12] jorgemoralespou commented on #3289
Just something I realized. This is not for multinode, but only for multi control-plane configurations.

[2022-03-01 17:36] chaudharyalka opened #3294 "Introducing Flux Kustomize Controller to TCE"
**Problem Statement**

Today Platform and app operators do not have a consistent way to manage their cluster configurations in an automated way. The customers require almost immediately continuous delivery to their clusters from a git repository which we are trying to achieve by introducing the [Cluster config service](https://confluence.eng.vmware.com/pages/viewpage.action?spaceKey=CNA&title=Clus

[2022-03-01 18:24] #696 closed

[2022-03-01 18:24] #697 closed

[2022-03-01 19:03] microwavables opened #3295 "Are you using Tanzu Community Edition (TCE)?"
# Are you using Tanzu Community Edition?
If you are using TCE, first we would like to Thank You. Our goal is to grow the community, improve TCE and help each other.

### The purpose of this issue
We are always interested in finding out who is using TCE, what attracted you to using it, how we can listen to your needs, and, if you are interested, help promote your organization.

* We have people rea

[2022-03-01 19:09] jpmcb commented on #3293
@jorgemoralespou - Good point! We did chat about this and we're thinking that we would expose the port mapping on the first worker cluster letting the CNI resolve that to the appropriate mapping.

If someone would need a _more_ granular way, we should not attempt to do that via our APIs, but rather, let the user provide their own configuration file that `kind` can than consume.

cc @joshrosso

[2022-03-01 19:13] jorgemoralespou commented on #3293
@jpmcb sounds good to me. Let me know when this is ready to test, so I can provide my thorough testing :-D

[2022-03-01 19:41] blc1996 opened #3296 "Bump Kapp-Controller package to 0.30.1"
## Feature Request
Bump Kapp-Controller package to 0.30.1

## Describe alternatives you've considered

## Additional context

[2022-03-01 19:58] cirocosta commented on #3024
Yes, thank you @seemiller !

@joshrosso , #3262 ready for review 👍

[2022-03-01 20:01] #3296 closed

[2022-03-01 21:04] #2936 closed

[2022-03-02 00:53] #3275 closed

[2022-03-02 01:01] pkqsun commented on #3288
@stmcginnis

Here is the logs of capv-controller-manager:

[code]

[2022-03-02 01:12] blackpiglet opened #3301 "Velero Carvel package not support multiple BSL yet."
## Bug Report

Velero Carvel package only supports one BSL yet, and cannot specify which plugins to install.

## Expected Behavior

Should support multiple BSL. Should support to install plugins as BSL expected.

## Steps to Reproduce the Bug

## Screenshots or additional information and context

## Environment Details

* Build version (`tanzu version`): 0.10.0
* Deployment (Managed/Unmanaged clus

[2022-03-02 01:58] pkqsun commented on #3288
update:

It seems that the image pulling failed that caused the kube-vip container could not be started.

[code]

[2022-03-02 17:38] jpmcb commented on #3222
@adriens - This is working for me on a new VM:

Linux brew is installed:
[code]

Install TCE:
[code]

Run script to configure TCE:
[code]

And I am able to create an unmanaged-cluster:
[code]

Looks like you may have tried to do an uninstall from that latest screenshot or is that output from `unmanaged-cluster create`?

[2022-03-02 19:22] dvonthenen commented on #3257
For the UI experience, you should be able to use hack/release/install.sh/.bat as a blueprint for landing things where they need to in your implementation. It should be noted that this workflow changes from release to release and we would need to keep on top of this.

[2022-03-02 19:39] joshrosso commented on #3215
@kcoriordan could we prioritize doing a quick fix here for v0.10.0 docs (the live site)

Hit up @seemiller if you have Q on what the image should be.

[2022-03-02 20:13] #3025 closed

[2022-03-02 21:38] seemiller opened #3307 "Automate docs update for new Azure image license approvals"
## Feature Request

When deploying a cluster to Azure, you must first accept the license agreement for the base image. With new releases of TCE, the name/version of the image changes. For an end user, the only means of determining the name of the image that needs to be used is to look at the logs of the capz-controller-manager pod. Not very user friendly.

We should automate updating the documenta

[2022-03-02 21:53] seemiller opened #3308 "Package Repo Update"
## Feature Request

Update the package repo to add Contour 1.20.1

## Describe alternatives you've considered

## Additional context

[2022-03-03 02:03] #2584 closed

[2022-03-03 10:36] karuppiah7890 commented on #3307
Related #2586

[2022-03-03 11:06] karuppiah7890 opened #3317 "Fix installation in E2E tests"
Currently the installation of TCE fails in E2E tests. Oldest / first failures -

https://github.com/vmware-tanzu/community-edition/actions/runs/1890476045

https://github.com/vmware-tanzu/community-edition/actions/runs/1889873562

https://github.com/vmware-tanzu/community-edition/actions/runs/1889873566

[2022-03-03 13:40] fractal1977 commented on #3295
Since Docker install is totally broken, It's a waste of time so we went to Rancher.
No regrets.

[2022-03-03 13:59] AnilSankar75 opened #3319 "Differentiation TKG/TCE from TMC needed in Framework v0.11.1"
While we are working on the TCE/TKG pin mode from TMC side, we found there is no field of TCE for TMC to tell whether it is TKG or TCE. This would be a blocker for TMC STARTER in march as currently the plan is to pin this to  Framework v0.11.1.
Because without the differentiation, it will be an issue from support perspective that the SRE/GSS/Engineer team to provide different support for TKG and T

[2022-03-03 14:38] #3215 closed

[2022-03-03 16:04] joshrosso opened #3320 "Setup binary signing based on new binary build/directory structure"
With our move to `v0.11.1`, updates must be made to support our (downstream) signing automation against our binary.

This issue tracks the need,  most work will happen outside this repo.

[2022-03-03 16:06] joshrosso commented on #2205
kk.

even if we made a change in framework today, it wouldn't show up in the next release. Moving this item out.

[2022-03-03 16:12] jpmcb commented on #3295
Hi @fractal1977 - thanks for the feedback. Have you tried `unmanaged-cluster`? It's a lite-weight deployment ontop of `kind` that bootstraps clusters in minutes and doesn't require as many resources

Give it a try with:

[code]

[2022-03-03 16:30] fractal1977 commented on #3295
Hi @jpmcb , already tried...kube-api server communication problem...SSL handshake problem and so one and so one...
Found one Github issue with same problems with no answers...
Ressources isn't a problem for us, but time and complexity to to test if Tanzu can compete agains't Rancher is.
The Vsphere method can do the trick (maybee not...) but again...for a POC/Test it's far from light/lite method.

[2022-03-03 16:58] brito-rafa opened #3324 ""minimum 2 GiB of memory is required" message but machine has plenty of memory"
## Bug Report

(The problem/solution is obvious but documenting here how to solve.)

When creating an unmanaged cluster, running:
[code]
got the following error message:
[code]

but the machine has plenty of memory (command line for Mac):
[code]

But 2GB is the docker resources default and it is not enough:
[code]

After increasing the default (Preferences->Resources - see screenshot), I was able

[2022-03-03 17:01] joshrosso opened #3325 "Some packages are considered invalid by VMware; due to versions not being numeric"
Hi @karuppiah7890,

Created an issue to track this as it came up in retro.

* Are there packages that are problematic based on their versions?
* Which ones are they?
* Any work needed on our end?

Mostly getting this in an issue in case it could impact our v0.11.0 release.

[2022-03-03 17:10] stmcginnis commented on #3324
Glad you figured it out @brito-rafa! Docker Desktop is a bit different than running Docker natively like on Linux, so I agree it's not immediately obvious that you need to go to the Docker Desktop settings for this.

This issue will be great as a breadcrumb if someone comes searching here if they don't see the [notes in our docs](https://tanzucommunityedition.io/docs/latest/support-matrix/#infrast

[2022-03-03 17:10] #3324 closed

[2022-03-03 17:19] jpmcb commented on #3239
Created https://github.com/antrea-io/antrea/issues/3386

Waiting to hear back if there's a simple fix that we could potentially apply in our `unmanaged-cluster` kind provider

[2022-03-03 17:32] jpmcb opened #3326 "`unmanaged-cluster` list is hard to use with other unix tools"
## Feature Request

Currently, it's hard to use `unmanaged-cluster list` with other unix tools, like `xargs`

[code]

If I wanted to pipe this into `xargs` and perform operations on each cluster, I'd have to first to ignore the first line and also ignore the provider column.

Instead, we should provide some option that _only_ outputs the names of each cluster, making it really easy to work with:

[2022-03-03 18:00] seemiller opened #3329 "Update codeowners for new packages"
## Feature Request

Add new packages to codeowners:
- kpack
- cartographer
- cert-injection-webhook
- sriov-network-device-plugin

## Describe alternatives you've considered

## Additional context

[2022-03-03 19:53] joshrosso commented on #3326
Historically, I've really liked `docker`'s usage of `-q` to list non-table outputs.

[2022-03-03 20:44] #3024 closed

[2022-03-03 20:49] NeckBeardPrince opened #3333 "Unable to install any Tanzu Plugins - Error: could not read artifact storage: object doesn't exist"
## Bug Report

This is my first time using Tanzu, so I might be missing something.
Running `tanzu init` everything looks good. But when running `tanzu management-cluster create --ui`.

[code]

Trying to install

[code]

## Environment Details

* Build version (`tanzu version`):
[code]

* Deployment (Managed/Unmanaged cluster): Nothing, yet
* Infrastructure Provider (Docker/AWS/Azure/vSphere): Trie

[2022-03-03 21:22] stealthybox commented on #1308
I would guess we would want this exposed as a repo list in the cluster config file.
The cluster installer would default the value.

For installer improvements, may want a list selector UI component to be added to the installer UI to parameterize the config for the user.

The main reason that I think of this is for the case where people want to support air-gapped repos or mirrors + user or communit

[2022-03-03 21:41] seemiller opened #3335 "Remove cartographer from main.yaml"
## Feature Request

While the package has been merged, Cartographer is not ready to be included in our package repository. It should be removed from the main.yaml file that is used to generate the package repo.

## Describe alternatives you've considered

## Additional context

[2022-03-03 21:45] stmcginnis commented on #3333
Hey @NeckBeardPrince! I'm not entirely sure, but this may be due to running `tanzu init`. Was there a reason for running that?

It might just need to be cleaned up. If you installed from the `tgz` file, you can go back in to the extracted directory. From there, run `uninstall.sh` to clean things up, then `install.sh` again to get things back to the right place.

If this was installed via brew, the

[2022-03-03 21:49] NeckBeardPrince commented on #3333
It was part of the `./install.sh`.

I did the install and uninstall using both the brew path and the tarball path

[2022-03-03 21:49] stmcginnis commented on #3288
I think there may be some proxy issues pulling from the nodes within the cluster. I think I've heard there are issues with propagating the proxy settings in to the created nodes themselves, and the nodes need to pull down images directly as things are right now.

I think this is related: https://github.com/vmware-tanzu/tanzu-framework/issues/1203

Unfortunately it doesn't look like that's gotten m

[2022-03-03 21:51] #3335 closed

[2022-03-03 21:51] #3308 closed

[2022-03-03 21:53] stmcginnis commented on #3333
Ah, OK - thanks! Let me ask around and see if anyone has seen this error before.

[2022-03-03 21:59] cantbewong opened #3339 "Limitation on using a load balancer with an unmanaged cluster on a Windows or MAC host should be documented"
## Description

Users have had issues while attempting to run a load balancer such as kube-vip when an unmanaged cluster is deployed on a Windows or a MAC host. This is a behavior inherited from kind and is documented in the 4th paragraph on this page of the kind documentation. Community Edition users don't necessarily even know it is based on kind, and could experience unexpected behavior and was

[2022-03-03 22:09] qnetter commented on #1308
This should go to @vkorbes now…

Sent with a Spark<https://sparkmailapp.com/source?from=signature>
On Mar 3, 2022, 1:23 PM -0800, leigh capili ***@***.***>, wrote:

I would guess we would want this exposed as a repo list in the cluster config file.
The cluster installer would default the value.

For installer improvements, may want a list selector UI component to be added to the installer UI to pa

[2022-03-04 07:31] #2006 closed

[2022-03-04 16:45] joshrosso commented on #3060
@jorgemoralespou in the near-term https://github.com/vmware-tanzu/community-edition/pull/3304 will solve this for you, correct?

[2022-03-04 16:59] nrb commented on #3301
This is a tracking issue for the Velero package maintainers

[2022-03-04 17:00] jorgemoralespou commented on #3060
@joshrosso it does. Thanks a ton.

[2022-03-04 17:30] joshrosso opened #3344 "How should we approach `ProviderConfiguration` in unmanaged clusters"
`ProviderConfiguration` is meant to accompany our generic cluster configuration with settings the apply only to the underlying provider. Today, the only provider is `kind`. With the PR https://github.com/vmware-tanzu/community-edition/pull/3304 we have moved to accepting a `string` for this value.

I really think, as we expand providers, it would benefit us to stick with the `ProviderConfiguration

[2022-03-04 17:35] joshrosso commented on #3237
Can you please review https://tanzucommunityedition.io/docs/latest/ref-unmanaged-cluster/#custom-configuration, which talks about how to create a custom config file (same as @stmcginnis mentioned above)

![image](https://user-images.githubusercontent.com/6200057/156813437-e054ae07-5803-4589-b572-4d0c2dc678fd.png)

[2022-03-04 17:37] joshrosso commented on #3238
Let's expand the reference documentation to list available providers.

@kcoriordan can you add a new section which specified the list of available providers. They should be `none` or `kind`, today.

[2022-03-04 17:42] joshrosso commented on #3239
Pasting in a screenshot from slack so everyone is in the loop.

Let's actually *not* wait and switch to Calico now. We can revisit switching back if this is changed. This has been approved by PM. See below. Thanks all!

![image](https://user-images.githubusercontent.com/6200057/156814217-d644e8a9-5be0-480e-94b6-02fbc4e3f9b8.png)

[2022-03-04 18:25] jdef opened #3345 "As the maintainer of a custom CAPI infrastructure provider, I want to know if my implementation is compatible with TCE (because it passes some set of test cases)"
## Feature Request

A set of tests, test cases, or a testing framework that helps me understand if my custom CAPI infra provider implementation is compatible w/ TCE.

## Describe alternatives you've considered

N/A

## Additional context

#2513

[2022-03-04 18:31] dims commented on #3345
As an example image-builder repo has a set of tests using GOSS ( https://github.com/kubernetes-sigs/image-builder/blob/master/docs/book/src/capi/goss/goss.md ) that anyone can run to validate the images minted by image-builder to get a 👍🏾  if the image is likely to work well with CAPI.

So here this would be a set of tests that can run against a CAPI implementation to check if it behaves reasonabl

[2022-03-04 18:36] stmcginnis commented on #3345
Thanks for checking @jdef. We currently can't add any other CAPI providers than the ones baked in, so there is compatibility checking. We are hoping to have that ability at some point in the future. It is being tracked here: https://github.com/vmware-tanzu/tanzu-framework/issues/1277

This issue can probably be closed, with just comments added to that issue making sure compat testing is part of th

[2022-03-04 18:53] #3329 closed

[2022-03-04 19:24] #2909 closed

[2022-03-04 19:26] joshrosso commented on #3344
See the discussion that invoked this issue here: https://github.com/vmware-tanzu/community-edition/pull/3304#pullrequestreview-900445620

Let's discuss this next week when @jpmcb is back.

[2022-03-04 19:38] #3239 closed

[2022-03-04 19:45] joshrosso opened #3348 "Set Harbor registry to prevent mutating tags"
## Feature Request

Today, we're at risk for anyone with appropriate access to accidentally overwrite an existing tag in Harbor. This could cause us a lot of pain. To overwrite a tag (which should almost never happen) a user should have to log in to our Harbor, delete the existing tag/image (manually) then re-push the image.

This should be possible to do via https://goharbor.io/docs/2.0.0/working

[2022-03-04 20:09] joshrosso commented on #2696
We had a discussion internally and the TAP OSS/TAP team are working through the signing bits.

TCE will pick up that **signed** binary to ship in our distribution.

[2022-03-04 20:20] joshrosso commented on #2298
This should end up in our next release v0.11.0; as an effect of pinning to the TKG v1.5.1 BOM

[2022-03-04 20:24] joshrosso commented on #2419
This would be nice to have, but not a blocker for v0.11.0. Moving out to v0.12.0. It can still be completed asap.

[2022-03-04 20:24] joshrosso commented on #2977
Moving to `icebox` until we get follow-up. Thanks!

[2022-03-04 20:25] joshrosso commented on #3002
This won't happen this release. Sorry ya'll. Help-wanted still out there. For now, moving to v0.12.0

[2022-03-04 20:26] joshrosso commented on #2690
Looks like work stalled. Feel free to still do asap, but moving to v0.12.0 because it won't block this release.

[2022-03-04 20:29] joshrosso commented on #3157
Going to close for now. Let's re-open if it continues to be a large issue.

[2022-03-04 20:29] #3157 closed

[2022-03-04 20:29] joshrosso commented on #3204
Moving this to v0.12.0 since it should not block this release. Feel free to do the work asap, but just want to make sure v0.11.0 is clear.

[2022-03-04 20:30] joshrosso commented on #3247
As stated in original description, moving to v0.12.0

[2022-03-04 20:30] joshrosso commented on #3213
Agree with this sentiment. Won't block v0.11 release, moving to v0.12

[2022-03-04 20:32] joshrosso commented on #3174
Giving this one to you @karuppiah7890 for v0.11.0. Feel free to delegate or let us know if it won't happen in this timeframe.

Thanks!

[2022-03-04 20:33] joshrosso commented on #3178
@karuppiah7890 assigning this one to you for v0.11; feel free to delegate or let us know if it's not realistic for v0.11

[2022-03-04 20:35] joshrosso commented on #2159
@stmcginnis since this should be in our next framework release, I'm assigning it to you to validate.

If you could do a build off main, you should be able to validate this and close it or state more work is required.

Thanks!

[2022-03-04 20:35] joshrosso commented on #2298
Assigned this to me, I'll do the validation once the BoM is produced.

[2022-03-04 20:36] joshrosso commented on #2798
Assigned to myself. i'll own the validation here, once the BoM is produced.

[2022-03-04 20:37] joshrosso commented on #3277
@stmcginnis I'm delegating this one for you to validate. The change is being backported into framework `v0.11.2`

Once that is available, can you own the follow-through validation that this is no longer an issue?

[2022-03-04 20:40] joshrosso commented on #2189
Raised this internally on several occasions. Going to put into `icebox` for now as I don't want to keep giving bad expectations to the community.

[2022-03-04 20:42] joshrosso commented on #3094
We'll continue tracking this for v0.11.

If https://github.com/vmware-tanzu/community-edition/issues/2798 resolves as we expect. We can simple close this as a side-effect.

[2022-03-04 20:43] joshrosso commented on #3094
I own the validation for #2798 so i'll follow up here.

[2022-03-04 20:44] joshrosso commented on #3045
@karuppiah7890 assigned this work to you for v0.11.

Feel free to delegate or let us know if it's unrealistic for v0.11.

Thanks :rocket: !

[2022-03-04 20:45] joshrosso commented on #3076
@karuppiah7890 @aman556 how severe is this? I'm guessing it'll break our e2e validation? Do we need to escalate?

Trying to get a sense for whether this should block our next release, v0.11.

[2022-03-04 20:46] joshrosso commented on #3060
Thanks to the above, this will be moved to v0.12.0.

Let's revisit the idea of this in v0.12.0 for a generic option.

[2022-03-04 20:50] joshrosso commented on #3087
Quick update from internal conversations:

* @EstebanFS owns this work item
* Current deadline is `3/18` to get this merged in for inclusion in TCE `v0.11.0`

[2022-03-04 20:52] joshrosso commented on #2848
Following up from internal conversations:

* @kartiklunkad26 owns this work item (atm)
* Deadline for merging is `03/18` for inclusion in `v0.11.0`

[2022-03-04 20:54] joshrosso commented on #2992
Moving this out to re-evaluate in v0.12.0.

We've decided to take a slightly different approach to ensure we can ship v0.11.0.

That work is tracked here: https://github.com/vmware-tanzu/community-edition/issues/3285

[2022-03-04 20:56] joshrosso commented on #2696
Who from the TAP team owns bringing this plugin in @kartiklunkad26?

From our end, @dvonthenen owns the work item of ensuring it gets bundled in a release.

Note that having this plugin available for us to include must be done by `3/18`.

[2022-03-04 20:57] joshrosso commented on #3087
Also, adding @seemiller who can support this effort from a TCE side.

[2022-03-04 20:58] joshrosso commented on #2848
Also, adding @seemiller who can support this effort from the TCE side.

[2022-03-04 21:04] seemiller commented on #3348
@joshrosso Yes, we should be able to enable this feature ourselves in our TCE project on Harbor.

Do you want to enable this for all repositories within our project, or just the `main` project that is our package repository?

At a minimum I think that we should enable this for our `main` project.

However, I don't think that we would want to do this for all the packages that are pushed to our proj

[2022-03-04 21:16] joshrosso opened #3350 "Create and push the v0.11.0 package repository"
Create the v0.11.0 package repository.

This should include all the new Tanzu Application Platform packages.

We must run tagger as a step when creating this repo.

[2022-03-04 21:17] joshrosso commented on #3290
Note this will only be possible once:

* https://github.com/vmware-tanzu/community-edition/issues/3350

is completed.

[2022-03-04 21:58] dvonthenen commented on #3320
Release gates on a test/fake build can be found here:
https://github.com/vmware-tanzu/community-edition/runs/5428597964?check_suite_focus=true
https://github.com/vmware-tanzu/community-edition/actions/runs/1936047674

This verifies both Mac and Windows are signed.
This verified Mac, Windows, and Linux tarballs are installable and you can run the tanzu CLI using all plugins

[2022-03-04 21:58] #3320 closed

[2022-03-04 22:04] stmcginnis commented on #2159
Built off of `main` (the soon to be release v0.11.0 code).

Launched management cluster creation UI: `tanzu management-cluster create --ui`
Followed the wizard to deploy a management cluster.
On final review page, copied the cli command to run.

Resulting config file:
[code]

Ran the copied creation command line: `tanzu management-cluster create gh2159  --file /Users/smcginnis/.config/tanzu/tkg/cl

[2022-03-04 22:04] #2159 closed

[2022-03-04 22:12] joshrosso commented on #3348
Let's do it for the entire project. Regarding your edge-case:

When this happens, the package tag should **still not be overwritten**. Instead, the use of build meta should be attached to the next iteration of the package. That is covered here:

https://github.com/vmware-tanzu/community-edition/blob/main/docs/packaging/maintenance/maintenance.md#version-updates

@seemiller once we make this change

[2022-03-04 22:30] joshrosso opened #3354 "Create a new `TKr` for unmanaged-cluster usage in the `v0.11.0` release"
Once the official v0.11.0 bill of materials (BOM) is created (based on TKG 1.5.1). We should resolve the most recent (via k8s version) TKR that is compatible with that release.

You can see an example of how the TKR can be derived here:

https://github.com/vmware-tanzu/community-edition/issues/3286#issuecomment-1055541743

Based on this, the TKR we'd use would be `v1.22.5+vmware.1-tkg.3`.

With th

[2022-03-04 22:31] joshrosso commented on #3354
@jpmcb assigning this to you for `v0.11.0`. Let me know if you want to hop on a zoom to go over any of these steps (these are things I've done in the past)

Thanks!

[2022-03-04 23:13] ciberkleid commented on #2977
Hi, sorry... this got lost in my inbox :(

Yeah, I think it's very common to assume you can use latest and if we
cannot ensure that the image tagged `latest` is safe for use, then we
should make a concerted effort to be really clear about it.

On Fri, Mar 4, 2022 at 3:24 PM joshrosso ***@***.***> wrote:

[2022-03-04 23:30] ciberkleid commented on #3067
Logged it under kapp:

[https://github.com/vmware-tanzu/carvel-kapp/issues/452](https://github.com/vmware-tanzu/carvel-kapp/issues/452)

[2022-03-05 00:28] stealthybox commented on #1308
The unmanaged-cluster CLI should probably also default to the latest patch release of the package repo version matching the release (unless we are willing to cut a binary release every time we update the package repo -- this would also work).

[2022-03-05 01:25] heyjcollins commented on #2696
Hey @joshrosso  - @atmandhol and I own bringing the plugin in.

[2022-03-05 03:34] joshrosso commented on #2696
@heyjcollins, thanks. I've removed @rashedkvm as an owner and added you.

@kartiklunkad26, FYI for this switch.

That's because it will **not** be added to the TCE package repository until `v0.11.0`. Do you need a `v0.11.0` repo, containing Cartographer, available before the release? If so, @seemiller can generate you a `v0.11.0-pre` repo to use.

[2022-03-05 03:39] joshrosso commented on #1308
@stealthybox, philosophically, yes. However, at this moment, due to constrains with being coupled to TKG, producing a TKR that is viable for `unmanaged` clusters requires leg work to make happen.

You can find examples of these details here: https://github.com/vmware-tanzu/community-edition/issues/3354

Once/if decoupling work completes, we'll move to this approach.

[2022-03-05 03:43] joshrosso commented on #2977
Thanks @ciberkleid!

Would you be interested in making the contribution to our docs?

For now, we'll leave this as help wanted in hopes it'll get picked up from someone.

Thanks!

[2022-03-05 03:50] heyjcollins commented on #2696
I’d have to defer to Atman as to whether we need a catographer pre repo.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: joshrosso ***@***.***>
Sent: Friday, March 4, 2022 7:34:20 PM
To: vmware-tanzu/community-edition ***@***.***>
Cc: Josh Collins ***@***.***>; Mention ***@***.***>
Subject: Re: [vmware-tanzu/community-edition] Add `app` CLI plugin to TCE (Issue #

[2022-03-05 03:57] aman556 commented on #3076
Hello @joshrosso so up to my understanding the issue is at the code level in e2e-test for Harbor we can do the test manually so it is not like a blocker.  I will test it manually and update you here.
Thanks!

[2022-03-05 03:57] joshrosso commented on #3067
Thanks for following up on this @ciberkleid!

[2022-03-05 03:58] joshrosso commented on #3076
Thanks @aman556! I'll still make sure this gets visibility internally so you're not on the hook perpetually to validate this package.

For now, moving to v0.12.0 since  it won't block v0.11.0

[2022-03-05 04:08] joshrosso commented on #2395
Now that we've moved back to v0.11.1, is it still fixed?

Assigned to @jpmcb to validate.

[2022-03-05 04:35] joshrosso commented on #3319
As stated in issue, code is complete in `main`. It should be backported in framework and validated in TCE before closing this issue.

@navidshaikh owns the backport; @joshrosso owns validation.

[2022-03-05 15:03] l0r3zz commented on #2798
Maybe raise the priority a little, this CVE affects TCE:
https://unit42.paloaltonetworks.com/cve-2022-0492-cgroups/

[2022-03-05 18:01] joshrosso commented on #2798
:wave: @l0r3zz: You're right that this vulnerability may be applicable to bootstrap clusters. However, bootstrap clusters are just temporary clusters used to create the initial management-cluster. Additionally, you already have full admin access to the bootstrap cluster, so you can already run containers that arbitrarily bind to the host (which is viewed as the `kind` image.

Luckily, the clusters

[2022-03-05 18:12] joshrosso opened #3363 "Bump to framework `v0.11.2`"
In order to support the v0.11.0 release of TCE, we need to bump to v0.11.2 to include:

* fixes to upgrade failures
* edition detection for cluster (to support TMC)

[2022-03-05 18:22] joshrosso commented on #3363
This will be held as a draft until v0.11.2 is official tagged.

* https://github.com/vmware-tanzu/tanzu-framework/pull/1787

[2022-03-05 19:48] joshrosso commented on #3285
Adding all of TCE engineering to this issue.

Once the code-level work is done, we all need to be able to go in and validate this.

[2022-03-05 19:59] joshrosso commented on #2616
Re-opening this as:

* https://github.com/vmware-tanzu/tanzu-framework/issues/1732

is not complete. This should act as a tracking issue until that work is complete and can be integrated into TCE.

[2022-03-05 20:01] joshrosso commented on #1727
@seemiller which PR did this work? Can we attach it to this issue?

[2022-03-05 20:18] joshrosso commented on #1452
This has not gotten prioritization. It's going into the icebox for future consideration.

[2022-03-05 20:26] MasterWayZ commented on #3230
Is there any possible work-around for this?

[2022-03-05 20:29] joshrosso commented on #1452
Standalone has been removed from the project in favor of `unmanaged-clusters. Closing this issue.

[2022-03-05 20:29] #1452 closed

[2022-03-05 20:44] joshrosso commented on #3230
@MasterWayZ, unfortunately, there is not at this time.

The only way upgrade an existing cluster would be to delete it and create a new one using the newest Tanzu Kubernetes Release (TKr).

The identified issue is tracked here:

* https://github.com/vmware-tanzu/community-edition/issues/3277

If all goes well, we'll have this path in our next release, which is targeting a few week from now (late m

[2022-03-06 03:26] joshrosso commented on #3350
@seemiller, this Monday, can we get a `v0.11.0-alpha1` repo pushed?

I'd like it to contain any new packages like cert-injection-webhook and cartographer.

Thank you!

[2022-03-06 05:04] joshrosso opened #3367 "Reintroduce cartographer to the `main.yaml`"
Main should be tracking v0.11.0, so cartographer should be present there.

If we need to push a patch release. for say `v0.10`, of our package repo, we should backport the change off a `v0.10.X` tag, cherry-pick relevant commits, and create a `v0.10.Y` tag, where `Y` = `X + 1`.

So largely, let's plan to revert:

* https://github.com/vmware-tanzu/community-edition/pull/3336

If there's questions o

[2022-03-06 05:07] joshrosso commented on #3308
Changed title. Let's try to make these more descriptive going forward so it's clear what changes occurred. Thanks!

[2022-03-06 15:44] thefluffysysop commented on #3235
As mentioned here: https://kubernetes.slack.com/archives/C02GY94A8KT/p1646566051368379
I think its important to remember who the target audience is. In the case of deploying on vSphere, it might be a 'VIAdmin' where this is their first ever experience of installing Kubernetes.

In the thread referenced above, I mention the example of the section called 'Kubernetes service network.'. While this sec

[2022-03-06 18:09] joshrosso commented on #3235
Fully agree with this sentiment @thefluffysysop. We'll be dropping a large update to this proposal, where we talk about what will qualify as "defaulted" vs "user selectable", for each provider. We will ping you here to take a look at that when we have it.

@miclettej FYI on the section we've been drafting titled `### Introduce sensible defaults`.

Thanks!

[2022-03-06 23:27] joshrosso commented on #2701
The repo has now been archived.

![image](https://user-images.githubusercontent.com/6200057/156946903-8c10181c-2057-419d-819a-cee328c15344.png)

[2022-03-06 23:27] #2701 closed

[2022-03-07 02:26] lubronzhan opened #3372 "Dependabot pipeline is failing"
## Bug Report

Dependabot pipeline is failing
https://github.com/vmware-tanzu/community-edition/runs/5442359619

## Expected Behavior
Dependabot pipeline pass

## Steps to Reproduce the Bug
Create a PR that modify CPI package or other packages

## Screenshots or additional information and context

## Environment Details

* Build version (`tanzu version`):
* Deployment (Managed/Unmanaged cluster):

[2022-03-07 03:05] pkqsun commented on #3288
Hi @stmcginnis ,

After manually add file  /etc/systemd/system/containerd.service.d/http-proxy.conf and restart  containerd.service, now the image pull of :

[code]

works and the step are passed.

However, after node  tanzu01-md-0-76d788bfdc-r4kjv is created, the containerd service reports:

[code]

Tanzu cluster create logs:

[code]

# kubectl -n capi-system logs -f capi-controller-manager-778bd

[2022-03-07 09:59] cmoulliard commented on #3367
Without the cartographer, it is really hard to streamline the process from source to image to deploy except if you generate yourself the k8s manifest to deploy your application AND you build/push the container image too

[2022-03-07 15:38] stmcginnis opened #3376 "`unmanaged-cluster`: update kind library to `v0.12.0` release"
## Feature Request

A new release of `kind` came out. We should update and test with this library in the `unmanaged-cluster` command.

[2022-03-07 16:42] joshrosso commented on #3376
@stmcginnis assigning this to you. Thanks!

[2022-03-07 16:48] joshrosso commented on #3367
Hey @cmoulliard, just to make sure we're on the same page, we still have every intent to include cartographer in our next release. This issue is more about keeping our pre-release descriptors up to date. Hope this helps clarify!

[2022-03-07 16:56] seemiller commented on #3367
@cmoulliard See this [PR](https://github.com/vmware-tanzu/community-edition/pull/3373) for FluxCD

[2022-03-07 17:22] joshrosso commented on #3319
I am actively validating this against a new AWS cluster using:

* https://github.com/vmware-tanzu/community-edition/issues/3319

[2022-03-07 17:26] stmcginnis opened #3382 "`tanzu diagnostics` collection has issues with unmanaged clusters"
## Bug Report

First, noticed the README for the `diagnostics` plugin still refers to `standalone-clusters` and does not mention `unmanaged-clusters`.

Tried just running `diagnostics collect`, but it did not automatically pick up the unmanaged cluster present on my system.

Then tried to run against an `unmanaged-cluster` after getting the current flags from the help output. Created new unmanaged

[2022-03-07 17:41] joshrosso commented on #3265
@karuppiah7890 throwing this rel-eng's way.

Please let us know if there isn't bandwidth to knock this out in v0.11.0 -- core eng could also pick it up.

[2022-03-07 17:54] joshrosso commented on #3348
To validate once we do this:

* [ ] images pushed with no tag fail
* [ ] images pushed with existing tag fail
* [ ] images pushed with new tag succeed and we see latest move to that newest image

[2022-03-07 18:15] miclettej opened #3384 "UI Plugin: Boilerplate for React forms with validation"
Each step of a UI plugin wizard will consist of a form with several inputs. A reusable form class should exist that helps gather data from form inputs, validate this data, and manage overall form state (valid/invalid).

Test implementation using React hook form https://react-hook-form.com/

[2022-03-07 18:17] joshrosso commented on #3319
Edition detection is not working with the backported change.

[code]

I'm digging in now to see if this backported patch is making assumption about things that were perhaps only available in v0.17.0+.

cc @navidshaikh s as this could mean more backporting required.

[2022-03-07 19:11] butch7903 commented on #832
Looks like the `tanzu unmanaged-cluster create --cni=calico foo`  is the fix. My issue I am seeing now is that the kapp-controller is crashing every so often post reboot. Any ideas why that would be or how we could troubleshoot it further?

[2022-03-07 19:23] joshrosso commented on #3319
Yup, that was my fault.

Edition is now exposed:

[code]

[2022-03-07 19:39] stmcginnis commented on #832
@seemiller any tips on troubleshooting kapp-controller? Or someone we can pull in from the carvel project to take a look?

[2022-03-07 19:43] joshrosso opened #3385 "Framework `v0.11.2` has no proper means of setting the edition"
This issue tracks:

* https://github.com/vmware-tanzu/tanzu-framework/issues/1797

Some plugins work in a context-aware manner. For example, the management cluster provides a different UI when the edition is `tce` vs `tkg`.

Framework `v0.11.2` is caught between updates where edition detection is moved around. When build framework, the `BUILD_EDITION` `LD_FLAG` no longer exists. You can see here t

[2022-03-07 20:23] AndyTauber commented on #3254
Thanks @joshrosso for the clarification.  The issues I found are not critical as the e2e tests obviously work in the CI environment that is currently configured.  This is just something I found in my own study of TCE and using the available e2e scripting to run on mac.  The needed fixes are simple and I'll try to submit them in the next week when i get a chance to look at this again.

[2022-03-07 20:56] seemiller commented on #3348
@joshrosso the `and` of the third case fails. `latest` is treated like any other label, and once it is associated to an image, it's stuck there.

[2022-03-07 21:09] joshrosso commented on #3348
@seemiller: Sounds good. This is fine.

Even if latest worked, our CDN prevents it from being viable.

Can you put your testing steps here so we have them for reference? Then you can close this issue.

[2022-03-07 21:11] joshrosso commented on #3277
@stmcginnis you may now want to consider https://github.com/vmware-tanzu/tanzu-framework/pull/1800 when validating.

I'd recommend building directory off framework and doing the validation.

Off that PR's commit, you can run:

[code]

[2022-03-07 21:24] joshrosso commented on #832
@butch7903 when you say it's crashing, can you help us understand:

* what symptoms are you observing?
    * For example, are you seeing the pod go in `CrashLoopBackOff`?
    * Does this only occur shortly after the cluster reboots. or is it something that occurs hours after the cluster has been running healthily?
    * If you `kubectl describe ...` the `kapp-controller` pod, are any crash *events

[2022-03-07 21:33] #3376 closed

[2022-03-07 21:55] joshrosso commented on #3230
Validated this now works with framework v0.11.2 running in TCE mode:

[code]

[2022-03-07 21:59] seemiller commented on #3348
Test steps:

- Images pushed with no tag will only fail if the repository already exists and has the `latest` tag associated to it.
[code]

- Change the contents and re-push, it will fail as `latest` is already used
[code]

- Change the contents, push with a tag, then change the contents and push with the same tag
[code]

[2022-03-07 21:59] #3348 closed

[2022-03-07 22:01] joshrosso commented on #3277
Validated management-cluster success:

[code]

Testing working cluster between k8s versions next.

[2022-03-07 22:10] seemiller opened #3448 "Update tasks to support immutable tags"
## Feature Request

With the enabling of immutable tags (Issue #3348) in Harbor, we will need to update these make tasks to accept a tag when pushing bundles.
- push-package
- generate-package-repo

## Describe alternatives you've considered

## Additional context

[2022-03-07 22:41] joshrosso commented on #3277
Upgrades work for workload clusters now:

[code]

[2022-03-07 22:42] joshrosso commented on #3277
resolved by https://github.com/vmware-tanzu/community-edition/pull/3364

[2022-03-07 23:18] #3367 closed

[2022-03-07 23:28] berndtj commented on #2172
This issue is still present, and the docs do not match the current state of random clusterconfig file names.  To me this is a problem of cluster config discoverability and another, even better solution, would be to store the clusterconfig on the management cluster, so that it can be accessed by anyone that has a valid kubeconfig to the management cluster.

[2022-03-07 23:29] seemiller commented on #3350
Created tag `v0.11.0-alpha.1`,
Digest: `sha256:2f3ebd8e8249b207ea0cb958d5100386740cc40525a91442321b1c5143ff715c`

[code]

Leaving PR in draft for other potential package updates for this release.

[2022-03-07 23:31] berndtj opened #3454 "Docs refer to config file named after the cluster but they have a random name"
## Description

In describing how to get the clusterconfig the documents suggest that the files should be named according to the management cluster name.

[code]

However this is not the case (see https://github.com/vmware-tanzu/community-edition/issues/2172).

## Location

[](https://tanzucommunityedition.io/docs/latest/workload-clusters/)

## Additional Context

This can be fixed by addressing t

[2022-03-07 23:33] joshrosso commented on #2696
@heyjcollins and @atmandhol, we went ahead and pushed this pre-release repo.

Details: https://github.com/vmware-tanzu/community-edition/issues/3350#issuecomment-1061247728

[2022-03-08 00:29] jpmcb commented on #2395
Built off of `main` and I see the skip verify option:

<img width="1060" alt="Screen Shot 2022-03-07 at 5 27 00 PM" src="https://user-images.githubusercontent.com/23109390/157141369-f506ef99-9aa1-4948-9e0b-0ea203e3d310.png">

[code]

[2022-03-08 00:29] #2395 closed

[2022-03-08 02:47] MinerYang commented on #3076
Hi @aman556 ,

Sorry for the late, and  I can't reproduce the same issue that you mentioned in the PR by running `cd test/e2e && ginkgo -v -- --packages=harbor --version=2.2.3 --guest-cluster-name="tce"`, and using the same test enviroment. All the test passed successfully.
[code]

By the way, I am using k8s v1.21

[2022-03-08 02:50] MinerYang commented on #3076
I am wondering does this issue occurred all the time or just once ? And if one test is failed, is there any chance to `retry` ?

[2022-03-08 03:27] joshrosso opened #3456 "Verify with TMC team that the `TKGVERSION` annotation exposed by TCE is ok"
In the `v0.11.0`, TCE clusters will expose a `TKGVERSION` annotation on the cluster object that will contain the TKG BOM version **and build metadata that references the framework release**.

Any example of the potential `TKGVERSION` is:

[code]

We need to verify this is OK with the TMC team.

Please note that `edition` will also still be exposed as an annotation, stating `tce`.

[2022-03-08 06:10] steven-zou commented on #3456
@joshrosso

[2022-03-08 06:17] joshrosso commented on #3456
Thanks for verifying @steven-zou.

The new plan of record is:

`TKGVERSION`: `v1.5.1-tf-v0.11.2`
`edition`: `tce`

I'll let you know if anything changes.

[2022-03-08 06:17] #3456 closed

[2022-03-08 07:18] #3230 closed

[2022-03-08 07:18] #3277 closed

[2022-03-08 07:18] #3319 closed

[2022-03-08 07:18] #3363 closed

[2022-03-08 07:19] #3385 closed

[2022-03-08 08:03] #3317 closed

[2022-03-08 13:42] kartiklunkad26 commented on #2696
@heyjcollins Cartographer is already merged in, and will be available by the time Tanzu Apps CLI Plugin is there in TCE too.

[2022-03-08 14:15] butch7903 commented on #832
Yes, having CrashLoopBackOff. The crashes begin right after reboot and continue infinitely. So far at 210 restarts.
![image](https://user-images.githubusercontent.com/31591018/157254875-436926f3-01c8-4bf5-933c-dbae38cc2a1c.png)

[2022-03-08 14:35] cmoulliard opened #3458 "unmanaged-clusters: Support custom user-managed package repositories during bootstrap"
## Feature Request

That should be great when we create a new tanzu kind cluster using the command "tanzu uc create xxx" that we could pass as parameter the repository and/or version to be used

[2022-03-08 14:38] joshrosso commented on #832
Looks like the events are cut off, as I don't see the Error in here.

![image](https://user-images.githubusercontent.com/6200057/157259498-4312da6f-0710-4b8d-b894-b83215d19391.png)

* Can you copy and paste the output of the `describe` command?
* Can you copy and paste the output of `kubectl logs -n tkg-system $KAPP_CONTROLLER_POD_NAME -p`

Also, if you want to join us in Slack, we can probably he

[2022-03-08 14:40] stmcginnis commented on #3458
Hey @cmoulliard - I believe [`--tkr`](https://github.com/vmware-tanzu/community-edition/blob/main/cli/cmd/plugin/unmanaged-cluster/cmd/create.go#L62) is what you're looking for. This defines the packages to be included as part of the "release" that gets deployed.

Further work does need to be done to make the creation of that `TKR` easier and to fully document its usage.

[2022-03-08 14:48] joshrosso commented on #3458
@stmcginnis, you **should** be correct. However, today the TKR does **not** specify the user-managed package repos.

Today, we load our user-managed repo from a `const`, which points to the most recent TCE `main` repo.

The code is already setup to expect loading multiple additional package repos:

https://github.com/vmware-tanzu/community-edition/blob/a8b8963c15303d4560e75cbbe268bf3693320a5d/cli/

[2022-03-08 14:57] cmoulliard commented on #3458
That looks great. What should be then the parameter to be used to pass such `packages repositories` --> `-p, --pkgr string the list of the packages repositories separated by a comma`

[2022-03-08 15:28] alexandreroman commented on #3087
Quick question regarding the package name: are there any rules / conventions around package naming?
I was expecting to see something like `fluxcd-source-controller.community.tanzu.vmware.com` or `source-controller.fluxcd.community.tanzu.vmware.com`.

I find it odd to see `fluxcd` as the primary element of the package name. I think package naming should be inspired by standard FQDN conventions.
Hop

[2022-03-08 16:16] seemiller commented on #3087
Generally we've been using the short name of the package with `.community.tanzu.vmware.com`. So If a package was called `foobar` the long name of the package would be `foobar.community.tanzu.vmware.com`. I did just notice the name of the package here being `fluxcd.source.controller.community.tanzu.vmware.com`, which is a bit non-standard with the `fluxcd.source.controller` part. I've commented in

[2022-03-08 16:37] jpmcb commented on #3382
This is because kind names clusters and their context with a `kind-` prefix.

If I create an `unmanaged-cluster`:
[code]

The cluster name and context appear as:
[code]

Is this something that `diagnostics` should attempt to introspect?

It's too heavy handed to assume that all unmanaged-clusters have a `kind-` prefix and I don't think a pre-flight check to see if a cluster is a `kind` cluster mak

[2022-03-08 17:47] jpmcb commented on #3372
Looks like #3371 fixed this. Thanks for your contribution!!! 👏🏼

[2022-03-08 17:47] #3372 closed

[2022-03-08 18:17] cmoulliard commented on #2696
To support fully the Workload CRD (= using Tanzu apps), it will also be needed to package part of TCE the Service Binding Operator, Service Toolkit in order to allow to set up a Service claim - see [here](https://github.com/vmware-tanzu/cartographer/blob/main/pkg/apis/v1alpha1/workload.go#L143-L145)

[2022-03-08 19:49] kartiklunkad26 commented on #2696
Some of those capabilities will not be supported in the initial release of Tanzu Apps CLI Plugin.

[2022-03-08 23:01] kartiklunkad26 opened #3463 "Use vendir sync to keep FluxCD Source Controller Package in sync with TCE Source"
## Issue
FluxCD Source Controller is not using vendir to sync the contents of the directories. If we use vendir, then these changes only need to be made in 1 place, the package source repository.

## Potential Approach

For example, if we make the these changes in the package-for-source-controller repo, we can then create a tag and a release. Then in the TCE addons/packages/fluxcd-source-controlle

[2022-03-08 23:14] seemiller commented on #3350
Added fluxcd-source-controller 0.21.2

Created tag `v0.11.0-alpha.2`,
Digest: `sha256:aefc7b89ac00daac33cd21f927e5fbfc7ac7181252300bc4c2f84cdfed36d24e`

[code]

Leaving PR in draft for other potential package updates for this release.

[2022-03-09 02:57] #3448 closed

[2022-03-09 10:04] karuppiah7890 commented on #2586
There were more E2E test failures due to this automation not being present

https://github.com/vmware-tanzu/community-edition/actions/workflows/e2e-azure-management-and-workload-cluster.yaml

https://github.com/vmware-tanzu/community-edition/runs/5461184983?check_suite_focus=true#step:5:2821

[code]

https://github.com/vmware-tanzu/community-edition/runs/5462422147?check_suite_focus=true#step:5:28

[2022-03-09 10:54] alexandreroman commented on #3458
What about installing packages from these additional repositories?
It would be great to bootstrap a cluster with all required dependencies: custom repo + packages.

[2022-03-09 11:33] kcoriordan commented on #3002
@thesteve0 - when you tested this: https://docs.vmware.com/en/VMware-vSphere/7.0/vmware-vsphere-with-tanzu/GUID-5DFC347C-694B-4288-96DA-EAEB5818D951.html

Did you test on vSphere? the prerequisite section links to vsphere doc which references the supervisor cluster. Is this prereq required, or can this example work on the other cloud providers?

[2022-03-09 13:46] cmoulliard commented on #1139
Is it done (= documented) ?

[2022-03-09 14:17] aman556 commented on #3076
Hey @MinerYang thanks for following up and the details. from now-onwards I will test on linux.
Thanks

[2022-03-09 14:18] #3076 closed

[2022-03-09 14:36] kartiklunkad26 commented on #3213
@kcoriordan

[2022-03-09 15:31] jpmcb commented on #3458
Currently, `unmanaged-cluster` _does not_ have an opinion on what packages it will install beyond what is need to have a viable cluster (aka, the CNI).

Once a package repository is available, it would be simple enough to
[code]

If you're looking for a quick one line install of a bunch of packages, [we already support "meta-packages"](https://github.com/vmware-tanzu/community-edition/blob/main/do

[2022-03-09 17:30] joshrosso commented on #3458
This would be a great feature, **we should consider in a new issue** (if one doesn't exist).

I think a solid UX for `unmanaged-cluster`, and then IMO, managed clusters, would be to offer a specification of a profile.

[code]

under the hood, a profile could map to a metapackage, which satisfies this need.

[2022-03-09 17:48] jpmcb opened #3470 "`unmanaged-cluster` kind provider should consider not using `kind-` prefix for name and context"
## Feature Request

As a followup to https://github.com/vmware-tanzu/community-edition/issues/3382, we should _consider_ renaming clusters created via the `kind` provider to _not_ have the `kind-` prefix.

For example, currently, when creating a `unmanaged-cluster`:
[code]
the name and context are named as `kind-my-cluster` and `kind-my-cluster`:
[code]

In order to change this behavior, it would

[2022-03-09 17:54] jpmcb commented on #3232
This was fixed in: https://github.com/vmware-tanzu/community-edition/pull/3371

[2022-03-09 17:54] #3232 closed

[2022-03-09 17:55] jpmcb commented on #3222
Hi @adriens - checking in again! 👀

Any more luck getting an unmanaged-cluster up and running?

[2022-03-09 17:56] jpmcb commented on #3197
Hi @TONY-All - checking in on this again! 👀

Anything else we can help with here? Any luck getting an unmanaged-cluster up?

[2022-03-09 18:53] joshrosso opened #3472 "unmanged-cluster: Add details about using provider configuration"
Let's add details on provider configuration to the unmanaged-cluster reference docs:

https://tanzucommunityedition.io/docs/latest/ref-unmanaged-cluster/

Let's use the `kind` provider as an example

[2022-03-09 18:53] joshrosso commented on #3472
@jpmcb assigned this to you for sometime before the v0.11.0 release.

lmk if you have any questions or concerns!

[2022-03-09 18:56] #3061 closed

[2022-03-09 19:43] stmcginnis commented on #3271
Please update description with a link to a publicly accessible design doc. Thanks!

[2022-03-09 19:44] stmcginnis commented on #3294
Please update the description with a link to a publicly accessible design doc. Thanks!

[2022-03-09 19:52] stmcginnis commented on #3454
Thanks for raising the awareness on this. Let's continue on with https://github.com/vmware-tanzu/community-edition/issues/2172

[2022-03-09 19:52] #3454 closed

[2022-03-09 19:58] dvonthenen commented on #3085
This has been verified working (with a small caveat) using a test build using branch `release-0.10`.

There is an issue where the `release-0.10` packaging structure doesn't match what is currently in `main` branch and the signing verification fails. A current workaround until this is fixed is to run the signing verification by hand off that same branch.

[2022-03-09 19:58] #3085 closed

[2022-03-09 19:59] stmcginnis commented on #3333
Hi @NeckBeardPrince. I've asked a few folks, but we haven't seen this before. Just curious - did you have the commercial TKG version of things installed on this system prior to this, or maybe one of the TCE release candidates?

One other thing we can try here. If you can run the `uninstall.sh` script, that will clean things up again. The key thing I'm thinking of is getting rid of the files under

[2022-03-09 20:22] thesteve0 commented on #3470
Adding things to a user specified name without telling them is a bad user experience. If I supply a name then I expect that name - not some derivative name. While documentation would be an improvement to the current situation, this feels more like a bug to me.

[2022-03-09 20:24] thesteve0 commented on #2329
Was this fixed?

[2022-03-09 20:25] adriens commented on #3222
Hi @jpmcb , sorry for lack of feedback form my part as I could not dedicate the time I would have liked to to this task.

I'm working on it this morning ❣️ 🙌  and will let you know 🤞

[2022-03-09 20:26] thesteve0 commented on #832
Since this is referring to standalone rather than unmanaged perhaps we should close this one.

[2022-03-09 20:45] adriens commented on #3222
Now, things are going pretty well... I could go trough Katacoda CPU limitations... but now facin memmory limitations 😢
![image](https://user-images.githubusercontent.com/5235127/157532547-33785d97-abc2-45f7-896b-c5e01fb229ca.png)

Note sure we'll can go over this one 🥲

[2022-03-09 20:54] stmcginnis commented on #3222
Yeah, looks like those instances actually have a little less than 2 GiB of memory.

It doesn't sound like you'll be running very resource hungry things with this. You could try updating your `tanzu unmanaged-cluster create` command to include the `--skip-preflight` argument. That will disable ALL preflight checks, but if you are deploying this into a known environment, and are able to do what you

[2022-03-09 20:59] adriens commented on #3222
Absolutely. I just want to show how to get a minimalist TCE instance up and running.

👉 Yes, I'm giving it a try right now 🚀

[2022-03-09 21:03] adriens commented on #3222
⏳ 🤞
![image](https://user-images.githubusercontent.com/5235127/157535685-3d27da0c-146b-4c19-9fa9-9106ae211296.png)

[2022-03-09 21:04] adriens commented on #3222
![image](https://user-images.githubusercontent.com/5235127/157535766-2f516211-773e-4a83-b028-5ab1c949dadf.png)

[2022-03-09 21:06] adriens commented on #3222
![image](https://user-images.githubusercontent.com/5235127/157536150-90d8f77d-428f-48bf-8a2c-2b534787ceb5.png)

[2022-03-09 21:07] adriens commented on #3222
Looks good ❣️

[2022-03-09 21:09] adriens commented on #3222
![image](https://user-images.githubusercontent.com/5235127/157536482-eb4a89b7-338a-499a-8c56-a90e29d725ba.png)

[2022-03-09 21:09] thesteve0 opened #3475 "Document Tanzu cli install without the shell script"
## Description
Can we please document the manual steps to install the Tanzu CLI. While the shell scripts are nice sometimes they do things a user might not want (for example putting the tanzu binary in /usr/local/bin). It would be good if we could document
1) Download the binary
2) Run the initialization scripts
3) Any other tasks that should follow

[2022-03-09 21:13] adriens commented on #3222
And finally
![image](https://user-images.githubusercontent.com/5235127/157536979-c253d1a7-2e06-4820-b38f-169435ada134.png)

[2022-03-09 21:14] adriens commented on #3222
`K9S` user experience :

![image](https://user-images.githubusercontent.com/5235127/157537072-2c342200-7b31-4496-9f9d-dd3fba3c534d.png)

[2022-03-09 21:15] adriens commented on #3222
@jpmcb , according to your knwoledge, what kind of dummy like deloyment could I run to finalize this short intro ? Any TCE content you could point so I can add it at the end of this "TCE install for dummies" ❔

[2022-03-10 00:38] joshrosso opened #3478 "Promote v0.11.0 BOM to production harbor."
This issue tracks the validation of the `projects-stg.registry.vmware.com/tkg/tkg-bom:v1.5.1-tf-v0.11.2` BoM.

Once it is validated, we must promote all BOM-related assets to `projects.registry.vmware.com`

[2022-03-10 00:57] joshrosso commented on #2785
Validated using:
[code]

cgroups are v2:

[code]

BoM is:
[code]

Cluster validated against:

[code]

kapp-controller version validated with:

[code]

Summary:

TCE v0.11.0 will feature kapp-controller `v0.30.0`.

[2022-03-10 00:57] joshrosso commented on #2298
Validated using:
[code]

cgroups are v2:

[code]

BoM is:
[code]

Cluster bootstrapping succeeded:

[code]

Validated v1beta1 using:

[code]

Summary:

v1beta1 will be in place for TCE `v0.11.0`.

[2022-03-10 00:57] joshrosso commented on #2798
Validated using:
[code]

cgroups are v2:

[code]

BoM is:
[code]

Cluster bootstrapping succeeded:

[code]

Summary:

cgroupsv2-based hosts will work in TCE v0.11.0

[2022-03-10 00:57] joshrosso commented on #3094
This will be closed via https://github.com/vmware-tanzu/community-edition/issues/2798

[2022-03-10 01:01] #2785 closed

[2022-03-10 01:02] #2298 closed

[2022-03-10 01:02] #3094 closed

[2022-03-10 01:46] joshrosso opened #3479 "Validate vSphere install for v0.11.0"
This is a tracking issue with notes on validating v0.11.0 against vsphere

this validation occurred from

fce1955a52c47c689f3220dfca29035dba5cc279

[2022-03-10 01:49] joshrosso commented on #3479
OVAs used:

[code]

[2022-03-10 02:11] joshrosso commented on #3479
Cluster bootstrapped successfully:

[code]

[2022-03-10 02:13] joshrosso commented on #3479
Validated that annotations are present

[code]

[2022-03-10 02:23] joshrosso commented on #3479
cluster creation succeeded:

[code]

[2022-03-10 02:36] joshrosso opened #3480 "Validate Azure install"
We should validate azure using a build off main:

Here's how we did it for vsphere: https://github.com/vmware-tanzu/community-edition/issues/3479#issue-1164642350

[2022-03-10 02:36] joshrosso commented on #3480
@seemiller and @stmcginnis could you 2 rock-paper-scissors on this ticket and assign the winner (or loser)

ty!

[2022-03-10 02:39] joshrosso opened #3481 "Validate AWS install"
We should do a quick sanity check of an AWS install.

Here's what we did for vSphere:

https://github.com/vmware-tanzu/community-edition/issues/3479

[2022-03-10 02:39] joshrosso commented on #3481
Giving this one to you @jpmcb

[2022-03-10 02:45] joshrosso commented on #3354
@jpmcb, your now unblocked to start this process.

You can access the BOM at `projects-stg.registry.vmware.com/tkg/tkr-bom:v1.22.5_vmware.1-tkg.3-tf-v0.11.2`.

[2022-03-10 07:04] adriens commented on #3222
@jpmcb : here we go on [Katacoda](https://katacoda.com/opt-labs/courses/tanzu-community) :gift:

[2022-03-10 07:05] adriens commented on #3222
I thnonk we can close the issue now :rocket:

[2022-03-10 08:59] cmoulliard commented on #1398
FYI: When we try to create a pod using harbor registry installed on TCE and even if the certificate is well present here `/etc/docker/certs.d/harbor.<IP>.nip.io/ca.crt`, then we got such an error during pod creation. Do we have to pass the `ca.crt` to TCE or t use the trick discussed within this issue ?
[code]

[2022-03-10 09:06] karuppiah7890 opened #3485 "Run AWS and Azure E2E tests for daily official builds"
This will help us run multiple tests against daily official builds

[2022-03-10 11:28] kcoriordan commented on #3475
@thesteve0
are you referring to the method shown here in the contributing guide?
https://tanzucommunityedition.io/docs/latest/contribute/contributing/#fetch-the-source

[2022-03-10 13:47] kartiklunkad26 commented on #3463
PR -> https://github.com/vmware-tanzu/community-edition/pull/3484 cc: @EstebanFS

[2022-03-10 13:57] cmoulliard commented on #2986
A solution is to mount the CA certificate like this part of the TCE Kind config https://kind.sigs.k8s.io/docs/user/private-registries/#use-a-certificate. Example:  https://github.com/snowdrop/k8s-infra/blob/main/kind/kind-tls-secured-reg.sh#L116-L148

[2022-03-10 15:05] stmcginnis commented on #3475
FWIW, I don't think it's a good idea to give users instructions on how to do their own custom install. We have a recommended location for the binary, and need other files in the correct place, so adding instructions and giving the impression that it's OK to move things wherever you like isn't a safe thing to do.

For those technically savvy enough, they can just take a look at the `install.sh` fil

[2022-03-10 15:41] seemiller opened #3487 "Remove packages from main repo"
## Bug Report

New packages, FluxCD and Cartographer, for release v0.11.0 are not in the current, published main package repo. However, since they were included in main.yaml for the next release, their documentation has been published to the docs site. The docs should not be published until the main package repo is updated for the release.

## Expected Behavior

The docs for un-published packages

[2022-03-10 16:57] cmoulliard opened #3491 "Explain how to pass the tls.key|tls.crt or ca.crt"
## Harbor

Harbor supports to generate a K8S secret if we pass as keys the tls files as proposed using the following values: https://github.com/vmware-tanzu/community-edition/blob/main/addons/packages/harbor/2.3.3/bundle/config/values.yaml#L21-L26

Unfortunately, it is not explained if we must:
- Pass the path fo the file
- Pass the content of the file as a string
- Pass the content of the file as

[2022-03-10 17:00] jorgemoralespou commented on #3159
There's also 2 issues that need fix when this guide is updated:
- In the ClusterIssuer, the name of the `privateKeySecretRef` needs to be changed, since this secret is generated by cert-manager to hold Let's Encrypt private key for internal communication
- Missing `EOF` at the end of creating the TLSCertificateDelegation sample

[2022-03-10 17:02] stmcginnis commented on #3491
@heww is this something you can help with? Or anyone in @vmware-tanzu/pkg-harbor-owners ?

[2022-03-10 17:32] joshrosso commented on #3478
@karuppiah7890 @navidshaikh, current plan:

1. We get initial RC out.
2. TCE core engineering validates it.
3. We run e2e tests against the RC, which will point to `proejct-stg`.
4. Based on that result, we'll request promotion.

@navidshaikh can you (or working with @ZihanJiang96), give us your best quote on how long promotion to production Harbor would take?

[2022-03-10 18:15] jpmcb commented on #3354
Made new image and pushed with
[code]

Verified with
[code]

Pushed a new TKR:
[code]

Verified contents:
[code]

[2022-03-10 19:10] stmcginnis commented on #3479
Built off of HEAD today:

[code]

Created management cluster on my vSphere 7 environment. Deployment successful:

[code]

Checked annotations:

[code]

Configured cluster settings:

[code]

Deployed successfully with known garbage output:

[code]

Cluster working:

[code]

[2022-03-10 19:26] #3354 closed

[2022-03-10 19:42] cmoulliard commented on #3491
FYI: I created a script to install TCE + harbor. I can access the console using the HTTPS endpoint when the tls.crt, tls.key ca.crt files are loaded within a kubernetes [Secret](https://github.com/halkyonio/tap/blob/4386689098f16801cbf729589400a466453431a2/scripts/install_tce.sh#L254-L253)

Something else. When I deploy a pod using an image pushed within the harbor registry, that fails `X509 signe

[2022-03-10 20:19] kartiklunkad26 opened #3495 "Retrieve the list of Packages within a Meta-Package"
## Feature Request

Currently, Meta-Packages are treated as just another Package when you run `tanzu package` commands.

This issue is to request for treating meta-packages as a first class API as part of tanzu CLI plugin (and perhaps within Carvel) so that as a user I can see the list of packages within a Meta-package/
## Describe alternatives you've considered
The alternative I believe is to loo

[2022-03-10 20:25] stmcginnis commented on #3495
Moving over to `tanzu-framework` as the `tanzu package` command comes from there.

[2022-03-10 21:02] joshrosso commented on #2721
This was never followed-up on.

[2022-03-10 21:02] #2721 closed

[2022-03-10 21:06] joshrosso commented on #2418
@clintkitson any idea who should own this proposal and process?

[2022-03-10 21:16] joshrosso commented on #3491
@heww we're throwing this your way, could you or someone from your team help out here?

[2022-03-10 21:18] joshrosso commented on #2418
Just checked and there's been internal communication around a *new* proposal to be opened around kubeapps inclusion.

[2022-03-10 21:18] #2418 closed

[2022-03-10 22:10] #2798 closed

[2022-03-10 22:24] #3292 closed

[2022-03-10 22:25] joshrosso opened #3498 "TMC LCM needs updates in order to resolve TCE-based clusters"
This is issue tracks an issue regarding LCM of workload clusters from a registered management cluster.

Using TCE [rc1 of v0.11.0](https://github.com/vmware-tanzu/community-edition/releases/tag/v0.11.0-rc.1), you can create a management cluster and register it.

![image](https://user-images.githubusercontent.com/6200057/157764262-bed447d6-3e8a-4dd3-a2fc-f0705a937d94.png)

However, when you go to c

[2022-03-10 22:36] joshrosso commented on #3498
The proper compatibility file can be observed by looking at the `tkg-bom` (namespace: tkg-system-public)  configmap in the management cluster.

[code]

[code]

[2022-03-10 22:50] thesteve0 opened #3499 "Please add External-DNS to the Application Toolkit package for managed clusters"
@kartiklunkad26

Application developers are going to be able to want to route requests using DNS to any workload cluster they deploy. External DNS makes this experience much nicer

This does not apply to unmanaged clusters since they are only on a developers local machine UNLESS we ship with some good nip.io configuration they can use.

[2022-03-10 23:26] #3382 closed

[2022-03-11 02:18] joshrosso commented on #3286
So far, things are looking quite good. But we're still validating off the staging harbor. Once we finish validation and promote:

* https://github.com/vmware-tanzu/community-edition/issues/3478

This issue can be closed.

[2022-03-11 02:53] jpmcb commented on #3481
Validated against fce1955a52c47c689f3220dfca29035dba5cc279

---

Build binaries with

[code]

Used UI to create a bootstrapping file:
[code]

Validated annotations:
[code]

Validated cluster creation success:
[code]

Validate worker cluster

[code]

[2022-03-11 02:53] #3481 closed

[2022-03-11 02:55] joshrosso commented on #3498
@steven-zou just got it working via an update the the extension LCM.

This is a good sign that things are working as expected.

![image](https://user-images.githubusercontent.com/6200057/157793295-4cb336ff-ebf5-420c-8044-84b2e7d9b757.png)

[2022-03-11 02:59] #3479 closed

[2022-03-11 02:59] joshrosso commented on #3481
thanks @jpmcb !

[2022-03-11 03:41] jpmcb commented on #3222
There are a few solution guides that might be interesting on our docs site. Maybe having a user install the prometheus, grafana stack would be cool? https://tanzucommunityedition.io/docs/latest/docker-monitoring-stack/

Will close this out! Thanks for the great feedback! I'll open a new issue to add a `skip-preflight` flag like Sean suggested

[2022-03-11 03:41] #3222 closed

[2022-03-11 03:45] jpmcb opened #3503 "`unmanaged-cluster` should allow for a `skip-preflight` flag"
## Feature Request

Some users might be _just_ outside the CPU and memory limit for their environment when deploying `unmanaged-cluster`. Or, they might not be deploying very resource hungry apps to their cluster.

In those cases, we should allow the user to still deploy with a `--skip-preflight` flag

cc @stmcginnis for the suggestion in #3222

## Describe alternatives you've considered

We shoul

[2022-03-11 04:06] #3293 closed

[2022-03-11 04:11] joshrosso commented on #3503
I believe we have this at

https://github.com/vmware-tanzu/community-edition/blob/fce1955a52c47c689f3220dfca29035dba5cc279/cli/cmd/plugin/unmanaged-cluster/cmd/create.go#L68

_philosophically, we should always allow users to skip preflight as we can never predict corner cases._

@stmcginnis can you advise whether this satisfies the issue? If so, close it?

[2022-03-11 04:45] navidshaikh commented on #3478
Zihan suggested count 1 day for it.

[2022-03-11 04:57] adriens commented on #3222
@jpmcb :

Putting 💯 💵  on that ⚡

[2022-03-11 08:33] #3037 closed

[2022-03-11 10:32] aman556 opened #3510 "Grafana and Prometheus installation failure"
## Bug Report

- While installing Prometheus and Grafana by following [documentation](https://tanzucommunityedition.io/docs/latest/docker-monitoring-stack/#deploy-grafana) failing with the error.
[code]
- Noticed that the PR [#3496](https://github.com/vmware-tanzu/community-edition/pull/3496) has updated the config files but still it is failing.
- Local repo is rebased with upstream.
## Expected B

[2022-03-11 11:48] stmcginnis commented on #3510
I believe this is a know issue that @seemiller was working on.

Also related? https://github.com/vmware-tanzu/community-edition/issues/3036

[2022-03-11 11:52] stmcginnis commented on #3503
Yes, I believe that meets the need, and worked for the referenced issue. Was there something else you were getting at here @jpmcb ?

I'm going to close this since I don't think there is anything else to do, but please reopen if we're missing something yet.

[2022-03-11 11:52] #3503 closed

[2022-03-11 11:58] aman556 commented on #3510
Hello @stmcginnis don't know that the reason is same for failure both the time so just raised this one too.

[2022-03-11 12:57] stmcginnis opened #3513 "Building `make release` on Darwin fails with missing `build/` path"
## Bug Report

Running `make release` errors when the plugin publish script tries to copy files from the `build/` output path to the `release` path.

Running `make build-cli-plugins`, I noticed that the compile works the same on Linux or Darwin, but then the Linux output would show additional steps being taken to move the compiled plugins to `build/`. Nothing after the compile would be shown when

[2022-03-11 14:36] jpmcb commented on #3503
Whoops! Spoke too soon, assumed we didn't have it.

Sorry for the noise! 🙊

[2022-03-11 18:05] joshrosso commented on #3513
@stmcginnis moving to `kind/test-release` since this relates to build automation.

thanks for filing this and creating a fix.

[2022-03-11 18:27] joshrosso opened #3516 "Remove mentions of cgroups/docker desktop versions for TCE `v0.11.0`"
`v0.11.0` fixes the cgroups (#2798) issue.

In our install and getting started guides, we can remove the requirements mentioning:

* using cgroupsv1
* used versions of docker <= 4.2.0

[2022-03-11 18:30] joshrosso opened #3517 "Update manual install instructions that mention a TCE version"
In docs mentioning a manual CLI install, update any version mention for v0.11.0

![image](https://user-images.githubusercontent.com/6200057/157929974-639d4822-08f5-45de-9643-caf4188dffc4.png)

[2022-03-11 18:33] joshrosso opened #3518 "Update OVA screenshots to reflect v0.11.0"
All docs on ova upload should be updated to reflect the version.

![image](https://user-images.githubusercontent.com/6200057/157930480-c9bf301f-a8e5-4d2d-ab47-f338bbd7f3b6.png)

[2022-03-11 20:09] #3326 closed

[2022-03-11 20:25] joshrosso commented on #3235
We are officially RFC'ing this proposal through March.

Mailing list notification: https://groups.google.com/g/tanzu-community-edition/c/6zZwbVv86-I

[2022-03-11 20:44] thesteve0 commented on #3235
What kind of feedback are you looking for on this? If it is "Is this a good idea" or "I support this" and then we will get into the details later then this seems fine.
If you want detailed feedback then is there a place this proposal is stored where it would be easier to give detailed feedback. For example it is hard to put comments right next to the line where the question arises or to put specif

[2022-03-11 20:53] joshrosso commented on #3235
Please give feedback as comment(s) in this issue.

This does not exist, we're sorry.

[2022-03-11 21:12] heyjcollins commented on #2696
@kartiklunkad26 @joshrosso -
It's very unlikely we're going to make the March 18th target for including the apps plugin in the next TCE release.
Delivering a signed `apps` Tanzu CLI binary for TCE distribution is a top priority for my team however we're currently blocked by the provision on a "caymonization" repo (the provisioning request ticket has been submitted and we're in a holding pattern 't

[2022-03-11 22:55] Alfaj0r commented on #1956
Ah, this is totally my issue!
I'm very much a beginner, and have been stuck at this problem for days.
Can you expand on "Right now I'm simply hard coding an extraPortMapping to the kind cluster" @stevesloka ? :)

Professional context: I need this MacOS + Docker deployment to be a proper demo, so that I can get buy-in to use up a couple of precious on-prem vSphere hosts to further evaluate TCE... a

[2022-03-12 08:07] minuq commented on #3200
I tried https://github.com/vmware-tanzu/community-edition/releases/tag/v0.11.0-rc.1 yesterday, which solved this issue (and uses `docker.io/kindest/kindnetd:v20210326-1e038dc5`, which might be the reason for it?)

[2022-03-12 15:48] joshrosso commented on #3200
The `kind` image, prior to `v0.11.*`, was built with an **extremely** old version of `kind`. If it works in `v0.11.0-rc.1`, likely worth closing this issue.

side-note: Unlike managed clusters, unmanaged clusters built their images with a modern version of `kind`, so that may explain why they were unimpacted.

@minuq let us know if there's any more follow-up needed or if you're ok with closing thi

[2022-03-13 21:47] vfarcic commented on #3333
I'm facing the same issue. In the past, I could not run Tanzu due to issue with Docker. Now I wanted to give it another try since "docker issue" is fixed and the result is the same errors @NeckBeardPrince reported. I did follow all the suggestions from the comment (uninstall the CLI, remove `~/.config/tanzu`, install the CLI again).

[2022-03-14 11:31] minuq commented on #3200
Sure thing, thanks for the quick solution.

[2022-03-14 11:31] #3200 closed

[2022-03-15 02:06] karuppiah7890 opened #3524 "`unmanaged-cluster` with existing cluster requires name"
## Description

For docs related to installing Tanzu components in existing cluster over [here](https://tanzucommunityedition.io/docs/latest/ref-unmanaged-cluster/#install-to-existing-cluster), following the commands leads to an error

[code]

The fix is to add a cluster name in the command. Actually any cluster name will do but in order to not change the kube config I have used the same cluster n

[2022-03-15 02:06] karuppiah7890 commented on #3524
cc @kcoriordan

[2022-03-15 02:20] karuppiah7890 opened #3525 "Use the latest stable release of TCE package repository in E2E tests"
We currently use a hard coded version of `v0.9.1` which has old versions of the packages

https://github.com/vmware-tanzu/community-edition/blob/31d4dd887a5fda946da77e983b49eef4017b2d8e/test/add-tce-package-repo.sh#L11

This was a miss in the testing. Due to this we have been using older packages of gatekeeper and fluent bit in our E2E tests and the older packages refer to older K8s yamls, like us

[2022-03-15 06:33] heww commented on #3525
Agree, the old package of the harbor also can't be deployed in k8s 1.22 due to the old version of the resource.

[2022-03-15 12:21] doggy8088 opened #3527 "Docker Desktop for Windows does not work with TCE"
## Bug Report

I can't make TCE work as expected on my Docker Desktop for Windows on Windows 10.

## Expected Behavior

I expected to install and run successfully.

## Steps to Reproduce the Bug

1. `choco install tanzu-community-edition -y`
2. `tanzu unmanaged-cluster create beepboop`
3. `kubectl config use-context kind-beepboop`
4. `kubectl get po -A`

[code]

## Screenshots or additional inform

[2022-03-15 12:28] stmcginnis commented on #3527
Hi @doggy8088 - this looks like a known issue with WSL2. Our next release coming in a few weeks addresses this, but in the meantime you will either need to downgrade Docker Desktop to version 4.2.0, or follow this recommendation to force it to use cgroupv1:

[2022-03-15 12:29] doggy8088 commented on #3527
@stmcginnis Thanks! 👍

[2022-03-15 13:13] stmcginnis commented on #3527
Ah, sorry, I think I looked too quickly. This looks more like a networking issue than the cgroups one. Can you try creating with `tanzu uc create test --cni=calico`? That will switch from the default CNI of Antrea to Calico.

[2022-03-15 13:51] joshrosso commented on #3478
@navidshaikh can we please promote the artifacts to prod?

[2022-03-15 13:54] kartiklunkad26 commented on #536
@seemiller have we checked with our user community if we have a large community of users of Grafana? Wondering if it's something we can fully remove in case it isn't heavily used?

[2022-03-15 13:56] stmcginnis commented on #3527
Awesome, thanks for letting us know! This is another improvement in the upcoming release - we will default the CNI to calico for `unmanaged` clusters. So hopefully this will be less of an issue soon.

I'll close this issue out since it sounds like things are working for you now, but if there are any problems still, please feel free to reopen or file a new issue. Thanks!

[2022-03-15 13:56] #3527 closed

[2022-03-15 14:38] joshrosso opened #3529 "Add initial arm64 support for `unmanaged-cluster`"
To support both arm64 Linux and Darwin (M1 Macs), we'll add **initial** ARM support for `unmanaged-cluster`. **Initial** is called out here because there are a few caveats. Namely:

1. Not all packages have arm64 container images.
2. We'll need to use a custom version of kapp-controller
    * https://github.com/vmware-tanzu/carvel-kapp-controller/pull/574

However, this is largely a net-gain as it

[2022-03-15 14:44] stmcginnis opened #3530 "UI: selecting to start fresh does not clear previous data"
## Bug Report

When launching the kickstart UI with `tanzu mc create --ui`, if you've previously started a deployment it will prompt if you want to resume with the previous data or start fresh. Even if you select to start fresh, the previous data is kept in many of the fields.

I have also seen this remove some of the defaults like subnet CIDRs that shouldn't be affected.

This was most recently s

[2022-03-15 16:10] seemiller commented on #3499
@kartiklunkad26 Here's a feature request for your team. Please consider it!

[2022-03-15 16:23] dvonthenen commented on #2696
Please ping me directly if you have any questions about the signing process.

[2022-03-15 16:56] swalner-vmware commented on #3530
This means that the UI _**always**_ re-uses the previous values (of non-sensitive fields)

[2022-03-15 17:29] stevesloka commented on #1956
Hey @Alfaj0r, I'm referencing this guide (https://projectcontour.io/guides/kind/) which maps a port from your local machine to a port in the cluster. Envoy then listens on a hostport and that gets mapped to your local machine via Kind.

Please let me know if you have any other questions!

[2022-03-15 17:35] joshrosso opened #3533 "`unmanaged-cluster` should shout out underlying provider that is used to create the cluster."
The `unmanaged-cluster` plugin leverages a provider, where we plan to support multiple providers in the near-term.

We should let providers bubble up details to callout which provider was used to create the cluster.

For example, with `kind` we should:

[code]

[2022-03-15 17:55] jorgemoralespou commented on #3524
@karuppiah7890 I'm not quite sure why a cluster name would be required in this case, since you're just `tanzufying` an existing cluster that is in any case, managed externally and not by the `tanzu unmanaged-cluster` management part.

[2022-03-15 18:02] jpmcb commented on #3524
Good point. Right now, `unmanaged-cluster` needs a name anytime `create` is called since it attempts to initilize a valid configuration regardless of if it's using an existing cluster or not.

This makes me think we should either

a) not require a name given an existing cluster
b) attempt to generate a dummy name (much like `kind` will) if none is provided, bypassing this case

Tagging @joshrosso

[2022-03-15 18:29] dvonthenen opened #3534 "Need to verify e2e tests will work on branches other than `main`"
## Feature Request

We need to verify that all e2e tests  online in this PR https://github.com/vmware-tanzu/community-edition/pull/3532 will work on branches other than `main`. This is needed in order to support e2es on release branches.

Assigning to @karuppiah7890 for initial triaging.

## Describe alternatives you've considered

## Additional context

[2022-03-15 19:11] thesteve0 commented on #3533
This will also be useful for people troubleshooting failed installations  (not that this would ever happen ;) )

[2022-03-15 20:30] jpmcb opened #3535 "Add additional `unmanaged-cluster` provider"
## Feature Request

Today, `unmanaged-cluster` by default deploys a cluster using the `kind` provider. We have all the code APIs in place to bring in a new provider. As a first pass experiment, we should try to add `minikube` as a provider.

[2022-03-15 20:33] jpmcb opened #3536 "Add `unmanaged-cluster` unit tests"
## Feature Request

Currently, we have limited unit tests for `unmanaged-cluster`. Most are focused on the `config` package. This was technical debt taken on by the team as we moved quickly on `unmanaged-cluster`. But now that it is becoming more feature rich, we should retroactively add additional unit tests for to ensure it's correctness and speed development work in the future.

[2022-03-15 20:37] jpmcb opened #3537 "Support `unmanaged-cluster` profiles"
## Feature Request

Users want the ability to specify a one line bootstrap command that will install a opinionated set of packages/configurations.

A solid UX for `unmanaged-cluster`, and then IMO, managed clusters, would be to offer a specification of a profile.

[code]

under the hood, a `profile` could simply map to a metapackage, which satisfies this need.

For further context, see: https://gi

[2022-03-15 20:40] jpmcb commented on #3537
Similar issue for management clusters:
- https://github.com/vmware-tanzu/tanzu-framework/issues/1660

and for workload clusters:
- https://github.com/vmware-tanzu/community-edition/issues/322

[2022-03-15 20:41] jpmcb commented on #3524
Let's pull the name of the cluster from the provided `kubeconfig`. The cluster already has a name, so if the user provides a kubeconfig, just introspect the kubeconfig and use that name

[2022-03-15 20:44] jpmcb opened #3538 "Add dynamic TKr resolution based on a compatibility file"
## Feature Request

Currently, when we ship `unmanaged-cluster`, we hardcode the `TKr` into the source code.

We should support inspecting a compatibility file to pull the correct `TKr`. This way, if we push a release with a broken `TKr`, we can update the `TKr` and compatibility file to then reference a working `TKr`. This would follow a similar model to how `management-cluster` works.

[2022-03-15 20:47] seemiller commented on #3480
Successful management cluster creation:

[code]

[2022-03-15 20:48] seemiller commented on #3480
Workload cluster however appears to be timing out. Waiting for Control Plane for 35 minutes...
[code]

[2022-03-15 21:32] stmcginnis commented on #3265
I was reminded of this issue today so took a quick look at the upstream issue status. There actually hasn't been any commits merged to this project since 2018, despite quite a few issues and PRs being filed since then. The project may be dead, so we may have to either find an alternative or fork the project if we want to continue using it.

[2022-03-15 23:11] jpmcb opened #3541 "`unmanaged-cluster` with an existing provider sets the provider as `kind` (should be `no-op`)"
## Bug Report

After creating a new minikube cluster and using the `existing-cluster` option in `unmanaged-cluster`:

[code]

and inspecting the "known" clusters with `ls`:
[code]

The provider is incorrectly set as `kind`

## Expected Behavior

The provider should be `no-op`

## Steps to Reproduce the Bug

1. deploy a minikube cluster
2. use the `-e` option with `unmanaged-cluster` and your minik

[2022-03-15 23:21] jpmcb opened #3542 "`unmanaged-cluster` bootstrapping always sets context with `kind-` prefix"
## Bug Report

We should address this chunk:

https://github.com/vmware-tanzu/community-edition/blob/7b36d7ca990e4ce11db63035405cf7085e81d4f9/cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go#L800-L803

This means is fine for the `kind` provider as default, but becomes a problem when using `-e` and an existing cluster. For example, after creating a minikube cluster:
[code]

and deploying using it wi

[2022-03-16 02:05] #2610 closed

[2022-03-16 10:40] chaudharyalka commented on #3294
@stmcginnis I have removed the reference of the internal service as we don't have anything publicly related to that service available now. I have updated the description accordingly.

[2022-03-16 14:50] #3533 closed

[2022-03-16 15:18] seemiller commented on #3480
Workload cluster was successfully deployed to Azure as well! (Sorry, I lost the log from the terminal window)

[2022-03-16 15:18] #3480 closed

[2022-03-16 15:29] stmcginnis opened #3552 "Upstream vendir sync'd files should not be checked for misspellings"
## Bug Report

These files are maintained upstream of TCE. TCE should not enforce spelling on them.

See https://github.com/vmware-tanzu/community-edition/pull/3476 for an example where this was a problem.

[2022-03-16 15:33] #3552 closed

[2022-03-16 15:36] #3286 closed

[2022-03-16 15:38] joshrosso commented on #3285
We've validated on our side that registration of management clusters works and LCM is possible.

See https://github.com/vmware-tanzu/community-edition/issues/3498 for details.

[2022-03-16 15:38] #3285 closed

[2022-03-16 16:43] #3478 closed

[2022-03-16 16:46] joshrosso opened #3555 "Support warnings for pre-flight checks in unmanaged-cluster"
pre-flight checks should be able to return warnings and errors.

* errors: what we have today; fails the creation unless the user does `--skip-preflight`
* warnings: bubbles up to the user but continues creations. Should print in yellow when `tty` is true

As a first example warning, let's bubble up a warning for users on arm64, stating:

[code]

[2022-03-16 17:49] kartiklunkad26 commented on #3499
@seemiller thanks will track it. @thesteve0 thanks for raising this! We will consider it in our planning for App Toolkit :)

[2022-03-16 19:01] #3555 closed

[2022-03-16 19:46] #3524 closed

[2022-03-16 20:02] hemakshis commented on #3271
Hi @stmcginnis I have removed the links to internal design docs as they cannot be accessed publicly. I have updated the description with links to open source documentations and why we need this package available as part of the community edition.

[2022-03-16 20:25] jpmcb opened #3564 "`unmanaged-cluster` should use `antrea` as default CNI"
## Feature Request

We should switch back to `antrea` as the default CNI for `unmanaged-cluster`. We had temporarily switched to `calico` as the default CNI in support of users needing a persistent cluster that could survive docker system restarts.

#### Requirements:
- `unmanaged-cluster` must be able to survive a docker restart

#### Upstream tracking issues:
- [x] https://github.com/antrea-io/a

[2022-03-16 20:46] #3458 closed

[2022-03-16 20:53] #3529 closed

[2022-03-16 20:56] #3290 closed

[2022-03-16 21:11] joshrosso commented on #3498
Moved this into v0.12.0, because it is up to the LCM team to make this update in TMC, it should not block the v0.11.0 release and can happen on their own schedule.

[2022-03-16 22:16] miclettej opened #3567 "UI Plugin: UI should be able to stream logs when creating a cluster"
## Feature Request

As found in the TCE Kickstart UI, the TCE on-ramp UI should have the ability to stream logs while cluster creation is in progress. Create a test implementation of this feature using the code mirror library or a solution that provides similar functionality.

A websocket with mock logs should be created for streaming information to the component.

## Describe alternatives you've

[2022-03-16 22:19] miclettej commented on #3251
Closing as won't implement. An alternative solution will be used when creating the TCE installer.

[2022-03-16 22:19] #3251 closed

[2022-03-16 22:51] thesteve0 commented on #3564
Woooohooo

[2022-03-17 12:17] jorgemoralespou commented on #3524
Does this use case, generate any tanzu specific file? Where is that name used?

[2022-03-17 12:29] stmcginnis commented on #3524
Information about the cluster will be populated under `~/.config/tanzu/tkg/unmanaged`. The name used will be the name of the cluster in the kubeconfig file.

[code]

[2022-03-17 13:23] jorgemoralespou commented on #3524
@stmcginnis
I see, we save bootstrap.log and config.yaml. Is this installation process `idempotent`? Meaning, when I delete my existing cluster, this files won't be deleted. If I create again a cluster with this same name, would the process succeed and update this files? For `named` unmanaged cluster there's a check for existing config files and if they exist, cluster creation fails.

[2022-03-17 14:56] stmcginnis commented on #3542
Probably better in the case of using an existing kubeconfig - we shouldn't touch the context.

[2022-03-17 15:03] stmcginnis commented on #3524
Can you clarify @jorgemoralespou ? Do you mean you have a cluster, you then use `tanzu uc create -e [kube_config_path]`, then you delete the cluster using minikube or kind? In that case, `tanzu uc create` would still know about the cluster and would fail to create it again. At least that is what should happen once https://github.com/vmware-tanzu/community-edition/issues/3542 is fixed.

If by idemp

[2022-03-17 15:32] jorgemoralespou commented on #3524
@stmcginnis yes, that's what I meant. And to me, that's a bad experience because now, deleting a cluster seems to be a 2 step process, delete the cluster in the real infrastructure/manager and then "delete/forget" in TCE uc list of clusters.

[2022-03-17 15:40] stmcginnis commented on #3524
Yeah, that's fair. And "deleting" a cluster from TCE doesn't actually do anything to the cluster, so I think that could be a bit confusing too. Might be good to file an issue on this.

[2022-03-17 15:49] jpmcb commented on #3542
Totally! Should actually be pretty simple now that we have this chunk: https://github.com/vmware-tanzu/community-edition/blob/fe028c681131c3a985e7dec4081c5c72cb02896e/cli/cmd/plugin/unmanaged-cluster/kubeconfig/kubeconfig.go#L21-L36

[2022-03-17 18:30] jorgemoralespou opened #3580 "unmanaged-cluster with existing kubeconfig should be idempotent"
## Bug Report
When `tanzufying` an existing cluster, the process should be idempotent because the unmanaged-cluster is not even created by TCE, it only installs stuff on top of an existing cluster, so it makes no sense to have fail in the following scenario:

- create a cluster outside TCE with name test
- create a TCE cluster with kubeconfig option (Tanzufy the cluster)
- delete the cluster outsi

[2022-03-17 18:53] jorgemoralespou commented on #1956
@jpmcb I think this issue is solved with your recent changes.

[2022-03-17 19:01] miclettej opened #3585 "UI Plugin: Create main navigation component integrated with redux store"
## Feature Request
Create a shared main navigation component that routes to welcome and getting started pages

Should be able to expand or collapse main navigation panel

Should leverage the redux store for managing state of expanded or collapsed

## Describe alternatives you've considered

None

[2022-03-17 20:20] jpmcb commented on #2847
Regarding

As a development detail, it would be great if there were libraries in the `app` plugin that made this possible to be consumed. We want to do this as part of the `unmanaged-cluster` install

- https://github.com/vmware-tanzu/community-edition/issues/3537

so that users can create a cluster and install a profile automatically through a one line bootstrap

[2022-03-17 20:26] joshrosso commented on #2847
@kartiklunkad26 I also feel like the bill of materials has grown stale:

![image](https://user-images.githubusercontent.com/6200057/158889398-327624bd-b77a-4efb-b27e-dbb1f32449cc.png)

[2022-03-17 20:34] joshrosso commented on #3235
Capturing some feedback from @jorgemoralespou in the community meeting that I think is sound on the instance types:

![image](https://user-images.githubusercontent.com/6200057/158890277-30a39e7f-9336-496a-908b-41d9084b71c0.png)

These instance type options are good for **workload** clusters. But don't make as much sense for management clusters. For management cluster creation, we should move to a

[2022-03-17 20:36] dvonthenen commented on #3235
Minor comment... for the AWS install, do we need to expose the user to the AMI option? maybe just an advanced option and by default select a preferred one

[2022-03-17 20:36] jpmcb commented on #3235
### Proposal review:

---

Would also like to see documentation pop-ups (some kind of tool-tip? Implementation to be determined) the can help guide the advanced user through more advanced configurations as the UI plugin grows and expands to capture more and more use cases

---

I'm very curious what the Unmanaged Cluster creation workflow would look like. If all that would need to be provided is a

[2022-03-17 20:38] seemiller commented on #3235
Is there any way to include [accepting the base image license](https://tanzucommunityedition.io/docs/latest/azure-mgmt/#accept-the-base-image-license) into this UI? New versions of the TCE that change the Kubernetes version will require this, and it is not an obvious step to have to remember having to redo.

[2022-03-17 21:32] jpmcb opened #3588 "Proposal: Introduce `wizard` bootstrapping plugin"
In addition to the [Guided Graphical UI #3235](https://github.com/vmware-tanzu/community-edition/issues/3235), we should consider implementing a `wizard` CLI plugin. This plugin would walk users through bootstrapping a management / unmanaged cluster, _right in the CLI._

### _But why?_

Some users don't have access to a web browser (like in a headless environment or when on a remote server). Or th