[2022-03-17 22:00] thesteve0 commented on #2847
From a local dev perspective, this sounds like we are putting too much into the machine to really address the need defined. I don't really need the whole build chain, Cartographer, and all that Kpack involves to just go from source to running knative service
https://github.com/pivotal/kpack/blob/main/docs/tutorial.md

Build services, supply chain, and supply chain orchestration are not really that

[2022-03-18 01:29] ciberkleid opened #3591 "Harbor fails to install when setting tlsCertificateSecretName"
## Bug Report

The secretName for the `ca-download` volume in the harbor-core Deployment is hard-coded to `harbor-tls`.

If `tlsCertificateSecretName` in the harbor values.yaml file is set to any value other than `harbor-tls`, then the secret can't be found, the `ca-download` volume is not satisfied, and the harbor-core Pods fail to start.

The simplest fallback may be to set the secret as optiona

[2022-03-18 03:10] ciberkleid commented on #3591
For anyone else setting a non-default `tlsCertificateSecretName` (delegated or not), this workaround works:

[code]

Then use `tanzu package install harbor` as usual to install the package.

[2022-03-18 04:03] ciberkleid commented on #3591
For those who prefer a quick fix that removes the `ca-download` volume and mount altogether, you can use the following workaround.

[code]

Credits: paired with @stealthybox  :)

[2022-03-18 05:04] vaamarnath opened #3593 "Make edition (e.g. TCE) detectable in workload clusters"
## Feature Request

Currently, TCE cluster's (be it management or workload cluster) metadata is same as the TKG clusters'. The `edition` is added only to management cluster's cluster CR as part of this change #3456.

Instead, it would be great to enhance the `tkg-metadata` config map in `tkg-system-public` namespace to include the TCE related metadata as well. This would establish a well defined c

[2022-03-18 11:08] jorgemoralespou commented on #3235
I see some of the comments are pivoting this "new experience/plugin" into something more like a "local cluster manager interface". While I think this might be super interesting and definitely would win my heart, don't think than a `tanzu plugin` would be the model I would prefer, but rather a desktop application. :-D (Just my 2 cents on that one).

Some additional feedback, but definitely easier t

[2022-03-18 11:57] usahai30 commented on #3593
Currently `tkg-metadata` configmap in `tkg-system-public` namespace has `VMware Tanzu Kubernetes Grid` as `kubernetesProvider`. Maybe we should have `Tanzu Community Edition`-

[code]

[2022-03-18 14:56] #3339 closed

[2022-03-18 14:56] #3472 closed

[2022-03-18 15:28] jorgemoralespou opened #3597 "Document how to upgrade your CLI from one version to another"
## Description
We need to document the upgrade process of the CLI and what happens with the running clusters, whether they need to also be upgraded or not, before or after upgrading the cli, or whatever makes sense.

## Location
Installation Guide (maybe an upgrade chapter)?

## Additional Context
https://kubernetes.slack.com/archives/C02GY94A8KT/p1647616048177049

[2022-03-18 15:30] jorgemoralespou opened #3598 "Document how to upgrade the k8s version of your cluster"
## Description
When there's a new Kubernetes version released, users are able to upgrade. We need a guide documenting the upgrade process (management cluster first, then workload, or whatever the process is) and all scenarios, edge cases, etc....

## Location
I would think that something like "Cluster management"

## Additional Context
https://kubernetes.slack.com/archives/C02GY94A8KT/p16476160481

[2022-03-18 16:04] joshrosso commented on #3518
Instead of re-doing this screenshot:

![image](https://user-images.githubusercontent.com/6200057/159039060-b7fcabbb-36fb-4f87-a8da-7c3634298d43.png)

We should annotate a note that says, "The name of the template may vary based on which OVA you downloaded"

or something like that so we don't need to continue updating the screenshot

[2022-03-18 16:14] jorgemoralespou opened #3599 "Why AWS_REGION is needed when deleting a Management cluster?"
## Bug Report
When deleting a Management cluster command you get this error:

[code]

If the `tanzu cli` has a management cluster context set it should know in which region the cluster exists so that

## Expected Behavior
No ask for AWS_REGION. This should only be needed for commands that don't specify a region in the config, like installing the cloudformations stack.

## Environment Details

* Bu

[2022-03-18 16:28] joshrosso commented on #3593
@vaamarnath For extreme clarity: by **instead**, you're proposing:

1. No longer putting the edition in the cluster CR.
2. Putting the edition in the `tkg-metadata` config map.

[2022-03-18 16:29] joshrosso commented on #3593
Fair point, we'll delegate this decision to the Tanzu Framework maintainers.

For TCE, the provider is still "TKG" in my eyes, but it does depend on how one defines TKG.

[2022-03-18 16:49] joshrosso commented on #3580
Quick note here that the TCE engineering team talked about this and there's some philosophy/nuance left to be discussed. Let's revisit conversations around this before we pick up the work.

@stmcginnis @jpmcb if you have any async input, feel free to add some thoughts here.

[2022-03-18 16:52] joshrosso commented on #3588
:+1: When it comes around to proposal let's reconsider the trade-offs of embedding this functionality alongside plugins that benefit from a wizard, vs doing a dedicated wizard plugin.

[2022-03-18 16:58] joshrosso commented on #3599
We'll use this issue as a tracker for

* https://github.com/vmware-tanzu/tanzu-framework/issues/545

This work needs to be completed in framework.

[2022-03-18 17:01] joshrosso commented on #3597
@kcoriordan can you investigate whether we have existing TKG-assets/docs around this that we could re-use?

[2022-03-18 19:03] joshrosso commented on #2987
In order to do this, we should expand the cluster provider interface to offer these hooks. Cluster providers can choose what they'd like to do (if anything) when these hooks are triggered.

Along with this work, we should introduce the ability to see "Status" when listing clusters, an example would be:

[code]

A few key important notes on the above:

* We should introduce the ability to retrieve

[2022-03-18 19:51] thesteve0 opened #3604 "Issues around Tanzu cli login command"
## Bug Report

The documentation `tanzu login --help ` has issues in explaining how to use the command.  The error message when the flags are not complete is unhelpful.

## Expected Behavior

### Help Documentation
If I have a .kube/config file that is properly configured and I want to use it to login to my management cluster I think this correspeonds to these example in the cli doc

[code]

There

[2022-03-18 20:06] stmcginnis commented on #3580
More context as there was some thought this should be idempotent, only in that once you `tanzu uc rm foo` to remove the metadata so TCE doesn't complain of the cluster already existing.

Created a kind cluster with `kind create cluster`, then verified I could see the one node with `k get nodes`. Cluster appeared healthy.

Made this a tanzu cluster with:

[code]

Then had to switch my context back

[2022-03-18 20:12] jorgemoralespou commented on #2987
If Status is implemented, I would probably think that defining not only a state, but a struct with State and potentially other additional info would be awesome, to have things in the future in there.
Also, if Status is implemented, would be awesome if Running is really when all the bootstrapped pods are really Running, and not when some are still pending.

[2022-03-18 20:12] jpmcb commented on #3580
A few thoughts:

---

I agree - we do need to fix the no-op provider to attempt to remove any metadata when / if the cluster is deleted using `unmanaged-cluster delete`. But even that feels alittle weird. Maybe instead of storing the bootstrap log and the configuration used in a named location, we store it in a temp folder with a timestamp? Something like:
[code]
Since `unmanaged-cluster` doesn't

[2022-03-18 20:23] stmcginnis commented on #3580
The downside of that is it's inconsistent with other behavior, and it might be cleared from /tmp before they realize they need it.

That may be fine, but just to throw out another idea - if `provider == "none"` we could just ignore the check if it's already present. That way if someone were to run `tanzu uc create -e` multiple times for the same cluster, the bootstrap log would just append each ti

[2022-03-18 20:29] dbbaskette opened #3605 "No mention of the `--tkr` option in the managed cluster documentation"
## Description

There is no mention of using --tkr for creating clusters with a specific Kubernetes version in any of the managed cluster sections of the documentation.  It is briefly mentioned in the unmanaged section of the docs (https://tanzucommunityedition.io/docs/latest/ref-unmanaged-cluster/#customize-the-distribution), but that is the only mention in the documentation.

[2022-03-18 21:00] joshrosso commented on #2716
This will not make it in `v0.12.0` either as we have a requirement to stay pinned to the same framework minor version. Moving this out to `v0.13.0` to re-assess then.

[2022-03-18 21:04] joshrosso commented on #2987
That make sense and appreciate the feedback.

To make sure expectations are clear, we're likely to not do that level of introspection for this initial work. But could be a follow-up thing to consider.

[2022-03-18 21:06] joshrosso commented on #1219
Let's continue to track this work in:

* https://github.com/vmware-tanzu/community-edition/issues/2716

Current status is that we are going to re-assess if this is viable in the `v0.13.0` timeframe.

[2022-03-18 21:06] #1219 closed

[2022-03-18 21:08] joshrosso commented on #3247
Assigning @karuppiah7890 as the initial owner of this ticket.

We'll leave it to @karuppiah7890 to assess if this is possible for `v0.12.0` and/or delegate it to other(s).

[2022-03-18 21:09] joshrosso commented on #3605
Good callout, I think this is something we should knock out before the v0.11.0 release is over.

[2022-03-18 22:19] joshrosso commented on #3538
Some key details around this functionality:

1. With the way production harbor is setup, we cannot rely on a tag like `:latest` to resolve the newest option.
    a. To solve this, we should rely on an incrementing tag in a consistent location. I recommend: `project.registry.vmware.com/tce/compatibility`. The files (bundles) uploaded here should be tagged `:v1`, `v2`, `v3`, etc.
    b. Our `unmanag

[2022-03-18 22:23] joshrosso commented on #3537
`--profile` should map to a package or arbitrary set of packages. Meaning, initially, this should simply instruct that:

1. A set of packages can be specified to be installed at bootstrap time.
2. Values files can be provided for each package that is bootstrapped.
3. When `--profile` is set, the install should block and wait for the user-managed package repo to reconcile before continuing
4. After

[2022-03-18 22:24] joshrosso commented on #3536
As @jpmcb mentions, this test coverage needs to be expanded for all packages.

Once we get closer to `v0.12.0`, we'll likely delegate packages to specific core engineering members.

[2022-03-18 22:31] joshrosso commented on #3058
Initially, we'll give this to @stmcginnis as proposed work is in place to make this possible.

Ideally this is something where, if resolved properly, we can remove our patch code used when antrea is the CNI from unmanaged-cluster.

[2022-03-18 22:32] joshrosso commented on #2710
Moving this over to @karuppiah7890 for v0.12.0. Feel free to let us know whether this is feasible. If not, we can move it out to a further milestone. This one is much more of a "nice to have"

[2022-03-18 22:33] joshrosso commented on #3498
This LCM update was put in place as of yesterday and pushed to TMC. Thanks!

[2022-03-18 22:33] #3498 closed

[2022-03-18 22:35] joshrosso commented on #2709
Assigning this to @karuppiah7890 to assess.

@karuppiah7890 feel free to let us know if this is feasible for the `v0.12.0` timeframe. It is more of a "nice to have".

[2022-03-18 22:35] joshrosso commented on #3204
@karuppiah7890 assigning to you, feel free to delegate.

[2022-03-18 22:38] joshrosso commented on #3530
Given this is something in far newer version of framework and we cannot bump beyond `v0.11.x` in the `v0.12.0` TCE release, I'm moving this out to evaluate in `v0.13.0`.

[2022-03-19 00:11] thesteve0 commented on #3002
Sorry - just saw this. Did not test on anything but AWS and unmanaged

[2022-03-19 09:25] jorgemoralespou commented on #2987
Sure. No problem. Continuous improvement.

[2022-03-19 19:14] stmcginnis commented on #2987
The tricky thing about this is that I don't believe kind provides a way to start and stop a cluster.  Kind gives a nice abstraction where it can be used with either docker or podman. We will likely need to go around kind and figure out which runtime is in use and interact directly with it to perform the start/stop operations, breaking some of the abstraction kind provides.

[2022-03-19 22:03] jorgemoralespou commented on #2987
I agree this night be tricky, and specially when new provides are added, but this is a workflow that the unmanaged cluster should support given the target use and audience of this cluster typology.

[2022-03-20 07:06] thesteve0 commented on #2747
I know we are tracking in the other bug so is it ok for this to get stale.

[2022-03-20 22:17] alinahid477 opened #3610 "TCE v0.10.0 is throwing error when deploying Management Cluster using NSX ALB v20.1.7"
## Bug Report

TCE TKG v0.10.0 is throwing error when deploying Management Cluster using NSX ALB v20.1.7 as load balancer.

## Expected Behavior

Management cluster should be able to complete step: Generate cluster configuration

## Steps to Reproduce the Bug

on vSphere 7u2 environment start deployment of management cluster using the below config and it throws error at "Generate cluster configura

[2022-03-21 04:50] chaudharyalka commented on #3294
@stmcginnis Can you please check?

[2022-03-21 05:10] steven-zou commented on #3593
This is not correct, the LCM operator running in the MC needs this edition to determine which LCM extension should be launched to serve the TCE WC LCM requests.

[2022-03-21 07:45] karuppiah7890 commented on #3510
Might be related - #3525 but not sure. Gotta dig in and check

[2022-03-21 10:36] kcoriordan opened #3617 "Add doc to Register a cluster with TMC"
## Description

Add:

    New topic for registering TMC
    Adds section for TMC step in the installer to Azure, Amazon, vSphere topics for deploying management cluster
    Adds a section to getting started guide for mgmt clusters on deregistering TMC

ref: https://github.com/vmware-tanzu/community-edition/pull/1650
## Location

## Additional Context

[2022-03-21 10:42] kcoriordan opened #3618 "Remove standalone doc"
## Description

Delete standalone doc from v0.11 doc.

## Location

## Additional Context

[2022-03-21 11:23] jorgemoralespou commented on #3542
@jpmcb Be aware that Kind has deep embedding of the `kind-` prefix in the code. (e.g. This function is called when kind deletes the cluster to remove the context: https://github.com/kubernetes-sigs/kind/blob/main/pkg/cluster/internal/kubeconfig/internal/kubeconfig/helpers.go#L24)

[2022-03-21 11:26] jorgemoralespou commented on #3542
To be honest, I would love that Kind clusters were not prefixed by kind, as that should be an implementation detail, and not how humans want to identify their clusters.
It's a bad experience that you create a cluster `foo` and the context is named `kind-foo`. Main problem I see is that a `kind-` prefix adding is a feature also very deep buried in Kind (the tool).

[2022-03-21 11:30] jorgemoralespou commented on #3538
Is incremental (:v1, v2, v3) a good tagging, or otherwise, use the version BOM version with a semver suffix better (e.g. :v0.11.0+b1)

[2022-03-21 11:37] jorgemoralespou commented on #3537
One important thing to consider is that when installing packages, most of them require some config to work fine in a specific environment and with the user's needs. It's not the same configuration you provide when installing a cluster locally (in your docker provider) than when installing a cluster on another infrastructure provider (AWS, Azure, vSphere) and not even are the same packages needed i

[2022-03-21 12:18] stmcginnis commented on #3542
See the discussion on https://github.com/kubernetes-sigs/kind/issues/2668 for some additional context on the kubeconfig cluster naming.

[2022-03-21 13:14] stmcginnis commented on #3610
See https://github.com/vmware-tanzu/community-edition/issues/3189 for a workaround.

Waiting for someone with more expertise in this area to triage, but this is likely a duplicate of that one.

[2022-03-21 13:22] joshrosso commented on #3538
The reason incrementing for **compatibility** files is compelling is because:

1. We always want to capture the newest compatibility file.
    a. If we stay consistent with TKG, compatibility files are there to map the version of the CLI, to compatible TKr(s).

This means, that the CLI of `0.11.0` would pull the same compatibility file (say `v9`) as a version of the CLI, say `0.15.0`.

Within `v9`

[2022-03-21 13:28] vaamarnath commented on #3593
@steven-zou, `tkg-metadata` exists on the management cluster as well. I assume, LCM operator would be able to read the cluster metadata from this source of truth as well. this is how extensions on TMC retrieve the cluster's metadata.

having said that, I don't have strong opinions on the above one. we could have `edition` added to both cluster CRs as well as the TKG metadata config map for complet

[2022-03-21 13:53] joshrosso commented on #3618
@kcoriordan can we get some more context regarding what this issue is about?

[2022-03-21 14:06] joshrosso opened #3619 "Add TMC *registration* docs to TCE documentation"
Starting in `v0.11.0` of TCE, TMC registration of management clusters now works.

Any place in our documentation where we mention TMC, for example, that you could previously only attach clusters, we should describe that registration is now possible.

Our docs should also either explain the difference between registration vs attach (since they don't mean much to end users) or link to docs that expl

[2022-03-21 14:07] joshrosso commented on #3619
Putting this `at-risk` since we became aware of the requirement days before release.

[2022-03-21 14:08] joshrosso commented on #3617
From internal conversations, moving this up a milestone since it's not a blocker for v0.11.0 or something that we can expose to users at the v0.11.0 release.

We should introduce docs changes for registering in standard TMC.

Issue created for this at:

* https://github.com/vmware-tanzu/community-edition/issues/3619

[2022-03-21 14:25] joshrosso commented on #3619
Talked to @amandakatona this morning and appears our only requirement for initial work is to ensure our docs say that TMC can be used to both register to (mgmt) and attach (wrkld) for TCE v0.11.0.

[2022-03-21 14:39] jorgemoralespou commented on #3538
Gotcha! Just saw that the version was for compatibility file and not for TKR, as I initially thought. My bad! Understood and makes sense, probably! I'll go and dig these files now!

[2022-03-21 15:26] jpmcb commented on #832
Yes. `unmanaged-cluster` doesn't suffer from this original issue. If users are using `antrea` CNI at the time of this writing, they may still experience issues when restarting their clusters.

Reference https://github.com/vmware-tanzu/community-edition/issues/3564 for further details

[2022-03-21 15:31] joshrosso commented on #3593
@steven-zou is this what we should mover forward with?

If not, can you let us know an ideal state we'd like to see?

[2022-03-21 15:36] joshrosso opened #3621 "Pin TCE `v0.12.0` to newest framework `v0.11.x` version"
This tracks the work to upgrade our framework dependency to `v0.11.x` where `x` is the newest version of framework.

This upgrade in version must include the (back ported) change:

* https://github.com/vmware-tanzu/community-edition/issues/3593

[2022-03-21 15:39] joshrosso opened #3622 "Create a BoM for `v0.12.0` based on the newest TKG `v1.5.x`"
This issue tracks the work to create the BoM and compatibility files for TCE `v0.12.0`.

This release graph should be based off the newest version of TKG `v1.5.x`.

It should also be referencing the newest version of framework, which mean the following should be resolve before this work is done:

* https://github.com/vmware-tanzu/community-edition/issues/3621

[2022-03-21 15:40] joshrosso commented on #3622
@navidshaikh preemptively adding you as the contact for v0.12.0.

Feel free to delegate elsewhere if you are not the right human. ty!

[2022-03-21 16:00] #882 closed, assigned to stmcginnis, kcoriordan

[2022-03-21 16:44] swalner-vmware opened #3628 "Concierge: Darwin installation support"
## Feature Request
Support the full installation of TCE on the Darwin OS (does not include installing the Concierge itself)

This means porting the install.sh script from bash to interactive JavaScript/UX
- Define installation steps
- Enhance existing version detection
- Preventing user from installing over TKG
- Modularity to support detecting available versions for install (supporting air-gapped

[2022-03-21 16:46] swalner-vmware opened #3629 "Concierge: Windows installation support"
Support the full installation of TCE on the Windows OS (does not include installing the Concierge itself)
(This means porting the install.bat script from bash to JavaScript/UX.)

[2022-03-21 16:47] swalner-vmware opened #3630 "Concierge: Linux installation support"
Support the full installation of TCE on the Linux OS (does not include installing the Concierge itself)
(This means porting the install.sh script from bash to JavaScript/UX -- for Linux.)

[2022-03-21 16:47] kcoriordan commented on #3517
these should update automatically once the release_latest value is updated in config.yaml

[2022-03-21 16:49] swalner-vmware opened #3631 "Concierge: [SPIKE] building Mac DMG with Electron-Builder"
## Feature Request
Explore electron-builder as a way to build a .dmg binary for Mac to install the Concierge

[2022-03-21 17:18] swalner-vmware opened #3635 "Concierge: create scaffolding for Concierge in tkg-installer-poc branch"
## Feature Request
The SPIKE exploring this work is complete; this issue is to create the scaffolding in our branch (from the local boilerplate branch)

[2022-03-21 17:30] dvonthenen commented on #3631
Hi @swalner-vmware  This task is two-fold:
1. What this issue captures
2. Any downstream signing implications (must be addressed concurrently). If you need information about this, DM or post in the internal slack channel since we downstream build processes aren't open to the public.

[2022-03-21 17:31] miclettej opened #3636 "UI Plugin [Spike]: Define/Implement structure of wizard and steps for basic workflow"
## Feature Request

Design a series of classes and components that are used to construct a wizard and wizard steps in the UI.

Should have considerations for:
Wizard state (untouched, current step, step valid/invalid, etc)
Wizard data - provider payload
Wizard step data

## Describe alternatives you've considered

none

[2022-03-21 18:22] stmcginnis commented on #3610
Looks like this was fixed in `tanzu-framework` with https://github.com/vmware-tanzu/tanzu-framework/pull/1044

That change is part of the tanzu-framework v0.11.2 release that TCE is using in the upcoming TCE v0.11.0 release, so this should be resolved then.

[2022-03-21 18:22] swalner-vmware commented on #3257
![Concierge flowchart](https://user-images.githubusercontent.com/86380897/159338930-23249bdf-8432-4bea-afda-51ec0f0194d6.jpg)

[2022-03-21 18:53] joshrosso opened #3638 "Update unmanaged cluster pre-reqs for Mac to include support for ARM64."
Our unmanged-cluster getting started docs should be updated as mac M1 (arm64) is now supported.

[2022-03-21 18:54] joshrosso commented on #3638
the warning to users should be consistent with:

![Uploading image.png…]()

[2022-03-21 19:01] joshrosso commented on #3234
This won't be relevant for `v0.12.0` because we cannot afford to change this model until _potentially_ `v0.13.0`.

[2022-03-21 19:03] joshrosso commented on #3233
This won't be relevant for `v0.12.0` because we cannot afford to change this model until _potentially_ `v0.13.0`.

[2022-03-21 19:10] joshrosso commented on #2690
moving this one to icebox as it keeps falling behind with due to other priorities. Also, help wanted!

[2022-03-21 20:35] dvonthenen commented on #3621
Currently, the latest 0.11.X release is 0.11.2 which is the current one we are using. Will keep an eye out for newer versions.

[2022-03-21 21:15] joshrosso commented on #3617
let's chat about this tomorrow.

[2022-03-21 21:15] joshrosso commented on #3619
closing this issue as won't resolve as https://github.com/vmware-tanzu/community-edition/issues/3617 was updated.

[2022-03-21 21:15] #3619 closed

[2022-03-21 22:15] seemiller commented on #3510
@aman556 Grafana and Prometheus both had [minor tweaks](https://github.com/vmware-tanzu/community-edition/pull/3496) to their packages recently. If you use the `v0.10.3` or `v0.11.01 package repository, you should be able to install both packages using versions `7.5.7-1` and `2.27.0-1`.

[2022-03-21 22:16] seemiller commented on #3510
Please reopen the issue if my last comment does not work for you.

[2022-03-21 22:16] #3510 closed

[2022-03-22 01:09] steven-zou commented on #3593
Yes. I think so.

For clarifying, the current LCM code supports reading editions from the CAPI cluster as the CAPI cluster has been retrieved before. If reading TKG meta from the cm, then we need to introduce more code changes. I don't think it's worthy of doing it.

[2022-03-22 02:31] kartiklunkad26 opened #3647 "Debug and live updates for Tanzu workloads with VSCode"
# Debug and live updates for Tanzu workloads with VSCode

Application developers spend a majority of their time working with code in IDEs. Iterating on their application from within the IDE saves a ton of time for them.

Enabling capabilities that will help them iterate and debug their code on Kubernetes within the IDE itself we believe will be valuable.

## Feature Request

Application developers

[2022-03-22 02:53] kartiklunkad26 commented on #2847
Thanks a lot for this feedback. We really appreciate it.

Once we have this capability available in TCE, could you please give it a try and let us know in what ways it falls short? I hear you loud and clear that this feels a heavyweight solution, and we will definitely look to trim it down as we go needed.

Feel free to skip more of the inside the machinery information below:

kpack while is a pow

[2022-03-22 09:53] karuppiah7890 opened #3651 "Update Chocolatey install script to work for `v0.11.0`"
As of now it doesn't work for `v0.11.0-rc.2`. See the logs below. I made some minimal changes to try installing `v0.11.0-rc.2` - I just changed the version and SHA sum in these places

https://github.com/vmware-tanzu/community-edition/blob/b7211c0189a081653b60551f56784ad71fb4677b/hack/choco/tools/chocolateyinstall.ps1#L5

https://github.com/vmware-tanzu/community-edition/blob/b7211c0189a081653b605

[2022-03-22 09:59] karuppiah7890 commented on #3651
The last successful log from the install script is `Created CLI plugin directory at C:\Users\Administrator\AppData\Local\tanzu-cli` after which it throws an error

[code]

Which is due to this code - https://github.com/vmware-tanzu/community-edition/blob/b7211c0189a081653b60551f56784ad71fb4677b/hack/choco/tools/chocolateyinstall.ps1#L86

and also due to the fact that the zip file has changed now a

[2022-03-22 11:58] usahai30 commented on #3593
@joshrosso We need TCE related information in configmap for both management and workload clusters.

[2022-03-22 13:53] joshrosso opened #3653 "Documentation search is broken with new versioning mode"
I believe due to the new versioning updates, our search functionality has broken.

As you can see in the URL bar after the search, the path resolves as `$VERSION/latest/$RESOURCE` when it should be `$VERSION/$RESOURCE`.

![image](https://user-images.githubusercontent.com/6200057/159497119-8e845ba6-a18f-4f6f-a4b1-fb26522b66b4.png)

![image](https://user-images.githubusercontent.com/6200057/15949698

[2022-03-22 13:56] stmcginnis commented on #3653
@garrying was that you?

I can start looking into it, but will need to get up to speed on how it works.

[2022-03-22 14:05] jpmcb commented on #3653
Correct: it was done in https://github.com/vmware-tanzu/community-edition/issues/1243

/assign @garrying

[2022-03-22 14:42] joshrosso opened #3657 "CAPD workload clusters (intermittently) cannot be created in `v0.11.0`"
This is a tracker issue for:

* https://github.com/vmware-tanzu/tanzu-framework/issues/1880

Management cluster creates without issue.

[code]

Note the client-side throttling warnings (info) in the bottom of the log.

After this occurs, all operations with `tanzu` against the management cluster are slow and produce those messages, for example:

[code]

Attempts to create a workload cluster will c

[2022-03-22 14:57] joshrosso commented on #3657
@stmcginnis will attempt cluster create with `kubectl` and see if it is successful.

[2022-03-22 15:22] stmcginnis commented on #3657
`kubectl` investigation results:

Created a management cluster with `CLUSTER_PLAN=dev tanzu mc create -i docker`. Cluster created successfully.

Created a configuration based on https://github.com/kubernetes-sigs/cluster-api/blob/main/test/infrastructure/docker/examples/simple-cluster.yaml and local cluster settings. Used the following for workload cluster definition:

[code]

Used that to deploy

[2022-03-22 17:13] kcoriordan commented on #3517
@joshrosso - I'm setting this to in review, this as  **I think** there is no action here and it can be closed, all the occurrences of TCE version are indicated in the md files with `{{< release_latest >}}`. Once release_latest is updated in `config.yaml,` these should update automatically.

[2022-03-22 17:21] #2848 closed

[2022-03-22 18:39] #3618 closed

[2022-03-22 20:52] #3291 closed

[2022-03-22 21:55] swalner-vmware opened #3661 "Concierge: add TypeScript"
## Feature Request
Add TypeScript capabilities to the Concierge Electron App

## Describe alternatives you've considered

## Additional context

[2022-03-23 02:18] joshrosso commented on #3657
Seems this is a race condition that happens about 50% of the time. There have been 3 observed outcomes:

1. The cluster creates without issue
2. The cluster creates with issue but then reconciles to good state
3. The cluster creates with issue and never reconciles to a good state.

In the case of 3, the following observation has been made showing many components hung up on one another:

![image](h

[2022-03-23 04:41] navidshaikh commented on #2599
This is still relevent.

[2022-03-23 05:32] karuppiah7890 commented on #3651
We could probably automate this change so that it runs just after `0.11.0` release but then it would mostly be a one time automation making code changes like changing install script apart from changing version and SHA sum. Mostly for `0.12.0` the install script won't change much except for version and SHA sum. So, if we automate, we can run it in local, and keep watching for the release, instead o

[2022-03-23 10:47] kcoriordan commented on #3638
picking this up now

[2022-03-23 14:03] kcoriordan commented on #3605
I can pick this up now, will try and draft something from here:
[****](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.5/vmware-tanzu-kubernetes-grid-15/GUID-tanzu-k8s-clusters-k8s-versions.html?hWord=N4IghgNiBcIC4GsBOIC+Q)

[2022-03-23 14:47] kcoriordan opened #3667 "Isssue with doc preview in PRs"
## Description

Issue with netlify doc preview url in PRs
#related: https://github.com/vmware-tanzu/community-edition/pull/3656, https://github.com/vmware-tanzu/community-edition/pull/3643, https://github.com/vmware-tanzu/community-edition/pull/3637, https://github.com/vmware-tanzu/community-edition/pull/3490, https://github.com/vmware-tanzu/community-edition/pull/3558

Preview link defaults to `v

[2022-03-23 15:40] tomkennedy513 opened #3668 "Proposal to add package for kpack dependencies"
## Feature Request

Currently, the kpack package in TCE requires a lot of manual steps to help bootstrap its installation with dependencies. This results in a poor install experience for users. We would like to create a new package that will provide those dependencies for users. The dependencies package would be updated at some cadence by a pipeline, pulling in the latest paketo stacks and buildpa

[2022-03-23 15:41] tomkennedy513 commented on #3668
cc: @tylerphelan @matthewmcnew @pviraj59 @kartiklunkad26

[2022-03-23 15:45] #3516 closed

[2022-03-23 15:57] stmcginnis commented on #3667
My assumption was that the docs build script would change the `docs_latest` setting, but that does not appear to be the case. Due to that, all `include` files are getting set to the "current" release of v0.10.0 here:

https://github.com/vmware-tanzu/community-edition/blob/40f599ad74e73f3aba3f94b93601e966770353b0/docs/site/layouts/shortcodes/include.html#L2

Jonas pointed to https://github.com/vmwa

[2022-03-23 15:58] miclettej opened #3669 "UI Plugin: Form validations should be added/removed dynamically"
Expand react hook-form and yup implementation to allow form validation rules to be added/removed dynamically

## Describe alternatives you've considered

none

[2022-03-23 16:06] #3638 closed

[2022-03-23 16:07] #3002 closed

[2022-03-23 16:25] jayunit100 opened #3671 "SecretgenController is referencing a non-existent SHA"
## Bug Report

problem

```image: projects.registry.vmware.com/tce/secretgen-controller@sha256:0e2791ab37768fa1dd843454a1fac9403539930362f128e3a897419fa431d96c```

referenced in:

```https://github.dev/vmware-tanzu/community-edition/blob/9c69a11ccd1ff292666b961dad9a5936afa504cb/addons/packages/secretgen-controller/0.8.0/package.yaml#L15-L16```

doesnt exist !

[code]

## Expected Behavior

Any of

[2022-03-23 16:39] seemiller commented on #3350
Package repo for v0.11.0 updates:
- App-Toolkit 0.1.0
- Cartographer 0.2.2
- cert-injection-webhook 0.1.0
- Flux CD Source Controller 0.21.2
- Grafana 7.5.11

[2022-03-23 18:13] dvonthenen opened #3676 "Umbrella Issue for 0.12.0 Test/Release Automation"
## Epic for Test/Release Automation

This issue is going to capture key features/bugs needed for the 0.12.0 release (and beyond). The overall goal or theme for this Epic is we shouldn't be testing anything manually or by hand because:
- the results are not reproducible
- the results could be error-prone
- it eats time in which humans could be working on other things

It follows that if we need to

[2022-03-23 20:02] dvonthenen opened #3677 "Verify management cluster e2e on CAPD is working correctly"
## Verify e2e for management-clusters on CAPD

This issue tracks work for CAPD E2E tests for management clusters.

### Verification

- [ ] Execute/run e2e tests for management clusters. This should exercise:
  - [ ] create cluster
  - [ ] simple inspection of the cluster to make sure it's running
  - [ ] delete cluster
  - [ ] simple inspection to make sure the cluster is deleted
- [ ] Is this wor

[2022-03-23 20:03] dvonthenen opened #3678 "Verify management cluster e2e on AWS is working correctly"
## Verify e2e for management-clusters on AWS

This issue tracks work for AWS E2E tests for management clusters.

### Verification

- [ ] Execute/run e2e tests for management clusters. This should exercise:
  - [ ] create cluster
  - [ ] simple inspection of the cluster to make sure it's running
  - [ ] delete cluster
  - [ ] simple inspection to make sure the cluster is deleted
- [ ] Is this workf

[2022-03-23 20:05] dvonthenen opened #3679 "Verify management cluster e2e on Azure is working correctly"
## Verify e2e for management-clusters on Azure

This issue tracks work for Azure E2E tests for management clusters.

### Verification

- [ ] Execute/run e2e tests for management clusters. This should exercise:
  - [ ] create cluster
  - [ ] simple inspection of the cluster to make sure it's running
  - [ ] delete cluster
  - [ ] simple inspection to make sure the cluster is deleted
- [ ] Is this w

[2022-03-23 20:07] dvonthenen opened #3680 "Verify management cluster e2e on vSphere is working correctly"
## Verify e2e for management-clusters on vSphere

This issue tracks work for vSphere E2E tests for management clusters.

### Verification

- [ ] Execute/run e2e tests for management clusters. This should exercise:
  - [ ] create cluster
  - [ ] simple inspection of the cluster to make sure it's running
  - [ ] delete cluster
  - [ ] simple inspection to make sure the cluster is deleted
- [ ] Is th

[2022-03-23 20:51] seemiller commented on #3671
Or maybe the package yaml was never updated...

[2022-03-23 21:41] #3463 closed

[2022-03-23 21:51] seemiller commented on #3350
- created `v0.11.0-alpha.3` tag, SHA `13522853b7e33261487bb897fc54e94aa1cdc9f2fb36adb23102b6537ff38632`
    - cert-injection-webhook 0.1.1
    - kpack 0.5.2

[2022-03-23 22:02] aaronshurley commented on #3671
@seemiller Sorry about this. I just looked at [the original PR](https://github.com/vmware-tanzu/community-edition/pull/3563/files) and it looks like the SHA in `package.yaml` is the same as the secretgen-controller image itself. So, I think I mistakenly copied and pasted this one too many times.

I did check my terminal history and saw that I ran a `make push-package PACKAGE=secretgen-controller V

[2022-03-23 22:02] #1776 closed

[2022-03-23 22:40] jpmcb opened #3687 "Unable to serve docs locally via `hugo serve`"
## Bug Report

I am unable to serve docs locally via `hugo serve`:

![docs-404](https://user-images.githubusercontent.com/23109390/159807596-341759a4-1a4c-496d-a4e6-4d52fd3e67cc.gif)

Git commit off main:
[code]

Fails with 404 when attempting to access docs under the `docs/v0.10` route. If I go to _just_ the `docs/` route it lands me here:

![image](https://user-images.githubusercontent.com/23109

[2022-03-23 22:41] jpmcb commented on #3687
@jonasrosland - any idea what's going on?

[2022-03-23 22:52] jpmcb commented on #2987
+1 - the provider should be the one to determine if it's possible and make an implementation; we should create the API around that to make it exposed. A provider very may opt out and not enable this

Anecdotally, while it might be tricky with `kind`, it looks like it is fairly simple in `minikube` with:

[code]

[2022-03-23 22:58] #3671 closed

[2022-03-24 00:39] dvonthenen opened #3689 "Implement unmanaged-cluster E2Es"
## Implement E2Es for unmanaged-clusters

This issue tracks work for unmanaged-clusters E2E tests.

### Verification

- [ ] Execute/run e2e tests for unmanaged-clusters. This should exercise:
  - [ ] create cluster
  - [ ] simple inspection of the cluster to make sure it's running
  - [ ] delete cluster
  - [ ] simple inspection to make sure the cluster is deleted
- [ ] Is this workflow being trig

[2022-03-24 00:51] dvonthenen opened #3690 "Verify workload cluster e2e on CAPD is working correctly"
## Verify e2e for workload clusters on CAPD

This issue tracks work for CAPD E2E tests for workload clusters. This work is dependent on [management-cluster](https://github.com/vmware-tanzu/community-edition/issues/3677) functionality existing and working properly before addressing this issue.

### Verification

- [ ] Execute/run e2e tests for workload clusters. This should exercise:
  - [ ] create

[2022-03-24 00:53] dvonthenen opened #3691 "Verify workload cluster e2e on AWS is working correctly"
## Verify e2e for workload clusters on AWS

This issue tracks work for AWS E2E tests for workload clusters. This work is dependent on [management-cluster](https://github.com/vmware-tanzu/community-edition/issues/3678) functionality existing and working properly before addressing this issue.

### Verification

- [ ] Execute/run e2e tests for workload clusters. This should exercise:
  - [ ] create c

[2022-03-24 00:54] dvonthenen opened #3692 "Verify workload cluster e2e on Azure is working correctly"
## Verify e2e for workload clusters on Azure

This issue tracks work for Azure E2E tests for workload clusters. This work is dependent on [management-cluster](https://github.com/vmware-tanzu/community-edition/issues/3679) functionality existing and working properly before addressing this issue.

### Verification

- [ ] Execute/run e2e tests for workload clusters. This should exercise:
  - [ ] crea

[2022-03-24 00:55] dvonthenen opened #3693 "Verify workload cluster e2e on vSphere is working correctly"
## Verify e2e for workload clusters on vSphere

This issue tracks work for vSphere E2E tests for workload clusters. This work is dependent on [management-cluster](https://github.com/vmware-tanzu/community-edition/issues/3680) functionality existing and working properly before addressing this issue.

### Verification

- [ ] Execute/run e2e tests for workload clusters. This should exercise:
  - [ ]

[2022-03-24 01:05] dvonthenen commented on #3689
I totally missed this issue https://github.com/vmware-tanzu/community-edition/issues/3045 created @jpmcb

Will tag that issue here and keep this issue around in favor of a more detailed explanation.

[2022-03-24 01:06] jpmcb commented on #3689
Happy to close that too - that issue was a placeholder since we were ripping out all the standalone stuff (including it's end to end tests)

[2022-03-24 01:13] dvonthenen opened #3694 "Verify conformance plugin e2e are working correctly"
## Verify conformance plugin e2e are working correctly

This issue tracks work for verifying the state of E2E for the conformance plugin

### Verification

- [ ] Execute/run e2e tests when the conformance plugin source code is modified
- [ ] Is this workflow being triggered by the daily build?

### Issues found as a result of the audit?

We should prioritize these and determine if they are absolut

[2022-03-24 01:14] dvonthenen opened #3695 "Verify diagnostic plugin e2e are working correctly"
## Verify diagnostic plugin e2e are working correctly

This issue tracks work for verifying the state of E2E for the diagnostic plugin

### Verification

- [ ] Execute/run e2e tests when the diagnostic plugin source code is modified
- [ ] Is this workflow being triggered by the daily build?

### Issues found as a result of the audit?

We should prioritize these and determine if they are absolutely

[2022-03-24 01:40] #3542 closed

[2022-03-24 02:01] joshrosso commented on #3350
:raised_hands:

Closing this as the work is done. The open PR just needs to be merged to trigger docs. We'll get that monday.

[2022-03-24 02:01] #3350 closed

[2022-03-24 06:59] jorgemoralespou commented on #2987
Minikube does also provide start and stop, which are the heavyweight version of pause/unpause. The former does start/stop the VM (if running on a vm), the latter start/stop the k8s cluster only.

[2022-03-24 12:00] karuppiah7890 opened #3701 "Update brew formula to work for TCE `v0.11.0` release"
This is to track https://github.com/vmware-tanzu/homebrew-tanzu/issues/26

PR - https://github.com/vmware-tanzu/homebrew-tanzu/pull/27

[2022-03-24 12:33] #3518 closed

[2022-03-24 14:43] stmcginnis opened #3704 "TOC sidebar is out of date for v0.10 and main and missing for v0.11 release"
## Description

When the versioned docs are generated, the sidebar for the docs are configured in `*-toc.yaml` files. Since we hadn't been working with versioned docs in the past, the v0.10 TOC contains some things that were not part of that release. The `main-toc.yaml` file contains different packages than what is currently in the repo.

Once `main-toc.yaml` is updated, that is likely going to ma

[2022-03-24 15:45] #3667 closed, assigned to stmcginnis

[2022-03-24 16:27] garrying commented on #3687
I had to run [`load-docs.sh`](https://github.com/vmware-tanzu/community-edition/blob/main/docs/site/load-docs.sh) to get the versioned docs loaded locally. @stmcginnis maybe an update to readme is needed?

[2022-03-24 17:50] kcoriordan commented on #3704
@stmcginnis, once the back porting is complete, I think 2 above should be resolved with the step b below to 'publish' the docs on release date?

Steps to publish the docs

For 1 above - I don't really know how to resolve this - I think it might be a separate issue?

[2022-03-24 19:01] #3605 closed

[2022-03-24 19:06] #3617 closed

[2022-03-24 19:08] kcoriordan commented on #3704
#3715 should close out part 2 above.

[2022-03-24 20:12] joshrosso commented on #3257
We'll email the mailing list today to notify we're ready for comments.

Core engineering will review this proposal in depth next week.

Thanks!

[2022-03-24 20:26] dvonthenen commented on #3651
Yea, the tarball structure changed in rc.1 in order to support the standalone plugin installation. This should be another thing to have an E2E for.

For the 0.12.0 development cycle, there is tooling now to point to the previous release here:
https://github.com/vmware-tanzu/community-edition/blob/main/hack/PREVIOUS_VERSION

[2022-03-24 20:32] dvonthenen opened #3721 "Implement E2E for upgrading TCE versions from previous to current for Homebrew"
## Implement E2E for upgrading TCE versions from previous to current (daily-build) for Homebrew

This issue tracks work for implementation on an E2E for Homebrew upgrades from the previous version using the daily build

### Verification

- [ ] Is this workflow being triggered by the daily build?

### Issues found as a result of the audit?

We should prioritize these and determine if they are absol

[2022-03-24 20:32] dvonthenen opened #3722 "Implement E2E for upgrading TCE versions from previous to current for Choco"
## Implement E2E for upgrading TCE versions from previous to current (daily-build) for Choco

This issue tracks work for implementation on an E2E for Choco upgrades from the previous version using the daily build

### Verification

- [ ] Is this workflow being triggered by the daily build?

### Issues found as a result of the audit?

We should prioritize these and determine if they are absolutely

[2022-03-24 20:59] vuil commented on #3657
@joshrosso I am trying to understand what you meant. Did you create multiple AWS instances and on each of them attempt to create an MC then an WC?

[2022-03-24 22:33] miclettej commented on #3235
@dvonthenen this came up in our feedback session that continued after TCE office hours. Short answer is no I don't think we need to expose the AMI option for the simplified workflows, and will tweak the mockups accordingly. CC: @garrying

[2022-03-24 22:34] miclettej commented on #3235
Agreed, we should work the revised set that you suggested into the clickable mockups

[2022-03-24 22:39] miclettej commented on #3235
Agreed, at the least we should be offering contextual help that exposes a panel containing some level of integrated docs. An icon or text link next to a UI element should open the contextual help panel with content specific to that UI element. We have created something like this for the kickstart UI that I imagine us bringing over to this TCE UI. We can start working that into the mockups to provi

[2022-03-24 23:18] miclettej commented on #3235
Thanks for calling that out. I'll make a note to see how we can go about exposing this in the UI.

[2022-03-25 02:34] absoludity opened #3732 "Include Kubeapps in the TCE Repository"
## Proposal

Include the [Kubeapps application](https://github.com/kubeapps/kubeapps) in the TCE repository so that users can view and interact with the packages available in the TCE repository via the Kubeapps UI, which now supports browsing and installing Carvel packages.

This requires ensuring that the [Carvel source package for the latest stable release of Kubeapps is available in a git repos

[2022-03-25 03:57] carlosonunez opened #3733 "unable to stand up bootstrap cluster in MacOS 11.6"
## Bug Report

I can't get `tanzu management-cluster create --ui` to work on my Intel MacBook Pro running MacOS Big Sur 11.6. I also cannot get `kind create cluster --name test --image=projects.registry.vmware.com/tkg/kind/node:v1.21.5_vmware.1_v0.8.1` to work, as it `times out waiting for the condition` while waiting for the control plane to enter a `Ready` state.

Note that I _am_ able to create

[2022-03-25 04:18] carlosonunez commented on #3733
After looking at the logs from `kubelet` in the Kind Docker container, it appears that it can't download Docker images for some of the Kubernetes control plane components. See below; full gist [here](https://gist.github.com/carlosonunez/cf33248532e50a4e99ff85745f1821f4):

[code]

[code]

I can confirm that I cannot download them on my own machine:

[code]

Finally, from looking at the list of tags

[2022-03-25 08:47] aman556 opened #3735 "Windows installation using `install.bat` fails for `v0.11.0-rc.2`"
## Bug Report
[code]

## Expected Behavior

`v0.11.0-rc.2` should install be without errors
## Steps to Reproduce the Bug

- Download the zip
- Extract it
- Run `install.bat`

## Screenshots or additional information and context

## Environment Details

* Build version (`tanzu version`): v0.11.0-rc.2
* Deployment (Managed/Unmanaged cluster):
* Infrastructure Provider (Docker/AWS/Azure/vSphere):
*

[2022-03-25 08:50] karuppiah7890 commented on #3735
This got missed here https://github.com/vmware-tanzu/community-edition/runs/5681928606?check_suite_focus=true#step:3:144 😅

[2022-03-25 08:52] karuppiah7890 commented on #3735
Related / Duplicate - #1398

[2022-03-25 09:08] karuppiah7890 commented on #3651
Do we want to do a cleanup of the `tanzu-plugins` directory too in case it already exists? Currently we see issues when it already exists even though `-Force` is mentioned while creating, but looks like `-Force` works only on read-only items and only with some level of access

[2022-03-25 09:22] karuppiah7890 opened #3737 "Fix release gate CI for Windows OS"
When there's a failure in installation using `install.bat`, the CI should fail, but it passes now, for example -

https://github.com/vmware-tanzu/community-edition/runs/5681928606?check_suite_focus=true#step:3:144

The error that got missed -

[code]

Related - #1398 , #3735

[2022-03-25 12:12] jorgemoralespou commented on #3257
@miclettej having read what's written in the description (I guess that's the proposal), some comments/questions that would need further clarification:

- What's the installation mechanism of the concierge? Will they be produced as .exe/.msi, .dmg, .pkg/.deb/.rpm so that a typical OS installation process happen?
- Once Concierge is installed, is it assumed to be always up and running or is it to be

[2022-03-25 12:28] jorgemoralespou commented on #3732
@absoludity you have all my attention and support :-D Love to see this coming through.
A couple of comments, when come to the implementation:
- Would be awesome if rbac for the PackageInstall could be narrowed down to what's needed and not to cluster-admin. I know all packages currently do cluster-admin, but to be honest, we should be more serious about enforcing only what's needed. Since you brou

[2022-03-25 14:54] stmcginnis commented on #3733
That is definitely not the right place for it to be pulling that image.

Could you provide the output of `grep imageRepository ~/.config/tanzu/tkg/bom/*`?

[2022-03-25 16:38] miclettej commented on #3257
Hello @jorgemoralespou thank you for the questions.

Yes the installation mechanism/deliverables will be a set of executables for supported operating systems (dmg, exe for certain in MVP).

The concierge is intended to be executed on demand for MVP. I think I know where you're going with this question ;-) Further down the road map I think we may revisit the idea of merging a concierge and cluster

[2022-03-25 17:32] joshrosso commented on #3657
@vuil I created multiple AWS instances, then on each, using CAPD, attempted to created a management cluster. In VMs where the cluster got into a bad state, workload creation would always fail, and most operations via `tanzu` would take almost a minute.

We did multiple tests with `v0.10.0` and this problem does not surface

@vuil let me know what's needed from our team. We can give you an AMI/scri

[2022-03-25 19:12] jorgemoralespou commented on #3257
Thanks, my question was more focused on "documenting on the proposal why a native app that needs to be installer vs just an installer for every version". It's more about the rationale of why we're doing things, so people reading the proposal don't wonder why this approach as I initially did. I totally get it, I would just want it to be better described in the proposal ;-)

[2022-03-27 19:26] vfarcic commented on #3333
I did run it during the initial installation thinking that there's no need to run it on each upgrade. Now (after re-running `configure-tce.sh` it works. Thanks a ton, @kartiklunkad26.

[2022-03-27 22:13] eduardocalfaia opened #3741 "unable to create bootstrap cluster: failed to create kind cluster tkg-kind- on MacOS 12.3"
## Bug Report

After the issue of the command:
tanzu management-cluster create lab01  --file /Users/edualfaia/.config/tanzu/tkg/clusterconfigs/kmhbfblnpx.yaml -v 6 I get the error
unable to set up management cluster, : unable to create bootstrap cluster: failed to create kind cluster tkg-kind-c90d92m7ho54tmncdceg: failed to init node with kubeadm: command "docker exec --privileged tkg-kind-c90d92m

[2022-03-27 23:09] absoludity commented on #3732
Excellent, thanks @jorgemoralespou

Yep, for Kubeapps I don't see this as a big issue (since our CRD controller doesn't create resources in namespaces). It was more a general question about adding CRDs as part of Carvel packages and whether there was some separate process I needed to follow since, afaict, if the package has a CRD that  deploys a controller which needs to respond to changes on the

[2022-03-28 05:48] jorgemoralespou commented on #3732
I was referring to contour and cert-manager if needed for ingress, since they typically are.

[2022-03-28 07:31] 12345lcr opened #3743 "Add calico 3.22.1 to addons"
## Feature Request
[Calico 3.22.1](https://projectcalico.docs.tigera.io/archive/v3.22/about/about-calico) is released. Add calico 3.22.1 package.

[2022-03-28 10:26] adriens commented on #3222
Sorry it's in french, but here is the [full dedicated DEV.to post](https://dev.to/optnc/running-tanzu-unmanaged-cluster-on-very-low-resources-15g1)

[2022-03-28 10:27] gbonazzoli opened #3748 "tanzu 0.11.0-rc.2 on vSphere : The virtual disk is either corrupted or not a supported format."
The problem with version 10.1 was present too, but tanzu was able to create the management cluster anyway.

tanz Version 10.1 got 3 or 4 times the same cloning error but it was able to fullfill the operation.

With version 0.11.0-rc2 the same error is fatal and the installation process is only waiting and do not retry to clone the virtual machine.

See the error got on vCenter:

<img width="1269"

[2022-03-28 12:24] stmcginnis commented on #3741
Hi @eduardocalfaia - this looks like one of our known issues with v0.10.1 and earlier related to cgroupv2. Can you run `docker info | grep -i cgroup` and see if it reports cgroupv version of 2?

If that is the case, there are a couple options to mitigate this. Our upcoming release will fix this, but in the meantime you need to force running cgroupv1. You can either downgrade Docker Desktop to 4.2.

[2022-03-28 12:28] stmcginnis commented on #3748
This would appear to be a problem in your vSphere environment with the template disk. Just using the vSphere UI, are you able to create a VM using the same template? I would expect it to give you the same error.

You could try deleting the template and redeploying. Might be worth redownloading the OVA too just to make sure you have an uncorrupted image.

[2022-03-28 13:26] kcoriordan opened #3750 "Versioned docs displaying wrong version in some topics"
## Bug Report

The versioned v0.10 docs are showing 0.11 in some topics where the following variables are referenced from the `config.yaml `file:
[code]

 Even though the values in the `config.yaml` file are correct at 0.10
 https://github.com/vmware-tanzu/community-edition/blob/release-0.10/docs/site/config.yaml

 For example:

 https://tanzucommunityedition.io/docs/v0.10/getting-started/#deploy-

[2022-03-28 13:31] eduardocalfaia commented on #3741
Thanks @stmcginnis,  In this case I will wait the release that fix it.

[2022-03-28 14:24] cirocosta opened #3751 "Add OOTB Basic SupplyChain"
### Problem

With the TCE v0.12 release, we have [Cartographer](https://cartographer.sh) available in TCE. We also have Application Toolkit for users to set-up their development environment.

Despite this, a developer still has to know how to set-up a supply chain to enable a source code to URL story.

### Feature Request

The ask is to have an out-of-the-box basic supply chain that is available f

[2022-03-28 14:40] gbonazzoli commented on #3748
Yes you are right,

the problem lays on one of my host that occasionally gets an error in the cloning operation.

But 10.1 was aware of the error and retries till success, 11.0 doesn't catch the error and waits indefinitively.

In my personal view it is a little regression.

[2022-03-28 14:55] atmandhol opened #3752 "Add Service Binding for Kubernetes package to TCE"
## Feature Request
### Problem
Today in Kubernetes, the exposure of secrets for connecting application workloads to external services such as REST APIs, databases, event buses, and many more is manual and bespoke. Each service provider suggests a different way to access their secrets, and each application developer consumes those secrets in a custom way to their workloads. While there is a good de

[2022-03-28 16:11] jorgemoralespou commented on #3538
@jpmcb Not sure if your PR solves this issue, but:

When creating a cluster with config, you need to specify image to be used for the node, or otherwise it'll use `kindest/node:v1.23.4`. The image comes in the TKR, and a user would need to know how to extract that information out of the TKR manually to use in the kind config. Also, if TKR is incremented, but user still uses config file there's 2 o

[2022-03-28 16:17] joshrosso commented on #3538
This PR would not solve this.

The reason is that have `rawKindConfig` specified. When the `kind` provider sees `rawKindConfig` specified, feeds that into `kind` directly without modifying it via any other settings.

A case could be made that there should be a "merge" of settings here, but we'd need a separate issue to track and assess that.

Thank you!

[2022-03-28 16:25] jorgemoralespou commented on #3538
@joshrosso should I open that issue?

[2022-03-28 16:30] jorgemoralespou opened #3755 "Merge rawKindConfig with TCE cluster config (and CLI flags)"
## Feature Request
When creating a cluster with config, you need to specify image to be used for the node, or otherwise it'll use kindest/node:v1.23.4. The image comes in the TKR, and a user would need to know how to extract that information out of the TKR manually to use in the kind config. Even if TKR is not specified (after solving #3538) and dynamically resolved, the image comes from the TKR a

[2022-03-28 16:30] jorgemoralespou commented on #3538
https://github.com/vmware-tanzu/community-edition/issues/3755

[2022-03-28 16:37] joshrosso commented on #3668
@tomkennedy513 overall this is _likely_ ok.

Question: Would it be a bad practice to include these dependencies in the `kpack` package itself?

@seemiller

[2022-03-28 16:42] joshrosso commented on #3687
Moving this to `v0.13.0. so we don't lose site of this.

It's probably worth re-evaluating the whole process end-to-end.

[2022-03-28 16:44] jpmcb opened #3756 "`make misspell` doesn't show mispellings"
## Bug Report

If you add a misspelling (like this mispelling of compatibility in the `unmanaged-cluster` plugin):
[code]

And then running `make misspell` fails _but_ does not show where it failed:
[code]

## Expected Behavior

I'd like to still know where my misspellings (which are frequent) are happening so I can correct them. Maybe the output is getting eaten up somewhere?

## Steps to Reprodu

[2022-03-28 16:45] joshrosso commented on #3294
@chaudharyalka 2 questions on this package:

1. Do we have a team resourced to maintain this package over time?
2. @kartiklunkad26 this package has relation to the work your team is doing, do you have any thoughts on this or feel it's entirely independent.

[2022-03-28 16:45] joshrosso commented on #3271
@chaudharyalka 2 questions on this package:

1. Do we have a team resourced to maintain this package over time?
2. @kartiklunkad26 this package has relation to the work your team is doing, do you have any thoughts on this or feel it's entirely independent.

[2022-03-28 16:46] jpmcb commented on #3687
Would it be possible to serve a subdomain to a different statically built site with something like [Docusaurs](https://docusaurus.io/)? That would _automatically_ give us versioned docs and other nice to have docs features

So, if I go to `docs.tanzucommunityedition.io`, I am served the static files built by Docusaurs instead of our own site

[2022-03-28 16:57] joshrosso commented on #3741
Release should be happening tomorrow, let us know if you try it out and we'll close this accordingly!

[2022-03-28 17:10] stmcginnis commented on #3748
@gab-satchi - do you know if there was a change in behavior here with the CAPV provider?

[2022-03-28 17:11] miclettej commented on #3252
Closing as duplicate of https://github.com/vmware-tanzu/community-edition/issues/3631

[2022-03-28 17:11] #3252 closed

[2022-03-28 17:29] gab-satchi commented on #3748
not sure of any recent changes. cc: @srm09

[2022-03-28 18:40] RussellHamker opened #3758 "Setting Tanzu Bash completion causes error : storage: object doesn't exist"
## Bug Report

I run the below commands during building a Ubuntu 20.04 OVA to allow for bash auto-completion. Validating the command gives me an error.

Command:
tanzu completion bash | sudo tee /etc/bash_completion.d/tanzu > /dev/null
or
/usr/local/bin/tanzu completion bash | sudo tee /etc/bash_completion.d/tanzu > /dev/null

## Expected Behavior

There should be no error and bash completion shou

[2022-03-28 19:03] joshrosso commented on #3735
Verified this is the same issue, however now the plugin's init get's triggered during install so it's surfacing.

![image](https://user-images.githubusercontent.com/6200057/160468447-3e71482e-9da0-4d4c-99da-aecff9ad49cb.png)

The cli is still installed correctly and users (on windows) may still need to use the following workaround:

https://github.com/vmware-tanzu/community-edition/issues/1398

[2022-03-28 19:56] dvonthenen commented on #3735
I think this might be the solution to the problem... we shouldn't even be doing a `tanzu init` on the install in this package:
https://github.com/vmware-tanzu/community-edition/blob/main/hack/release/install.sh#L124-L126

[2022-03-28 20:31] kcoriordan commented on #3750
based on discussion with @stmcginnis @jonasrosland, self assigning for now to do a hard code fix

[2022-03-28 21:04] adriens opened #3759 ":bulb: Deliver tanzu as a "Oh My ZSH!" plugin (for an even better console UX) :pray:"
# :point_right: Context

[Oh My ZSH!](https://ohmyz.sh/) is a very widely used `zsh` theme that make the console experience very efficient and comfortable.

It provides an ever growing set of [plugins](https://github.com/ohmyzsh/ohmyzsh/wiki/Plugins) for the most famous softwares.

A plugins provvided in particular :

- A set of commonly used aliases
- Auto complete experience

It provides in part

[2022-03-28 21:14] adriens commented on #3295
- **Organization/Company**: [OPT-NC](https://github.com/opt-nc)
- **Website**: https://www.opt.nc/
- **Usage scenario**: We are experimenting on Tanzu on VMWare and are using TCE for learning purpose, make innovations and get a create/drop approach on our workstations.
- **Status**: We are using TCE on developemen environments on the programmer's machine

We are using TCE to promote internally Tan

[2022-03-28 21:16] jpmcb commented on #3759
Very cool idea! I've used OMZ for years and it's a great framework for managing your zsh environment and themes.

The community can definitely do this but a few questions first:

Do we already know about these or have an idea of what people would want here?

FYI - there hasn't been alot of work that's gone into the completions. We get _alot_ for free from using `cobra` but since `tanzu` uses and c

[2022-03-28 21:42] joshrosso commented on #3735
This behavior is a dupe of https://github.com/vmware-tanzu/community-edition/issues/1398

Verified that install still succeeds but you may need to do the workaround described in https://github.com/vmware-tanzu/community-edition/issues/1398 to resolve the BoM.

[2022-03-28 21:42] #3735 closed

[2022-03-28 22:02] adriens commented on #3759
Hi @jpmcb ,

I'll use every day more and more the `tanzu` cli with my team. So for now, I don't really which aliases could be created (which commony tasks could be aliased). : maube creation.drop tasks.

[2022-03-28 23:06] #3538 closed

[2022-03-29 01:16] carlosonunez commented on #3733
Environment was clean before I installed. I did another install today and ensured that the tanzu directory was purged from XDG_DIR. Same result. I'll send a gif demonstrating the behavior I'm experiencing.
On Mar 28, 2022, 10:35 -0500, Sean McGinnis ***@***.***>, wrote:

[2022-03-29 10:47] kartiklunkad26 commented on #3668
I think the purpose of keeping it separate is that it enables the dependencies to iterate on a faster cadence. Dependencies can change more often (buildpacks) than kpack.

I am seeing a more general trend of “smaller” packages, that makes me believe we will see a trend of more grouped packages.

[2022-03-29 13:16] stmcginnis opened #3771 "Version drop down does not change selected version"
## Description

When looking at the docs, I tried to select a different version to compare the last release with the current release. I am able to click on the drop down and select the other version, but the page refreshes and brings me back to where I was.

If I manually edit the version string in the URL, that does switch me over to the right version of the docs. But again on the other version,

[2022-03-29 13:19] stmcginnis commented on #3771
Initially saw this on macOS using Brave. Also observed the behavior using Safari.

[2022-03-29 14:35] jpmcb commented on #3771
I'm seeing the same behavior:

![drop-down-no-work](https://user-images.githubusercontent.com/23109390/160636155-d9454535-0011-4626-b940-e16e09a2a099.gif)

System:
- Firefox developer edition 97.0 (64 bit version)
- Pop OS 21.04

[2022-03-29 14:39] jpmcb commented on #3771
Seeing the same behavior on Chrome:

![chrome-versioned-not-working](https://user-images.githubusercontent.com/23109390/160637115-f7e42f96-8405-42d9-bc64-dfbb260e2350.gif)

Version 98.0.4758.102 (Official Build) (64-bit)

[2022-03-29 14:48] kcoriordan opened #3776 "2 topics missing from v0.11 toc"
## Bug Report

when I copied the `main-toc.yml ` to create `v0.11-toc.yml ` in this PR https://github.com/vmware-tanzu/community-edition/pull/3715
, these 2 PRS were not merged at that time, so the v0.11-toc is missing those 2 toc items:

https://github.com/vmware-tanzu/community-edition/pull/3652

https://github.com/vmware-tanzu/community-edition/pull/3702

## Expected Behavior

## Steps to Repro

[2022-03-29 14:54] #3776 closed

[2022-03-29 15:05] jpmcb opened #3778 "Enable `unmanaged-cluster` providers to access logger"
## Feature Request

Currently, the `unmanaged-cluster` provider API has no way to bubble up log messages or warnings.

We should consider adding some kind of interface that the providers can interact with in order to bubble up important log messages.

Use cases:
- One provider cannot implement multiple control planes, but others can. The provider that cannot use this feature should be able to log

[2022-03-29 15:11] stmcginnis commented on #3778
It may be worth adding a `context` to the standard set of arguments we pass in to the provider interface. That would allow us to add things like timeouts if we need to. Then we could pass around things like the logger similar to https://github.com/kubernetes-sigs/cluster-api/blob/7069af2c806b440bcdc5ef50a9d25dd594db9bbc/internal/log/log.go#L38

Otherwise we could handle passing the logging instanc

[2022-03-29 15:25] jpmcb commented on #3778
I like that idea.

I've also considered the idea of adding string channels that the provider could push logs to. Then, the `tanzu` package could attempt to pop off messages from the channel in the `wait` loop and log them generically without having to pass in the logger itself.

It'd require a bit more async, parallel programming code, but could be a generic enough approach that doesn't bloat the

[2022-03-29 15:48] jpmcb commented on #3778
I also realize that's why this part of the `Manager` interface is sort of weird:

https://github.com/vmware-tanzu/community-edition/blob/97ac483c2a4884be1c288871cf7059431c88232b/cli/cmd/plugin/unmanaged-cluster/cluster/cluster.go#L44-L46

It returns a slice of strings to be logged by the `tanzu` package. But we don't want to have one of these methods for every situation. So may be better to approa

[2022-03-29 16:37] #3756 closed

[2022-03-29 17:49] jorgemoralespou opened #3782 "Provide arm64 images for external-dns"
## Feature Request

To fully support arm64 based architectures, as requested in https://github.com/vmware-tanzu/community-edition/issues/2171 we need all the images to provide arm64 arch images.

External-dns does not provide arm64 image

[2022-03-29 17:50] jorgemoralespou opened #3783 "Provide arm64 images for Cartographer"
To fully support arm64 based architectures, as requested in https://github.com/vmware-tanzu/community-edition/issues/2171 we need all the images to provide arm64 arch images.

Cartographer does not provide arm64 image

[2022-03-29 17:50] jorgemoralespou opened #3784 "Provide arm64 based images for cert-injection webhook"
To fully support arm64 based architectures, as requested in https://github.com/vmware-tanzu/community-edition/issues/2171 we need all the images to provide arm64 arch images.

cert-injection webhook does not provide arm64 image

[2022-03-29 17:51] jorgemoralespou opened #3785 "Provide arm64 based images for Grafana"
To fully support arm64 based architectures, as requested in https://github.com/vmware-tanzu/community-edition/issues/2171 we need all the images to provide arm64 arch images.

Grafana does not provide arm64 image

[2022-03-29 17:52] jorgemoralespou opened #3786 "Provide arm64 images for Harbor"
To fully support arm64 based architectures, as requested in https://github.com/vmware-tanzu/community-edition/issues/2171 we need all the images to provide arm64 arch images.

Harbor does not provide arm64 images

[2022-03-29 17:53] jorgemoralespou opened #3787 "Provide arm64 images for Whereabouts"
To fully support arm64 based architectures, as requested in https://github.com/vmware-tanzu/community-edition/issues/2171 we need all the images to provide arm64 arch images.

Whereabouts does not provide arm64 image

[2022-03-29 17:53] jorgemoralespou opened #3788 "Provide arm64 images for Prometheus"
To fully support arm64 based architectures, as requested in https://github.com/vmware-tanzu/community-edition/issues/2171 we need all the images to provide arm64 arch images.

Prometheus does not provide arm64 image

[2022-03-29 17:54] jorgemoralespou opened #3789 "Provide arm64 images for Kpack"
To fully support arm64 based architectures, as requested in https://github.com/vmware-tanzu/community-edition/issues/2171 we need all the images to provide arm64 arch images.

Kpack does not provide arm64 image

[2022-03-29 17:55] jorgemoralespou commented on #3782
@vmware-tanzu/pkg-external-dns-owners FYI

[2022-03-29 17:57] jorgemoralespou commented on #3783
@vmware-tanzu/pkg-cartographer-owners FYI cc/ @kartiklunkad26 @cirocosta @waciumawanjohi

[2022-03-29 17:58] jorgemoralespou commented on #3785
@vmware-tanzu/pkg-grafana-owners FYI

[2022-03-29 17:59] jorgemoralespou commented on #3786
@vmware-tanzu/pkg-harbor-owners FYI

[2022-03-29 18:00] jorgemoralespou commented on #3787
@vmware-tanzu/pkg-whereabouts-owners FYI @zhanggbj

[2022-03-29 18:37] hemakshis commented on #3294
Hi @joshrosso

The TMC Build Integrations team @ VMware will be taking the ownership of this package

[2022-03-29 18:44] kartiklunkad26 commented on #2696
@heyjcollins @jorgemoralespou had a couple of questions:
1. What will happen if the user does not have Cartographer or App Toolkit packages installed, and tries to use the tanzu apps CLI plugin? How will it handle the failure to not have the Workload object CR in the cluster?

2. Is this plugin context-aware today?

cc: @atmandhol @rashedkvm

[2022-03-29 18:47] kartiklunkad26 opened #3798 "Github Label request for App Toolkit"
## Problem Statement
App Toolkit as a package leverages TCE as the community, and the user engagement interface. This means that TCE users will raise issues typically in the TCE repo about App Toolkit.

## Request

From a tracking and collecting user feedback perspective, it will be really helpful if we can create a label `area/packages/app-toolkit` so that I can label any incoming issues correspo

[2022-03-29 19:27] #3701 closed

[2022-03-29 20:35] kartiklunkad26 commented on #3294
While this is in the Flux family, this is different from the FluxCD Source Controller package.

[2022-03-29 20:35] kartiklunkad26 commented on #3271
While this is in the Flux family, this is different from the FluxCD Source Controller package.

[2022-03-29 21:46] jpmcb commented on #3741
Release is now live!! 🥳

https://github.com/vmware-tanzu/community-edition/releases/tag/v0.11.0

[2022-03-29 22:14] LandoVMW opened #3802 "[Docs] [](/docs/v0.11/tmc-register/)"
## Description
The first step in the procedure says
"In the Administration tab, click Register Management Clusters and ..."
I think you mean to say
"On the Management Clusters tab of the Administration page, click Register Management Cluster and ..."

## Location
topic=Register a Management Cluster in Tanzu Mission Control
(https://tanzucommunityedition.io/docs/v0.11/tmc-register/#register-a-manag

[2022-03-29 23:06] joshrosso opened #3803 "Backport patches into framework `v0.11.x` to support TCE release"
This issue tracks all the commits we'd like to have backported into framework `v0.11.x` in order to support the TCE `v0.12.0` release.

* [ ] [Add edition to tkg-metadata configmap](https://github.com/vmware-tanzu/tanzu-framework/pull/1949/commits/00542d238fa4edaec262dacb262b3dde62cf886c)
* [ ] [Use log.Infof for formatted log string](https://github.com/vmware-tanzu/tanzu-framework/pull/1522/commi

[2022-03-29 23:12] joshrosso commented on #2987
@stmcginnis taking this from you to free you up for UI/Installer related tasks.

[2022-03-29 23:18] eduardocalfaia commented on #3741
Hi guys,
Thank you very much, you can close this issue.
<img width="1427" alt="Screenshot 2022-03-30 at 00 16 50" src="https://user-images.githubusercontent.com/3436692/160721866-e5a58f23-3d90-47d7-a2ef-b849cb384ceb.png">

[2022-03-29 23:18] #3741 closed

[2022-03-30 01:21] zyyw commented on #1994
As @heww mentioned, tlsCertificateSecretName is supported in PR 2563, I think we can close this issue now.

[2022-03-30 02:49] zyyw commented on #3491
@cmoulliard , if you are trying to use your own tlsCertificate, please configure the harbor-data-values.yaml like this:
[code]

Or you can use self-signed certificate, by leaving tlsCertificate configuration empty, like this:
[code]

[2022-03-30 06:36] chaudharyalka commented on #3294
Hi @joshrosso

The TMC Build Integrations team @ VMware will be taking ownership of this package

[2022-03-30 12:38] karuppiah7890 opened #3813 "Secrets intermittently not getting set for CI jobs"
This is to fix Azure E2E test failures https://github.com/vmware-tanzu/community-edition/runs/5747017419?check_suite_focus=true#step:5:2578

[2022-03-30 12:39] karuppiah7890 opened #3814 "Fix failing vSphere E2E tests"
https://github.com/vmware-tanzu/community-edition/actions/workflows/e2e-vsphere-management-and-workload-cluster.yaml

[2022-03-30 13:51] joshrosso commented on #3593
@steven-zou @usahai30 @vaamarnath, the PR in framework is up at:

* https://github.com/vmware-tanzu/community-edition/issues/3593

Please take a look. Once merged, we'll backport it into framework `v0.11.X` and include it in TCE `v0.12.0`.

[2022-03-30 15:12] joshrosso commented on #3537
@jpmcb and I had a session today to talk about this initially, pasting some of the thoughts here for reference:

![image](https://user-images.githubusercontent.com/6200057/160869224-6ddc790e-6881-44dd-ab52-b15738c857b2.png)

![image](https://user-images.githubusercontent.com/6200057/160869271-2f9067bf-008e-4ffa-84e9-2a925c438e32.png)

[2022-03-30 15:31] rashedkvm commented on #2696
API Error name:tanzu apps  error:no matches for kind "Workload" in version "carto.run/v1alpha1"

Apps plugin is installed as standalone and not context-aware yet

[2022-03-30 15:52] jorgemoralespou commented on #3537
@jpmcb @joshrosso some quick comments after looking at the pictures above:
- Packages currently have long names. So it would be more like `tanzu uc create --profile apk.community.tanzu.vmware.com --profile-config=values.yaml`

[2022-03-30 16:15] kartiklunkad26 opened #3817 "secretgen-controller installed by default in TCE unmanaged-clusters"
## Feature Request

To set-up a developer environment with App Toolkit, we require the user to create a placeholder secret with the `tanzu secret` plugin that then is propagated to all namespaces.

We require `secretgen-controller` to help us enable this outcome.

## Describe alternatives you've considered

The alternative would be to install secretgen-controller manually by the user which is not

[2022-03-30 16:27] joshrosso commented on #3593
I verified in (internal) framework SIG today that this source change is all that's needed and our downstream build processes will pick it up and push it to the image registry.

![image](https://user-images.githubusercontent.com/6200057/160884707-6b0da9c0-3e99-4906-a04a-256d8c153c63.png)

[2022-03-30 16:38] joshrosso commented on #3817
@kartiklunkad26 so the expectation is that `secretgen-controller` is installed by default in all unmanged-clusters?

[2022-03-30 16:46] jorgemoralespou commented on #3817
@joshrosso secretgen is available on managed clusters by default, so I would consider that expectations from what "tanzu" provides in the clusters by default should be aligned. As `uc` does provide what's been called `tanzufying` clusters "capability" so in that regard we should define what `tanzufying` means (which I consider having feature parity on user-space stuff on the cluster)

[2022-03-30 17:14] rashedkvm commented on #2696
I agree with your thoughts @jorgemoralespou. We should be friendly to the users. It is a simple fix to update the message for such a condition. I would love to get feedback from UX folks @danfein regarding the message text.

cc: @heyjcollins @atmandhol

[2022-03-30 20:45] seemiller opened #3821 "Update Gatekeeper package to 3.7.1"
## Feature Request

Update Gatekeeper package to 3.7.1

[2022-03-30 21:22] seemiller opened #3823 "Ensure TCE packages are tagged in Harbor"
## Feature Request

The Harbor OCI Registry will garbage collect (i.e. delete) images/bundles that do not have tags. TCE has encountered issues in the past where packages "disappear".  A package would be referenced by a tag, which then resolved to a SHA. The tag is removed from the image on Harbor.  Harbor runs GC and deletes the image. Any TCE cluster using a package repository that references th

[2022-03-30 21:26] seemiller opened #3824 "Update local-path-storage to 0.0.22"
## Feature Request

local-path-storage 0.0.22 was just released. Update the package to utilize this version.

## Describe alternatives you've considered

## Additional context

[2022-03-30 21:56] seemiller commented on #3036
I believe that this issue will have been resolved with the latest versions of the Grafana package, 7.5.7-1 and 7.5.11-1. Reference #3510 for more information.

[2022-03-30 21:56] #3036 closed

[2022-03-30 21:57] seemiller opened #3826 "Update cert-manager for `v0.12.0`"
## Feature Request

Update cert-manager to the latest versions.

- 1.7.2
- 1.6.3
- 1.5.5

## Describe alternatives you've considered

## Additional context

[2022-03-31 00:24] miclettej opened #3830 "TCE UI: Add development env node.js server for mocking REST APIs"
## Feature Request

Add a development environment only node.js server that can be used for creating mock APIs. This is used for developing UI in parallel with production REST APIs.

Should leverage express.js for mocking REST calls and include a mock websocket

## Describe alternatives you've considered

none

## Additional context

Provides similar developer experience as kickstart UI, helping to

[2022-03-31 02:58] kartiklunkad26 commented on #3817
secretgen-controller is closer to kapp-controller in the sense it's generic functionality and not related to the "App-Toolkit" package. I consider it as the minimum capabilities in a cluster, and hence the ask to have it be available on all `unmanaged-clusters`.

My option B would be to not leverage secretgen-controller at all rather than including it in App Toolkit or asking users to install it s

[2022-03-31 03:40] heww commented on #3591
Thanks all, we will fix this in harbor 2.4.2 and backport it to 2.3.3.

[2022-03-31 03:48] heww commented on #3491
The values of the tlsCertificate are raw strings of the certificate. When setting them in the values, `|` is needed for multiline strings in yaml file.

[2022-03-31 05:32] karuppiah7890 opened #3833 "gatekeeper `3.2.3` package missing in `0.11.0` package repository"
## Bug Report

gatekeeper `3.2.3` package is missing in `0.11.0` package repository

gatekeeper `3.2.3` code - https://github.com/vmware-tanzu/community-edition/tree/main/addons/packages/gatekeeper/3.2.3

[code]

## Expected Behavior

To be able to see `3.2.3` along with `3.7.0` version of gatekeeper package

## Steps to Reproduce the Bug

- Create a TCE cluster / Tanzufy an existing K8s cluster
-

[2022-03-31 05:32] karuppiah7890 commented on #3833
cc @seemiller

[2022-03-31 09:48] #3525 closed

[2022-03-31 10:48] karuppiah7890 opened #3835 "Validate Tanzu Framework `v0.11.3`"
- [ ] Test Management and Workload Cluster deployment (`management-cluster` and `cluster` plugins)
   - [x] #3836
   - [x] #3837
   - [x] #3838
   - [x] #3839
- [ ] Test Package installation (`package` plugin)

[2022-03-31 10:48] karuppiah7890 opened #3836 "Test Management and Workload Cluster deployment on AWS"
Test Management and Workload Cluster deployment on AWS using Tanzu Framework `v0.11.3`

[2022-03-31 10:48] karuppiah7890 opened #3837 "Test Management and Workload Cluster deployment on Azure"

[2022-03-31 10:48] karuppiah7890 opened #3838 "Test Management and Workload Cluster deployment on vSphere"

[2022-03-31 10:48] karuppiah7890 opened #3839 "Test Management and Workload Cluster deployment on Docker"

[2022-03-31 10:55] #3836 closed

[2022-03-31 11:57] karuppiah7890 commented on #3837
[azure-tf-0.11.3-e2e.log](https://github.com/vmware-tanzu/community-edition/files/8389069/azure-tf-0.11.3-e2e.log)

[2022-03-31 12:02] stmcginnis opened #3840 "Etcd 3.5.x should not be used or corrupt check should be in place"
## Bug Report

TCE v0.11.0 shipped using etcd 3.5.0. Just prior to release, a notice was sent out by the etcd maintainers that there is a data consistency issue in the 3.5.x releases and that it should not be used. The problem affects versions v3.5.0, v3.5.1, v3.5.2

https://groups.google.com/g/etcd-dev/c/sad9tgmKU7Y/m/vhArFVevBgAJ

See https://github.com/etcd-io/etcd/issues/13766 for more details

[2022-03-31 13:12] vaamarnath commented on #3593
the changes looks good. as described on the PR description, we expect the `edition` field for both management and workload clusters.

thanks for fixing this @joshrosso!

[2022-03-31 13:27] joshrosso commented on #3840
or if clusters continue to ship with 3.5.x in the near term, we should:

* Enable data corruption check with `--experimental-initial-corrupt-check` flag. The flag is the only reliable automated way of detecting an inconsistency. This mode has seen significant usage in production and is going to be promoted as default in etcd v3.6.

[2022-03-31 14:28] #2731 closed

[2022-03-31 14:28] #2942 closed

[2022-03-31 14:49] jorgemoralespou commented on #832
@jpmcb This issue is still relevant as it affects managed-clusters with CAPD. https://kubernetes.slack.com/archives/C02GY94A8KT/p1648732902925359

[2022-03-31 14:59] kartiklunkad26 commented on #3817
Not using `secretgen-controller` means the users will have to apply a bunch of YAML to be able to use App Toolkit :(

[2022-03-31 15:12] RussellHamker opened #3842 "TCE Management Cluster will not survive reboot/restart in Docker"
## Bug Report

After creating a fresh tce management cluster and validating it is ready, we reboot the VM/docker instance. Upon reboot, HAProxy docker image does not restart and tce mgmt cluster will not come up. Reviewing docker network config, it looks as though the docker containers IPs switch.

## Expected Behavior

Upon reboot, tce management cluster should come up on specific order with spec

[2022-03-31 15:18] rajks24 opened #3843 "Link missing for "working with packages" on page for docker-monitoring-stack"
## Description

The link to the md file for https://tanzucommunityedition.io/docs/v0.11/package-management.md is missing on the page https://tanzucommunityedition.io/docs/v0.11/docker-monitoring-stack

## Location

Page - https://tanzucommunityedition.io/docs/v0.11/docker-monitoring-stack

The text with the missing link is
It is also recommended that readers familiarise themselves with the **[work

[2022-03-31 15:23] swalner-vmware opened #3844 "Concierge: Darwin - polish detection of existing installation"
## Feature Request
Polish the detection of an existing installation (using hashes to confirm binary edition)
This includes UI work to stop the installation over top of a non-TCE installation

[2022-03-31 15:26] jorgemoralespou opened #3845 "Define what does `Tanzuify` a cluster mean"
## Feature Request
In some issues we talk about tanzufying a cluster. There's a feature on unmanaged-clusters that installs some bits on an existing cluster. It's not clear what these bits are and how they relate to the `productised` version of Tanzu Clusters (TKG) to Managed TCE clusters. It'll be ideal to define what does `tanzufying a cluster` means, what should be expected on every `tanzufyied

[2022-03-31 15:30] swalner-vmware opened #3846 "Concierge: create proper UI for front end"
## Feature Request
The current state of the Concierge front end is just an engineering implementation to show functionality.
We need a smooth, proper UI with progress bars, animation, icons, styling, etc.
This will require coordination with UX designers and (likely) an effort to make the overall presentation compatible with the UI plugin.

[2022-03-31 15:57] joshrosso commented on #832
Agreed. Reopening.

To be entirely transparent, I don’t foresee CAPD-based restart support being in our near-term future.

[2022-03-31 16:23] jorgemoralespou commented on #832
Then I would make it more prominent at the top of the doc page and not at the very bottom https://tanzucommunityedition.io/docs/v0.11/docker-install-mgmt/

[2022-03-31 17:17] rajaskakodkar opened #3849 "`make docker-management-and-cluster-e2e-test` is broken"
## Bug Report
`make docker-management-and-cluster-e2e-test` fails with the following error.

[code]

## Expected Behavior

`make docker-management-and-cluster-e2e-test` should not fail and carry out E2E test on TCE CAPD cluster.

## Steps to Reproduce the Bug

Checkout TCE
Run `make docker-management-and-cluster-e2e-test`
## Screenshots or additional information and context
https://github.com/vmwa

[2022-03-31 17:17] rajaskakodkar commented on #3849
cc: @karuppiah7890

[2022-03-31 17:33] joshrosso commented on #3803
@navidshaikh the above are official all done in `main`.

Can we now backport them for `TFv0.11.4`?

Would you like the TCE team to do this or is this some rel-eng can do?

[2022-03-31 18:03] rajaskakodkar opened #3851 "`aws-nuke-tear-down` should not use the flags --access-key-id and --secret-access-key"
## Bug Report

Currently, https://github.com/vmware-tanzu/community-edition/blob/d4b6d1ad83b9e6d8aeb9a00ebd0a1bbfecace719/test/util/aws-nuke-tear-down.sh#L6 is used to nuke AWS resources when cluster provisioning fails in AWS E2E test through the make target https://github.com/vmware-tanzu/community-edition/blob/d4b6d1ad83b9e6d8aeb9a00ebd0a1bbfecace719/Makefile#L488

Function `aws-nuke-tear-down`

[2022-03-31 18:04] rajaskakodkar commented on #3851
cc: @karuppiah7890

[2022-03-31 18:26] joshrosso commented on #3593
PR is closed so closing this.

Tracking the backporting can be tracked at:

* https://github.com/vmware-tanzu/community-edition/issues/3803

[2022-03-31 18:26] #3593 closed

[2022-03-31 19:00] RussellHamker commented on #832
It appears that this issue with a management cluster reboot is that when docker comes back up, the containers do not start in the same order or do not get the same IP addresses.

My Build Process for a management cluster today in Docker:
`cat <<EOF > tce-mgmt.yaml
CLUSTER_CIDR: 100.96.0.0/11
CLUSTER_NAME: tce-mgmt
CLUSTER_PLAN: dev
ENABLE_MHC: "false"
IDENTITY_MANAGEMENT_TYPE: none
INFRASTRUCTURE_

[2022-03-31 19:04] stmcginnis commented on #832
If I remember right, this was the case when I looked closer and what I've heard from other upstream projects like `kind`. There really needs to be some sort of IPAM integration in docker that would allow for assigning persistent IP addresses to containers for multi-node clusters to reliable survive docker engine restarts. Without that, it's possible you can restart and get your full cluster back,

[2022-03-31 19:06] RussellHamker commented on #832
Looks like they already have that...
https://www.cloudsavvyit.com/14508/how-to-assign-a-static-ip-to-a-docker-container/

[2022-03-31 19:14] stmcginnis commented on #832
Yeah, the capability exists to set an address. The missing piece is an IPAM to manage what to set.

[2022-03-31 19:15] RussellHamker commented on #832
I dont think IPAM is needed, you just need to set the IPs and network during the build process somehow. Where is the tanzu management yaml file stored after cluster creation?

[2022-03-31 19:21] joshrosso commented on #3294
Thanks @hemakshis we're good to get this package into TCE whenever ya'll are ready.

If you haven't reviewed it, checkout our [package maintainer docs](https://github.com/vmware-tanzu/community-edition/tree/main/docs/packaging), which should help guide you along the process.

Let us know here or in slack if we can help!

[2022-03-31 19:21] joshrosso commented on #3271
Thanks @hemakshis we're good to get this package into TCE whenever ya'll are ready.

If you haven't reviewed it, checkout our [package maintainer docs](https://github.com/vmware-tanzu/community-edition/tree/main/docs/packaging), which should help guide you along the process.

Let us know here or in slack if we can help!

[2022-03-31 19:21] jorgemoralespou commented on #3817
@joshrosso If the issue is `A core issue with secretgen controller is that it does not ship an arm64 container image` We need to push Carvel team to do so, as we do for kapp-controller.

https://github.com/vmware-tanzu/carvel-secretgen-controller/issues/57

https://github.com/vmware-tanzu/community-edition/issues/3845

I recommend c.

c. Get the carvel team to produce arm64 images so that we can `

[2022-03-31 19:47] jpmcb commented on #3842
This looks like the same issue as https://github.com/vmware-tanzu/community-edition/issues/832

Closing - let me know if this is indeed different!

[2022-03-31 19:47] #3842 closed

[2022-03-31 20:07] jpmcb commented on #3235
Awesome!! 👏🏼

[2022-03-31 20:07] joshrosso commented on #3235
@garrying on this one, were there updated mockups we could update the proposal with?

[2022-03-31 20:17] dvonthenen commented on #3257
This is probably the root of the problem here... this is definitely not a guarantee and in fact, we know this changes between each and every release. Trying to dissect this a second time sounds extremely problematic and also inserts another person into yet another packaging and installation process and then have a the UI be updated to match.

We currently have 2 mechanisms in which we allow for a

[2022-03-31 20:19] jpmcb commented on #3257
TLDR: I'm unsure I see a need for this beyond something that a single command would fufill. However, I'm definately coming from the perspective of a heavy CLI user. Do we have research or user feedback that they want to use a GUI to install the tools?

There have definitely been problems with users installing the CLI and it's binaries. But if the CLI, with alot of the context aware work done by th

[2022-03-31 20:20] dvonthenen commented on #3257
There was also mention (internally) this only can be cross built on macos only which is going to be very difficult downstream during windows signing.

[2022-03-31 21:16] garrying commented on #3235
@joshrosso This is the updated direction we're moving in:
![Clusters - Management Cluster - Step 2](https://user-images.githubusercontent.com/227587/161150091-797bd470-79ff-47d5-9d6f-5ec621196217.png)
(@miclettej could you move this this up into the proposal?)

[2022-04-01 00:37] karuppiah7890 commented on #3837
Everything looks good from the logs and the verification done! Closing this as done and verified as AWS management and workload cluster creation and deletion works with Tanzu Framework `v0.11.3`

[2022-04-01 00:37] #3837 closed

[2022-04-01 07:09] Priyankasaggu11929 commented on #3851
X-posting from slack discussion:

---

From what I understood, we can drop the `--access-key-id` & `--secret-access-key` flags entirely from the script.

When the flags are not mentioned, the `aws-nuke` command looks for either of the two things:
- It checks whether there is a `default` profile set in the `~/.aws/credentials` file (with access_key_id & secret_access_key) in the host filesystem.
-

[2022-04-01 11:40] #3591 closed

[2022-04-01 12:09] stmcginnis commented on #2205
Tested this again with our latest release:

[code]

It did not show the error descibed. There is the `WARNING: key is not a string` warning string that we are waiting on https://github.com/vmware-tanzu/tanzu-framework/issues/1521 to make it into one of our builds, but not the more concerning `ERROR 2021/10/08 17:24:44 svType != tvType` message.

@djschny if/when you get a chance, could you try aga

[2022-04-01 12:20] stmcginnis commented on #3748
Any ideas on this one @srm09? It sounds like the cluster-api-provider-vsphere is less resilient than it was.

This isn't a TCE issue per se, but want to make sure if there is anything to track in that project that we capture it before closing this issue.

[2022-04-01 12:58] karuppiah7890 commented on #3839
[docker-tf-0.11.3-e2e.log](https://github.com/vmware-tanzu/community-edition/files/8397833/docker-tf-0.11.3-e2e.log)

Tested with the code at https://github.com/vmware-tanzu/community-edition/blob/eb768fbd6aeec683264dec2a16e630716a12fb50/test/docker/run-tce-docker-managed-cluster.sh but using Tanzu Framework v0.11.3 instead of TCE by skipping TCE install and having tanzu CLI installed from Tanzu F

[2022-04-01 12:58] #3839 closed

[2022-04-01 13:29] kartiklunkad26 commented on #3817
The impact of breaking arm support is impacting users who use arm support (a subset of TCE users) which as @jorgemoralespou is saying is pretty tiny especially until ARM support is a full fledged feature in TCE.

[2022-04-01 13:59] sathieu opened #3864 "No matching OS image for v1.22.5+vmware.1-tkg.3-tf-v0.11.2"
## Bug Report

## Expected Behavior

The OVAs for v1.22.5+vmware.1-tkg.3-tf-v0.11.2 are available, or tanzu references the correct versions.

## Steps to Reproduce the Bug

I've downloaded latest OVAs from https://customerconnect.vmware.com/en/downloads/details?downloadGroup=TKG-152&productId=988&rPId=86183, for tanzu 1.5.2:
- photon-3-kube-v1.21.8+vmware.1-tkg.2-49e70fcb8bdd006b8a1cf7823484f98f.o

[2022-04-01 14:09] tylerphelan commented on #3668
Expected CRs in kpack-dependencies package:
[code]

[2022-04-01 16:06] joshrosso commented on #3621
For TCE this has moved to `at-risk` based on the current timelines of the framework release being the week of April 11th.

[2022-04-01 16:18] seemiller commented on #2931
Enabled "2 approvers required to merge a PR"

[2022-04-01 16:26] #2931 closed

[2022-04-01 16:47] stmcginnis commented on #3752
@kartiklunkad26 is this something the app toolkit team would be doing?

[2022-04-01 17:05] seemiller commented on #3833
Gatekeeper was one of the original packages we released in January 2021. At that time we were versioning the package, not the software. So, the Gatekeeper 1.0.0 package contains the Gatekeeper 3.2.3 software.

This is now confusing, so I will update the package for the next cut of the package repository to (now) correctly reference the version of the software.

[2022-04-01 17:07] stmcginnis commented on #3748
We will keep this issue open to track any necessary updates to TCE, but created an issue in `tanzu-framework` to see what needs to be done: https://github.com/vmware-tanzu/tanzu-framework/issues/1980

[2022-04-01 18:26] thesteve0 opened #3869 "Create a public daily automated update like the internal one"
## Feature Request

There is a daily update automatically generated that gives the status of the next release and various features in the release. This update is shared in internal channels at VMware. Because this update discusses issues and integration with non-FOSS projects, it is understandable that is is not shared publicly.

That said, given that:
1. Many of the projects Tanzu Community Editi

[2022-04-01 18:31] thesteve0 opened #3870 "Publish nightly build, test, and integration results to the public channel"
## Feature Request

Since we already have nightly builds along with tests and integration, we should find a way to publish those results to the public channel. This would help with community engagement and transparency.

Even if the public can't see all the detailed results - summary results, maybe listing failures and such, would be really helpful

[2022-04-01 19:30] joshrosso commented on #3564
Moving this to `at-risk` as antrea does not appear to be able to install on Docker Desktop running on an M1 mac.

Ref: https://github.com/vmware-tanzu/community-edition/pull/3560#issuecomment-1086254595

[2022-04-01 20:01] dvonthenen commented on #3870
I investigated this one and spoke with several k8s slack admins about the possibility. The big issue is that the only way to do this is through slack integrations and there isn't a way to do granular permissions for integrations to specific users to specific channels.

It's the main reason why I had to post daily build notifications to GitHub Discussions:
https://github.com/vmware-tanzu/community-

[2022-04-01 20:20] seemiller commented on #3798
@kartiklunkad26 Does `package/app-toolkit` for a label work?

[2022-04-01 20:35] seemiller commented on #3752
servicebinding [releases a package](https://github.com/vmware-tanzu/servicebinding/releases/tag/v0.7.1)! This would be a very quick and easy to implement I think.

[2022-04-01 20:56] dvonthenen commented on #3851
This is already true today... in the GitHub workflow. You just need to call the utility without the parameters.
https://github.com/vmware-tanzu/community-edition/blob/main/.github/workflows/e2e-aws-management-and-workload-cluster.yaml#L69-L74

We should fix this sooner than later, but having said that... we also only allow privileged users to create workflows and to also execute tests. Third-party

[2022-04-01 20:57] dvonthenen commented on #3851
Who is going to look into addressing this?

[2022-04-01 21:41] ThomasVitale opened #3872 "App Toolkit docs require tanzu apps plugin which is not in TCE"
## Description

The documentation for the App Toolkit package provides getting started instructions based on the `tanzu apps` plugin which is not part of TCE yet (the future inclusion is tracked here: https://github.com/vmware-tanzu/community-edition/issues/2696).

Until then, `kubectl` could be used (perhaps in combination with `kp`). Proposed solution: https://github.com/ThomasVitale/community-e

[2022-04-02 03:19] Priyankasaggu11929 commented on #3851
@dvonthenen, I've raised PR 3873 for removing the asked flags from the script.

[2022-04-03 17:28] kartiklunkad26 commented on #3798
Totally!

[2022-04-03 17:40] kartiklunkad26 commented on #3752
@stmcginnis one of the developer-focused teams (cc: @atmandhol)

App toolkit team will also bring this package into their meta-package (cc: @dambor)

[2022-04-03 18:22] gbonazzoli opened #3877 "Need to modify OVA template in order to configure node's booting"
I'v tried to logon into the VM created from the OVA `photon-3-kube-v1.22.5+vmware.1-tkg.2-tce-011.ova` at the login prompt with `root/changeme`.

But it doesn't work.

I need to enter in the VM in order to customize it by modifing the configuration in `/etc/default/docker` with

`DOCKER_OPTS="--insecure-registry reg.poltronesofa.com"`

In this way every node of every cluster I made is ready to use

[2022-04-03 20:49] stmcginnis commented on #3877
Hi @gbonazzoli - logging in locally with a password is disabled. Part of the deployment is providing an SSH key that gets configured for log in. See https://tanzucommunityedition.io/docs/v0.11/tips/#connect-to-cluster-nodes-with-ssh for details on how to connect to the VM.

[2022-04-03 20:54] stmcginnis commented on #3877
You may want to avoid manually modifying the nodes though. There is some information here about configuring tanzu to use a private registry: https://docs.vmware.com/en/VMware-vSphere/7.0/vmware-vsphere-with-tanzu/GUID-376FCCD1-7743-4202-ACCA-56F214B6892F.html

I don't think we have anything in the TCE docs, at least yet.

[2022-04-04 03:23] #3851 closed

[2022-04-04 04:27] gbonazzoli commented on #3877
Thank you @stmcginnis

I connected through ssh to the deprivileged `capv` user (in vSphere) and then `sudo bash` to become root.
Than I modified `/etc/default/docker` and rebooted the node.

And it works like a charm.

I can finally work with my private container registry.

Do you think that if I transform this modified virtual machine into the `photon-3-kube-v1.22.5+vmware.1-tkg.2-tce-011.ova` te

[2022-04-04 05:46] aman556 commented on #3689
Hey @dvonthenen from the above checklist we have tried to covered all the things in [#3810](https://github.com/vmware-tanzu/community-edition/pull/3810). Just want to know your thought process on checking the deletion of unmanaged cluster.
So there are multiple ways to check this like
- One way to check docker container for that cluster  but in future take UC on other providers like minikube, AWS

[2022-04-04 10:21] aman556 opened #3883 "`tanzu uc delete uc_name` is not failing in form of error"
## Bug Report

`tanzu uc delete uc_name` is not failing like a failure with error specifically with exit status 1.
If I am deleting a cluster with wrong command then it is failing with exit status 1.
[code]
In similar manner the below failure should work
[code]
It is printing the failing log but not passing err message if we are running this in a function like
[code]
that err variable is empty eve

[2022-04-04 11:14] karuppiah7890 commented on #3883
Not sure why the exit status is not set to 1. I see here that logging is done but no errors are returned -

https://github.com/vmware-tanzu/community-edition/blob/488f7c98335daf7edd91c243ce790c0015b59d40/cli/cmd/plugin/unmanaged-cluster/cmd/delete.go#L52-L55

Unlike

https://github.com/vmware-tanzu/community-edition/blob/488f7c98335daf7edd91c243ce790c0015b59d40/cli/cmd/plugin/unmanaged-cluster/cmd

[2022-04-04 11:26] aman556 commented on #3883
Thanks @karuppiah7890 for looking into code and putting here. Agree nil should replace with err.

[2022-04-04 11:41] stmcginnis commented on #3877
I don't believe that would work. There are modifications done to the VM with cloud-init, so the currently running configuration is not what would be expected when initially deploying the template.

[2022-04-04 14:07] kartiklunkad26 opened #3885 "`tanzu apps workload get` doesn't show the workload URL"
## Bug Report

When I install the tanzu apps cli plugin, and use the `tanzu apps workload get` command, I want to see the URL of my deployed workload. But that doesn't happen right now.

## Expected Behavior

I expect to get the workload URL when I run `tanzu apps workload get`

## Steps to Reproduce the Bug

1. Follow the App Toolkit Package README for installing, configuring and creating Tanzu w

[2022-04-04 14:55] joshrosso commented on #3817
@jorgemoralespou @kartiklunkad26 appreciate your follow-up and input.

Unfortunately, I don't quite see this as ya'll do.

* I'm unwilling to send broken workloads (by default) into clusters based on architectures we support.
* If we feel the arm user base is so small that we're willing to break them (for every cluster bootstrap they do) then we should remove arm support altogether.

Extra data po

[2022-04-04 14:58] shiyileiecnu opened #3886 "Unable to set up management cluster through pure docker infrastructure based on Tanzu community edition v0.11.2"
## Bug Report
I just planed to install a management cluster on my Ubuntu20.04 based on pure docker infrastructure through UI command "tanzu management-cluster create --ui". However, it always fails on step-7 "Install providers on management cluster" and the red error log is listed below "x  [0404 13:55:52.34635]: init.go:336] unable to set up management cluster, : unable to initialize providers on

[2022-04-04 14:59] shiyileiecnu commented on #3886
Hoping for feedback from professional Tanzu developers. Thanks

[2022-04-04 15:02] stmcginnis commented on #3886
Hi @shiyileiecnu - can you follow the [troubleshooting steps in the docs](https://tanzucommunityedition.io/docs/v0.11/tsg-bootstrap/#troubleshooting-manually) to take a look at the logs? That may gave us an indication of what is failing.

Also, if you are not on Linux, make sure you have enough resources allocated to Docker Desktop. The defaults are too low, so if you are running in to some sort o

[2022-04-04 15:27] kartiklunkad26 commented on #3817
Fair on having different opinions on the topic. I think my (and our) perspective is shared here.

I would ask for you and @vkorbes to let me know the ultimate decision, so I can accordingly proceed!

[2022-04-04 15:28] scothis opened #3888 "App Toolkit RBAC Role does not follow best practices"
## Bug Report

An RBAC Role within AppToolkit does not follow best practices

- the `apiGroups` should not have versions
- avoid wildcards
- `kapp.k14s.io` does not have real resources
- there should be a separate rule for each api group containing only the resources within that api group

 https://github.com/vmware-tanzu/community-edition/blob/6a6e6a9f3152b0a33ef2e9165b1b0bde374d2218/addons/packa

[2022-04-04 15:33] kartiklunkad26 commented on #3888
This is really helpful feedback. Thank you @scothis!

@krisapplegate @ryanmattcollins Do we need further information to fix this?

[2022-04-04 15:52] kartiklunkad26 opened #3889 "Add secretgen-controller to App Toolkit"
## Feature Request

Given TCE unmanaged-clusters doesn't come with `secretgen-controller` installed (at least until it has arm support (https://github.com/vmware-tanzu/carvel-secretgen-controller/pull/59), App Toolkit should install `secretgen-controller` as part of the package.

## Describe alternatives you've considered

The alternative is asking the user to install it on their own.

## Addition

[2022-04-04 16:37] kartiklunkad26 commented on #3817
@seemiller @joshrosso (and anyone else) - How would the alternative work?

- Is secretgen-controller available as a package in TCE Package Repository today? For us to install it as part of App Toolkit.

[2022-04-04 16:40] jpmcb commented on #3817
@kartiklunkad26 - it doesn't look like secret gen controller is in our package repo today.

[code]

But if we added it, as part of the app-toolkit metapackage, it could install and reconcile the secret-gen-controller as part of the all the other packages it installs.

[2022-04-04 16:46] kartiklunkad26 commented on #3817
@jpmcb I don't think I follow. I think App Toolkit installs all packages that are available in the TCE Package Repo. So if it isn't present in TCE Package Repo, we wouldn't be able to install it.

cc: @krisapplegate Kris - can you help please?

[2022-04-04 16:51] krisapplegate commented on #3817
I think @jpmcb is saying that we would need to get it available as a package and then include it in app-toolkit. The problem is that it's not there as a package in 0.11.0

[2022-04-04 16:51] jpmcb commented on #3817
That doesn't appear to be the case.

looks like app-toolkit is installing cartographer, cert-manager, contour, fluxcd, knative, and kpack.

[code]

Which is a small subset of all available packages:

[code]

If secret-gen-controller was available in the package repository, app-toolkit could add it as another `PackageInstall` and it would automatically reconcile along side the other packages.

[2022-04-04 16:53] joshrosso commented on #3817
The source of confusion here may be that:

`secretgen-controller` is part of the `core` package repository, not the TCE package (user-managed) repository.

It's not included in the core package repo in unmanaged-clusters because we trim down the core package repository.

I'm working through an alternative option involving forking secretgen-controller for our next release.

Please check back tomorr

[2022-04-04 17:00] miclettej opened #3892 "UI Plugin: Auto generate API models and service from swagger"
## Feature Request
In the TCE guided UI plugin, the swagger spec should function as the source of truth for UI/backend REST API contracts. To enforce this contract, the UI (React app) should auto-generate all API models and HTTP services/methods from the swagger spec (spec.yaml)

## Describe alternatives you've considered

none

[2022-04-04 17:06] kartiklunkad26 commented on #3817
Okay. @joshrosso Let's talk through all the options once you have it articulated.

We may decide to drop the feature altogether, if the collective effort is _too much_, and live with the user impact.

The impact of _doing nothing_ would be a user using kubectl to configure a namespace for usage with App Toolkit.

[2022-04-04 17:09] miclettej opened #3893 "UI Plugin: Build components for AWS management cluster workflow"
## Feature Request

Based on most recent mockups for AWS management cluster creation simplified workflow, build out the required components/steps for deploying management cluster.

Note: this does not include wiring up underlying REST APIs (separate issue)

## Describe alternatives you've considered

None

[2022-04-04 17:20] swalner-vmware opened #3894 "Concierge: Darwin: work through inclusion of tarball in .dmg"
## Feature Request
The current code base works with a hard-coded tarball path, inclusion of the tarball in the dmg requires different (dynamic) pathing.

## Describe alternatives you've considered

## Additional context

[2022-04-04 17:37] kcoriordan commented on #3213
Hey Kartik, this should have been closed when PR 3459 was merged - right?
@kartiklunkad26

[2022-04-04 17:37] #3213 closed

[2022-04-04 17:51] jpmcb opened #3895 "`unmanaged-cluster` compatibility check should use a dev TKR for any `*-dev` version"
Currently, when `unmanaged-cluster` selects a TKR from our compatibilty file, it expects an exact match.

This check comes from this code chunk

https://github.com/vmware-tanzu/community-edition/blob/d05e6ef3954f76d6463b65b3e3879819072ca071/cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go#L543

This is _somewhat_ problematic for people working on the edge of TCE since we default the version to a ne

[2022-04-04 17:54] jpmcb commented on #3895
This surfaced as part of https://github.com/vmware-tanzu/community-edition/pull/3827#issuecomment-1087835515

[2022-04-04 18:01] jpmcb commented on #3883
Thanks for surfacing this! Taking a look today 👀

[2022-04-04 18:04] mcwumbly commented on #3782
We (@vmware-tanzu/pkg-external-dns-owners ) were discussing this issue this morning and have a few questions we'd like to answer to help us prioritize this, so just noting them here:

1. When do we expect `unmanaged-cluster` to support arm64?
    Currently we lean on that for running our e2e tests, so it'd be nice to have that to validate this when we pick it up.
2. Does external-dns produce arm64

[2022-04-04 18:05] joshrosso commented on #3870
Let's evaluate if we want developer advocacy to take this on and provide a report each day.

Since this is something we cannot due from and engineering perspective putting it in the icebox for now.

[2022-04-04 18:05] stmcginnis commented on #3782
The last (current) release supports this.

[2022-04-04 18:08] joshrosso commented on #3872
cc @kartiklunkad26

If we do make this fix, note that it needs to be backported into our v0.11.0 docs. If we get this plugin in, as planned, for v0.12.0 this likely won't be an issue for that release/docs.

[2022-04-04 18:10] joshrosso commented on #3877
@kcoriordan, engineering talked and we think details about using a private registry would be great for our docs. Is this something we could target for a future release?

[2022-04-04 18:10] #3537 closed

[2022-04-04 18:12] joshrosso commented on #3885
@kartiklunkad26 if all goes well, is this something we plan to address in v0.12.0?

And would you like to assign and owner to this work if so?

[2022-04-04 18:51] thesteve0 commented on #3870
Yeah and it might be a won't fix because of the way the admins run the k8s slack

[2022-04-04 18:53] thesteve0 commented on #3869
May be a won't fix because of the way the k8s slack admins run their permissions
For context see the related issue
https://github.com/vmware-tanzu/community-edition/issues/3870

[2022-04-04 18:56] dims commented on #3869
"because of the way the k8s slack admins run their permissions" - k8s admins have VERY good reasons to run things the way they do, underlying issue is that slack is NOT built for open communities and it is built primarily to sell to enterprises.

[2022-04-04 19:31] kartiklunkad26 commented on #3885
This will likely be resolved with a documentation update itself. @ryanmattcollins will be making that. Assigning to him now.

[2022-04-04 19:49] thesteve0 commented on #3869
Wasn't commenting on that - was just making clear where the issue resides - as in we have no control over this

[2022-04-04 20:48] seemiller opened #3898 "Update CODEOWNERS for app-toolkit"
## Feature Request

Add `pkg-app-toolkit-owners` to CODEOWNERS for control of the `addons/packages/app-toolkit` directory

## Describe alternatives you've considered

## Additional context

[2022-04-04 21:06] kartiklunkad26 commented on #3885
@ryanmattcollins and I tried to fix this, but realized it gets complicated because adding the label replaces the other existing labels.

Given we will have a basic supply chain package as part of App Toolkit in v0.12. This bug will get addressed at that time.

Keeping it open, but will be addressed in v0.12.

[2022-04-04 22:19] joshrosso commented on #3817
Here are the options we have.

1. **Use a fork of `secretgen-controller` and have it installed by default**
    * Fork supports amd64 and arm64
    * We can move back to upstream once https://github.com/vmware-tanzu/carvel-secretgen-controller/issues/57 is resolved.
    * This introduces net-new technical debt
    * See PR with demo: https://github.com/vmware-tanzu/community-edition/pull/3901
2. *

[2022-04-04 22:28] kartiklunkad26 commented on #3817
I’m good with option 2! @vkorbes let us know what you think.

If that’s the final path, let us know what timeline that would be in, as we would then look to include it in App Toolkit for v0.12.

[2022-04-04 22:41] kartiklunkad26 commented on #3817
And thank you @joshrosso for your fast and clear and crisp summary of the possible options

[2022-04-04 22:45] jpmcb opened #3902 "`unmanaged-cluster` should be able to consume a local TKR"
## Feature Request

For unmanaged-cluster, we should enable consuming a _local_ TKR file:

Given I have a local TKR file, the following fails:

[code]

It'd be great if this worked and could intelligently tell if it was a file path vs a url. The flow would actually be pretty simple:
[code]

## Describe alternatives you've considered

Right now, `unmanaged-cluster` devs (or users with a TKR locally

[2022-04-04 23:13] joshrosso commented on #3771
@stmcginnis @jpmcb was the PR we approved at https://github.com/vmware-tanzu/community-edition/pull/3871 in relation to this issue?

If so, can we attach it and close this one. Thanks!

[2022-04-05 00:35] swalner-vmware commented on #3257
@dvonthenen , sorry I'm a bit late to the party; my GitHub notifications do not seem to be firing correctly.
We have gotten feedback that the CLI install is a source of friction for many users. I can appreciate that to many of us it seems simple to use choco or brew, but apparently mileage varies on that. So it feels worthwhile to create a UI that eases the pain point.
You also mention that the in

[2022-04-05 00:41] swalner-vmware commented on #3257
I think there are many opportunities for helping the user out with the CLI installation and configuration.
For example, warning a user that they have a TKG installation if they're trying to install TCE. Or even just telling the user where their binary is and what edition it is. Potentially detecting that there is a more recent release and downloading and installing that for the user with a single

[2022-04-05 00:45] swalner-vmware commented on #3257
@dvonthenen wrote:

Thanks, David. It's certainly disappointing that the tool we have in mind for the packaging has some limitations in terms of being able to build cross-platform. You're correct that our current candidate can build all platforms (Mac, Win, Linux) on MacOS only. I'm assuming that if the proposal is approved, we'll work our way through those problems (either with this tool or anoth

[2022-04-05 01:09] stmcginnis commented on #3771
Yep, that was the fix. It should be working now.

[2022-04-05 01:09] #3771 closed

[2022-04-05 08:36] shiyileiecnu commented on #3886
Here is the error log when "tanzu management-cluster create --ui" fails on step7 "Install providers on management cluster"

Installing Provider="cluster-api" Version="v1.0.1" TargetNamespace="capi-system"
Installing Provider="bootstrap-kubeadm" Version="v1.0.1" TargetNamespace="capi-kubeadm-bootstrap-system"
Installing Provider="control-plane-kubeadm" Version="v1.0.1" TargetNamespace="capi-kubeadm

[2022-04-05 09:56] kcoriordan opened #3906 "Update doc readme"
## Description

Update the doc readme with changes since doc versioning:
https://github.com/vmware-tanzu/community-edition/blob/main/docs/README.md

## Location

## Additional Context

[2022-04-05 10:40] navidshaikh commented on #3803
reading @blc1996 comment here https://github.com/vmware-tanzu/tanzu-framework/pull/1979#issuecomment-1088092807

I think we'll need to carry https://github.com/vmware-tanzu/tanzu-framework/pull/1457 as well

[2022-04-05 10:49] navidshaikh commented on #3803
well, cherry-pick of https://github.com/vmware-tanzu/tanzu-framework/pull/1457 against release-0.11 doesn't produce any diff, ignore the above comment

[2022-04-05 10:50] karuppiah7890 commented on #3902
@jpmcb About the local TKR, what about the scenario where there's a local file but it's not accessible by the current user due to permission issues? Should we consider a separate flag like `--local-tkr` or `--tkr-file` and have `--tkr` for TKRs present in a registry

[2022-04-05 10:59] karuppiah7890 commented on #3895
Or should we just have the appropriate version (like `dev`) set during compilation for development? Or push a TKR with appropriate versions like `v0.12.0-dev.1`, `v0.12.0-dev.2` etc for development alone

[2022-04-05 11:03] karuppiah7890 commented on #3895
What I did to get around this was to go and modify the local file after the first failure 😅 I did this -

[code]

[2022-04-05 11:11] mohitsharma-in opened #3907 "Cluster create failed but cluster created"
## Bug Report

## Expected Behavior

Tanzu Cli create cluste cluste threw an error for `validation.awscluster.infrastructure.cluster.x-k8s.io`  but at the same time in the backend cluster got created with required resources.

[code]

## Environment Details

* Build version (`tanzu version`): v0.11.2 build sha: 6431d1d
* Deployment (Managed/Unmanaged cluster): Managed cluster
* Infrastructure Provi

[2022-04-05 11:38] karuppiah7890 commented on #3895
With the latest daily build - https://github.com/vmware-tanzu/community-edition/discussions/3858?sort=new from over [here](https://github.com/vmware-tanzu/community-edition/discussions/3858?sort=new#discussioncomment-2504306)

[code]

[2022-04-05 11:54] jorgemoralespou commented on #3817
I know I haven't been asked for an opinion and I'm not a stakeholder but I recommend option 1 for consistency of what a Tanzu cluster should look like and have. I understand the technical debt problem but since there's already the same problem with kapp-controller, I would consider this to be the best option.
Option 2 creates difference in what users expect from tanzu clusters (managed vs unmanage

[2022-04-05 13:45] joshrosso commented on #3817
I do agree with @jorgemoralespou's sentiment that we're already doing this for `kapp-controller`, so it may be sensible to do it for secretgen in the near-term :+1: .

[2022-04-05 14:19] vkorbes commented on #3817
Correct me if I'm wrong, but this is what I'm getting from this thread:

- `secretgen-controller` is a common utility used by packages...
- ...and those packages don't work on ARM.
- Building `secretgen-controller` for ARM won't enable us to use those packages.
- We don't want extra debt for little tangible benefit.

- Having to install `secretgen-controller` manually is not great...
- ...but we d

[2022-04-05 15:46] vkorbes commented on #3817
(Will edit this comment with clarifications in a bit.)

[2022-04-05 15:50] joshrosso opened #3909 "Add `secretgen-controller` to the TCE `core` package repository in `v0.12.0`."
As a follow-up issue to:

* https://github.com/vmware-tanzu/community-edition/issues/3817

We have decided, for `v0.12.0` will will add the upstream `secretgen-controller` to the TCE core-package repository. However, we will **not** install it by default until an arm derivative container image is available upstream. See https://github.com/vmware-tanzu/community-edition/issues/3817 for more context

[2022-04-05 15:51] joshrosso commented on #3817
This work is now targeting [v0.13.0](https://github.com/vmware-tanzu/community-edition/milestone/15).

For `v0.12.0`, we will now target completion the following **instead**:

* https://github.com/vmware-tanzu/community-edition/issues/3909

[2022-04-05 15:56] jorgemoralespou commented on #3817
@joshrosso so in 0.13 the secretgen controller will move from one packagerepository (TCE) to another one (core)? Will then live in both repos? Does that work on Carvel? What happens to users that will install it manually but then have it installed by default by the core package? Will the apptoolkit installation fails as it's trying to install an already installed package? Will the apptoolkit packa

[2022-04-05 15:57] kartiklunkad26 commented on #3889
Depends on: https://github.com/vmware-tanzu/community-edition/issues/3909

[2022-04-05 16:06] joshrosso commented on #3817
We will ship secretgen in `uc`'s core repo for both `v0.12.0` and `v0.13.0`.

![image](https://user-images.githubusercontent.com/6200057/161796887-352cdef9-634f-4a20-a567-f5f5bbb50569.png)

It will only live in `core`.

It will only live in the `core` repo. This is the same problem we have today. For example, we install `calico` by default but nothing is preventing a user from trying to do a packa

[2022-04-05 16:07] jpmcb commented on #3895
@joshrosso - thoughts on this? Do we want this for `v0.12.0`?

[2022-04-05 16:16] jorgemoralespou commented on #3817
@joshrosso sorry, I misread the repository and I took it was going to be in the TCE user's provided repo. Now I see that there's no problem from TCE side, only from App Toolkit.

Thanks for clarification

[2022-04-05 16:33] kartiklunkad26 opened #3910 "Configure default namespace with credentials to use App Toolkit"
## Problem

As part of installing App Toolkit within the developer environment, developers have to create a namespace, use kubectl to create a secret, roles and service account in order to be able to create workloads.

This creates few problems:

 - A Kubernetes-novice App Developer has to learn how to use kubectl, and understand any concepts that might not be relevant from a day-to-day perspectiv

[2022-04-05 16:45] stmcginnis commented on #3886
Investigating. Looks like the `MachineDeployment` was still scaling up:

[code]

The `kubelet.log` contains some errors that look relevant:

[code]

The `failed to identify the read-write layer ID for container "c9d226563483cd99969e33f9cfdf542c937a0e5119506e80512e31fd795ce16e". - open /var/lib/docker/image/zfs/layerdb/mounts/c9d226563483cd99969e33f9cfdf542c937a0e5119506e80512e31fd795ce16e/mount-id

[2022-04-05 16:53] kartiklunkad26 commented on #3817
Will include this as a requirement (if feasible). @krisapplegate can we include detection logic before we install `secretgen-controller`?

If we are to build the detection logic above, then we won't need to "mandate" users to move to newer version per-se. We will look to remove it from our package and ship a new App Toolkit version, once secretgen-controller is available by default.

Again, if we

[2022-04-05 16:54] jpmcb opened #3912 "`unmanaged-cluster` package version resolution should use selection library consistent with kapp"
## Feature Request

Today, when `unmanaged-cluster` selects a package version (and non was given), it will attempt to select the "latest" semantic versioned package. We are using semver code from Go to accomplish this.

https://github.com/vmware-tanzu/community-edition/blob/bb813fd14b9b79033f035d81f22d2fd570995eb3/cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go#L1114-L1118

But this may be inconsi

[2022-04-05 16:56] jorgemoralespou commented on #3817
@kartiklunkad26 curious how this could be feasible given this is a long time requested feature in kapp-controller that it's not implemented: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/410

[2022-04-05 17:56] dvonthenen commented on #3895
We normally point to the TF compatibility file during dev and they switch back over to prod. We didn't do that this time but we could.

[2022-04-05 17:57] jpmcb commented on #3902
File system permissions are a bit out of scope for what `unmanaged-clsuter` can handle. If the user does not have access to the file, attempting to use that file should fail.

Yes, I think separate flags works well and is a better, more straight forward UX. Would likely make the implementation simpler too. And w

[2022-04-05 18:34] kartiklunkad26 commented on #3817
@jorgemoralespou I didn't know that. Alternative would be to ask users to use the `excluded_packages` feature in App Toolkit to exclude secretgen-controller that might be already installed in their cluster.

[2022-04-05 19:10] jorgemoralespou commented on #3817
So, the experience you propose @kartiklunkad26 is:
try to install, if it falls, exclude the package in the config? Are you going to have all these steps in the docs? 🤣

[2022-04-05 19:12] jpmcb commented on #3895
Note @dvonthenen - this is in relation to `unmanaged-cluster` compatibility files / checks (which is a new feature for v0.12.0). Not managed clusters or tanzu-framework Reference this PR #3641

[2022-04-05 19:36] PushkarJ commented on #2967
Draft Pull Request that implements the MVP for this proposal is here: https://github.com/vmware-tanzu/community-edition/pull/3911. Feedback is welcome!

[2022-04-05 19:44] #3833 closed

[2022-04-05 20:07] microwavables commented on #3869
After speaking with the team, seems like this is something we will look into after v0.12.0.

[2022-04-06 05:18] karuppiah7890 commented on #3902
Yeah, makes sense. I was just wondering about the case where you said the tool will be intelligent, so, if the file is not accessible but present, it should give error that file is not accessible assuming it can find that it's present with whatever permissions it has but just not read it, in any other case, say directory under which the file is present itself is not accessible then it can't even r

[2022-04-06 05:51] likamrat commented on #3886
Seeing somewhat of a similar failed deployment with 0.11.2

![image](https://user-images.githubusercontent.com/46730876/161904601-1fc9c55a-e741-41cb-b210-8975055c89e8.png)

[2022-04-06 12:43] shiyileiecnu commented on #3886
Hello stmcginns
Yes. I work in an internet-restricted area. It's hard for me to connect with Google, YouTube, etc. Do you mean that I should follow the steps in  [an airgapped or internet restricted environment](https://kb.vmware.com/s/article/85245) to rebuild the cluster? I have reviewed the link. However, the Tanzu version in the link is TKG rather than Tanzu community. Could I follow the steps

[2022-04-06 12:43] kartiklunkad26 commented on #3872
@ThomasVitale thank you for your contribution! Appreciate it! :D

Given we would be contributing Tanzu Apps CLI plug-in in a few weeks to TCE, would you be okay to wait until then?

We do mention in the pre-requisite to get the Apps CLI plug-in from the plug-in repo for now..

[2022-04-06 12:50] stmcginnis commented on #3886
Yeah, it looks like this may be the reason for the failure. During deployment, there are other images that need to be deployed by the bootstrapping process and it appears that is failing.

We haven't fully tested TCE deployment in an airgapped environment, but theoretically you should be able to follow those TKG docs. If you can give that a shot, it would be good to know if that resolves your issu

[2022-04-06 12:51] cmoulliard commented on #3491
Can you share an example ?

[2022-04-06 13:05] likamrat commented on #3886
I switched back to 0.10 just to make sure but same deal. In my case, the env has complete access to the internet

[code]

[2022-04-06 13:25] cmoulliard opened #3917 "Provide a new parameter to configure altNames - certificate to access the HTTPS harbor registry externally"
## Feature Request

Provide a new parameter part of the `values.yaml` file in order to configure the `altNames` section of the Harbor Selfsigned CA certificate to allow to access the Harbor registry externally using the FQName such as `harbor.$VM_IP.nip.io`.

This parameter should be able to add the following new names - https://github.com/halkyonio/tce/blob/aaf744777ce3951dbc9651d38e214e330a22af4

[2022-04-06 14:26] joshrosso commented on #3235
lgtm. I updated the screenshot in the original proposal :+1: .

[2022-04-06 14:38] swalner-vmware commented on #3631
@dvonthenen, thanks for mentioning the signing aspect, especially for Windows.
For this story, we're just focusing on the immediate production of the Mac DMG (unsigned), so I've modified the description accordingly. As you have pointed out, we'll need to address the signing aspect, and we'll have another GitHub issue for that.

[2022-04-06 14:45] swalner-vmware opened #3918 "Concierge: [SPIKE] building Win EXE with Electron-Builder"
Explore electron-builder as a way to build an .exe binary for Win to install/run the Concierge

[2022-04-06 14:49] swalner-vmware opened #3919 "Concierge: move from POC to "real app""
The current code base is a POC to test out our proposed tech stack.
This issue would include:
* basic refactoring
* adding tests as part of npm targets
* adding test coverage

(It may make sense to break this into more than one issue)

[2022-04-06 14:53] swalner-vmware opened #3920 "Concierge: integrate Concierge with production build process"
This issue includes:
* figuring out how to create the artifacts (currently requires a MacOS)
* packaging the correct TCE artifact with each Concierge artifact
* automating the creation of the Concierge artifacts when a new TCE release artifacts are created
* signing the artifacts

[2022-04-06 14:56] dvonthenen commented on #3631
My understanding is that final signed build process we use has facilities for producing dmg, msi, rpm/deb files. If the goal is just to produce these items, it probably makes a lot of sense to use what's currently in place on the build systems.

[2022-04-06 15:13] jpmcb commented on #3917
Hi @cmoulliard - thanks for surfacing this. cc @vmware-tanzu/pkg-harbor-owners

[2022-04-06 15:13] swalner-vmware opened #3921 "Concierge: increase responsiveness"
The current Concierge POC uses async calls to execute the installation steps, causing a spinner to block app responsiveness. This issue addresses that by moving to async execution (which will require some refactoring)

[2022-04-06 15:19] swalner-vmware commented on #3920
As @dvonthenen writes in https://github.com/vmware-tanzu/community-edition/issues/3631:

[2022-04-06 15:22] swalner-vmware commented on #3631
Thanks, @dvonthenen. I've added your comment to https://github.com/vmware-tanzu/community-edition/issues/3920. This issue was just a spike to make sure the Electron-builder tool would work as advertised, which encompassed both the simple build and including the TCE artifact. Issue https://github.com/vmware-tanzu/community-edition/issues/3920 is meant to address your concern of merging the generati

[2022-04-06 15:49] seemiller opened #3924 "App Toolkit Readme Updates"
## Feature Request

This issue captures comments that were left by @kartiklunkad26 in PR #3896

Regarding the Troubleshooting section:

The issue typically is when they haven't exposed the 80 and 443 ports while creating the TCE unmanaged cluster.

Regarding the line `You must have a Tanzu unmanaged-cluster targetted to install App Toolkit`

Regarding the tip `App Toolkit currently only supports T

[2022-04-06 16:34] alexandreroman opened #3926 "Add Tekton as a TCE package"
## Feature Request

As a developer, I can rely on App-Toolkit to build and deploy Kubernetes apps to my TCE cluster. This works great when building images from a Git repo. However, with the existing App-Toolkit package I cannot run advanced use cases, such as running unit tests.
I wish I could use Tekton to run these use cases.

Integration with a Cartographer supply chain would be great, but this

[2022-04-06 17:17] cmoulliard commented on #3917
A new function should then be created (and the existing one revisited):

[code]
and a new value passed

[code]

to generate such a Certificate YAML
[code]

[2022-04-06 18:18] thesteve0 commented on #3845
Given the number of packages that require cert-manager, we should just install it by default in any Tanzu Community Edition install. I would also strongly argue contour is probably another good candidate. For both of these I would say they are the default but can always be changed or left out at time of "installation" of Tanzu Community Edition

[2022-04-06 18:22] cmoulliard commented on #3917
For this part, an initContainer or a job will be needed as ytt do not allow to execute such commands (docker, ca-update)

[2022-04-06 19:12] kartiklunkad26 commented on #3926
@alexandreroman thanks for raising this issue. We are definitely looking to make this happen soon. Will keep you posted :)

[2022-04-06 21:02] seemiller opened #3930 "Add Documentation for Contributing a Plugin to TCE"
## Description

TCE documentation should cover contributing a plugin.

[2022-04-06 21:09] seemiller opened #3931 "Package readme updates need to trigger on release branches"
## Feature Request

TCE documentation recently became versioned. There is an automated process that creates/updates/deletes package documentation as changes to packages occur that currently runs on the main branch. This automated process needs to work with release branches as well.

## Describe alternatives you've considered

If we don't automate this process, we will have to manually cherry-pick

[2022-04-07 05:20] likamrat commented on #3886
Unable to collect logs. Anything specific?

[code]

[2022-04-07 10:56] shiyileiecnu commented on #3886
Hello. I have followed the steps on the link in the [link](https://kb.vmware.com/s/article/85245). But it's more disappointing that it fails on step-6 "Create management cluster", one step before the original step-7. Here is my steps.
1. Install the kind v0.12.0 - **Pass**
2. Create the cluster by the command kind "kind create cluster" - **Pass**
3. kubectl config use-context kind - **Pass**
4. ta

[2022-04-07 14:06] stmcginnis commented on #3886
@shiyileiecnu it looks like there is a docker issue on that machine:

[code]

[2022-04-07 15:13] stmcginnis commented on #3733
Sorry, still not sure what could be causing this. It looks like something is forcing the image pull to go to a different location on your machine, but not sure how or why.

Can you paste the output from going to Docker Desktop > Preferences > Docker Engine? Doesn't seem likely, but just want to confirm there aren't any changes to the Docker daemon config that could be causing problems.

Also maybe

[2022-04-07 15:16] stmcginnis commented on #3333
Hi @NeckBeardPrince - wondering if you every got a chance to try that last suggestion or if you're still having issues here. If you get a chance, please let us know. Thanks!

[2022-04-07 15:19] heww commented on #3917
Hi, @cmoulliard I do not understand why we need a parameter altNames in the harbor package. If the build-in self-signed certificates don't match your requirement, I think you can provide your own certificates through the `tlsCertificate` or `tlsCertificateSecretName`.

[2022-04-07 15:19] stmcginnis commented on #3243
Closing this as the requirements for networking are documented here: https://tanzucommunityedition.io/docs/latest/vsphere/#before-you-begin

If there are any other issues after addressing those prerequisites, let's open a new issue and track it there.

[2022-04-07 15:19] #3243 closed

[2022-04-07 15:23] heww commented on #3786
Sorry that the harbor package can't support arm64 because the upstream OSS harbor project doesn't support arm64 at this moment.

[2022-04-07 15:24] heww commented on #3491
Please see the above example provided by @zyyw

https://github.com/vmware-tanzu/community-edition/issues/3491#issuecomment-1082564979

[2022-04-07 15:26] NeckBeardPrince commented on #3333
Sorry, yeah I did try that and no luck, same issue. My company has decided against moving forward with Tanzu, so I've removed it.

[2022-04-07 15:28] stmcginnis commented on #2970
Hi @5280tunage - just wanted to check back on this. I don't have any new suggestions or ideas, but wanted to check if you were ever able to resolve this. It does appear to be _something_ specific to your environment, but not really sure what.

[2022-04-07 15:29] kcoriordan opened #3939 "Doc preview url in PRs not working for new toc entries"
## Bug Report

Per versioning design, in a PR when I want to preview doc changes/addition:
I select the preview link, and change the url from `/docs/v0.11/` to `/docs/edge/`
This works ok, but if I select a new topic from the toc, the link defaults to `docs/v0.11/edge/`

related to: #3906
## Expected Behavior

## Steps to Reproduce the Bug

## Screenshots or additional information and context

##

[2022-04-07 15:50] cmoulliard commented on #3917
To be able, as I mentioned in my example, to pass some additional altNames when the function `certificate_generate(` is executed within the certificates.lib.yaml and generating the Harbor selfsigned certificate

[2022-04-07 15:51] joshrosso commented on #3939
@kcoriordan @jonasrosland we discussed in retro today that we'll assign this to ya'll for v0.12.0.

If it turns out something core eng should work on, just let us know and we'll reassign.

Appreciate it!

[2022-04-07 16:02] joshrosso opened #3940 "Expose all the versions that make up a TCE release."
When we release TCE, we should have an easy way to expose users to all the software that underlies a release.

We also have multiple TKrs that make up a release, so we need to introspect our `tkg-bom`, which points to our `tkr-compatibility`, then for each tkr in that compatibility file, we should gather this data. Output would look something like:

* v1.22.5
    * calico-version:
    * antrea-ver

[2022-04-07 16:03] joshrosso commented on #3940
This is not required for `v0.12.0`, so marking it as a nice-to-have in case we can get to it.

[2022-04-07 16:08] shiyileiecnu commented on #3886
@stmcginnis
test case 1. If I create the bootstrap cluster through kind in advance and then create the management cluster through the command "tanzu mc create --ui --use-existing-bootstrap-cluster kind"(follow the steps on (site)[https://kb.vmware.com/s/article/85245]) , it will fail on step6 "Create management cluster".

![截屏2022-04-07 下午6 51 05](https://user-images.githubusercontent.com/25273514

[2022-04-07 16:14] jorgemoralespou commented on #3668
I think calling this `dependencies` is not user intuitive. I would expect dependencies to be installed before the package itself, and I'm sure it'll fail because uses CRDs that are installed by the package.

Looking at what this is, to me is more like a `example-kpack-install` or the likes, that will be installed after kpack is installed to demonstrate it works for those that don't know what they

[2022-04-07 16:20] tylerphelan commented on #3668
@jorgemoralespou

we use the term dependencies for these constructs because kpack needs them to work but also because they are application and OS dependencies for image builds

I think the use case for this package is less likely to be an example of how to use kpack and more likely to be the actual dependencies that get used for image builds.

[2022-04-07 16:38] shiyileiecnu commented on #3886
It is my suspicion. When I install tanzu management cluster, it will always pends on  "waiting for cert-manager to be available".
<img width="1386" alt="截屏2022-04-06 下午8 11 09" src="https://user-images.githubusercontent.com/25273514/162253157-d4f801d6-4029-43b8-92d2-0436bdfe94a5.png">

I check the [tanzu GitHub adds on cert-manager](https://github.com/vmware-tanzu/community-edition/tree/main/addon

[2022-04-07 17:43] stmcginnis commented on #2207
I'm going to assume this is working now, but feel free to reopen if there are still issues.

[2022-04-07 17:43] #2207 closed

[2022-04-07 17:45] stmcginnis commented on #2205
This appears to be fixed, so going to close it out. If you do still see the issue then feel free to reopen.

[2022-04-07 17:45] #2205 closed, assigned to stmcginnis

[2022-04-07 20:34] jpmcb opened #3945 "`unmanaged-cluster create` should have `--base-node-image` flag"
## Feature Request

To enable users to quickly test and try different base node images, we should add a `--base-node-image` flag to creation for `unmanaged-clusters`.

This will bypass the base node image resolved from the TKR and use the user defined one instead.

## Describe alternatives you've considered

The alternative today is to push a new TKR with a different base image defined and use the

[2022-04-07 20:38] joshrosso commented on #3945
Our config today has `NodeImage`. So let's make sure whatever flag we have has the same consistent syntax.

Meaning, either:

[code]

or (my preferred):

[code]

[2022-04-07 21:00] jpmcb commented on #3945
Sounds good 👍🏼

Maybe this issue (and subsequent PR) can reconcile any missing flags that should map into the config file.

[2022-04-07 21:01] jorgemoralespou commented on #3668
If these are what people will typically use, why not ship them in kpack by default?

Maybe kpack needs to be decomposed in 3 packages
- kpack-core (Just kpack)
- kpack-build-config (these dependencies)
- kpack-all (both packages in one)

Regular users will install kpack-all, and advanced users will deploy kpack-core and use kpack-build-config as an example to create their own.

[2022-04-07 21:10] jpmcb opened #3946 "`unmanaged-cluster` pulling kind base image should use cached images"
## Feature Request

Currently, when creating an unmanaged-cluster, we run a `docker pull` command on the base image:

https://github.com/vmware-tanzu/community-edition/blob/bb76aaad893589e0faa57f45e37edb3af143d554/cli/cmd/plugin/unmanaged-cluster/cluster/kind.go#L282-L290

This will error out if the image is not available (like in a service outage).

Further, some users, when providing a custom ba

[2022-04-07 21:18] tylerphelan commented on #3668
Pros:
- User experience and simplicity
- Fewer configurations

Cons:
- Release cadences are very different for kpack (monthly-ish) and kpack dependencies (at a maximum daily)
- Complexity in versioning kpack and dependencies together (what does a major version bump mean)

[2022-04-07 21:20] carlosonunez commented on #3733
I'm using Lima to run the underlying Docker VM and mounting it to /var/run/docker.sock. I'll try and record a GIF of a clean install in about two weeks (when I have some spare time to do so).
On Apr 7, 2022, 10:13 -0500, Sean McGinnis ***@***.***>, wrote:

[2022-04-08 03:51] likamrat commented on #3886
Same here on using CAPV and vSphere infra management cluster which also uses Docker at the backend.

[2022-04-08 11:40] karuppiah7890 opened #3953 "Daily build E2E tests are failing"
https://github.com/vmware-tanzu/community-edition/runs/5882951565?check_suite_focus=true#step:6:89

https://github.com/vmware-tanzu/community-edition/runs/5882951681?check_suite_focus=true#step:6:51

[code]

From #3854 , for daily builds - the code grabbing daily build tar ball does not extract the tar ball or `cd` into the right directory to invoke the `uninstall.sh` script and hence the error

[2022-04-08 11:42] karuppiah7890 commented on #3953
Below piece of code will work for `make release` but not for prebuilt tar balls like daily build tar balls

https://github.com/vmware-tanzu/community-edition/blob/6fb96722af9564943d6c74b642670e4f822ef850/test/download-or-build-tce.sh#L46-L52

As `release` directory will not exist when using prebuilt tar balls like daily build tar balls, hence the prior error in the runs -

https://github.com/vmwar

[2022-04-08 14:55] joshrosso commented on #3593
@vaamarnath @steven-zou @usahai30 here are initial results for ya'll to look over and validate using the newest change to tanzu-framework (aka TCE v0.12.0):

## Management cluster

[code]

[code]

[code]

[code]

[2022-04-08 15:04] joshrosso commented on #1398
Further diagnosis has occurred on the framework side and there is a plan to get this in, but it won't happen for v0.12.0.

Pushing it back to v0.13.0 to assess then.

[2022-04-08 15:08] joshrosso commented on #3622
BOM is now available in staging. Smoke tests requested (internally).

Moving this back to `on-track`.

[2022-04-08 15:35] joshrosso commented on #3060
@seemiller would you have interest in picking this up next week?

[2022-04-08 16:40] #3778 closed

[2022-04-08 17:39] #3953 closed

[2022-04-08 18:50] jorgemoralespou opened #3955 "unmanaged-cluster minikube provider config enhancements"
## Feature Request
As a user of the unmanaged clusters with minikube provider, I would love to be able to specify the following minikube configuration:

- vm-driver: seems this is autodetected, an uses hyperkit for macOS (but not sure it works fine)
- cpus. Number of cpus to create the VM with
- memory: Amount of memory to assign to the minikube VM
- disk_size: VM disk size
- cache: To be able to

[2022-04-08 20:09] stmcginnis commented on #3106
Given we're staying on `tanzu-framework` v0.11.x for awhile, I think we can move this out to v0.13.0 or icebox for now.

[2022-04-08 20:10] joshrosso commented on #3955
@jpmcb lets discuss the image resolution on Monday. When I asked to be consistent with the image pre-pull, I totally spaced that the driver choice would dictate the image. We’ll find a simple near-term solution next week.

[2022-04-10 13:35] shiyileiecnu commented on #3886
@stmcginnis Could you provide us some guidance to finish the installation of tanzu management cluster?

[2022-04-10 23:01] thesteve0 commented on #3237
No sorry
That does not work because it doesn't list all the possible configuration values, their effects, and their defaults. It does generate some of this but I am looking for all the reference documentation and possible values.

For example, here is all the documentation for what can go in a postgresql.conf file
https://www.postgresql.org/docs/current/runtime-config.html
And here is the document

[2022-04-10 23:01] thesteve0 commented on #3237
@stmcginnis please reopen - just saw the notification on messages for this

[2022-04-11 04:49] usahai30 commented on #3593
Thanks @joshrosso 👍

[2022-04-11 06:27] heww commented on #3917
For your case, i think you can use the `tlsCertificate` or `tlsCertificateSecretName` configuration.

[2022-04-11 07:05] cmoulliard commented on #3917
No because I prefer that Harbor generates the Certificate as it already populates it right now using a Certificate CRD - see [here](https://github.com/vmware-tanzu/community-edition/blob/main/addons/packages/harbor/2.4.2/bundle/config/certificates.lib.yaml#L68). This is why we need a parameter able to pass some additional names as needed when we access harbor externally using an ingress route.

By

[2022-04-11 08:04] karuppiah7890 opened #3961 "Restore Golang Cache Step in GitHub workflow is timing out"
Example - https://github.com/vmware-tanzu/community-edition/actions/runs/2074379555/attempts/1 - https://github.com/vmware-tanzu/community-edition/runs/5780484278?check_suite_focus=true

https://github.com/vmware-tanzu/community-edition/actions/runs/2140183772/attempts/1 - https://github.com/vmware-tanzu/community-edition/runs/5953769059?check_suite_focus=true

Restore Golang Cache job took up 6 h

[2022-04-11 08:06] karuppiah7890 opened #3962 "Requesting new label for E2E test and pipeline issues"
I wanted to discuss and request a new label for E2E test issues, something like `e2e-test` or just `e2e` which we could use along with `kind/bug` to report E2E test issues and filter it too

Currently we use `area/release-eng` and `kind/test-release` but that's a bit generic as it can refer to BTR - Build, Test, Release efforts

[2022-04-11 08:08] karuppiah7890 commented on #3961
Currently we rerun pipelines to mitigate the issue. We gotta find the root cause of the issue and fix it!

[2022-04-11 08:17] karuppiah7890 opened #3963 "E2E test Azure management cluster creation failing due to Azure allocation issues"
One example - https://github.com/vmware-tanzu/community-edition/actions/runs/2143487208/attempts/2

The error we see is -

[code]

Related - http://aka.ms/allocation-guidance or https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/allocation-failure

[2022-04-11 08:21] karuppiah7890 commented on #3963
We in fact use the newer VM series - DSv3 series . We use `Standard_D4s_v3` for control plane and worker nodes and it comes under DSv3 series - https://docs.microsoft.com/en-us/azure/virtual-machines/dv3-dsv3-series#dsv3-series . Related blog post - https://azure.microsoft.com/en-us/blog/introducing-the-new-dv3-and-ev3-vm-sizes/

[2022-04-11 08:58] karuppiah7890 commented on #3961
Another example of a long running golang cache restore step - https://github.com/vmware-tanzu/community-edition/runs/5966325203?check_suite_focus=true

[2022-04-11 10:55] karuppiah7890 opened #3968 "Running TCE / `tanzu` CLI E2E tests using a tanzu CLI plugin"
## Feature Request

@mohitsharma-in shared this idea of creating a Tanzu CLI plugin to run E2E tests for TCE, TF

## Describe alternatives you've considered

None

## Additional context

None

[2022-04-11 14:34] kartiklunkad26 commented on #3817
**TLDR:**

[code]
---
**UX for TCE v0.12**
1. `tanzu package install secretgen-controller`
2. `tanzu secret add abc`
3. `tanzu package install app-toolkit`

---
**Learnings**

@krisapplegate spent some time thinking further about our approach, and learned that we cannot include `secretgen-controller` as part of App Toolkit.

Below are the two steps that need to happen for a developer to create wor

[2022-04-11 14:38] swalner-vmware opened #3969 "Concierge: refactor POC into components"
## Feature Request
The current POC code uses one JavaScript module for the front end. This issue would break that down into components

[2022-04-11 15:14] #3798 closed

[2022-04-11 15:14] joshrosso commented on #3823
@seemiller what's the status on this one?

I believe we just needed to get with @dvonthenen and knock this out.

[2022-04-11 15:17] seemiller commented on #3823
Might need to create a robot account. I'll check that and get with @dvonthenen

[2022-04-11 15:22] seemiller commented on #3823
@dvonthenen Can you use the `robot$github-ci` account, or should we make a new one?

[2022-04-11 15:30] miclettej opened #3970 "UI Plugin: Create Wizard/Steps for AWS simplified mgmt cluster create"
## Feature Request

Using the recently created wizard scaffolding, build the AWS management cluster create simplified workflow.

Note, this is for all HTML/CSS/Typescript for UI controls and validation, along with REST API calls to mock node.js server for discovery of AWS resources. It does not include making a POST API call to start creation of the management cluster.

Does not include Advanced s

[2022-04-11 15:38] miclettej opened #3971 "UI Plugin: Getting started page should guide user into cluster creation workflows"
## Feature Request

Create a getting started page in the UI that guides users into the appropriate cluster creation workflow for their needs.

## Describe alternatives you've considered

none

## Additional context

Should follow visual layout (subject to minor changes)
![Getting Started - alt -1](https://user-images.githubusercontent.com/13439013/162777990-a8656cc1-03aa-4272-b057-a20b2409ea14.png

[2022-04-11 15:45] miclettej opened #3972 "UI Plugin: Create deploy progress page to guide users to next steps"
## Feature Request

UI should include a deploy progress screen to display cluster creation progress (status and streaming logs).
 - Page should include links to Create a workload cluster and Download Kubeconfig
 - Should include some CLI helper commands for working with Tanzu CLI

## Describe alternatives you've considered

none

## Additional context

Should follow mockups:
![Screen Shot 2022-04-

[2022-04-11 15:49] jpmcb commented on #3237
@thesteve0 can you give an example of what's missing from the unmanaged-cluster reference documentation here: https://github.com/vmware-tanzu/community-edition/blob/main/docs/site/content/docs/ref-unmanaged-cluster.md

Currently, we do note the different fields (including a full config file), flags, and what a user could enter to _achieve different goals_. In my opinion, this is sufficient for use

[2022-04-11 16:10] miclettej opened #3973 "UI Plugin: Add REST API for discovering AWS EC2 key pairs"
## Feature Request

UI plugin should include ability to discover EC2 key pairs available on an authenticated account, when a region has been selected

## Describe alternatives you've considered

EC2 key pair in UI will remain an open text field if we are not able to perform discovery of EC2 key pairs available

[2022-04-11 16:33] dvonthenen commented on #3823
Will take a look to see if we can.

What about the `config.json` file? where can I find that? I don't see it in the `tagger` folder.

[2022-04-11 16:43] seemiller commented on #3823
the `config.json` references the Docker config that contains the login credentials. If you were to run tagger locally, it's mapping your `~/.docker/config.json` to `/root/.docker/config.json` in the container.

[2022-04-11 16:44] dvonthenen commented on #3823
gotcha

[2022-04-11 16:46] miclettej opened #3975 "UI Plugin: Evaluate testing frameworks for React UI"
## Feature Request

Evaluate available testing frameworks for React UI in the plugin (IE Jest, Mocha, Chai, Karma, etc)

Provide example implementation of UI tests - unit tests as priority

## Describe alternatives you've considered

None, testing framework is required

[2022-04-11 16:47] seemiller commented on #3823
You can look at your own file on your local workstation. TBH, I'm not quite sure how it works since there aren't any creds actually in that file

[2022-04-11 17:10] miclettej commented on #3893
Duplicate

[2022-04-11 17:10] #3893 closed

[2022-04-11 17:50] stmcginnis commented on #3886
This is a bit misleading. For the core packages that are installed, this is fine. The fact that the terminal output stops after this step is the misleading part. You need to look at the logs to see what's actually going on.

As I pointed out from the log message a few comments up, the failure is that the bootstrap cluster isn't able to talk to the docker engine: `failed to list containers: Cannot

[2022-04-11 18:14] joshrosso opened #3977 "Determine the viability of start/stop lifecycle hooks in unmanaged-cluster for the kind provider"
With https://github.com/vmware-tanzu/community-edition/pull/3804 in place, we can now start/stop single-node kind clusters we install Tanzu atop.

However, kind does not support this as a first-class feature, see:

* https://github.com/kubernetes-sigs/kind/issues/2715

Today, we drop a layer below kind and talk to `docker` to do start/stop-like functionality.

In our next release, we should consid

[2022-04-11 19:15] jpmcb commented on #3946
Chatted with the team, and we should consider _always_ doing the `docker pull` so we can resolve the layer shas. In the case that the pull does not work, we can than attempt to use the cached image.

[2022-04-11 19:22] thesteve0 commented on #3973
\o/

[2022-04-11 20:21] #3883 closed

[2022-04-11 20:55] #3060 closed

[2022-04-11 21:12] joshrosso commented on #3955
Side-note that's related:

We should do some better checking at:

https://github.com/vmware-tanzu/community-edition/blob/3ec336f6bde82ca27cb0eef6bf539f1b4b0d60e3/cli/cmd/plugin/unmanaged-cluster/tkr/tkr.go#L485-L501

Otherwise a malformed TKr may cause us to panic with index out of range.

[2022-04-11 21:21] #3823 closed

[2022-04-11 21:49] jpmcb commented on #3955
Yup, this is minikube's automatic behavior. You can set the driver via: `ProviderConfiguration.driver`

Checkout the doc here (which hasn't been deployed to a version of the documentation yet): https://github.com/vmware-tanzu/community-edition/blob/main/docs/site/content/docs/ref-unmanaged-cluster.md

memory: Amount of memory to assign to the minikube VM
disk_size: VM disk size

Sure, but isn't us

[2022-04-11 22:05] joshrosso opened #3982 "unmanaged-cluster provider minikube does not support non-docker drivers"
## Bug Report

Similar to `kind` the `minikube` unmanaged-cluster provider attempts to pre-pull the host image based on the TKr. However, the user's driver choice determines which image is needed (e.g. kvm2, vmware, docker, etc).

For now we should move to a model where we tell `minikube` the desired Kubernetes version and let it select the image based on the driver.

In the future, we should move

[2022-04-11 22:06] joshrosso commented on #3955
Related, but moving this specific need out of this issue as there are many questions in here. Many of which I believe @jpmcb may have already implemented a solution for.

https://github.com/vmware-tanzu/community-edition/issues/3982

[2022-04-11 22:17] joshrosso opened #3983 "Support specifying all minikube images based on drivers in the TKr for unmanaged-cluster resolution."
Today, we feed minikube a kubernetes version and let it pull the image based on the user's driver choice.

We should eventually make this consistent with other providers where we specify images in the TKr and are able to resolve the desired image earlier on.

This is a follow-up from:

* https://github.com/vmware-tanzu/community-edition/issues/3982

[2022-04-11 22:26] #2987 closed

[2022-04-11 22:32] #3755 closed

[2022-04-11 22:32] #3982 closed

[2022-04-11 22:34] #3902 closed

[2022-04-11 22:59] joshrosso opened #3986 "Potential panic in minikube provider's status if minikube cluster is deleted outside of `tanzu`"
When we grab minikube status we assume the returned profile will have a value, yet it can be `nil`. In this case we need to return a statusunknown rather than try to introspect the struct.

[2022-04-12 00:27] joshrosso commented on #3610
@stmcginnis assigning this to you to validate once we have our first rc :+1:

[2022-04-12 00:28] joshrosso commented on #3657
Moving this to `at-extreme-risk` I don't believe this will make it as we already have our cut of framework.

[2022-04-12 00:40] joshrosso commented on #3940
Pulling @dvonthenen off this as it's a nice-to-have and we have a lot on our plate for this release :)

[2022-04-12 00:40] joshrosso commented on #3647
@kartiklunkad26 is this work still relevant for `v0.12.0`.

if so, who should we assign to the work for point of contact?

[2022-04-12 00:58] kartiklunkad26 commented on #3647
I’m not sure why we added for v0.12. This isn’t relevant for v0.12.

[2022-04-12 01:52] shiyileiecnu commented on #3886
@stmcginnis The unmanaged cluster could be installed on the my host with the same docker engine, same network environment, same OS.
<img width="930" alt="截屏2022-04-12 上午9 51 01" src="https://user-images.githubusercontent.com/25273514/162862893-3ae83985-93fc-4d48-b809-25720598d352.png">
.

[2022-04-12 12:04] karuppiah7890 opened #3991 "Finding false results in pipelines"
False results occur when
* Pipeline failed and shows red, but internally it has passed and has no critical / major errors, probably failure due to some bad test code or necessary retries are not done etc
* Pipeline passed and shows green, but internally it has failed and has critical / major errors, probably failure due to some bad test code or due to bug in the software (TCE, TF etc)

@aman556 's

[2022-04-12 12:05] karuppiah7890 opened #3992 "GitHub Workflow deletes diagnostics data file of older workflows when doing rerun"
When we rerun failed pipelines, the diagnostics data of the failed pipeline is lost for some reason. We gotta figure out a way to have more retention for such cases. Maybe use S3? @mohitsharma-in 's idea

[2022-04-12 12:07] karuppiah7890 commented on #3991
For the case of

We can pull logs and look for words like "error", "fail" etc and check if they are critical / actual errors and if the pipeline should have failed. But it might be a bit more manual effort. Gotta come up with better ways to find such issues.

Example #3737

[2022-04-12 12:10] stmcginnis commented on #3886
Not sure why there would be a difference, but as the logs showed there was an issue accessing the docker socket with that failure.

You can try to deploy again and use the manual debugging instructions to look at the logs to see if there is a different failure reason this time around. But without access to `docker.sock`, CAPD isn't going to be able to deploy the nodes.

[2022-04-12 12:57] kcoriordan commented on #3307
Working with Mary to add this as a checklist item as following doc versioning, we're not using shortcodes for versioning

[2022-04-12 13:33] kcoriordan commented on #3940
I  can pull this out of BOM and add to support matrix when RC1 is available.

[2022-04-12 14:24] joshrosso commented on #3610
@stmcginnis on second though, now that we have a pinned framework version, can you verify this at your earliest and we can close it out? Appreciate it!

[2022-04-12 14:48] aman556 opened #3994 "[E2E] Changes in Diagnostic e2e test"
## Changes Request
Current e2e test for [Diagnostic Plugin ](https://github.com/vmware-tanzu/community-edition/tree/main/cli/cmd/plugin/diagnostics/e2e-test) can have below changes.
- Currently test is running on a Minikube cluster we can run it on a Unmanaged Cluster.
- We can also transform it to a Go e2e-test using testing library which will make it platform independent(can support windows too)

[2022-04-12 14:52] #3986 closed

[2022-04-12 14:56] #3189 closed

[2022-04-12 15:00] #3610 closed

[2022-04-12 15:11] #3826 closed

[2022-04-12 16:08] dvonthenen commented on #3968
This seems like an interesting idea. I think that if we did create something like this, we would not want to ship this to end-users.

[2022-04-12 17:13] kcoriordan commented on #3253
Doing some research on this, asking the TKG team, but as such not sure what to add here yet.

[2022-04-12 17:15] kcoriordan commented on #3307
@seemiller This will be handled by a checklist item. See row 3 here:
https://docs.google.com/spreadsheets/d/1zQ7N9t3Jznzi8hzY7LW088Wzo7XdOqeZQJ5sIOaLXyQ/edit#gid=1527055808

[2022-04-12 17:15] #3307 closed

[2022-04-12 18:16] pspinrad commented on #3253
If it helps, this staged TKG topic explains how to access logs, including local cluster logs.  The local logs aren't in TKG yet but are in newer versions of Tanzu Framework: https://docs-staging.vmware.com/en/draft/VMware-Tanzu-Kubernetes-Grid/1.6/vmware-tanzu-kubernetes-grid-16/GUID-troubleshooting-tkg-logs.html

[2022-04-12 18:27] shiyileiecnu commented on #3886
@stmcginnis
I installed the tanzu older version TCE_v0.9.1 on my host with the same docker engine, same network environment, same OS and was surprised to find that TCE_v0.9.1 could be installed successfully without any errors.
![tanzu mc create](https://user-images.githubusercontent.com/25273514/163028990-a9f8c88d-9838-4bd8-b68f-086e2f6e0952.png)

I feel curious that why v0.9.1 could be installed

[2022-04-12 18:31] stmcginnis commented on #3886
There's a newer version of CAPD used in the newer release, but that's a bit surprising. Any other changes that were done with the downgrade?

I think we're still at this point:

We need to track down in the logs what is failing.

Can you paste the output of `docker info` just as a sanity check. Please paste the text, not a screenshot of the text if possible.

[2022-04-12 18:42] joshrosso commented on #3940
@kcoriordan it'll be a lot of work to pull all this info out without automation/generation.

But if you think it's something you can tackle for this release, we appreciate it.

[2022-04-12 18:50] joshrosso commented on #3840
Validated in our TKr BOM, we now have this in place:

[code]

[2022-04-12 18:50] #3840 closed

[2022-04-12 18:51] joshrosso commented on #3647
probably my misunderstanding. Moved to `icebox`.

[2022-04-12 19:02] joshrosso commented on #3886
:wave: this accidentally got slotted in our release milestone even though it's (currently) a support ticket.

Just didn't want anyone to take us putting it in the icebox as something that's not important :smile:.

[2022-04-12 19:30] joshrosso opened #3996 "Create TKr BoMs supporting `unmanaged-cluster` in `v0.12.0` release."
* [x] Add secretgen to core repo
* [x] Generate core package repository for `projects.registry.vmware.com/tce/core:v0.12.0`
    * `make generate-package-repo CHANNEL=core TAG=0.12.0`
* [x] Recursively copy core package repo to `projects.registry.vmware.com/tce/core-12`
    * `imgpkg copy -b projects.registry.vmware.com/tce/core:0.12.0 --to-repo projects.registry.vmware.com/tce/core-12`
* [ ] Ensur

[2022-04-12 19:30] joshrosso commented on #3996
cc @jpmcb for visibility.

[2022-04-12 23:12] jpmcb commented on #3197
Hi @TONY-All - final checkup. Anyway we can assist you getting started? Otherwise, will close this issue.

[2022-04-12 23:24] seemiller opened #4001 "cert-manager package cleanup"
## Bug Report

Latest PR for cert-manager had an incorrect namespace.
Also removing 1.3.3 and 1.4.4 from the package repository.

## Expected Behavior

## Steps to Reproduce the Bug

## Screenshots or additional information and context

## Environment Details

* Build version (`tanzu version`):
* Deployment (Managed/Unmanaged cluster):
* Infrastructure Provider (Docker/AWS/Azure/vSphere):
* Operat

[2022-04-13 00:31] dvonthenen commented on #3622
We are close to cutting an RC... just giving some extra time to get the `apps` plugin integrated for RC1.

[2022-04-13 00:32] jayunit100 opened #4004 "Removing schema from CNI providers"
Right now we have a very restrictive schema in antrea 1.2.3 .  This can have dangerous, uninteded consequences that can prevent people from upgrading properly - and thus - bring down clusters during upgrade scenarios.

The value of a restrictive schema, during this phase of TCE, for something critical such as CNIs, isnt very high.

https://github.com/vmware-tanzu/community-edition/blob/main/addons

[2022-04-13 00:35] jayunit100 commented on #4004
per conversation w/ amim, this might completley break TCE so im closing this issue :)

[2022-04-13 00:35] #4004 closed

[2022-04-13 00:39] #3895 closed

[2022-04-13 00:48] absoludity commented on #3732
Just an update here:

- I've a [package-for-kubeapps repo](https://github.com/vmware-tanzu/package-for-kubeapps) which has the desired directory structure, with two versions, 8.0.9 and 8.0.10 (only the package 8.0.10 works).
- The repo includes a script that builds and pushes a new version.

The repo is itself private at the moment until approved etc., but you can manually add the package meta and

[2022-04-13 06:49] cmoulliard commented on #2986
My 2 cents. It is currently really hard for local developments to deal with private registry and to configure them accordingly as that requests to:

1. Generate a self signed certificate (ideally trusted by the K8s CA or a CA trusted by the browsers) where the DNS Names match the private registry - [see](https://github.com/halkyonio/tce/blob/main/scripts/kind_gen_load_cert.sh#L64-L112)
2. Update t

[2022-04-13 14:23] #3992 closed, assigned to nobody

[2022-04-13 15:16] seemiller opened #4008 "Update Codeowners"
## Feature Request

Update CODEOWNERS for the following teams:
- `pkg-fluxcd-kustomize-controller-owners`

## Describe alternatives you've considered

## Additional context

[2022-04-13 15:44] johnSchnake opened #4010 "Broken link for docs"
## Description

https://tanzucommunityedition.io/docs/v0.11/latest/contribute/contributing/ results in a 404

## Location

Linked from this location https://github.com/vmware-tanzu/community-edition/blob/0f06a7490249102c04eeb157b11fc5d87b5d836a/CONTRIBUTING.md#nested-makefiles

[2022-04-13 15:46] l0r3zz commented on #3657
I'm adding my experience to the issue as I had a similar failure:
This is my attempt to deploy TCE 0.11  on Pop_OS. The local machine is an 11th Gen Intel i7-11800H@2.3 GHz 16 core with 64GB of memory so I don't think it's asphyxiated, This time the deployment of the Management cluster fails, but when I look at the debug information, I don't see any failed Pod and the service that it is complainin

[2022-04-13 15:54] stmcginnis commented on #4010
Thanks John. The link is correct in the current version in `main`. Is there a reason you are trying to use that from an older commit?

[2022-04-13 16:06] johnSchnake commented on #4010
Hm; I didnt realize I was using an older version at all. I must have linked to there from somewhere else. I've tried finding what I was looking at immediately prior and having trouble since I've bounced around so many similar pages.

I'm assuming I was looking at some code corresponding to that version and it followed me.

Glad its a non-issue. 👍

[2022-04-13 16:06] #4010 closed, assigned to nobody

[2022-04-13 21:19] jpmcb opened #4018 "Spike: `unmanaged-cluster` log package should use escape codes"
## Feedback

Currently, to enable the nice UX logging of `unmanaged-cluster`, we superceed the line "buffer" with a few extra spaces so we can replace the entire message:

https://github.com/vmware-tanzu/community-edition/blob/75281a801cb7bfb558210275f6cc6b82176d4dc5/cli/cmd/plugin/unmanaged-cluster/log/log.go#L253-L256

Instead, we should consider using a replace line escape code like we do here:

[2022-04-13 21:22] jpmcb opened #4019 "Code cleanup: `unmanaged-cluster` variables be correct abbreviations"
## Feedback

Throughout the codebase in `unmanaged-cluster`, we have these types of abbreviated variables:

https://github.com/vmware-tanzu/community-edition/blob/75281a801cb7bfb558210275f6cc6b82176d4dc5/cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go#L131

`scConfig` is an artifact from when `unmanaged-cluster` was called `standalone-cluster` and indicates this is a "standalone cluster Config". W

[2022-04-13 21:23] #3975 closed

[2022-04-13 21:32] jpmcb opened #4020 "`unmanaged-cluster` config file `WorkerNodeCount` and `ControlPlaneNodeCount` should be ints, not strings"
## Feedback

Currently, `unmanaged-cluster` config files accept the following options:

[code]

These are technically strings and this ux is a bit weird. A smoother experience for users would be these values being expected to be ints, not strings

## Suggested Changes

Make unmanaged-cluster config file `WorkerNodeCount` and `ControlPlaneNodeCount` ints, not strings.

[2022-04-13 21:34] jpmcb opened #4021 "Code-cleanup: `unmanaged-cluster` should be consistent with named returns."
## Feedback

There are a number of places in the unmanaged cluster codebase where we use "named returns". Like in:

https://github.com/vmware-tanzu/community-edition/blob/75281a801cb7bfb558210275f6cc6b82176d4dc5/cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go#L528

But for the most part, we don't do this.

## Suggested Changes

For consistency, we should stick to one method, likely removing named

[2022-04-13 23:08] #3668 closed

[2022-04-13 23:44] #4001 closed

[2022-04-14 01:58] heww commented on #3917
If we add the `hostname` from the values.yaml and `notary.<hostname>` to the dnsNames, is this match your requirement?

[2022-04-14 07:46] cmoulliard commented on #3917
Yes at the condition of course that the [hostName](https://github.com/vmware-tanzu/community-edition/blob/main/addons/packages/harbor/2.4.2/bundle/config/values.yaml#L9) = Host + FQN matches the Contour Ingress or HTTPProxy hostname too ;-)

[2022-04-14 13:51] jonasrosland commented on #3939
I'll spend some time on this today and tomorrow.

[2022-04-14 14:03] #3924 closed

[2022-04-14 14:17] seemiller opened #4029 "Update Tagger to check new packages"
## Feature Request

Tagger's list of packages to check needs to be updated to account for new packages.

Add the following packages:
- app-toolkit
- cartographer
- cartographer-catalog
- cert-injection-webhook
- fluxcd-kustomize-controller
- fluxcd-source-controller
- kpack
- whereabouts

## Describe alternatives you've considered

## Additional context

Not adding kpack-dependencies since that pa

[2022-04-14 15:20] #3909 closed

[2022-04-14 15:21] #3996 closed

[2022-04-14 15:58] swalner-vmware opened #4033 "README.md has failing link"
The main README.md has a failing link (see graphic).

![image](https://user-images.githubusercontent.com/86380897/163428040-469730e5-cc2b-4f82-96d9-5427977044ca.png)

[2022-04-14 16:28] stmcginnis commented on #4033
Thanks, good catch! We renamed our CI jobs, causing this to fail. Update coming!

[2022-04-14 16:36] snehalbiche opened #4036 "base64.decode: illegal base64 data at input byte 0 Error: unable to set up management cluster"
## Bug Report

tanzu@tkgbootstrap:~$ tanzu management-cluster create tanzumgmt  --file tkg-mgmt-cluster.yaml -v 6
compatibility file (/home/tanzu/.config/tanzu/tkg/compatibility/tkg-compatibility.yaml) already exists, skipping download
BOM files inside /home/cisco/.config/tanzu/tkg/bom already exists, skipping download
CEIP Opt-in status: false

Validating the pre-requisites...
Identity Provider n

[2022-04-14 16:40] stmcginnis commented on #4036
The `WARNING: key is not a string: %!s(int=1)WARNING: key is not a string: %!s(int=1)` message is a harmless error and can be ignored. That has been fixed but not made it into a release yet.

The `base64.decode: illegal base64 data at input byte 0` looks to be the cause of the failure. Did you modify any of the ytt overlay files? It looks like there is something in there that isn't properly format

[2022-04-14 16:41] stmcginnis commented on #4036
Though this earlier message also looks concerning: `VSPHERE_CONTROL_PLANE_ENDPOINT 10.14.7.200 is already in use`

[2022-04-14 17:57] #3824 closed

[2022-04-14 20:04] joshrosso commented on #3257
After learning some of the build complications and other technical considerations, we're going to look at getting some of this work into `tanzu`'s root CLI. For now we're going to table this proposal and revisit it at a later date.

[2022-04-14 20:07] joshrosso commented on #3235
We've officially accepted this proposal and work is (has been) in flight to satisfy this proposal.

[2022-04-14 20:20] jpmcb opened #4040 "Rename `unmanaged-cluster` "profile" to "install-package""
As a followup to https://github.com/vmware-tanzu/community-edition/pull/3827, we are going to rename the `profile` verbage and flag to `install-package`

cc @vkorbes

[2022-04-14 20:59] seemiller opened #4041 "Update PR Approvals in Governance"
## Feature Request

The TCE Governance documentation states that there will be 2 reviewer approvals required to merge a PR.

The TCE Engineering Team, ie the current maintainers, have decided to change this to 1 reviewer.

## Describe alternatives you've considered

## Additional context

[2022-04-14 21:16] #4041 closed

[2022-04-14 22:21] #3743 closed

[2022-04-14 23:51] #3912 closed

[2022-04-14 23:52] #4033 closed

[2022-04-15 02:12] #3622 closed

[2022-04-15 05:54] 12345lcr opened #4051 "Add schemas with backward compatibilities to calico packages"
## Bug Report

TCE calico packages are introducing input schemas to restrict the input values format for the packages, but we need to consider the backward compatibilities for upgrading.

Below is the example of the deprecated image fields that are useless for now but may exists in the clusters' data values secrets, who was upgraded from older releases.
[code]

## Expected Behavior

Add these depr

[2022-04-15 09:23] #3939 closed

[2022-04-15 10:53] #3689 closed

[2022-04-15 11:18] karuppiah7890 opened #4055 "Contributing guide links to a 404 page in docs"
## Description

https://github.com/vmware-tanzu/community-edition/blob/main/CONTRIBUTING.md leads to https://tanzucommunityedition.io/docs/contribute/contributing/ which is a 404

## Location

https://github.com/vmware-tanzu/community-edition/blob/main/CONTRIBUTING.md

## Additional Context

[2022-04-15 11:19] karuppiah7890 commented on #4055
With the latest version as of this writing, it should point to https://tanzucommunityedition.io/docs/v0.11/contribute/contributing/

[2022-04-15 12:16] kcoriordan commented on #4055
This was working
Is this a regression of [this ](https://github.com/vmware-tanzu/community-edition/pull/4030) @jonasrosland

[2022-04-15 13:43] kcoriordan opened #4059 "Doc preview updates not showing in edge"
When I create a PR with doc edits, I can’t see edits to existing files in edge preview and  new file shows in toc, but gives a link error.
ref: #https://github.com/vmware-tanzu/community-edition/pull/4058

## Bug Report

## Expected Behavior
I expect to see updates to existing file and new file

## Steps to Reproduce the Bug

- I create a PR, edit an existing file and add another new file https://

[2022-04-15 13:46] kcoriordan opened #4060 "Can't preview docs in edge in local hugo build"
## Bug Report
Can't preview docs in edge in local hugo build

## Expected Behavior

## Steps to Reproduce the Bug

I run hugo server from \community-edition\docs\site>
And go to  //localhost:1313/
Select Documentation tab, which goes to http://localhost:1313/docs/v0.11
Get 404 for http://localhost:1313/docs/v0.11
Change link to http://localhost:1313/docs/edge – still get 404

I try steps in https:

[2022-04-15 13:54] kcoriordan opened #4061 "Doc links in blogs should point to a specific version of docs so that the linked content is always applicable."
## Bug Report

All doc links in blogs should point to a specific version of docs so that the linked content is always applicable.
As a result of latest updates to docs versioning, some links in https://tanzucommunityedition.io/posts/managed-unmanaged-clusters-tanzu-community-edition/ will not work and need to be updated to versioned links
so

change this:
https://tanzucommunityedition.io/docs/gett

[2022-04-15 14:12] kcoriordan commented on #4055
related to: https://github.com/vmware-tanzu/community-edition/pull/4030

[2022-04-15 14:34] jonasrosland commented on #4055
Any direct links that aren't versioned should be versioned, as those links might cause confusion later otherwise. I would rather not regress but instead fix those links. We can add redirects for certain links that we want to always point to latest, such as the contributing guide. I can do that, but other links that should be versioned, should be changed to use the versioned URLs IMO.

[2022-04-15 15:20] jpmcb commented on #4055
Linters are failing with a number of these now:

[code]

[2022-04-15 16:03] jorgemoralespou commented on #3955
@jpmcb I can probably resort to minikube raw configs, for many things, yes, but isn't an abstraction meant to simplify the usage of the underlying tool. If, as a user, I need to know all the details of minikube, why would I then use UC and not just minikube?

[2022-04-15 16:39] stmcginnis commented on #4036
Could you also provide the content of `tkg-mgmt-cluster.yaml`, redacting anything sensitive.

[2022-04-15 16:42] #4029 closed

[2022-04-15 16:43] jpmcb opened #4064 "Versioned docs feedback"
## Feedback

We've been with the versioned docs for a bit now and going into another release, we should evaluate and gather feedback on how this has been going

### Issues related:

General:
- [x] https://github.com/vmware-tanzu/community-edition/issues/4055
- [x] https://github.com/vmware-tanzu/community-edition/issues/3750

Packages:
- [ ] https://github.com/vmware-tanzu/community-edition/issues

[2022-04-15 18:20] jpmcb commented on #4060
Is this a duplicate of https://github.com/vmware-tanzu/community-edition/issues/3687 ?

[2022-04-15 19:32] l0r3zz commented on #3657
I did try to deploy to docker on Linux a second time and got a similar failure when it tried to bootstrap the management cluster. After the failure, I examined the management cluster and services seems up and healthy, though of course the additional plug-ins were not loaded

[2022-04-15 20:44] jpmcb opened #4068 "`unmanaged-cluster` should have `wait` option for `--install-package` reconciliation"
## Feature Request
Currently, when users set a pre-install package via the `install-package` flag, we do _not_ wait for that package to reconcile. We give the cluster back immediately and continue with merging the kubeconfig so users can do troubleshooting if necessary.

We should consider adding some kind of `wait` flag or option that forces the bootstrapping to wait for `install-packages` to rec

[2022-04-15 20:47] kremerpatrick opened #4069 "Add link to detailed Windows instructions for Docker deployment"
## Description

The current documentation for deploying on Docker mentions `Bootstrapping a cluster to Docker from a Windows bootstrap machine is currently experimental.` However, if you're using WSL on Windows for Docker Desktop, there's a whole separate set of instructions requiring the user to build their own WSL kernel. It's better to warn a Windows user with a link to the WSL document before

[2022-04-15 20:49] jpmcb commented on #3238
Now, with the introduction of the `minikube` provider, users can specify: `kind`, `minikube`, or `none` (only usable with the `-e` flag for using an existing cluster).

Today, in the unmanaged-cluster ref documentation, we have a section on both the `minikube` and `kind` provider:
https://github.com/vmware-tanzu/community-edition/blob/main/docs/site/content/docs/ref-unmanaged-cluster.md#using-a-di

[2022-04-15 21:18] #3821 closed

[2022-04-15 21:25] seemiller opened #4073 "Package Updates for v0.12.0"
## Feature Request

Need to update the package repo to include the latest packages. Ensure that main.yaml has the following:

app-toolkit 0.y.z (work still in progress, no PR yet)
cartographer 0.3.0
cartographer-catalog 0.3.0 (see #3984)
cert-manager 1.5.5
cert-manager 1.6.3
cert-manager 1.7.2
cert-manager 1.8.0
fluxcd-kustomize-controller 0.21.1
gatekeeper 3.7.1
kpack-dependencies 0.0.9
local-pat

[2022-04-15 21:34] seemiller commented on #4073
I've created a package repo (on the staging Harbor) with all above packages (except for an updated app-toolkit)
It's tag is `v0.12.0-alpha.1`
[code]

[2022-04-15 21:46] seemiller commented on #4073
To create and push a new package repo, run the following: (I added `-alpha.x` but you can use whatever build metadata you want). If you want to create the repo on projects-stg, ATM you'll have to update the source code to push to that registry.

[code]

[2022-04-16 07:19] karuppiah7890 opened #4078 "Using same AMI for all TCE versions?"
We currently use this AMI ID - https://github.com/vmware-tanzu/community-edition/blob/436d25354bdc3437f3a8cf5f6776eca9a69e07c5/test/aws/cluster-config.yaml#L1

Ideally for every TCE version, if the underlying BOM being used uses a particular AMI, that has to be used to create the cluster. We gotta check if this is correctly happening or if we are always using the same AMI regardless of the AMI tha

[2022-04-17 10:59] jorgemoralespou commented on #3142
This issue is still relevant

[2022-04-18 10:24] mohitsharma-in opened #4084 "Docs images link broken"
Documentation page
 Links broken from vsphere documentation getting started page  page
[vSphere](https://tanzucommunityedition.io/docs/v0.11/getting-started/#tab24)

https://tanzucommunityedition.io/docs/img/vcenter-import-ovf.png
https://tanzucommunityedition.io/docs/img/customer-connect-downloads.png

[2022-04-18 14:11] joshrosso commented on #2696
@dvonthenen with rc2, can we close this out?

[2022-04-18 14:26] joshrosso commented on #3564
Unfortunately, do to latency in getting the packages updates, this won't make the release. Moving to v0.13.0

[2022-04-18 14:29] joshrosso commented on #3657
This won't make it for v0.12.0, unfortunately. Moving out to v0.13.0.

[2022-04-18 14:29] joshrosso commented on #3536
Per slack today: @jpmcb is going to get an ordering of which packages need testing most and delegate those to the team.

[2022-04-18 14:57] jpmcb commented on #3536
Packaging stack rank ordering:

1. `tanzu` - Instrumentation of entire `unmanaged-cluster`
    - Assigned: @dvonthenen
    - Current coverage: 0%

3. `cluster` - Cluster providers
    - Assigned: @joshrosso
    - Current coverage:
      - Kind provider: 34%
        - Validation of docker info
        - Merging kind configs (including nodes)
      - Minikube provider: 0%
      - Noop provider: 0%
5

[2022-04-18 14:58] #4061 closed

[2022-04-18 15:16] sunjayBhatia commented on #3104
This will come into effect in Contour v1.21.0 which is due out soon

[2022-04-18 17:35] dvonthenen commented on #2696
yup, we can!!

[2022-04-18 17:35] #2696 closed

[2022-04-18 17:37] usahai30 opened #4088 "Make TCE version available in cluster's metadata"
## Feature Request

Version info available in tkg-metadata consists of TKG version with tanzu framework version appended to it. There is no way, today, to correlate framework version to TCE version. Version that users see on github repo is different from this framework version.
For eg - For TCE github version v0.12 the version info available in `tkg-metadata` will be `v1.5.3-tf-v0.11.4`

This requ

[2022-04-18 20:17] kurtbaker09 opened #4090 "[Docs] [](/docs/v0.11/package-readme-app-toolkit-0.1.0/)"
## Description
During the last step of the example, there's an issue with referencing the workload example which needs to be updated.

## Location
https://tanzucommunityedition.io/docs/v0.11/package-readme-app-toolkit-0.1.0/#usage-example

## Additional Context

Issue from command prompt when running the steps
[code]

https://raw.githubusercontent.com/cgsamp/tanzu-simple-web-app/main/example/workl

[2022-04-18 23:45] miclettej opened #4093 "UI Plugin: Welcome page should provide user with intro to TCE"
## Feature Request

A welcome page should include a basic intro/overview to TCE along with some guidance on getting started and next steps once you have created clusters

## Describe alternatives you've considered

none
## Additional context

Adding some elements found in the following mockup, though this mockup is still a work in progress

![Screen Shot 2022-04-18 at 4 43 59 PM](https://user-imag

[2022-04-19 04:56] karuppiah7890 opened #4095 "Add badge to show status of unmanaged cluster pipeline"
Currently we have badges in Readme in the root of the repo to show status of AWS, Azure and vSphere pipelines. We can add unmanaged cluster pipeline status to this list https://github.com/vmware-tanzu/community-edition/actions/workflows/e2e-unmanaged-cluster.yaml

Maybe also fix the typo in the name of the workflow https://github.com/vmware-tanzu/community-edition/actions/workflows/e2e-unmanaged-c

[2022-04-19 10:48] karuppiah7890 commented on #3174
Tried and tested the Chocolatey install code with `v0.12.0-rc.2` and it seems to be all good

[code]

[2022-04-19 11:27] karuppiah7890 opened #4099 "Generically check that all plugins havent been installed in release gate pipeline"
Examples of current pipeline - https://github.com/vmware-tanzu/community-edition/runs/6045143205?check_suite_focus=true , https://github.com/vmware-tanzu/community-edition/runs/6045143326?check_suite_focus=true

Code where we check the existence (but not version) of all the CLI plugins and the core CLI

https://github.com/vmware-tanzu/community-edition/blob/201caff7129d4fe0236550cf6a5ba72a57b8bced

[2022-04-19 11:34] karuppiah7890 commented on #4099
We are basically trying to ensure that the installed `tanzu` CLI plugins are available for use (are installed correctly and exist and work). The installation logs show which plugins are installed, example -

[code]

[2022-04-19 11:51] michaelh704 opened #4100 "Tanzue Manage Cluster UI unable to detect OS Image"
## Bug Report

After fresh install of Windows 11 with TCE 0.11.0, the UI to deploy cluster does not detect OS images.

## Expected Behavior

When OS image drop down clicked, available OS images displayed. I have uploaded both photon OS and ubuntu, neither are found.

Deploy Windows 11, install docker desktop, WSL update, etc, run tanzu management-cluster create --ui and try to create management cl

[2022-04-19 11:55] stmcginnis commented on #4100
Hi Michael - did you download the OVAs from [Customer Connect](https://customerconnect.vmware.com/en/downloads/details?downloadGroup=TCE-0110&productId=1266&rPId=86727). As it shows, you have `tkg.2`, but TCE is looking for `tkg.3`, so you don't have the necessary templates deployed in your environment.

[2022-04-19 11:58] michaelh704 commented on #4100
Yep, I downloaded them from the link in the Prepare to Deploy a Cluster to vSphere section here: https://tanzucommunityedition.io/docs/v0.11/vsphere/

It links to: https://customerconnect.vmware.com/downloads/get-download?downloadGroup=TCE-0110

![image](https://user-images.githubusercontent.com/33662138/163998364-aa42764c-c2e7-4d0b-a4b5-b2d2d2fe5469.png)

[2022-04-19 12:05] karuppiah7890 commented on #4078
We can probably get rid of this parameter and just use `OS_NAME`, `OS_VERSION` and `OS_ARCH` as we use for Azure and vSphere to choose a particular OS for the cluster nodes

https://github.com/vmware-tanzu/community-edition/blob/201caff7129d4fe0236550cf6a5ba72a57b8bced/test/azure/cluster-config.yaml#L6-L8

https://github.com/vmware-tanzu/community-edition/blob/201caff7129d4fe0236550cf6a5ba72a57b8b

[2022-04-19 12:22] stmcginnis commented on #4100
Hmm, I'm unable to reproduce this. I spun up a clean system and made sure I removed all existing templates from my vSphere environment. I then downloaded the v1.22.5 OVA from Customer Connect, deployed it to my environment, and converted it to a template. I then downloaded and installed the v0.11.0 release of TCE, ran `tanzu management-cluster create --ui` and walked through the wizard. When I got

[2022-04-19 12:45] aman556 opened #4101 "[Passed] managed and workload cluster installation for `v0.12.0-rc.2` logs"
This issue is to just tracking the logs for managed and workload cluster  installation for `v0.12.0-rc.2`.
The status is `GREEN`
[code]

[2022-04-19 14:19] dvonthenen commented on #4099
The current way of checking is far too brittle for any new plugin that is add you need to modify the script. This needs to be dynamic. You can just walk the names of yaml files in the `discovery` folder in the page, parse that name out, and then call version.

[2022-04-19 14:29] #4095 closed

[2022-04-19 15:27] dvonthenen commented on #3174
@karuppiah7890 seems like this is verified then, can we close this out?

[2022-04-19 15:32] trantor1 opened #4102 "Tanzu CLI update from 10.1 to 11 failed with - Error: could not read artifact "artifacts/pinniped-auth/v0.11.4/tanzu-pinniped-auth-linux_amd64": storage: object doesn't exist"
## Bug Report

Tanzu cli update from commandline not working at this moment and failed with

`
Error: could not read artifact "artifacts/pinniped-auth/v0.11.4/tanzu-pinniped-auth-linux_amd64": storage: object doesn't exist
`

## Steps to Reproduce the Bug

* user@k8s-mgmt:~$ tanzu version
version: v0.10.1
buildDate: 2022-02-14
sha: 401d55b

* user@k8s-mgmt:~$ tanzu update
     the following update

[2022-04-19 16:04] dvonthenen commented on #4088
Yes, please! We need this!

@dvonthenen reminder to link the other issue to this one.

[2022-04-19 16:05] dvonthenen commented on #4090
hey @kartiklunkad26 just an FYI on this new issue popping up at triage

[2022-04-19 16:33] kartiklunkad26 commented on #4090
@kurtbaker09 thank you for raising this! yes we need to fix this! Will do so.

[2022-04-19 17:15] consolewitch commented on #3070
@stmcginnis I don't think @ciberkleid is referencing a specific problem. She is pointing out the irony and futility of saying "see .status.usefulErrorMessage" without telling the user where or what .status.usefulErrorMessage is.

[2022-04-19 17:16] aman556 commented on #4101
Hello @dvonthenen we are working on sign-of fro `v0.12.0-rc.2` as e2e test for managed and workload cluster do not have e2e-test so did manually and for visibility of logs i put them here. there is no issue i tried to mention that in description and headline too. I know this is not the ideal use of issue. I am closing it.
Thanks!

[2022-04-19 17:16] #4101 closed

[2022-04-19 18:14] stmcginnis commented on #3070
Yep, just looking for how to get this to reproduce. Likely an issue for `tanzu-framework`, but would be good to understand how to trigger it.

[2022-04-19 20:45] jpmcb opened #4107 "`unmanaged-cluster` e2e tests fail if parent directory not named "community-edition""
## Bug Report
When running the e2e tests in a parent directory _not_ named "community-edition", the tests fail:

[code]

## Expected Behavior

e2e tests should not be dependent on the name of the parent directory.

## Steps to Reproduce the Bug

Clone repo into `tce`, attempt to run e2e tests

## Screenshots or additional information and context

Coming from this chunk:
https://github.com/vmware-t

[2022-04-19 20:47] thesteve0 opened #4109 "tanzu cli should allow listing of packages without a cluster present"
## Feature Request

Currently,  `tanzu package available list`  does not work unless you already have a cluster created
[code]
It would be nice if the tanzu command could tell me the packages BEFORE I create a cluster, that way I could use the `--install-packages` flag BEFORE I create any cluster.

 I would like `tanzu package available list` to work without a cluster assuming a default unmanaged

[2022-04-19 20:59] jpmcb opened #4110 "`unmanaged-cluster` e2e tests fail if `tanzu` CLI not installed / found"
## Bug Report

Running the `unmanaged-cluster` e2e tests will fail if the user does  not have `tanzu` installed or available.

Since `unmanaged-cluster` is fully runnable and seperate from `tanzu`, users may not have the full `tanzu` suite on their local workstation. This is a frequent workflow I take. Further, running `go build` for just unmanaged-cluster is much much faster than re-compiling and

[2022-04-19 21:00] thesteve0 opened #4111 "There is no information on whether a package requires a config file"
## Bug Report

This might be a doc issue but I actually think this is a deficiency in the package listing command.
There is no easy to find information on whether a config file is required for a package to work properly, let alone what contents of that file would be required.

This page, https://tanzucommunityedition.io/docs/main/ref-unmanaged-cluster/#installing-packages-during-bootstrapping, tal

[2022-04-19 21:01] jpmcb opened #4112 "`unmanaged-cluster` e2e tests should _not_ be included in unit tests"
## Bug Report

Currently, when running the `go test` suite for `unmanaged-cluster`, the e2e tests also get picked up.

This is ok for now, but problematic in the long run since e2e tests take longer and are far more resource intensive. We shouldn't slow down unit testing turn around time with e2e tests.

## Expected Behavior

`go test ./...` should run _only_ the unit tests.

## Steps to Reproduce

[2022-04-19 21:29] jpmcb opened #4114 "`unmanaged-cluster` Minikube provider docs need to call out `minikube` install requirement"
## Description

Before a user can create a `unmanaged-cluster` cluster with the minikube provider, they must have Minikube installed on their system.

This means they should be able to run
[code]
with success.

## Location

In unmanaged-cluster ref docs: https://tanzucommunityedition.io/docs/main/ref-unmanaged-cluster/#unmanaged-clusters-reference

[2022-04-19 21:42] LukeShortCloud commented on #4111
This has also been a challenge I have faced during my first few Tanzu package deployments.

Related to this, in an ideal world, no package would need configuration values and should deploy for lab/demo purposes with sane default values. For example, Harbor requires setting a username and password. As an end-user, I would expect that to at least have simple values like "admin" and "admin" or, bette