[2021-11-30 17:02] #2508 closed

[2021-11-30 17:02] #2585 closed

[2021-11-30 18:41] blc1996 commented on #2623
I noticed a strange thing when fixing this issue. If I run `make lock-package-images PACKAGE=vsphere-csi VERSION=2.4.0` directly, the images.yml file won't be updated thoroughly. I need to delete the old images.yml, and rerun the kbld command to make it updated.

Running `make lock-package-images PACKAGE=vsphere-csi VERSION=2.4.0` directly

[code]

Delete and rerun
[code]

[2021-11-30 22:55] jpmcb commented on #1243
Thanks for looking into this @garrying - one other thing of note; it would be great if we could bump to the new alpha of `docsearch.js` v3. The [v2.6 version of docsearch.js](https://www.npmjs.com/package/docsearch.js) that we have declared in the `doc/site/themes/template/layouts/_default/baseof.html` hasn't had a published release for over 2 years and has a few transient security vulnerabilities

[2021-12-01 13:13] karuppiah7890 commented on #2545
I just uploaded the OVA to the VM folder and tried to run a test in my fork - https://github.com/karuppiah7890/community-edition/actions/runs/1525797955 and it passed. Just now I triggered https://github.com/vmware-tanzu/community-edition/runs/4381640883?check_suite_focus=true and if it passes, I'll retrigger all the pipelines

[2021-12-01 13:13] karuppiah7890 commented on #2544
It's been passing for quite a few days now, except for one failure - https://github.com/vmware-tanzu/community-edition/runs/4342943145?check_suite_focus=true . I'll close this issue for now

[2021-12-01 13:14] #2544 closed

[2021-12-01 19:27] kartiklunkad26 commented on #2462
@tomkennedy513 shared an update on this issue!

"we made the changes in our repo to allow kpack to be shipped as a package, i am working on the pipeline side of things now"

[2021-12-01 21:17] #2530 closed

[2021-12-01 23:08] pksheldon4 opened #2639 "Gatekeeper (all versions) missing namespace override"
## Bug Report

The ClusterRoleBinding `gatekeeper-manager-rolebinding` does not get updated in the event the package is deployed with a namespace other than `gatekeeper-system`

There is a missing override causing this issue in version 3.2.3 which is still missing in version 3.7.0.

## Expected Behavior

Overriding the namespace value should change the namespace everywhere, including the ClusterRo

[2021-12-01 23:11] pksheldon4 commented on #2639
Since I propagated this issue from 3.2.3 to 3.7.0 I'm going to fix it now.

[2021-12-02 05:15] karuppiah7890 opened #2640 "E2E tests - Cleanup `~/.kube-tkg/tmp/` directory kube config files and `~/.kube-tkg/config` kube config file in CI alone"

[2021-12-02 15:26] kcoriordan opened #2641 "Autogenerated package PR removed some doc content from toc"
## Bug Report

I added a Create Packages topic in https://github.com/vmware-tanzu/community-edition/pull/2604
looks like it was backed out in auto generated PR https://github.com/vmware-tanzu/community-edition/pull/2634
`docs/site/data/docs/latest-toc.yml`
line 86

## Expected Behavior

## Steps to Reproduce the Bug

## Screenshots or additional information and context

## Environment Details

* B

[2021-12-02 16:30] heww commented on #1994
I think the harbor package may support configuring the TLS secret name by this PR https://github.com/vmware-tanzu/community-edition/pull/2563

[2021-12-02 16:34] #1993 closed

[2021-12-02 17:15] #1716 closed

[2021-12-02 17:15] #2236 closed

[2021-12-02 18:14] joshrosso commented on #2513
Created a issue in framework to enable this functionality.

It is tracked at:

* https://github.com/vmware-tanzu/tanzu-framework/issues/1277

Once this issue is resolved, we should update our dependency of framework and then close **this** issue.

[2021-12-02 21:13] joshrosso commented on #2622
 @vmware-tanzu/pkg-contour-owners making sure you saw this as a potential new feature and prioritize it!

[2021-12-02 21:16] joshrosso commented on #2619
Hey @vmware-tanzu/pkg-vsphere-cpi-owners! Are you able to take a look at this and see if the service is no longer needed? And if so, prioritize its change?

[2021-12-02 21:23] joshrosso commented on #2616
In summary, it is the process of bootstrapping clusters that is not compatible with ARM (both linux and darwin), as such, we should provide the appropriate warnings to users from a docs and CLI-level. Here is our proposed approach.:

0. Update our docs/pre-reqs to mention that **bootstrapping** on an ARM-based machine does not work
1. Continue to allow install of TCE using amd64 binaries (many app

[2021-12-02 21:26] joshrosso commented on #2613
merged with https://github.com/vmware-tanzu/community-edition/pull/2628

Please feel free to reopen if this PR did not cover the change!

[2021-12-02 21:26] #2613 closed

[2021-12-02 22:49] #2535 closed

[2021-12-03 05:30] #2506 closed

[2021-12-03 05:51] lubronzhan commented on #2619
Yeah I'm one of the owner, we'll fix this in 1.23

[2021-12-03 08:09] aman556 opened #2652 "Curl on wrong file to install aws CLI for Mac"
## Bug Report

In `hack/ensure-dependencies.sh` the installation for aws cli [here](https://github.com/vmware-tanzu/community-edition/blob/25b3c12c419ac373dfe6eddde0c7e6ef8d6e089b/hack/ensure-dependencies.sh) (line 191) we curl to the same file we are doing for linux due to which it is installing aws CLI for Linux in Mac environment.
## Expected Behavior

It should curl the right file and install

[2021-12-03 11:48] navidshaikh opened #2655 "Integrate CodeQL analysis"
## Feature Request
Integrate CodeQL scan via a github action to run at a regular interval.
From https://codeql.github.com/
[code]

## Describe alternatives you've considered
Dependabot, which is already integrated with the repo. CodeQL provides additional analysis and surfaces any probable improvements we can make in the code.

## Additional context
See sample github action run and integration of

[2021-12-03 15:14] #2639 closed

[2021-12-03 15:18] #2623 closed

[2021-12-03 16:18] qnetter opened #2657 "Typo (mine) in v0.10.0-rc.2 release notes"
## Bug Report

The intro text of the Usability subsection of the Release themes section says:
...will by improved by...
when it should say
...will be improved by...
## Expected Behavior

Correct words.
## Steps to Reproduce the Bug

Read.  :)

## Screenshots or additional information and context

## Environment Details

## Diagnostics and log bundle

[2021-12-03 21:35] skriss commented on #2622
This should be very straight-forward to implement, just need to add a `values.yaml` option and then add logic to https://github.com/vmware-tanzu/community-edition/blob/main/addons/packages/contour/1.19.1/bundle/config/overlays/update-envoy-service.yaml to set `spec.loadBalancerIP` if the value was configured.

@doddatpivotal, any interest in contributing a patch here?

[2021-12-03 21:52] doddatpivotal commented on #2622
@skriss Yes.  I would like to do that. I'll give it a shot.

[2021-12-03 22:33] doddatpivotal commented on #2622
@skriss Happy to get feedback on the implementation and if I correctly followed the contribution guidance.

[2021-12-04 23:07] #2652 closed

[2021-12-04 23:11] #2123 closed

[2021-12-06 04:29] #2080 closed

[2021-12-06 08:08] blackpiglet opened #2663 "Restic support in Velero plugin"
## Feature Request

Up to now, Velero plugin's Restic function support is still restricted. Only enable or disable option exists.
Need to add more Restic related options to support detailed Restic setting.

## Describe alternatives you've considered

No alternatives is coming to my mind yet.

## Additional context

 I am working on the Velero Carvel supporting now. I'll make a PR later.

[2021-12-06 11:52] karuppiah7890 opened #2664 "E2E test for testing TCE clusters + TMC"
When we say TCE clusters - we mean management and workload clusters whose code come from [Tanzu Framework](https://github.com/vmware-tanzu/tanzu-framework/)

Since standalone clusters on cloud providers are gonna be deprecated, we can leave it out. Reference - https://github.com/vmware-tanzu/community-edition/issues/2266

We can still test TCE standalone local Docker cluster with TMC, so that user

[2021-12-06 11:54] karuppiah7890 commented on #2664
Strategy - TMC has Web GUI, API, and CLI too. We could use the TMC CLI for our E2E test purposes if we are going to write a bash script. If we write golang code, we could use TMC API or look for existing TMC golang client library for the TMC API or create one (just what we need) ourselves as part of consuming the TMC API

[2021-12-06 11:59] karuppiah7890 commented on #2664
TMC CLI latest download links as of this writing -

Linux 64 bit - https://tmc-cli.s3-us-west-2.amazonaws.com/tmc/0.4.0-fdabbe74/linux/x64/tmc
Darwin 64 bit - https://tmc-cli.s3-us-west-2.amazonaws.com/tmc/0.4.0-fdabbe74/darwin/x64/tmc
Windows 64 bit - https://tmc-cli.s3-us-west-2.amazonaws.com/tmc/0.4.0-fdabbe74/windows/x64/tmc.exe

To update to latest after getting the `tmc` binary, just do `tmc

[2021-12-06 12:00] karuppiah7890 commented on #2664
Some related TMC (TMC support) issues that I noticed - #1097 , #1234

[2021-12-06 12:09] karuppiah7890 commented on #2664
Few kinds of tests we can think of doing with TCE + TMC -
- Create a management cluster using TCE and attach it to TMC
- Create a workload cluster using TCE and existing TCE management cluster and attach it to TMC
- Create a workload cluster using TMC and existing TCE management cluster attached to TMC

Once a cluster is attached to TMC, we can look at what other operations we want to try and test

[2021-12-06 12:27] chenliu1993 commented on #2423
SR-IOV Network Device Plugin merged, cni is in planning

[2021-12-06 12:45] chenliu1993 commented on #2595
Assign this issue to me. Will take a look later.

[2021-12-06 12:47] #2515 closed

[2021-12-06 13:37] kcoriordan commented on #862
Hi @alexbarbato
I can import the TKG content from link above and get a draft in a PR for review

[2021-12-06 17:04] seemiller commented on #391
@pnbrown Is this still a relevant issue? There are at least 2 articles/guides for creating packages:

- https://tanzucommunityedition.io/docs/latest/solutions-opinionated-install-package/
- https://tanzucommunityedition.io/docs/latest/packages-create-example/

[2021-12-06 17:06] miclettej commented on #2134
Hi @qnetter checking back to see if there was any outcome from the TKG PM call?

[2021-12-06 17:13] pnbrown commented on #391
I think those are probably sufficient.

[2021-12-06 17:13] #391 closed

[2021-12-06 17:38] dvonthenen commented on #1399
I agree with the last statement @joshrosso made and I'm closing this.

The official docker documentation found here (https://docs.docker.com/engine/install/) provides install instructions for the following platforms in their "Install per Distro" section":
- Install on CentOS
- Install on Debian
- Install on Fedora
- Install on RHEL
- Install on SLES
- Install on Ubuntu
- Install binaries (Generic

[2021-12-06 17:38] #1399 closed

[2021-12-06 17:45] dvonthenen commented on #1154
Was never able to get this to work... doesn't matter at this point because we are deprecating standalone cluster plugin in favor of the new one. Test coverage exists in TF repo.

[2021-12-06 17:45] #1154 closed

[2021-12-06 17:48] dvonthenen commented on #912
I believe this is resolved with the new doc structure. If there is additional asks, please re-open and/or file a new issue.

[2021-12-06 17:48] #912 closed

[2021-12-06 17:51] qnetter commented on #2134
@miclettej no answers yet, just a commitment to work on it...

[2021-12-06 17:55] kcoriordan commented on #2359
plan on adding this content this week

[2021-12-06 19:21] thesteve0 opened #2665 "The readme.md should tell the user that install also adds the tanzu cli"
## Description

When you do any of the different install methods, including manual, not only is TCE is installed but so is the Tanzu CLI.
This is important to note to the user because it is only if they click the getting started guide, then scroll through all the instructions and happen to notice the light grey instructions which state the CLI is also installed.

Some users will probably install,

[2021-12-06 19:53] alexbarbato commented on #862
Thanks @kcoriordan - this actually just popped to the top of my personal backlog to take a look at.

Full disclosure I haven't actually tested the documentation for TKG and if it just works here. Maybe it's useful for me to give that a poke and then we can port the docs over? (Unless there is someone internal to the team that might have a desire to take this on?)

[2021-12-06 23:04] dvonthenen opened #2669 "Refactor/cleanup the `hack`directory"
## Feature Request

The `hack` directory became a dumping ground for every random thing in TCE... usually script related. This attempts to clean up the directory so it isn't an eye sore.

## Describe alternatives you've considered

## Additional context

[2021-12-06 23:15] dvonthenen commented on #2665
I think we just need to clarify some things. *Tanzu* Community Edition is the Tanzu CLI plus some plugins from this repo.

[2021-12-07 04:02] zhanggbj opened #2672 "Add e2e test for whereabouts package"
## Feature Request

Add e2e test for whereabouts package https://github.com/vmware-tanzu/community-edition/tree/main/addons/packages/whereabouts

## Describe alternatives you've considered

- [x] e2e test case

## Additional context

[2021-12-07 04:03] zhanggbj commented on #2672
Assign this to me, will provide a PR later.

[2021-12-07 10:42] kcoriordan commented on #2665
It's mentioned in the docs in a few places. Maybe something like this at the end of a successful install might help

It's mentioned here in P**lanning Your Install** in step 1
https://tanzucommunityedition.io/docs/latest/installation-planning/

It's also mentioned here **Install Tanzu Community Edition**  in the first sentence:
https://tanzucommunityedition.io/docs/latest/cli-installation/

It's a

[2021-12-07 16:24] #2669 closed

[2021-12-07 17:55] dvonthenen commented on #2657
fixed! thanks!

[2021-12-07 17:55] #2657 closed

[2021-12-07 17:59] dvonthenen commented on #2540
Closing this for now. If the problem still exists in v0.9.1, please reopen the issue.

[2021-12-07 17:59] #2540 closed

[2021-12-07 21:50] #2151 closed

[2021-12-07 22:19] dvonthenen commented on #2665
This was mentioned in the PR and I'm just copying it over here...

[2021-12-08 12:33] knabben opened #2682 "Antrea disable UDP tunnel offload"
## Feature Request

Add configmap for Antrea agent tweaker configuration on 1.2.3 version.

[2021-12-08 15:39] jakerobinson opened #2684 "How do I update my CSI driver in a workload cluster?"
## Description

I want to take advantage of the volume snapshot capability in the new version of the vSphere CSI (2.4.0). I cannot find any documentation on how to determine the CSI version running in my current clusters. (I know how to do this now.)

With the lack of documentation in TCE, I followed the documentation provided by the VMware Docs CSI installation, which did not work. TCE does not i

[2021-12-08 17:33] joshrosso opened #2686 "Introduce proposal process to Tanzu Community Edition"
## Abstract

The Tanzu Community Edition project needs a proposal process that can foster:

* Visibility into proposed changes to the project
* Feedback from maintainers, community members, and end-users
* Reaching decisions on proposed changes in a timely manner

## Proposal

Detailed proposal available in a design doc:

* [PR](https://github.com/vmware-tanzu/community-edition/pull/2687)
* [Rende

[2021-12-08 17:34] joshrosso commented on #2686
cc @dims, let's get some of your experience and doc you started in the end prospect.

Let's also use the proposal process against this proposal around proposal process.

[2021-12-08 17:40] dims commented on #2686
@joshrosso LOL yes, will file a PR in the next 2 days.

[2021-12-08 17:43] joshrosso commented on #2686
@qnetter FYI, want to make sure you're tracking this proposal on proposals.

[2021-12-08 18:02] #2682 closed

[2021-12-08 18:08] kcoriordan commented on #2359
@timmycarr  -fyi - PR https://github.com/vmware-tanzu/community-edition/pull/2685
let me know if you have any comments

[2021-12-08 18:47] kcoriordan commented on #2271
@jayunit100
There is some content here:
[Create a Package and a Package Repository](https://tanzucommunityedition.io/docs/latest/package-creation-step-by-step)

[Create a Package and Package Repository Example](https://tanzucommunityedition.io/docs/latest/packages-create-example)

Does this content cover what you had in mind?

[2021-12-08 18:51] kcoriordan commented on #882
moved this to 0,11,0 as we are not introducing doc versioning for 010.0

[2021-12-08 18:55] kcoriordan commented on #2147
I'll give this a shot this week

[2021-12-08 19:49] tomkennedy513 opened #2689 "Proposal to add Cert Injection Webhook as a Tanzu package in the TCE Package Repo"
## Feature Request

The [cert injection webhook](https://github.com/vmware-tanzu/cert-injection-webhook) is a controller and webhook configuration that can inject trusted ca certificates into pods that need to communicate with services that have self signed certificates. It can be used with other deployments like kpack to allow builds to push images to self signed registries. The addition of the c

[2021-12-08 21:29] joshrosso commented on #2266
@qnetter we believe we're at a point where this proposal can be **Approved**. We want to make sure you agree and our assumptions are correct.

Here are our assumptions:

* This can be merged into git after `v0.10.0` is released.
* This will be included in our distribution in `v0.11.0`.
* It will be `alpha` in `v0.11.0`.
* The alpha release will **not** feature a UI.
* To promote to beta, a UI is r

[2021-12-08 21:33] joshrosso commented on #2462
Thanks for this proposal, overall we're excited get this together, I'd like a few things to be discussed/added to the proposal.

* Where do you plan to host the source configuration for the [carvel] package(s) representing kpack?

[2021-12-08 21:35] ciberkleid opened #2690 "[Docs] [AWS prep](/docs/latest/aws/) clarification suggestions"
## Description

Wanted to share a few thoughts as I went through the AWS management cluster setup.

Step 1:
Current wording of step 1 is: `Create an access key and access key secret for your active AWS account.`
I think it would be good to say that you can also create a new user, and to specify the permissions the new user would need.

Step 2:
It seems the profile is required for the UI, and the c

[2021-12-08 21:37] tomkennedy513 commented on #2462
The source configuration lives inside of a private github repo that is shared with our commercial configs, but we publish the configs to a public repository (`projects.registry.vmware.com/buildservice/kpack/bundle`). Long term the Tanzu Build Service team will maintain this package

[2021-12-08 21:41] joshrosso commented on #2689
Thanks Tom, seems sensible, a couple questions we'd like answered in this proposal.

* Does kpack depend on this package (or is it optional)?
* If this package is independent of kpack and kpack depends on it, what's the plan for ensuring they are deployed together?
* Where do you plan to host the source configuration for the [carvel] package(s) representing kpack?
* Which team will become the pack

[2021-12-08 21:43] joshrosso commented on #2462
If hosting the source configuration in the open is a requirement for including this package, how would ya'll like to approach this? Options we're aware of are:

* Create your own repository
* Add and maintain the source configuration in this community-edition repo.

[2021-12-08 21:45] tomkennedy513 commented on #2462
I think ideally we would decouple the oss config out of the commercial one so im leaning towards the first idea so that we don't have to support multiple sources of truth for the source config

[2021-12-08 21:46] tomkennedy513 commented on #2689
- kpack only depends on this if you want to execute builds against private registries, otherwise it is totally optional
- similar to the kpack source config, this one is hosted in a private git repo with the packages pushed to `projects.registry.vmware.com/buildservice/cert-injection-webhook/bundle` and we will proabbly do the same thing as kpack as far as exposing it to the open source community

[2021-12-08 21:50] joshrosso commented on #1723
Approved during review 👍

This is especially important considering we don't want an ignore list to potentially get us in trouble by ignoring an image that is **actually** being used when it shouldn't be.

[2021-12-08 21:56] joshrosso commented on #1723
@JitenPalaparthi we assume other priorities got set above this, which is no problem!

We're going to mark it as `help-wanted` for now, let us know if it's something you decided to pick back up.

[2021-12-08 22:10] ciberkleid opened #2691 "UI informational bubbles for AWS"
## Feature Request

These couple of pop-ups would have helped me in going through the AWS mgmt cluster creation the first time:

- If instance types drop down does not appear, popup specifying the `EC2 Describe...` permissions that need to be added would be helpful (I think this happens with the second drop down for worker cluster).
- At the checkbox to create the cloudformation stack, a popup say

[2021-12-08 22:19] stmcginnis commented on #2691
cc @miclettej

[2021-12-08 22:24] joshrosso commented on #2462
Sounds great! I think we've got most everything figured out then.

Once the package source is open source, we can open up a PR in TCE's repo to point at this bundle.

Since you already have your bundle stored in `projects.registry.vmware.com`, we're in pretty good shape!

[2021-12-08 22:25] qnetter commented on #2266
SGTM with one small reservation.

I’d like a name that can be parallel to other cluster types in terms of ending in -cluster, and we know that cannot be standalone-cluster. To nail this - and if we don’t come up with something better, we can go with what we have now - let’s discuss it in the 1:1 I am rescheduling. Other than that, definitely a go.

Sent from my iPhone

On Dec 8, 2021, at 1:30 PM,

[2021-12-08 22:26] joshrosso commented on #2686
thanks! we've got a pr open now, feel free to add/commit directly too it or add comments for things we need to consider.

[2021-12-08 22:49] ciberkleid commented on #2691
One more comment: I don't see guidance on where to get the URL to register the clusters with TMC. That would be helpful.

[2021-12-08 23:28] qnetter commented on #2691
Registration doesn't work yet anyway - only attaching, which is done within TMC. When a release of TMC and a release of TCE are available for which registration works, we will be sure that this is well documented.

[2021-12-08 23:31] miclettej commented on #2691
@stmcginnis thanks for tagging me in this. Would you mind converting to a tanzu-framework issue when you have a free moment please?

[2021-12-09 01:00] heyjcollins opened #2696 "Add `app` CLI plugin to TCE"
## Feature Request
This is more of a request to discuss and align on a plan rather than a feature, but this seems like the most suitable issue type to start/track the convo.

The apps plugin for the Tanzu CLI is a dev-focused plugin which enables application developers and/or operators to manage the lifecycle of workloads. We'd like to make it accessible to anyone who's interested in OSS Tanzu.

O

[2021-12-09 06:02] ciberkleid opened #2698 "[Docs] [](/docs/latest/workload-clusters/) Workload cluster setup instructions polishing"
## Description

1. Duplicate links:
As shown below, the docs contain links to the workload cluster templates for each IaaS, and the links in the paragraph and the bullets are the same. Feels like duplicated info that could be condensed.

Page: https://tanzucommunityedition.io/docs/latest/workload-clusters

Excerpt:
[code]

2. What config file to key off of:
Also, right after the reader is referred

[2021-12-09 12:08] karuppiah7890 opened #2699 "Fix AWS E2E test pipeline failures"
Recently TCE’s AWS E2E test pipelines have been failing and I thought it might be just a flaky issue, but looks like it’s not

Interestingly it was also initially only seen in recent AWS management + workload cluster E2E test runs -

https://github.com/vmware-tanzu/community-edition/actions/runs/1552245009

https://github.com/vmware-tanzu/community-edition/actions/runs/1550338695

https://github.c

[2021-12-09 15:02] tomkennedy513 commented on #2462
since the bundle is open source, would it be possible for us to use vendir to pull the source config into the tce repo? That would simplify the process for us since procuring oss repos takes a while and would provide the same outcome

[2021-12-09 15:24] jpmcb commented on #2266
FYI - when we move forward with this proposal, the TCE team will delete unneeded dev dependencies that were used to build the _old_ standalone cluster model. This includes the `tce-main` branch in `tanzu-framework` and the Cluster API fork we created.

[2021-12-09 15:40] joshrosso opened #2701 "Archive CAPI fork used to support old `standalone-cluster` model"
Upon acceptance and inclusion of the [new standalone model](https://github.com/vmware-tanzu/community-edition/issues/2266) we can delete our existing fork of CAPI. This fork was introduced to provide persistence of CAPI data such that we could re-spin a management-cluster to manage a workload cluster. In the new model (see [proposal](https://github.com/vmware-tanzu/community-edition/issues/2266))

[2021-12-09 16:44] #2622 closed

[2021-12-09 16:49] #2469 closed

[2021-12-09 19:07] jorgemoralespou commented on #2266
Reading above description and knowing that Roger wants a name, I decided to through here some options:
- dev-cluster
- minimal-cluster, mini-cluster
- single-cluster
- local-cluster
- standalone-cluster (seems Roger don't want this, but still I think it's an option)
- ephemeral-cluster
- unmanaged-cluster
- nano-cluster
- bare-cluster

[2021-12-09 19:10] qnetter commented on #2266
The reason I don’t want standalone-cluster is that when you add the new thing to 0.9.1 or 0.10.0 you would have the same name for both…

--
Roger Klorese (They/Them or He/Him)
Product Line Manager
***@***.***
***@***.***%0b>Office: 425.709.5248
Mobile: 425.444.5493

[VMware]<http://www.vmware.com/>

From: Jorge Morales Pou ***@***.***>
Date: Thursday, December 9, 2021 at 11:08 AM
To: vmware-tanzu/

[2021-12-09 19:11] jorgemoralespou commented on #2266
Agree, although selecting the same name would help to fast path to removal of the old feature :-D

[2021-12-09 19:11] qnetter commented on #2266
Also, I like:

  *   minimal-cluster, mini-cluster
  *   local-cluster
  *   unmanaged-cluster

--
Roger Klorese (They/Them or He/Him)
Product Line Manager
***@***.***
***@***.***%0b>Office: 425.709.5248
Mobile: 425.444.5493

[VMware]<http://www.vmware.com/>

From: Jorge Morales Pou ***@***.***>
Date: Thursday, December 9, 2021 at 11:08 AM
To: vmware-tanzu/community-edition ***@***.***>
Cc: Roger

[2021-12-09 19:14] qnetter commented on #2266
I forget, @joshrosso , if the new model requires that the cluster be local to the plugin on any as-yet-unbuilt backend...

[2021-12-09 20:33] joshrosso commented on #2266
This model does not *require* the cluster be local to the plugin.

[2021-12-09 20:39] vrabbi commented on #2266
I oersinally like the name standalone and think it is the best option from a naming perspective if that name cant/shuldnt be reused i think the most accurate and understandable name would be unmanaged-cluster as it would make sense both for the current kind implementation as well as what had been brought up in terms of the idea to bring any cluster and "tanzuify" it.

[2021-12-09 23:58] qnetter opened #2704 "Rename new standalone to unmanged-cluster"
## Feature Request

For consistency's sake as well as the ability to have both the new and the old features installed simultaneously, please nename the new plugin in code and doc.

[2021-12-10 00:05] qnetter opened #2705 "Add deprecation notice to standalone-cluster plugin"
## Feature Request

Add a notice at plugin invocation that standalone-cluster is deprecated in this release, pointing to the doc for static-cluster (if #2704 is implemented too)

## Describe alternatives you've considered

If we don't crack the release open, it could judst silently disappear in 0.11, but this would be better.

## Additional context

[2021-12-10 00:07] qnetter commented on #2705
Deprecation message should read. something like:

NOTICE: the standalone-cluster plugin and feature are deprecated in this release, and will be remove in v0.11.0. Please see <URL> for the replacement static-cluster feature and how to install it in this release.

[2021-12-10 00:23] qnetter commented on #2266
@joshrosso suggested static-cluster, which directly addresses the lack of LCM, and that is where we are going.

[2021-12-10 05:06] karuppiah7890 commented on #2699
For now I have deleted the 3 elastic IPs that were lying around and the last 4 AWS E2E test pipelines ran successfully as the 5 elastic IPs quota was enough for running them - at each point, 2 were running in parallel and required 3 elastic IPs I think

https://github.com/vmware-tanzu/community-edition/actions/runs/1559732466 ✅

https://github.com/vmware-tanzu/community-edition/actions/runs/156082

[2021-12-10 05:27] xiaoxiangxzhang opened #2706 "What should I do next？"
I want to create Local Docker Clusters according to https://tanzucommunityedition.io/docs/latest/getting-started/
after I carry out this  command
tanzu management-cluster create --ui
display
Failure while deploying management cluster, Here are some steps to investigate the cause:

Debug:
    kubectl get po,deploy,cluster,kubeadmcontrolplane,machine,machinedeployment -A --kubeconfig /home/test/.kub

[2021-12-10 07:34] karuppiah7890 opened #2707 "vSphere Self Hosted Runner connectivity issue"
Recently I noticed two pipeline failures for vSphere E2E test -

https://github.com/vmware-tanzu/community-edition/actions/runs/1561258503/attempts/1

https://github.com/vmware-tanzu/community-edition/actions/runs/1561244529/attempts/1

Both with the same error

[code]

Not sure what went wrong in the self hosted runner machine. I checked it just now and noticed this -

[code]

I haven't found mor

[2021-12-10 07:35] karuppiah7890 commented on #2707
The self hosted runner had some docker containers that were not cleaned up (deleted)

[code]

[2021-12-10 08:49] karuppiah7890 commented on #2707
Same error in retry - https://github.com/vmware-tanzu/community-edition/actions/runs/1561258503/attempts/2

[2021-12-10 09:28] karuppiah7890 commented on #2707
Same error in another retry - https://github.com/vmware-tanzu/community-edition/actions/runs/1561258503/attempts/3

[2021-12-10 14:39] jorgemoralespou commented on #2266
When I heard static cluster last thing I could think of is on  the lack of LCM but rather a cluster that can't be changed, resized,... 😔

[2021-12-10 14:49] joefitzgerald commented on #2266
It feels like we are really overthinking this. `standalone` or `local` both match my expectations, but tacking on `-cluster` just for uniformity with non-local clusters seems quite awkward.

I think we want lots of people to use this, and so simplicity & brevity should come above uniformity with plugins focused on completely different deployment models. It is not insane to prioritize a low number

[2021-12-10 15:16] stmcginnis commented on #2706
Hi @xiaoxiangxzhang. There are a few issues with Docker support right now to be aware of. Here are some things to check.

## Cgroup support

We currently only support cgroups v1, but newer versions of Docker Desktop and newer Linux distros are starting to ship with cgroups v2 enabled. To check, you can run the following from the command line:

[code]

The "Cgroup Version" listed should match the a

[2021-12-10 15:36] jpmcb opened #2709 "Report metrics on all infrastructure providers for managed and standalone"
## Feature Request

Today, we report metrics for standalone cluster creation and deletion times via the [`tce.pr.standalone-cluster.create-time`](https://github.com/vmware-tanzu/community-edition/blob/main/.github/workflows/check-main.yaml#L91) and the [`tce.pr.standalone-cluster.delete-time`](https://github.com/vmware-tanzu/community-edition/blob/main/.github/workflows/check-main.yaml#L127) which

[2021-12-10 15:41] jpmcb opened #2710 "Make TCE WaveFront dashboard public"
## Feature Request

Today, we report cluster creation and deletion times to an internal WaveFront dashboard, a VMware observability platform.

We should make the dashboard public for the community to see.

## Describe alternatives you've considered

There are other public observability tools, like Grafana, but WaveFront is more than capable of visualizing public data. And we should report this dat

[2021-12-10 17:17] jpmcb commented on #2705
This was done as part of https://github.com/vmware-tanzu/community-edition/pull/2504

[code]

Is that good enough? Or do we want to change that before it goes out? Just let me know @qnetter!

[2021-12-10 18:06] qnetter commented on #2705
Let's be explicit that it is deprecated in this release (0.10) and will be removed and replaced with the new one in 0.11.

[2021-12-10 18:23] joshrosso commented on #2705
Given how much we've gone back and forth with thing, i wonder if **not** coding exactly when it will be replaced would be sensible? How about something like:

[code]

[2021-12-10 18:58] alexnaris opened #2711 "Ability to SSH into hosts/nodes"
## Description

Tanzu Community Edition is missing documentation on how to ssh into hosts/nodes

## Location

Administration

## Additional Context

[2021-12-10 19:00] stmcginnis commented on #2711
Good call!

@kcoriordan - I think there are some TKG docs on this already? I'm guessing it will be easy to port over the the TCE docs. At least I hope so. ;)

[2021-12-10 19:34] alexnaris commented on #2711
Hello again!  All the documentation I have seen has to do with Tanzu grid and vsphere cli..

Tanzi Community Edition does rely on ssh key being present and used during installation.

[code]

That leads me to think that sshing to a host would as simple as specifying the correct username along with the keys used during the installation.  However, so far I have not been successful... probably because

[2021-12-10 19:55] qnetter commented on #2705
Let’s go with “near-future” - I want  to create a sense of urgency.

Sent from my iPhone

On Dec 10, 2021, at 10:23 AM, joshrosso ***@***.***> wrote:

﻿

Given how much we've gone back and forth with thing, i wonder if not coding exactly when it will be replaced would be sensible? How about something like:

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2021-12-10 21:17] jpmcb commented on #2705
Cool! So, something like?
[code]

[2021-12-10 21:22] qnetter commented on #2705
Exactly.

[2021-12-11 05:56] ChunPingWang opened #2714 "A mistake at the usage example of Load Balancer Operator"
I followed the document of the Load Balancer Operator which is the ako-operator/1.5.0 to do a workshop with the customer and hit an issue.
The URL of the image at harbor-repo.vmware.com/dockerhub-proxy-cache/library/nginx doesn't correct.

Please check this page.
https://github.com/vmware-tanzu/community-edition/tree/main/addons/packages/ako-operator/1.5.0/README.md

[2021-12-13 04:17] karuppiah7890 commented on #2707
Noticed similar failure here too - https://github.com/vmware-tanzu/community-edition/actions/runs/1562684168/attempts/1 , https://github.com/vmware-tanzu/community-edition/actions/runs/1562684168/attempts/2

[2021-12-13 04:32] karuppiah7890 commented on #2699
We need to request more quota here https://us-east-2.console.aws.amazon.com/servicequotas/home/services/ec2/quotas/L-0263D0A3 for `us-east-2` which I have done now. Previously I had requested more quota here - https://console.aws.amazon.com/servicequotas/home/services/ec2/quotas/L-0263D0A3 which requests for `us-east-1` region which is not what our pipelines use and in this link the UI shows `Sele

[2021-12-13 12:14] kcoriordan commented on #2711
I'll something into doc PR for this.

[2021-12-13 12:20] kcoriordan commented on #2690
Thanks for feedback @ciberkleid - I'll get a doc PR ready for review

[2021-12-13 12:26] kcoriordan commented on #2698
@ciberkleid thanks for feedback, I'll get get the updated doc in a PR for review

[2021-12-13 18:43] joshrosso opened #2716 "Support TKG and TCE cluster creation using the same CLI binary/library"
_Some of this work may be complete, but we need to figure out what is/is not._

## Summary

From the same binary (or versioned library), we need to be able to create management and workload clusters that are community-edition, Tanzu Kubernetes Grid (TKG, product), or other distributions. This should be done via configuration and/or flags.

For example, we must be able to run one of the following:

[2021-12-13 19:24] alexnaris commented on #2711
thank you.  Using "capv" as the user allows SSH'ing into nodes

[2021-12-13 21:31] stmcginnis commented on #2266
Another vote in favor of keeping to the standalone naming. I did like `local`, but while that fits really well right now with only local docker support, that may not be a good name if/when we add support for additional providers.

Some of my favorites, in order of current preference:
- single-cluster
- independent-cluster
- active-cluster
- solo-cluster
- quick-cluster
- dev-cluster

[2021-12-13 22:40] cantbewong commented on #2266
If it is not the same as the original standalone I am against re-using that name. Creates risk people find old presentations, blog posts - assume it is valid and get confused.

I like ephemeral, or maybe thiese are too colloquial, but "burner cluster" or "disposable cluster"

[2021-12-13 22:54] joshrosso opened #2717 "Release `community-edition` (project) decoupled from `Tanzu Kubernetes Grid` (product)"
At the time of writing, Tanzu Community Edition (TCE) relies on the Bill of Materials (BOMs) produced for VMware's paid product, Tanzu Kubernetes Grid (TKG). This means that creation of clusters, both management and workload, always use the same packages, images, and underlying components as the rest of TKG. This binding to a TKG BOM was a decision made to ensure we could release TCE. Now we are a

[2021-12-13 23:09] shivaani0505 opened #2718 "Create OpenAPIV3 schema for secretgen-controller in tce"
## Feature Request

Create OpenAPIV3 schema for secretgen-controller in tce

[2021-12-14 07:48] Vijayakumar0328 opened #2721 "Add Cluster API Provider "Bring Your Own Host" into the TCE Fold"
## Feature Request

This is more of the feature request to align **[Cluster-api-provider-BringYourOwnHost](https://github.com/vmware-tanzu/cluster-api-provider-bringyourownhost) into TCE.**

**Intention is to enable users/community to use TCE on Bare Metal infrastructures​**

BYOH is a Cluster API v1beta1 Infrastructure Provider for already-provisioned hosts running Linux

We will add more details

[2021-12-14 18:02] joshrosso commented on #2462
By the bundle being open source, do you mean it's available to be unpacked from `projects.registry.vmware.com/buildservice/kpack/bundle`? Or is the bundle source config available in a git repo somewhere?

[2021-12-14 18:07] joshrosso commented on #2689
@tomkennedy513 sorry we're having the [same convo in two places](https://github.com/vmware-tanzu/community-edition/issues/2462#issuecomment-993838694), just want to make sure I don't lose track.

This all sounds great. The last point of contention seems to be holding the package source in a private git.

Would ya'll be open to moving the package source **into this repo**, until you can procure you

[2021-12-14 18:42] tomkennedy513 commented on #2462
Right now just the bundle is open source. I think we would be ok moving the package source. What would the process look like for creating our imgpkg bundle if the source lives in tce?

[2021-12-14 19:01] knabben opened #2724 "Disable UDP tunnel offload option"
## Feature Request
Antrea options in the configMap for agent-tweaker must be configurable via overlay.

## Describe alternatives you've considered
This option must be configured on cluster bootstrap.

[2021-12-14 19:50] qnetter opened #2725 "Add a Supported Providers section to all packages"
## Description

Some packages list the CAPI providers supported (and not). Please add one for consistency to all pages, even if all providers are checked.

## Location

Packages section in left nav

## Additional Context

[2021-12-14 20:12] #2724 closed

[2021-12-14 21:14] dvonthenen commented on #2303
looks like this problem is 2 fold....
1) we should document in TCE docs how to do custom images for management clusters
2) provide more tooling to make this beyond easier for TCE users (the super ideal state would be BYOI self-service - ie provide inputs and hit a button)

[2021-12-14 21:18] dvonthenen commented on #2329
yep! I think we can download the BOM and dynamically parse then place on the draft release before publishing

[2021-12-14 21:19] dvonthenen commented on #2379
yea, this is a great idea especially considering that TCE and TKG aren't binary compatible

[2021-12-14 21:22] dvonthenen commented on #2381
yea, looks like we need to just eat this error and move on. I'm pretty sure this error is from testing a path and checking for it's existence (thus giving the error)

[2021-12-14 21:29] dvonthenen commented on #2419
hey @xyloman was this resolved in slack? if you still need help, please drop a line here and we will get someone to help you

[2021-12-14 21:35] joshrosso commented on #2686
For review with maintainers tomorrow, we got the following suggested design doc template from @dims:

https://gist.github.com/dims/b9cd0c191c785292a8efad34030faf48

Let's review an see if we want to:

* Use it wholesale.
* Take parts out of it to incorporate in our existing template.

[2021-12-14 21:57] dvonthenen commented on #2431
cc: @vmware-tanzu/antrea-owners

[2021-12-14 21:58] dvonthenen commented on #2569
cc: @vmware-tanzu/antrea-owners

[2021-12-14 21:59] dvonthenen commented on #2709
cc: @vmware-tanzu/tce-releng

[2021-12-14 21:59] dims commented on #2686
@joshrosso +1 from me. i left some notes in https://github.com/vmware-tanzu/community-edition/pull/2687#issuecomment-993854194 for the maintainers...

[2021-12-14 21:59] dvonthenen commented on #2710
cc: @vmware-tanzu/tce-releng

[2021-12-14 22:44] ryanjbaxter commented on #2543
@dvonthenen Yes I do

[2021-12-15 15:52] jayunit100 opened #2729 "Broaden default packages to work on other k8s distros"
## Feature Request

One nice thing about TCE is that we publish packages that are, kind of, generic carvel packages.

Each image package bundle has a:
- YAML
- container

So this is a placeholder to look at what we should change to allow our carvel packages to easily run outside TCE.

### Concrete example

#### Problem

In the K3s world... our existing nodeSelectors wont work, bc the default label

[2021-12-15 19:00] joshrosso commented on #2721
@Vijayakumar0328 sounds great!

Looking forward to seeing a proposal on how we can approach this. Let us know how we can help.

[2021-12-15 19:29] dvonthenen commented on #2266
I don't like `static-cluster` either. When I hear the name, it sounds like it's a cluster that gets deployed but that is "static" and something that doesn't change or could be changed (ie deploying pods, changing cluster configurations/state, etc). Sounds more like a "reference" implementation of cluster or something.

`standalone-cluster` seems ok to me but I do get the point of reusing the name

[2021-12-15 20:32] qnetter commented on #2266
I'd like to call it `unmanaged-cluster` because:
- It is a good counterpoint to `management-cluster`
- It reflects the fact that clusters can be attached, but not registered or lifecycle-managed, with Tanzu Mission Control

[2021-12-15 21:26] nrb commented on #2266
I'd echo Jorge's sentiments about the name `static`; on first reading, it didn't speak to lifecycle to me, but rather a Kubernetes cluster that was immutable.

I understand the reticence on re-using `standalone-cluster`. However, I'd like to ask - what is wrong with using a version to signal it's different? At a high level concept, it's similar in goal, just with a different implementation. Semant

[2021-12-15 21:57] joshrosso commented on #2462
As discussed, the source configuration would live in the TCE repo. In any downstream repositories that pull in kpack, you would `vendir` the package in and add any overlays/modifications that should *not* be available in TCE.

[2021-12-15 23:09] stmcginnis opened #2730 "Improve visibility into management and workload cluster creation"
# Abstract

Our current bootstrapping process emits a lot of output, but it's very hard to follow what is happening. Even if you understand the overall process of deployment, parsing the output can be confusing, and it's not very clear where in the deployment process we are.

When deployment takes awhile, it's hard to tell if things are locked up or if there's something happening under the covers

[2021-12-15 23:12] stmcginnis commented on #2730
cc @garrying

[2021-12-16 07:20] zyyw opened #2731 "Bump Harbor package to 2.4.x"
## Feature Request

We need to bump Harbor package to 2.4.x (initially to 2.4.0)

## Describe alternatives you've considered

## Additional context

[2021-12-16 14:05] jorgemoralespou commented on #2266
Copying from Tanzu community edition docs (https://tanzucommunityedition.io/docs/latest/getting-started-standalone/).

Standalone clusters are highly-experimental and partially implemented! Functions such as scaling clusters are not implemented. If you follow this guide, you may need to clean-up resources created by these clusters manually!

With this warning in place I would consider changing the

[2021-12-16 14:47] joshrosso commented on #2730
Thanks for bootstrapping this @stmcginnis. Looking forward to the design doc. Here are some ideas that come to mind, worth considering:

1. 💯 to your common on capx-manager holding the key to failures. The logs from these would surely be too noisy to print at default verbosity, however, I think always writing those logs to a bootstrap log file and outputting to the user its available during bootst

[2021-12-16 15:00] joshrosso commented on #2689
In summary, we're approving this proposal 👍. The conceptual flow would be:

![image](https://user-images.githubusercontent.com/6200057/146395517-72833e04-c1e6-4892-8c1d-11d6738720cb.png)

[2021-12-16 15:00] joshrosso commented on #2462
In summary, we're approving this proposal 👍. The conceptual flow would be:

![image](https://user-images.githubusercontent.com/6200057/146395517-72833e04-c1e6-4892-8c1d-11d6738720cb.png)

[2021-12-16 15:18] jorgemoralespou commented on #2462
@joshrosso is there any defined SLAs to updating/fixing the packages that are not maintained by TCE owners but rather contributors?

[2021-12-16 15:20] joshrosso commented on #2462
Not yet. @seemiller is on point to wrap-up our package maintainer documentation which will feature these expectations going forward. Thinking in the realm of January/Feb.

[2021-12-16 15:25] jorgemoralespou commented on #2689
@tomkennedy513 Would this webhook allow these images pushed into a self-signed certificate to be run on the node's containerd? Basically, would this flow support that the image created by kpack be deployed and run on the same node where it was built? Is there any required configuration needed for this case? If so, the package provided would need to have that configurable somehow.
If not, I would r

[2021-12-16 15:33] jorgemoralespou commented on #2462
@joshrosso My fear with all these new packages being added to TCE main GH repo and code-base is that they are maintained in a proper and timely manner. If somehow the flow you depicted above is not respected, there's a high chance that eventually things will be out of synch. Kpack has a public code repo (https://github.com/pivotal/kpack) that it's the source of truth for the code (maybe not for th

[2021-12-16 15:38] tomkennedy513 commented on #2462
@jorgemoralespou I'm personally not worried about forgetting the TCE repo because we use kpack in a commercial product and if we switch to vendoring in the package from TCE, we will have to update the TCE package to be able to leverage it commercially. We have tossed around the idea of adding this package config to kpack, but at the moment we aren't ready to introduce the carvel tooling as the sta

[2021-12-16 15:40] joshrosso commented on #2266
Thanks everyone for your input ❤️!

Talked to @qnetter today and there are 2 **final** items they own to get this to `proposal/accepted`.

1. The *official* call on the name we're going with.
1. Given the delay of `0.10.0`, should we ship this new model alongside the existing `standalone-cluster` model[0].

[0]: _This assumes we do not re-use the name `standalone`, which my understanding is we hav

[2021-12-16 15:44] joshrosso commented on #2462
Having the upstream project host the packaging is an ideal state. However, this sentiment:

Is shared amongst most projects we've talked to. And it's understandable consider carvel is a new-comer and not widely adopted.

[2021-12-16 17:51] garrying commented on #2730
This is great @stmcginnis! The high-level changes resonates with me. Happy to help start the design doc.

[2021-12-16 18:30] joshrosso commented on #2266
Spoke with @qnetter today and regarding `2`, we are going to ship this new model alongside `standalone-cluster` (existing model) in the `0.10.0` release.

Naming decision will be made by @qnetter in ~24 hours.

[2021-12-16 20:28] #2686 closed

[2021-12-16 22:44] joshrosso opened #2736 "Define guidelines for package contribution and maintenance"
# Package Maintainership

* See Also:
    * [Pull Request](https://github.com/vmware-tanzu/community-edition/pull/2737)
    * [Rendered View](https://github.com/vmware-tanzu/community-edition/blob/package-maintainer-proposal/docs/designs/2736-package-maintainership.md)

## Summary

A key feature of Tanzu Community Edition (TCE) is packages. Packages extend and enhance the functionality provided by

[2021-12-16 23:59] qnetter opened #2738 "Establish Tanzu Community Edition Feature Lifecycle"
## Feature Request

### Introduction
New features and capabilities for Tanzu Community Edition are initially proposed and considered through the documented proposal process. The feature lifecycle applies once a feature is accepted for initial implementation.

Note that this lifecycle applies only to features introduced into the core of Tanzu Community Edition, or into Tanzu Framework on its behalf

[2021-12-17 05:17] karuppiah7890 commented on #2699
Closing this as there have been no issues because of this

[2021-12-17 05:17] #2699 closed

[2021-12-17 05:25] karuppiah7890 opened #2739 "Fix AWS E2E test pipeline failure: NAT Gateway issue"
We have a new failure that I don’t think I have noticed before. An error occurred in AWS E2E test pipeline for management and workload cluster

The error occurred while creating management cluster

https://github.com/vmware-tanzu/community-edition/actions/runs/1583365456/attempts/1
- https://github.com/vmware-tanzu/community-edition/runs/4535910329?check_suite_focus=true

[code]

I was able to get

[2021-12-17 05:32] karuppiah7890 commented on #2739
To dig into the code of CAPA provider, I checked into what version of CAPA we were running and found out from the diagnostics data and from the BOM file (URL from pipeline logs) - `projects.registry.vmware.com/tce/tkg-bom:v1.4.0` that we were using `projects.registry.vmware.com/tkg/cluster-api/cluster-api-aws-controller:v0.6.6_vmware.1` CAPA container image which I think refers to CAPA `v0.6.6` bu

[2021-12-17 11:34] karuppiah7890 commented on #2739
I wasn’t able to reproduce the issue today while using my AWS account

Also noticed that the last run was fine - https://github.com/vmware-tanzu/community-edition/actions/runs/1591579190

[2021-12-17 12:42] adityask2 opened #2741 "rbac permissions are missing for external-dns"
## Bug Report
Certain rbac permissions are missing for external-dns - https://github.com/vmware-tanzu/community-edition/tree/main/addons/packages/external-dns/0.10.0 due to which the service is failing to start when installed using the package.
Logs -

E1216 16:26:14.142866       1 reflector.go:138] k8s.io/client-go/informers/factory.go:134: Failed to watch *v1.Ingress: failed to list *v1.Ingress:

[2021-12-17 12:50] beltran-rubo opened #2742 "metrics-server 0.5.1 version uses a imgpkgBundle that does not exists"
## Bug Report

metrics-server 0.5.1 uses "projects.registry.vmware.com/tce/metrics-server@sha256:393e7aa6c89f55229e9559f82165c3a51fe408c4c7dd4b72409844513b8caf83" taht does not exist into the registry.

## Expected Behavior

The image for that package should exists into the registry.

## Steps to Reproduce the Bug

## Screenshots or additional information and context

[code]

[2021-12-20 18:08] lubronzhan commented on #2619
This can be closed

[2021-12-20 18:08] #2619 closed

[2021-12-20 19:04] jorgemoralespou commented on #2741
@adityask2 I can see the clusterrole that upstream has: https://github.com/kubernetes-sigs/external-dns/blob/v0.10.0/kustomize/external-dns-clusterrole.yaml. in our 0.10.0 package https://github.com/vmware-tanzu/community-edition/blob/main/addons/packages/external-dns/0.10.0/bundle/config/upstream/external-dns-clusterrole.yaml

[2021-12-21 06:27] adityask2 commented on #2741
@jorgemoralespou These priveleges aren't sufficient due to which we are seeing above mentioned errors.

A quick check here also shows difference - https://github.com/kubernetes-sigs/external-dns/blob/v0.10.0/charts/external-dns/templates/clusterrole.yaml
![Screenshot 2021-12-21 at 11 52 52 AM](https://user-images.githubusercontent.com/8171996/146881840-7ee99e48-6147-4c83-8ae6-ba723fbf49b4.png)

[2021-12-21 10:28] hasaranga001 opened #2747 "Error when login to a management cluster with server endpoint ."
## Bug Report

I'm trying to remotely log in to a management cluster using the Server endpoint and it failed (see below error message ) However, I can successfully login into the same management cluster with the kubeconfig .  (I haven't integrated AD authentication (LDAP) for this management cluster)
Also, I have tested remotely logging in to a different management cluster which has enabled LDAP a

[2021-12-21 12:42] stmcginnis commented on #2747
@ankeesler - is this something you can help with? Or @vuil, can you help route it to the right person? Thanks!

[2021-12-21 17:05] vuil commented on #2747
@prkalle can you PTAL as well?

[2021-12-21 17:12] ankeesler commented on #2747
ah i think i remember what the issue is here. that `failed to get pinniped-info from the cluster` happens when the pinniped package has not been installed on the cluster, i.e., when using `tanzu login --server https://<mgmt-cluster-addr>` we expect that the pinniped package has already been installed.

this is probably not a fair assumption on our part, and we should also give better error message

[2021-12-21 17:23] prkalle commented on #2747
I agree with @ankeesler on giving a better error message and currently `tanzu login` only works when cluster is configured with pinniped.

[2021-12-21 17:41] #2595 closed

[2021-12-21 17:47] #2672 closed

[2021-12-21 17:48] mcwumbly opened #2749 "Update maintainers for vsphere-cpi"
I believe the maintainers list for the vsphere-cpi is out of date. This should be updated:

https://github.com/vmware-tanzu/community-edition/blob/5b8537e2c64b902553b57956af0ba650b18b2387/addons/packages/vsphere-cpi/metadata.yaml#L10-L13

Perhaps it should be sync'd with this member list?
https://github.com/orgs/vmware-tanzu/teams/pkg-vsphere-cpi-owners/members

Not sure if that list is up to date

[2021-12-21 18:53] stmcginnis commented on #2747
Thanks everyone! I'll get a new issue opened up in `tanzu-framework` and keep this one here so we can track and make sure it gets into a TCE release.

[2021-12-21 18:56] stmcginnis opened #2750 "Error when login to a management cluster with server endpoint"
Originally reported in `community-edition` with https://github.com/vmware-tanzu/community-edition/issues/2747

## Bug Report

I'm trying to remotely log in to a management cluster using the Server endpoint and it failed (see below error message ) However, I can successfully login into the same management cluster with the kubeconfig .  (I haven't integrated AD authentication (LDAP) for this managem

[2021-12-22 05:43] aman556 commented on #2595
Thanks @chenliu1993 for resolving this.

[2021-12-22 14:43] hasaranga001 commented on #2747
Thank you all for your feedback.

[2021-12-22 19:09] hsduiii opened #2751 "Unable to deploy TKG 1.4 on vSphere 7, getting stuck at "Start creating management cluster." init.go line 202"
I just cant deploy TKG, i tried everything and im always getting the same error, dhcp is ok, ssh public key is ok, DRS is enabled, also HA, i have docker, kubectl, tanzu cli installed in bootstrap machine, i created a user with the required permissions. It always fails at Creating management cluster step. It makes no changes in vSphere but does create the cluster in the boostrap machine.

![imagen

[2021-12-22 22:08] stmcginnis commented on #2751
Hi @hsduiii  - TKG is a commercially supported product. I would recommend you contact support for help resolving this issue.

[2021-12-22 22:08] #2751 closed

[2021-12-22 22:10] hsduiii commented on #2751
:V okok, thanks!

[2021-12-22 22:21] stmcginnis commented on #2751
One thing that may help (I'm fairly sure it would be the same) from the TCE docs would be the [Troubleshooting manually](https://tanzucommunityedition.io/docs/latest/tsg-bootstrap/#troubleshooting-manually) section.

Most of the times that I've seen bootstrap failures, I've been able to see what was actually going on by tailing the logs from the capv-controller pod. There will be a lot of failure

[2021-12-23 01:45] hsduiii commented on #2751
Thanks a lot @stmcginnis.  Greetings!

[2021-12-23 17:53] Excpt0r opened #2752 "Deployment with http proxy not working"
Hi,

congrats for releasing TCE, that's a really easy option to try out and evaluate tanzu.
The installation works fine on my client machine, but not on a server that only has internet access through a proxy.

Here are my docker processes, after the mgmt cluster installation hangs at "Waiting for cert-manager to be available":
[code]

The first process seems to be restarted regularly, and fails on

[2021-12-25 05:51] Rock981119 opened #2753 "Unable to create kind cluster on Macos"
## Bug Report

`unable to set up management cluster, : unable to create bootstrap cluster: failed to create kind cluster tkg-kind-c739ov3qk3v9bmttevr0: failed to init node with kubeadm: command "docker exec --privileged tkg-kind-c739ov3qk3v9bmttevr0-control-plane kubeadm init --skip-phases=preflight --config=/kind/kubeadm.conf --skip-token-print --v=6" failed with error: exit status 1`

## Expecte

[2021-12-27 02:11] michaelmok2021 opened #2754 "Unable to create kind standalone cluster in ubuntu rootless docker"
## Bug Report

I am trying to deploy a standalone cluster in Ubuntu 21.10 Docker Rootless environment. I believe I have install all the require library including kind, tanzu 0.10.0 RC2, docker-ce, etc. See below the error encountered

## Expected Behavior

Standalone cluster to be provisioned.

## Steps to Reproduce the Bug

Followed instruction from to setup deployment environment. [Getting Start

[2021-12-28 13:10] stmcginnis commented on #2754
Hello @michaelmok2021! I'm not sure if we have tested with rootless environments. It requires cgroups v2, and I know we have issues with that currently. There are more details of some caveats here: https://kind.sigs.k8s.io/docs/user/rootless/

As a test, it might be interesting to try installing `kind` and trying to create a kind cluster directly to see if you can get that to work. https://kind.si

[2021-12-28 22:49] hsduiii commented on #2396
Im having the same issue but im not behind any proxy

![imagen](https://user-images.githubusercontent.com/37885943/147612659-e25448c5-17df-4654-aee4-781e7b97b12e.png)

![imagen](https://user-images.githubusercontent.com/37885943/147612682-d6bd9acc-1ce9-42c0-9661-95b350256ae3.png)

[2021-12-29 04:30] michaelmok2021 commented on #2754
Hello @stmcginnis. See attached my attempt at creating kind cluster directly in rootless environment. Note Ubuntu 21.10 has cgroups v2 enabled. The kind cluster appears to be working.

![kind-ubuntu-1](https://user-images.githubusercontent.com/77700571/147627224-51a23fa5-2e3b-4e1d-a03b-73c014dec8d2.jpg)

Would there are any plan to support running tanzu managed or standalone cluster in rootless en

[2021-12-29 05:11] qnetter commented on #2754
Please open an issue, and let others vote. Community requests have significant importance in our planning.

[2021-12-29 23:00] michaelmok2021 commented on #2754
@qnetter , would I need to create another issue or would this issue be sufficient. Perhaps I can edit the title of this issue to mention rootless docker?

[2021-12-30 04:52] #2753 closed

[2022-01-03 07:15] anusha94 commented on #2513
Linking the feature request for BringYourOwnHost Provider here - https://github.com/vmware-tanzu/community-edition/issues/2721

[2022-01-03 11:53] stmcginnis commented on #2752
May be related to https://github.com/vmware-tanzu/community-edition/issues/460 - but something else going on here.

[2022-01-04 07:56] blc1996 commented on #2718
Can we track OpenAPI schema request for all the packages in this issue together?

[2022-01-04 16:33] joshrosso commented on #1658
This remains important for us to look at. Moving to `v0.11.0` such that we can re-visit with the behavior introduced in the new standalone model.

[2022-01-04 16:41] joshrosso commented on #1809
@seemiller with this issue resolved upstream, can we close this issue?

[2022-01-04 16:44] joshrosso commented on #2244
These are important assets to have. Putting in the icebox for now until we analyze our next milestone. Realistically we don't have any prioritization around this.

[2022-01-04 16:45] joshrosso commented on #1490
Based on upstream progress, I don't see this being included in our `v0.10.0` release. Moving it out for tracking in `v0.11.0`.

[2022-01-04 16:57] joshrosso commented on #1727
@seemiller how does this look for the `0.10.0` package repo?

We can move it to `0.11.0` assuming the change did not make it in.

[2022-01-04 16:57] #1749 closed

[2022-01-04 16:58] joshrosso commented on #2205
Based on upstream progress (which I own :) ), this won't make it in for v0.10.0, moving it to the next release.

[2022-01-04 17:00] joshrosso commented on #2210
With our plans to deprecate this plugin and introduce the new standalone model, I'm going to close this issue out since it's a UX annoyance and not a blocker.

[2022-01-04 17:00] #2210 closed

[2022-01-04 17:00] joshrosso commented on #1729
@seemiller looks like we got the newer gatekeeper in. Can we close this out?

[2022-01-04 17:03] joshrosso commented on #1813
I think a decision around this has grown stale. I'm putting it in the icebox for now since even the ownership of this package over-time is still being decided.

[2022-01-04 17:05] joshrosso commented on #2725
Moving this out to `v0.11.0`.

[2022-01-04 17:23] joshrosso commented on #2266
A few updates:

* The decided on name is `unmanaged-cluster`.
* This proposal is *approved*.
* In our `0.10.0` release, this model will be available alongside the existing `standalone-cluster` model
* The existing `standalone-cluster` model output a deprecation warning to users.

[2022-01-04 17:25] joshrosso commented on #2704
Per the conversation in [the proposal](https://github.com/vmware-tanzu/community-edition/issues/2266), we're moving forward with the name `unmanaged-cluster`. We should do this re-naming as part of our `0.10.0` release.

[2022-01-04 18:17] joshrosso commented on #2696
:wave: Thanks @heyjcollins, we've added this proposal to our review queue so it now should get attention so we can move it along.

Reading the original issue, the concrete thing being proposed isn't super clear to me, reading between the lines, are you proposing:

* Adding the tanzu app CLI plugin into the `vmware-tanzu/community-edition` repository?

Regarding this point:

While it's technically

[2022-01-04 18:24] kartiklunkad26 commented on #2696
I believe @heyjcollins also mentioned something to a similar effect -

`We intend to maintain ownership of the plugin and ideally we’d manage the lifecycle of it independently from TCE.`

So the two approaches here are:
1. Host the Tanzu Apps CLI plugin into the `vmware-tanzu/community-edition` repository, while still having the Tanzu Apps CLI plugin team maintaining it's lifecycle
2. Host the Tan

[2022-01-04 18:43] joshrosso commented on #2696
When weighing the two approach, we highly recommend **2**. It gives you the flexibility and decoupling to maintain this project independent of the community-edition distribution. Even if there isn't an existing community that justifies its use outside of the community-edition, or tanzu, context, this still enables day-to-day development operations to happen in a way that works best for you.

Pragm

[2022-01-04 18:56] qnetter commented on #2696
Seconded. :)

[2022-01-04 18:56] ThomasVitale opened #2760 "Introducing Grafana Loki for log aggregation"
## Feature Request

Tanzu Community Edition doesn't currently provide a solution for log aggregation. Considering the presence of Grafana and Prometheus already (which are part of the Grafana OSS stack for observability), it would be great if the platform included Grafana Loki for logging.

## Describe alternatives you've considered

The alternative would be installing Grafana Loki explicitly and

[2022-01-04 18:59] ThomasVitale opened #2761 "Introducing Grafana Tempo for distributed tracing"
## Feature Request

Tanzu Community Edition doesn't currently provide a solution for distributed tracing. Considering the presence of Grafana and Prometheus already (which are part of the Grafana OSS stack for observability), it would be great if the platform included Grafana Tempo for distributed tracing.

## Describe alternatives you've considered

The alternative would be installing and managin

[2022-01-04 22:01] garrying commented on #2266
Minor feedback/thought on the terminal experience of the [proof-of-concept](https://github.com/vmware-tanzu/community-edition/blob/standalone-overhaul/cli/cmd/plugin/standalone-cluster/README.md) given it is introducing newish output patterns: The secondary text could get difficult to read depending on the minimum contrast config of the terminal and users' color scheme. For example, on Solarize, t

[2022-01-04 22:07] stmcginnis commented on #2266
The color formatting looks great... when we are running in a terminal theme that fits well with it. But it's hard to guarantee that, so I think we should either see if we can find some way to query the terminal to get color recommendations based on the theme, or we should just go with the default color and just use indentation to make it easier to read.

There may also be some color-blind concerns

[2022-01-04 22:16] joshrosso commented on #2266
^this. The indentation is adequate.

[2022-01-04 23:43] shivaani0505 opened #2766 "Create OpenAPIV3 schema for kapp-controller in tce"
## Feature Request

Create OpenAPIV3 schema for kapp-controller in tce

[2022-01-05 05:35] karuppiah7890 opened #2767 "Incorrect Slack Channel links in Community webpage"
## Description

In the web page https://tanzucommunityedition.io/community/ under `Meet with us` section, there's a hyper link to the K8s TCE Slack Channel with hyper text `Slack Channel` and it points to the wrong link - https://tanzucommunityedition.io/community/%7B%7B%20.Site.Params.slack_url%20%7D%7D

In the same page, the hyper text `Join the conversation` also points to a wrong link https://

[2022-01-06 00:27] #2741 closed

[2022-01-06 10:27] antgamdia opened #2772 "Some pkgs from the TCE repo has an invalid `additionalProperties: string`"
## Bug Report

As per the discussion held [on Slack](https://kubernetes.slack.com/archives/C02GY94A8KT/p1641389173476200), we discovered that some packages belonging to the TCE repo have an invalid OpenAPI Schema. Particularly, they define `additionalProperties: string` while it should be either a `boolean` or another OpenAPI schema.

## Expected Behavior

The values of the `additionalProperties`

[2022-01-06 11:27] karuppiah7890 opened #2773 "Fix AWS E2E test pipeline failures - VPC quota issue"
An AWS E2E test pipeline that ran around 16 days ago (as of this writing) failed with the below error

[code]

GitHub Actions link - https://github.com/vmware-tanzu/community-edition/runs/4598215605?check_suite_focus=true

On debugging further with the diagnostics data, it was found that the issue was the AWS quota on number of VPCs

[code]

Diagnostics data - [run-1607990773-attempt-1.zip](https:

[2022-01-06 11:30] karuppiah7890 commented on #2773
This happened because, there were two commits that got pushed to `main` at around the same time -

https://github.com/vmware-tanzu/community-edition/commit/ad61f75b4770c194410e81d5afe20cc5738fca52

https://github.com/vmware-tanzu/community-edition/commit/e51bfc2e219cfe5eada82fe052ed36478a2037be

And they both ran AWS E2E tests - 2 standalone cluster E2E tests and 2 management + workload cluster E2

[2022-01-06 11:32] karuppiah7890 commented on #2773
This quota issue is similar to the quota issue in #2699

[2022-01-06 11:33] karuppiah7890 commented on #2773
I have requested for an increase in VPC quota in `us-east-2` region from 5 to 25 using this link https://us-east-2.console.aws.amazon.com/servicequotas/home/services/vpc/quotas/L-F678F1CE

[2022-01-06 16:15] danielhelfand opened #2774 "[Docs] [](/docs/latest/package-management/)"
## Description

The PackageRepository tag (i.e. `projects.registry.vmware.com/tce/main:0.9.1`) mentioned in the docs [here](https://tanzucommunityedition.io/docs/latest/package-management/) seems to be out of date with the Package versions mentioned in the docs.

Wondering if the tag should be 0.10.0 instead of 0.9.1? This seems to pull in the correct Package versions that match the current docs.

[2022-01-06 16:25] stmcginnis commented on #2774
I _think_ this may be a side effect due to our lack of versioned docs so far. The currently released version of TCE is v0.9.1, but there have been updated merged in to the repo for our next (v0.10.0) release. Prior to that release, but after the next package tag is created, the docs should be updated to point to the new `main:0.10.0`.

@seemiller - can you confirm?

[2022-01-06 20:40] jpmcb commented on #2266
A few thoughts on the color / contrast problem:

- We should follow the `$NO_COLOR` env variable standard and disable colors if that is present: https://no-color.org/
- We should also check for if the terminal doesn't support colors. We should be able to inspect this via `$TERM` == `dumb`
- And we should check if the terminal is a TTY terminal (we _might_ already be doing this ..)
- It wouldn't be

[2022-01-07 04:24] karuppiah7890 commented on #2773
The quota request has been approved now! 😄

[2022-01-07 05:51] xieyinghong2000 opened #2780 "Install 0.9.1 failed with issue "cannot stat /proc/sys/net/ipv4/tcp_retries2: No such file or directory""
## Bug Report

A container with name like tkg-kind-c7bqas7c9casmtf3a82g-control-plane was recreated again and again and finally the deployment timed out and exited.

## Expected Behavior

Resolve this issue.
## Steps to Reproduce the Bug

[code]

## Screenshots or additional information and context

## Environment Details

* Build version (`tanzu version`): 0.9.1
* Deployment (Managed/Standalone c

[2022-01-07 07:34] #2773 closed

[2022-01-07 07:35] karuppiah7890 commented on #2773
Closing this issue for now. If this issue comes up again (again due to quota limits), I'll reopen it. I've also rerun the failed pipelines and it has passed - https://github.com/vmware-tanzu/community-edition/actions/runs/1607972155 , https://github.com/vmware-tanzu/community-edition/actions/runs/1607990773

[2022-01-07 13:10] kcoriordan commented on #2725
These are the ones missing the Supported Provider table, if you provide the details here I can get a PR in for this
Fluent Bit ¶ @seemiller
gate keeper @seemiller
Grafana @seemiller
Knative Serving @seemiller
Multus CNI @seemiller
Prometheus @seemiller
Whereabouts @zhanggbj

[2022-01-07 14:15] kcoriordan commented on #2714
@seemiller
@HanFa
@XudongLiuHarold

do you have the correct url?

[2022-01-07 14:24] #2711 closed

[2022-01-07 15:21] stmcginnis commented on #2780
Hey @xieyinghong2000 - that log output at the end looks incredibly short. Is that all the command gave you for output?

Docker deployments with the current `standalone-cluster` implementation have a lot of caveats. There are a few things we can check.

Since you are running directly on a Linux machine we don't need to worry about Docker Desktop resource settings. But please make sure this machine

[2022-01-07 15:54] kcoriordan commented on #2698
@ciberkleid
**1** - removed duplication
**2** - the templates are there as a reference
3 **- what change do you suggest here ?**
**4**- fixed the typo and expanded description

**step 8** - yes that is my understanding

**Also**
An experienced user might see the value of just using the management cluster config file to create the workload cluster with out taking a copy, but I think it would be con

[2022-01-07 16:21] kcoriordan commented on #2698
@ciberkleid - can you take a look here at the updated topic, and let me know if you have any other suggestions
https://deploy-preview-2782--quirky-franklin-8969be.netlify.app/docs/latest/workload-clusters/

[2022-01-07 17:32] XudongLiuHarold commented on #2714
/assign @HanFa

Could you please take a look at this?

[2022-01-07 17:59] joshrosso opened #2784 "Upgrade community-edition's framework (CLI) version to v0.10.0"
This request was sourced in some capability work individuals want to bring into TCE.

[2022-01-07 18:04] joshrosso commented on #2784
At this point, we have upgraded `main` to v0.10.0:

https://github.com/vmware-tanzu/community-edition/blob/9e16cb3323b3591b0f1ceba021eab075f175b77f/hack/FRAMEWORK_BUILD_VERSION#L1

This means it'll be part of the v0.10.0 release, which we're still hoping to get our in January. If anything changes, it'll be reflected here.

[2022-01-07 18:08] joshrosso opened #2785 "Upgrade kapp-controller to `0.30`"
This request was sourced in some capability work individuals want to bring into TCE.

[2022-01-07 18:09] joshrosso commented on #2785
Current state of TCE kapp-controller is that we are bound to the versions shipped by our commercial product Tanzu Kubernetes Grid (TKG). We'll target this for the v0.11.0 release, currently aiming for the March timeframe.

[2022-01-07 18:36] HanFa commented on #2714
Yes, taking a look now

[2022-01-07 19:37] HanFa commented on #2714
Hi @ChunPingWang I am able to pull down and run `harbor-repo.vmware.com/dockerhub-proxy-cache/library/nginx ` at my local kind cluster. Could you double check the cluster connectivity on your side?

[2022-01-07 23:37] joshrosso opened #2787 "Unable to `make install-all-tanzu-cli-plugins` off main."
## Bug Report

Off `main`, i'm unable to run `make install-all-tanzu-cli-plugins`. It appears to be failing when doing the `plugin install all *` command. This could be related to our new version of `tanzu-framework`?

[code]

## Expected Behavior

Builds to complete

## Steps to Reproduce the Bug

1. Clean your filesystem
2. Clone the repo
3. Run `make install-all-tanzu-cli-plugins`

## Environme

[2022-01-07 23:44] joshrosso commented on #2787
I'm noticing `make build-cli` is no longer producing and artifacts directory. This is likely related since `build-cli` is part of the above command.

[2022-01-08 01:32] xieyinghong2000 commented on #2780
Hi @stmcginnis , Thanks for your response. I tested other version such as v0.10.0-rc.2, have the same issue.

 This machine has at 16G of RAM and 4CPU cores available.

I run it again for the logs ouput.
`docker exec  tkg-kind-c7ceepfc9cau2p6dbj5g-control-plane kubectl logs --namespace capd-system  --selector cluster.x-k8s.io/provider=infrastructure-docker,control-plane=controller-manager -c manag

[2022-01-09 10:57] Excpt0r commented on #2752
Hi @stmcginnis
thanks for pointing to the related ticket, I will have further reading, air-gapped installation is interesting for me too.
But having an internal image mirror will probably not solve the problem that curl cannot download the docker tar.gz

Does this ticket need any labels? I'm not allowed to add one.

[2022-01-10 06:39] #2706 closed

[2022-01-10 09:09] xieyinghong2000 commented on #2780
Dear @stmcginnis ,
        This problem has not been solved,  Could you provide more help?
        Anxiously waiting for your reply.
        Thanks a lot.

[2022-01-10 15:28] stmcginnis commented on #2752
Odd, that should have happened based on the type of issue you chose when creating. I've added a couple labels. We can refine once others have had a chance to triage it.

[2022-01-10 16:26] #2359 closed

[2022-01-10 17:25] baodongli opened #2793 "Can't create a cluster due to OS image not detected"
## Bug Report

On Mac, following https://tanzucommunityedition.io/docs/latest/vsphere-install-standalone/, I can't create a Tanzu standalone cluster on vsphere due to empty OS Image list.

## Expected Behavior

The Os Image drop down list should list the images from the vSphere client.

## Steps to Reproduce the Bug

Following https://tanzucommunityedition.io/docs/latest/vsphere-install-standalone

[2022-01-10 17:29] stmcginnis commented on #2793
Hi @baodongli! You mention the image photon-3-kube-v1.21.2+vmware.1-tkg.3-6345993713475494409.ova, but that is not one of the available images on the download page. Please make sure you are using the template from one of the supported versions.

https://customerconnect.vmware.com/downloads/get-download?downloadGroup=TCE-090

I believe once you get one of the versions from that download page, it sh

[2022-01-10 17:53] #1243 closed

[2022-01-10 17:54] baodongli commented on #2793
Hi @stmcginnis thanks for your quick response. I used this link to download the OVA:
https://customerconnect.vmware.com/downloads/details?downloadGroup=TKG-141&productId=988&rPId=82536. That's probably why it doesn't work. Let me try the link you provided.

A quick question about the cni plugin. The only option provided on the cluster create page is Antrea. Is Calico supported as well?

[2022-01-10 19:15] joshrosso opened #2796 "Document cgroupsv2 requirement"
## Description

Now that docker desktop uses cgroupsv2 by default, it's becoming commonly problematic for our users that they cannot bootstrap. We must document this ASAP.

## Location

`*`

## Additional Context

None

[2022-01-10 20:15] #2772 closed

[2022-01-10 20:47] joshrosso commented on #2754
@michaelmok2021 This issue is perfect.

Thanks for raising the issue around rootless deployment models. I'm gonna put this in our icebox for now but we'll review it for future milestones. We have some changes coming to this deployment model that might enable what you're looking for. I'll make a note for us to revisit in our next milestone.

[2022-01-10 20:48] joshrosso commented on #2754
@stmcginnis @jpmcb let's make a note to try rootless in `unmanaged`. I wonder if it's at all feasible.

[2022-01-10 20:53] joshrosso opened #2798 "Support cgroupsv2 for bootstrapping management clusters"
## Feature Request

Especially with Docker Desktop defaulting to cgroupsv2 in `4.3.0`+, we really need to support cgroupsv2 by default. Otherwise no one will be able to bootstrap any type of cluster without running an older version of docker desktop or, for linux hosts, adding a kernel parameter in to downgrade to cgroupsv1

This is a TCE tracking issue for:

* https://github.com/vmware-tanzu/tanz

[2022-01-10 21:28] baodongli commented on #2793
Hi @stmcginnis I was able to proceed with the image. But now I got this error message:
unable to set up standalone cluster, : unable to create bootstrap cluster: failed to create kind cluster tkg-kind-c7ea5feel3qvb74e02u0: failed to init node with kubeadm: command "docker exec --privileged tkg-kind-c7ea5feel3qvb74e02u0-control-plane kubeadm init --skip-phases=preflight --config=/kind/kubeadm.conf

[2022-01-10 21:41] stmcginnis commented on #2793
Great! At least one roadblock down. ;)

For this next error, I'm wondering if you are running on Windows or MacOS, using Docker Desktop? The latest versions of Docker Desktop switched over to using cgroupv2, and unfortunately the bootstrap image we have out there doesn't work with that yet.

A quick way to check would be to run `docker info | grep Cgroup`. One of the lines should show the "Cgroup

[2022-01-10 21:47] baodongli commented on #2793
# docker info | grep Cgroup
WARNING: No swap limit support
Cgroup Driver: cgroupfs

it doesn't show Cgroup version.

I'm on a Ubuntu machine with docker engine 18.06.1-ce. Which version do you suggest?
# docker version
Client:
 Version:           18.06.1-ce
 API version:       1.38
 Go version:        go1.10.3
 Git commit:        e68fc7a
 Built:             Tue Aug 21 17:24:58 2018
 OS/Arch:

[2022-01-10 21:59] qnetter commented on #2793
What kernel version?

[2022-01-10 22:06] stmcginnis commented on #2793
I have the same environments on one of my test machines. That version of Docker looks a little old though. Can you do an `apt update` and see if you have a newer package available? This is what I have on my machine:

[code]

[2022-01-10 22:11] baodongli commented on #2793
# uname -a
Linux localhost 3.13.0-170-generic #220-Ubuntu SMP Thu May 9 12:40:49 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

It's ubuntu trusty, kind of old.

Let me upgrade them.

thanks

[2022-01-10 22:16] stmcginnis commented on #2793
Whoa, yep, Trusty is quite old at this point. There could be other contributing factors based on older packages in that environment.

Since the last release of trusty went "end of standard support" in 2019, it might be a good time to upgrade that. If you can at least upgrade Docker CE we can see if that takes care of it, but that old of a platform makes me a little nervous that we're going to run

[2022-01-10 22:30] stmcginnis commented on #2787
Able to run this on both linux-amd64 and darwin-amd64 hosts. Both platforms built successfully.

First ran target on its own, then tried more clean up with:

[code]

[2022-01-10 22:48] kartiklunkad26 commented on #2266
How would the docs look like for unmanaged-cluster in the context of existing documentation? Haven't really seen anything for docs in the proposal?

[2022-01-10 23:58] #2718 closed

[2022-01-11 01:19] blc1996 opened #2803 "Create OpenAPIV3 schema for metrics-server in TCE"
## Feature Request
Create OpenAPIV3 schema for metrics-server in TCE

## Describe alternatives you've considered

## Additional context

[2022-01-11 01:20] blc1996 opened #2804 "Create OpenAPIV3 schema for vsphere-cpi in TCE"
## Feature Request
Create OpenAPIV3 schema for ~~metrics-server~~ vsphere-cpi in TCE

## Describe alternatives you've considered

## Additional context

EDIT by @nrb - updated title and description to match the associated PR since the text was a duplicate of another issue.

[2022-01-11 09:51] m2si-mmo opened #2807 "[Docs] [Kubernetes Platform Documentation | Tanzu Community Edition](/docs/latest/)"
## Description

 Cannot install TCE on a MacBook Pro 2018
<img width="1674" alt="tanzu" src="https://user-images.githubusercontent.com/47722866/148920322-7aac7973-4879-4cfa-9b3d-6403a366a1c9.png">

## Location

## Additional Context

[2022-01-11 10:51] kcoriordan opened #2808 "Doc - Remove `standalone-cluster` docs and add doc for unmanaged-cluster"
## Description

1. Removed current standalone cluster doc in 46 files
2. Add a deprecation notice
3. Add unmanaged-cluster doc

## Location

## Additional Context

related to #2266

[2022-01-11 11:29] kcoriordan commented on #2266
I'm looking at this today, and tracking here: https://github.com/vmware-tanzu/community-edition/issues/2808

[2022-01-11 12:31] karuppiah7890 opened #2809 "TCE build-test-release in containerized environments"
This issue is to track TCE build-test-release (btr) in containerized environments for us to be able to run TCE build-test-release in infrastructure like Prow which are containerized environments (Prow = K8s = pods = containers)

I have noticed that TCE build should be pretty easy and straight forward in a containerized environment

For TCE test in containerized environments, I have raised an issue

[2022-01-11 15:43] kcoriordan commented on #2665
@thesteve0 - can we close this - as mentioned above it's already called out in doc in a few places?

[2022-01-11 15:51] joshrosso opened #2811 "Remove controller-runtime dependency from `unmanaged-cluster` plugin"
## Feature Request

We are currently having to set an indirect dependency for `controller-runtime` on `unmanaged-cluster` due to a dependency in framework. The removal of this dependency is tracked here:

* https://github.com/vmware-tanzu/tanzu-framework/issues/1476

Once this is resolved in framework, we should update our tanzu-framework versioning in the `unmanaged-cluster` go.mod and remove the

[2022-01-11 15:56] kcoriordan commented on #2382
@nrb can we close this ?

[2022-01-11 15:57] #2767 closed

[2022-01-11 16:00] kremerpatrick commented on #2382
The Windows instructions now say 'choco install tanzu-community-edition', but the comment after the command is still wrong 'Using an explicit version is required for now.'

[2022-01-11 16:17] stmcginnis commented on #2807
Hi @m2si-mmo - we'll need to check some logs, but first there is a common issue folks have been hitting that might be a quick easy check for us to do.

The current release of TCE does not work with cgroupv2, but recent releases of Docker Desktop (as of v4.3.0 I believe) have moved to using it. Can you run `docker info | grep Cgroup` and see if there is a line returned that says "Cgroup version: 2"

[2022-01-11 16:36] karuppiah7890 commented on #2545
Closing this as it's fixed now 😄

[2022-01-11 17:17] m2si-mmo commented on #2807
Indeed I'm using the last version of Docker Desktop for Mac.
Can you tell me to which version should I downgrade to ?
Regards

[2022-01-11 17:41] xyloman commented on #2419
@dvonthenen I think I was able to figure this out by leveraging the TKG documentation to configure the overlay to use an internal NLB.  If the content can be pulled from the TKG documentation and added to Community Edition that would help someone next time for sure.

[2022-01-11 17:55] dvonthenen commented on #2419
adding @kcoriordan to take a look at this

[2022-01-11 18:00] stmcginnis commented on #2419
@xyloman if you happen to still have the link that helped you, if you could paste that here that could really help anyone in the future that runs into the same situation if they search around and come across this issue. If it's not readily available for you anymore, no worries.

cc @kcoriordan

[2022-01-11 18:01] stmcginnis commented on #2807
The cgroupv2 change was in the [4.3.0 release](https://docs.docker.com/desktop/mac/release-notes/#docker-desktop-430), so any version prior to that should work. It looks like 4.2.0 was the last release prior to that.

[2022-01-11 18:04] maralavi opened #2813 "Create OpenAPIV3 schema for calico version 3.19.1 in TCE"
## Feature Request
Create OpenAPIV3 schema for calico version 3.19.1 in TCE

[2022-01-11 18:15] m2si-mmo commented on #2807
It works now on my Mac but getting n issue with the kappa-controller pod, I got an ImagePullBackOff.
trying to fix it

[2022-01-11 19:25] xyloman commented on #2419
@stmcginnis took me a bit of time to find this in my notes but here is the link that was the key for me: https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.3/vmware-tanzu-kubernetes-grid-13/GUID-mgmt-clusters-airgapped-environments.html#step-5-initialize-tanzu-kubernetes-grid-9

[2022-01-11 19:26] stmcginnis commented on #2419
Thanks a ton for taking the time to look that up @xyloman - really appreciate that!

[2022-01-11 20:25] nrb commented on #2382
Yeah, we should update it since the package was approved. I'll put a PR in.

[2022-01-11 20:32] nrb commented on #2382
Nevermind - PR #2812 fixed it.

[2022-01-11 20:32] #2382 closed

[2022-01-11 21:21] tomkennedy513 commented on #2462
Linking my wip branch here https://github.com/tomkennedy513/community-edition/tree/add-kpack

[2022-01-11 23:40] #2813 closed

[2022-01-12 00:04] baodongli commented on #2793
After upgrading ubuntu and installing the latest docker, I was able to deploy a cluster successfully. Thank you @stmcginnis and @qnetter for all the helps. I'm closing this issue.

[2022-01-12 00:04] #2793 closed

[2022-01-12 00:11] #2766 closed

[2022-01-12 01:51] vijaykatam opened #2825 "vsphere-csi package should expose config for ssl thumbprint"
## Feature Request
vsphere-csi package should expose ssl thumbprint config instead of always using insecure flag.

See https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-BFF39F1D-F70A-4360-ABC9-85BDAFBE8864.html

## Additional context
vsphere-cpi package exposes thumbprint as a config variable

[2022-01-12 03:08] karuppiah7890 opened #2826 "Automate publishing artifacts to Tanzu Network"
Currently TCE is released and distributed in various avenues like [GitHub Releases](https://github.com/vmware-tanzu/community-edition/releases), Package Managers ([Homebrew](https://brew.sh/), [Chocolatey](https://chocolatey.org)), [VMware Customer Connect](https://customerconnect.vmware.com/), [Tanzu Network](https://network.tanzu.vmware.com)

This issue is to target automation for releasing to T

[2022-01-12 11:19] kcoriordan commented on #2462
@tomkennedy513, the readme looks great, adding some minor review comments here as per request in [Slack](https://app.slack.com/client/T09NY5SBT/threads)

Add a section for Supported Providers at the top, for example:
https://tanzucommunityedition.io/docs/latest/package-readme-cert-manager-1.3.3/

**step 1**
change 'Logged in' to 'Log in'
add an introductory comma after 'For dockerhub'

**step 2**

[2022-01-12 14:11] kcoriordan commented on #2690
working on this today @ciberkleid

[2022-01-12 14:36] automatestuff opened #2828 "Improve CLI installation to mention cgroups V1"
## Description

KIND Cgroup v1 Bootstrap installer requirement

We know there is a need for KIND Cgroup v1 requirement and in the TKGm/TCE 1.4 Linux section of the installation documentation it is clearly noted.  Recently Docker Client 4.3.0+ has updated to leverage KIND Cgroup v2 however our documentation doesn't call this out this requirement for MacOS in either the TKGm / TCE installation (boot

[2022-01-12 16:20] kartiklunkad26 commented on #2696
@joshrosso @qnetter We've decided to create a separate repository for Tanzu Apps Plugin CLI (2nd approach). cc: @heyjcollins

[2022-01-12 16:48] joshrosso commented on #2696
Sounds good.

Including the CLI plugin is a little more involved than including packages like `kpack`. Is there a timeframe ya'll have for when the TAP CLI plugin should be included by *default* ?

[2022-01-12 18:07] joekr commented on #1594
/assign @joekr

[2022-01-12 18:10] joekr commented on #1594
/assign @joekr

[2022-01-12 18:48] kartiklunkad26 commented on #2696
@joshrosso please hold on the timeframe. We will provide that timeframe. Will batch this with the Cartographer package based on @scothis's input.

[2022-01-12 21:53] blc1996 opened #2831 "Create OpenAPIV3 schema for vsphere-csi in TCE"
## Feature Request

Create OpenAPIV3 schema for vsphere-csi in TCE

## Describe alternatives you've considered

## Additional context

[2022-01-12 22:04] lubronzhan opened #2833 "Fix the link to CPI repo"
## Bug Report

In CPI readme, the link to github is CAPV, instead of CPI https://github.com/kubernetes/cloud-provider-vsphere

https://github.com/vmware-tanzu/community-edition/tree/9b6fe7b5c89fd4b87b575253c6c01eea5410c743/addons/packages/vsphere-cpi/1.22.4

## Expected Behavior

The link should be correct

## Steps to Reproduce the Bug

## Screenshots or additional information and context

## Env

[2022-01-13 10:48] kcoriordan commented on #2828
@modavid
do you have a good link to refer Mac customers to to change the cgroup?
As in I'm not sure where to refer customer Mac customers to for setting kernel (cgroup) parameters
we have links for Fedora, Arch Linux, OpenSuse here: https://tanzucommunityedition.io/docs/latest/support-matrix/#check-and-set-the-cgroup
does this suffice?

[2022-01-13 13:02] jorgemoralespou opened #2836 "[unmanaged-cluster] Provide output in json format as an option"
## Feature Request
When trying to integrate the output of `tanzu unmanaged-cluster ...` into other tools or UIs it would be convenient if this output could come in a parseable JSON format, so that it can be pretty printed in tools/UIs.

Currently if you try to pretty print the output of `tanzu unmanaged-cluster list` you will see something like:
[code]

Because this is stdout meant to be output in

[2022-01-13 13:03] jorgemoralespou commented on #2796
I would suggest a Known Limitations section on the docs.

[2022-01-13 17:54] shivaani0505 opened #2842 "Create OpenAPIV3 schema for antrea versions(1.2.3, 0.13.3, 0.11.3) in TCE"
## Feature Request

Create OpenAPIV3 schema for antrea in TCE

[2022-01-13 20:56] seemiller opened #2845 "Countour should be spelled Contour"
## Bug Report

Couple of places where `Contour` is spelled `Countour`

[2022-01-13 21:00] #2845 closed

[2022-01-13 21:03] kartiklunkad26 opened #2847 "Proposal: Introduce Tanzu Workload Creation Capabilities"
# Problem Statement

Kubernetes has a [developer experience gap](https://odedia.org/kubernetes-needs-a-developer-platform). This has been widely accepted across the industry at this point.

With some of the capabilities in TCE such as `unmanaged-cluster`(making it easier to create an environment locally without k8s knowledge), knative support (developer abstractions to create workloads) and kpack

[2022-01-13 21:04] kartiklunkad26 opened #2848 "Introduce an Application Toolkit Package"
# Proposal: Introduce an Application Toolkit Package

# Summary
We are introducing an Application Toolkit Meta-Package to simplify the installation of all the packages that are important for a developer to create and iterate on Tanzu workloads.

# Problem Statement

The introduction of carvel packaging technology has significantly improved the installation experience of tools on Kubernetes. We've

[2022-01-13 21:07] joshrosso commented on #2833
@kcoriordan can you keep track of this to ensure we get the broken link fixed?

[2022-01-13 21:13] joshrosso commented on #2774
Please re-open if there's any follow-up needed.

At this point, docs should always reference `0.9.1` as its the only thing we've released (while technically `0.10.0` is discoverable, it's not released).

[2022-01-13 21:13] #2774 closed

[2022-01-13 21:16] joshrosso commented on #2761
Hi Thomas! Thanks for the feature request.

Pinging @qnetter to assess for:

1. community need
2. viability given AGPL

For now we'll move this to the icebox and gather more data/community need to consider this.

[2022-01-13 21:16] joshrosso commented on #2760
Hi Thomas! Thanks for the feature request.

Pinging @qnetter to assess for:

1. community need
2. viability given AGPL

For now we'll move this to the icebox and gather more data/community need to consider this.

[2022-01-13 21:20] joshrosso commented on #2752
@Excpt0r if this is reproducible, could you please use `tanzu diagnostics` plugin (https://tanzucommunityedition.io/docs/latest/tanzu-diagnostics/#collecting-diagnostics) to capture all the logs and upload them here for our review? This was we can understand what is getting hung up.

Be sure to run the diagnostics command when you are **in** this hung state.

[2022-01-13 22:37] jpmcb commented on #2780
Hi there! Can you provide a `docker info`? This will show us the resources your docker daemon has allocated to it and might give us a clue as to why your installation is stalling on `standalone-clusters`

[2022-01-13 23:13] #2836 closed

[2022-01-13 23:28] #2803 closed

[2022-01-14 03:27] xieyinghong2000 commented on #2780
Hi @jpmcb ,
     `docker info`
[code]

[2022-01-14 15:01] stmcginnis commented on #2780
Sorry, I missed your earlier response. Thanks for the docker info.

I'm not 100% sure of the issue from the output (memory and CPU look good), but those last couple lines may be of concern.

[code]

I _think_ that is needed for things to work right. Can you run the following to enable `bridge-nf-call-iptables*`?

[code]

The other thing I notice is your backing filesystem is xfs. This is wild conj

[2022-01-14 16:01] joshrosso opened #2852 "unmanaged-cluster: Downloading TKR re-prints log message rather than showing progress `.` characters"
## Bug Report

From a comment in another PR (https://github.com/vmware-tanzu/community-edition/pull/2822#issuecomment-1012618133)

![image](https://user-images.githubusercontent.com/6200057/149545920-0e5fcdbc-799d-4f6a-9940-acc9664a677e.png)

## Expected Behavior

For a carriage return `\r` to replace this line, giving the visualization of progress.

## Steps to Reproduce the Bug

Remove the local

[2022-01-14 16:01] joshrosso commented on #2852
Nice to have for alpha release v0.10.0; but not required until v0.11.0.

[2022-01-14 17:21] joshrosso commented on #2826
@karuppiah7890 putting this in `icebox` only because we don't know what release this is targeted for or if it'll be out of band of an "official" release. Feel free to update the milestone if you want to bind yourself to a specific TCE release.

Thanks!

[2022-01-14 17:24] joshrosso commented on #2809
Putting this in icebox only because we don't know what release this is targeted for or if it'll be out of band of an "official" release. Feel free to update the milestone if you want to bind yourself to a specific TCE release.

Thanks!

[2022-01-14 18:24] joshrosso commented on #2796
Addressed in https://github.com/vmware-tanzu/community-edition/pull/2806

@kcoriordan FYI on @jorgemoralespou suggestion wrt known limitation.

[2022-01-14 18:24] #2796 closed

[2022-01-14 18:28] joshrosso commented on #2749
Resolved based on #2756

[2022-01-14 18:28] #2749 closed

[2022-01-14 18:31] joshrosso commented on #2739
@karuppiah7890 let us know if this is an issue with automation or our bootstrapping. Wasn't super clear reading through it. For now, putting it in the `icebox` but happy to get an engineer to support troubleshooting if it's reproducible.

[2022-01-14 18:32] #2842 closed

[2022-01-14 18:46] joshrosso commented on #2689
@tomkennedy513 is the work planned for a similar timeframe as `kpack`?

I'd like to figure out what TCE milestone to keep track of it in.

[2022-01-14 18:57] joshrosso commented on #2299
`kind/`, `area/`, `proposal/` and `triage/` have meaning to the TCE engineering team.
As long as:

* Those prefixes are not added to or modified.
* This new label has a prefer, seems `provider/` is suggested.
* There is a consistent color used for all `provider/`, then I am :+1: .

@stmcginnis assigning this to you for v0.10.0.

[2022-01-14 18:59] joshrosso commented on #2299
Please note that labeling with `provider/` will be best effort.

[2022-01-14 19:00] joshrosso commented on #233
Let's reopen if it's verified to not be completed.

[2022-01-14 19:00] #233 closed

[2022-01-14 19:19] joshrosso commented on #2418
To move forward with this ask, we need [a proposal opened](https://github.com/vmware-tanzu/community-edition/tree/main/docs/designs), which describes what we are trying to do.

For now, we're moving this to the `icebox`.

[2022-01-14 19:30] joshrosso commented on #2738
@qnetter sorry for the lag on this, we'll get on it in next week's review cycle.

question that will come up:

Where do you propose we publish this information?

[2022-01-14 19:35] joshrosso commented on #2847
@kartiklunkad26, thanks for getting this rolling.

As you alluded to, we do need a proposal to understand what is being suggested here, why it's important, and some details on how we'll get there.

Please note our [proposal process](https://github.com/vmware-tanzu/community-edition/tree/main/docs/designs) is documented here. We try to keep the process light-weight and **not not** always require a

[2022-01-14 19:35] joshrosso commented on #2848
@kartiklunkad26, thanks for getting this rolling.

As you alluded to, we do need a proposal to understand what is being suggested here, why it's important, and some details on how we'll get there.

Please note our [proposal process is documented here](https://github.com/vmware-tanzu/community-edition/tree/main/docs/designs). We try to keep the process light-weight and **not not** always require a

[2022-01-14 19:44] joshrosso commented on #2736
@seemiller the PR has largely turned into the work to complete this rather than the proposal.

Can you update this issue with details on what's being proposed:

* topics we want to cover
* audience
* how we're going to expose the information

[2022-01-14 19:46] joshrosso commented on #2696
Makes sense all!

Please note our [proposal process is documented here](https://github.com/vmware-tanzu/community-edition/tree/main/docs/designs). We try to keep the process light-weight and **not not** always require a design doc, although we may suggest one. If you feel a full design doc is justified, you are welcome to create one, however, adding details to this issue might suffice.

We'd need

[2022-01-14 19:49] #2787 closed

[2022-01-14 19:50] #2390 closed

[2022-01-14 19:50] #1654 closed

[2022-01-14 19:50] #1809 closed

[2022-01-14 19:50] #2704 closed

[2022-01-14 19:53] #2784 closed

[2022-01-14 19:54] joshrosso opened #2853 "Update TCE to use Bill of Materials from Tanzu Framework"
In the v0.10.0 release, we are going to switch our BOM pointer to what is produced by Framework, rather than TKG.

To enable this work, we need Framework to produce an appropriate v0.10.0 set of assets and push it to production Harbor.

[2022-01-14 20:09] joshrosso commented on #2798
sorry this was pre-maturely closed by me :) re-opening.

[2022-01-14 20:15] qnetter commented on #2738
Probably a top-level MD doc in the repo. Also in the reference guide.

[2022-01-14 20:34] joshrosso commented on #2738
What do you propose the MD file is called? Or would you like it added to an existing MD file?

What is the the reference guide?

[2022-01-14 20:50] qnetter commented on #2738
I'm open to ideas. We could put it up as LIFECYCLE.md, but that may be too general. We could put it in a doc lower down in the hierarchy and link it from ROADMAP.md - it would take up too much space inline.

One of the manuals in the Documentation section of the website.

[2022-01-14 22:20] stmcginnis commented on #2299
Added `provider/*` labels and updated our [Triaging, Prioritizing, and Labeling](https://github.com/vmware-tanzu/community-edition/issues/1829) instructions to note their usage.

[2022-01-14 22:20] #2299 closed

[2022-01-15 00:36] joshrosso commented on #2586
Putting this in icebox only because we don't know what release this is targeted for or if it'll be out of band of an "official" release. Feel free to update the milestone if you want to bind yourself to a specific TCE release.

Thanks!

[2022-01-15 00:37] joshrosso commented on #2575
Putting this in icebox only because we don't know what release this is targeted for or if it'll be out of band of an "official" release. Feel free to update the milestone if you want to bind yourself to a specific TCE release.

Thanks!

[2022-01-15 00:37] joshrosso commented on #2573
Putting this in icebox only because we don't know what release this is targeted for or if it'll be out of band of an "official" release. Feel free to update the milestone if you want to bind yourself to a specific TCE release.

Thanks!

[2022-01-15 00:42] joshrosso commented on #2425
Personally, not too crazy about mandating a diagramming tool. This diagram lives in our Miro project "TCE Architectures"; anyone on the team can make this correction. Or if someone external wants to recreate the diagram, that's great too.

I'll add it to v0.11.0 as something from the core engineering team to tackle, but if someone wants to jump ahead and resubmit a new diagram, that works too.

[2022-01-15 00:45] joshrosso commented on #2742
@seemiller can you take a look at diagnosing this at your earliest convenience?

[2022-01-15 03:58] xieyinghong2000 commented on #2780
Hi ,

I set these two parameters, but the issue is still as before.

I think the key cause is the container has no tcp_retries2, why?

In the bootstrap host, there has the file.
ll /proc/sys/net/ipv4/tcp_retries2
-rw-r--r--. 1 root root 0 Jan 15 11:54 /proc/sys/net/ipv4/tcp_retries2

Container informations:
`docker ps `
[code]

`docker exec --privileged e424e6636c20 /bin/sh -c 'ls /proc/sys/net/ip

[2022-01-15 03:59] joshrosso commented on #2468
Let's definitely revisit this if we find there's a need for the metadata (could be in the future when the project grows)

[2022-01-15 03:59] #2468 closed

[2022-01-15 04:00] joshrosso commented on #2383
@vmware-tanzu/pinniped-owners, seems to be something related to auth, not sure if ya'll can help here or if anything obvious sticks out.

[2022-01-15 04:02] joshrosso commented on #1795
@kcoriordan I believe we got some amount of identity management in. Feel free to close this issue if so.

[2022-01-15 04:04] joshrosso commented on #1784
Thanks a bunch for opening this issue, sorry it took so long to respond :).

We're going to track this in https://github.com/vmware-tanzu/community-edition/issues/2425 since it's got more follow-up.

[2022-01-15 04:04] #1784 closed

[2022-01-15 07:29] thuongtruong1009 opened #2857 "How do I get an invitation to join the organization"
## Description
Hi there!
My name is Tran Nguyen Thuong Truong - @thuongtruong1009
Currently, I learning front-end.
I want to learn more and more about open-source code.
Hope to cooperate with you in the future.

## Location
VietNam

## Additional Context

[2022-01-15 16:58] stmcginnis commented on #2857
Welcome @thuongtruong1009!

There is no need to join the organization. Please see our contributing docs for instructions on how to submit PRs and get started working with the source code:

https://tanzucommunityedition.io/docs/latest/contribute/contributing/#contribution-workflow

There is a little more information about our Google Group and our Slack channel under the Community section on our sit

[2022-01-15 16:58] #2857 closed

[2022-01-15 17:05] stmcginnis commented on #2780
I'm not sure here, but it looks like this could be a kernel version issue. CentOS 7.9 has kernel version 3.10. According to this moby issue I found, that could be too old for some of the required `proc` network namespace things.

https://github.com/moby/moby/issues/8674

Any chance you can upgrade this system or try on something that's running a newer kernel?

[2022-01-17 08:17] xieyinghong2000 commented on #2780
@stmcginnis Thanks!  I will test with higher kernel version, such as ubuntu 20 or redhat 8. I will update the result as soon.

[2022-01-17 11:35] kcoriordan commented on #2419
thanks @xyloman, I'll work on getting this into TCE doc

[2022-01-17 13:03] kcoriordan commented on #2833
https://github.com/kubernetes/cloud-provider-vsphere

[2022-01-17 13:37] stmcginnis commented on #2641
I wonder if the README sync needs to have an explicit rebase of the source.

[2022-01-17 14:51] joshrosso commented on #2616
@stmcginnis we should add this pre-flight check to unmanaged-cluster. Then we can open an issue in framework for the other plugins.

[2022-01-17 16:07] stmcginnis commented on #2616
Already included in the preflight checks here:

https://github.com/vmware-tanzu/community-edition/blob/standalone-overhaul/cli/cmd/plugin/unmanaged-cluster/cluster/kind.go#L207

With a unit test explicitly testing for arm64 here:

https://github.com/vmware-tanzu/community-edition/blob/standalone-overhaul/cli/cmd/plugin/unmanaged-cluster/cluster/kind_test.go#L47

[2022-01-17 18:21] joshrosso commented on #2616
Great! Will open up an issue in framework for the management-cluster plugin.

[2022-01-18 14:12] TYsewyn opened #2863 "Add possibility to annotate the service account of ExternalDNS"
## Feature Request

This feature would allow developers and operators to use ExternalDNS on GKE clusters that have workload identity enabled.
[Workload Identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) allows workloads in your GKE clusters to impersonate Identity and Access Management (IAM) service accounts to access Google Cloud services.

## Describe alternative

[2022-01-18 16:11] margocrawf commented on #2383
What version of Pinniped is this running?
The user search filter looks like it's too broad, it should probably be `"&(objectClass=inetOrgPerson)(sAMAccountName={})"` or something.

[2022-01-18 16:14] enj commented on #2383
@vmware-tanzu/tkg-iam-owners should be able to help.

[2022-01-18 16:35] garrying commented on #2266
The links to proposed model are pointing to an empty README. For posterity, here's a link to the original README contents: https://github.com/vmware-tanzu/community-edition/blob/db06202fdd79271e4b5e80a0aa76387ca78917f0/cli/cmd/plugin/standalone-cluster/README.md

[2022-01-18 16:38] jpmcb opened #2864 "Remove `standalone-cluster` diagnostics collection in `v0.11.0`"
In support of deprecating `standalone-clusters` and introducing `unamanged-clusters`, we should remove `standalone-cluster` support from the `diagnostics` plugin and, if possible, introduce the ability to get diagnostics for `unmanaged-clusters`

Related to https://github.com/vmware-tanzu/community-edition/issues/2266 and https://github.com/vmware-tanzu/community-edition/issues/2705

cc @vladimirv

[2022-01-18 18:53] joshrosso commented on #2742
Just remembered that `metrics-server` comes in the core repo, so this shouldn't impact users at runtime of official releases. Likely and artifact of pulling a package off main or from some point in source control.

cc @seemiller would be great to verify this theory. For now, moving into `v0.11.0`

[2022-01-18 19:22] #2833 closed

[2022-01-18 20:27] joshrosso opened #2867 "Include `unmanaged-cluster` in release package for TCE v0.10.0+"
## Feature Request

With the inclusion of https://github.com/vmware-tanzu/community-edition/pull/2376, we should update any build/install/package automation to include `unmanaged-cluster`. I believe this means updates to:

* https://github.com/vmware-tanzu/community-edition/blob/27317fcd3f6b574f393ee396fc81c967eba39a20/hack/release/package-release.sh#L69-L77
* https://github.com/vmware-tanzu/commu

[2022-01-18 21:04] jpmcb commented on #2863
cc @vmware-tanzu/pkg-external-dns-owners

[2022-01-18 21:09] jpmcb commented on #2747
We'll use this issue to track https://github.com/vmware-tanzu/tanzu-framework/issues/1444

Thanks again for bringing this to our attention!

[2022-01-18 21:12] seemiller commented on #2725
Fluent Bit, Gatekeeper, Grafana, Knative-serving, Prometheus should work with all providers

Multus CNI - not confident, but I think it works on AWS, Azure and vSphere - not sure about Docker

[2022-01-18 21:47] jpmcb commented on #2710
@vmware-tanzu/tce-releng Happy to provide any support here or help dig into this!

[2022-01-18 21:51] seemiller commented on #2742
This issue was fixed with #2758

[2022-01-18 21:51] #2742 closed

[2022-01-18 21:54] seemiller commented on #1149
The `generate-package-metadata` task was deprecated and removed.

[2022-01-18 21:54] #1149 closed

[2022-01-18 22:07] seemiller commented on #2271
I would agree with Kay, I think that those docs probably have the information that you are looking for.

[2022-01-18 22:17] #2266 closed

[2022-01-18 23:15] joshrosso commented on #2730
[RFC open](https://groups.google.com/g/tanzu-community-edition/c/EC0qddRdJzI), initially targeting closure on `02/04/2022`.

[2022-01-19 11:17] karuppiah7890 commented on #2867
@joshrosso Good catch! Yes, we need to take care of these to release the new plugin as part of v0.10.0 ! I'll try to raise a PR for this 😄

[2022-01-19 11:51] karuppiah7890 opened #2870 "Self hosted AWS runners not being available in some GitHub Actions workflows"
Below is a big list of workflows where the workflow executed for a long time with no runner available for it. Check out the links to get an idea of how sometimes the workflows went on for a few hours to a complete day without progressing and being in the queue

- https://github.com/vmware-tanzu/community-edition/actions/runs/1700138941/attempts/3
    - https://github.com/vmware-tanzu/community-edi

[2022-01-19 12:36] kcoriordan commented on #2271
@jayunit100 are you ok to close this issue based on above content?

[2022-01-19 12:37] #1005 closed

[2022-01-19 14:29] benjaminapetersen commented on #2383
Cool, we'll take a look at this.

[2022-01-19 14:35] dvonthenen commented on #2870
I think I already know what's wrong and I have run into the error before. I didn't save the error message the last time, but it's due to running out of quota for the instance type we are using. Next time it happens, the error should get captured again and I will increase the quota limits.

[2022-01-19 14:44] matthias-ontec opened #2871 "Unable to deploy management cluster with NSX-ALB"
## Bug Report

We are trying to deploy a management cluster (production) with NSX as control plane endpoint provider.
Unfortunately the deployment fails after bootstrapping with
"error: unable to recognize "/tmp/kubeapply-1460201063": no matches for kind "AKODeploymentConfig" in version "networking.tkg.tanzu.vmware.com/v1alpha1"

The behavior is the same for v0.9.1 and v.0.10.0rc2.

See screenshot

[2022-01-19 14:58] joshrosso commented on #2871
cc @vmware-tanzu/pkg-ako-operator-owners, any ideas on this bootstrap failure?

[2022-01-19 15:23] #2119 closed

[2022-01-19 15:57] joshrosso commented on #2684
Hey @jakerobinson!

Can you tell us in what way(s) it is being installed in an non-recommended way? If things are being done out of practice, we can request changes from the @vmware-tanzu/pkg-vsphere-csi-owners.

Lower-level components like CSI/CNI/etc are all bound to an official release, which we refer to as a Tanzu Kubernetes Release (TKr). This means the only **supported** way to do this is to

[2022-01-19 16:23] jpmcb commented on #2852
Hmmm I'm having trouble reproducing this.

@garrying, it'd be helpful to get a dump of information on:
- the terminal you're using / OS / environment
- the output of `echo $SHELL`
- the output of `echo $TERM`
- if you're using 256 term colors
- maybe your shell .rc file

And just to confirm, this is only happening for the download step?

[2022-01-19 16:30] jpmcb opened #2873 "`unmanaged-cluster` non-format logging methods should include new lines"
## Feature Request

Currently, within the `unmanaged-cluster` logging package, users must include a new line themselves when logging messages:

Here's an example from the cluster create command:

https://github.com/vmware-tanzu/community-edition/blob/f1e98b04554d7ae3ea3daff95a81a75c74e5d6d8/cli/cmd/plugin/unmanaged-cluster/cmd/create.go#L108

As an enhancement, we should make this interface alittl

[2022-01-19 16:48] #2425 closed

[2022-01-19 17:08] XudongLiuHarold commented on #2871
Hi @matthias-ontec , this error is because ytt template apply order, it will still apply after a retry and we fixed this in the latest release.
Could you tell what's the final state you are seeing when you create management cluster? Does it stick on initializing control plane machine? Are you able to see virtual service for this management cluster on your Avi Controller? And could you please also

[2022-01-19 17:19] ciberkleid opened #2875 "Add subnote to docs that mention to not use `:latest` when adding a package repository"
## Feature Request

Not sure if there are others, but I see at least three places where the latest version of TCE is mentioned:
1. This repo. At the time of creation of this issue, [0.9.1](https://github.com/vmware-tanzu/community-edition/releases/tag/v0.9.1) is labeled as latest
2. The package installation instructions in the docs, which at the time of creation of this issue, also say 0.9.1:

[2022-01-19 17:37] jpmcb opened #2876 "Introduce GitHub action stale bot"
## Feature Request

In favor of repo maintenance and health, we should introduce the [GitHub action stale bot](https://github.com/actions/stale).

This bot can label issues & PRs as `stale` and then close those issues / PRs given no activity.

## Additional context

We have alot of PRs that are long standing and need to be cleaned up. Doing this manually (see https://github.com/vmware-tanzu/commun

[2022-01-19 18:06] christianang commented on #2863
Hi @TYsewyn,

This feature makes sense to me. We will add it to our backlog, but we aren't sure when we will get to it. If you or anyone else would like to make a PR we be happy to offer any help necessary to make the contribution.

Thinking out loud on how I would approach implementation. This should just require a ytt overlay to be added to [here](https://github.com/vmware-tanzu/community-editio

[2022-01-19 18:20] kcoriordan commented on #2419
related to: #https://github.com/vmware-tanzu/community-edition/issues/862

[2022-01-19 18:23] garrying commented on #2852
- `macOS 11.6.2`, iTerm 2 (3.4.15)
  -  [.zshrc](https://gist.github.com/garrying/47f89b4ae05aa0b2fa48641a2565b8d2)
- `Ubuntu 20.04.3 LTS`, Hyper (3.1.5)
- on both:
  - `/bin/zsh`, `/usr/bin/zsh`
  - `xterm-256color`

Yeah, it's only happening on download step. Interesting, I'm not seeing the issue on `macOS 12.1` and I have a similar setup on it.

[2022-01-19 18:36] joshrosso commented on #2876
cc @qnetter to make you aware of this behavior.

[2022-01-19 20:18] dvonthenen commented on #2870
Ahhh I think I see the problem now. Working on a fix.

[2022-01-19 21:10] stmcginnis commented on #2665
Closing this out per Kay's comment. Please feel free to reopen if there are other specific things that need to be addressed?

[2022-01-19 21:10] #2665 closed

[2022-01-19 21:11] stmcginnis commented on #2705
This has been addressed.

[2022-01-19 21:11] #2705 closed

[2022-01-19 21:56] joshrosso commented on #2684
The reason you're seeing the re-creation of the CSI workload is due to the addons-manager-controller (management-cluster) re-creating the `PackageInstall` declaration in the workload cluster. Here's a visual representation of this:

![image](https://user-images.githubusercontent.com/6200057/150219484-66e78972-276d-47aa-8b7a-a95d940e848d.png)

## To stop this so that you can install you own CSI:

1

[2022-01-19 22:06] joshrosso commented on #2875
Hey @ciberkleid there's a few reasons we keep latest out of sync and only for development.

Without going into all of them, the primary limitation is how our hosted-harbor instance caches the `:latest` tag at the CDN level. It leads to non-deterministic resolution of `:latest` as it can resolve to different underlying images depending on the region of the world you are in.

For this reason and a f

[2022-01-19 22:17] jpmcb commented on #2709
Hi @vmware-tanzu/tce-releng - let me know if there's anything here I can help with!

[2022-01-19 23:51] vijaykatam commented on #2684
Are you asking about [this](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/features/volume_snapshot.md#how-to-enable-volume-snapshot--restore-feature-in-vsphere-csi-)? Looks like it is an alpha feature and we currently don't support it out of the box.

@joshrosso's method above should allow you to pause the reconcile so that you can manually patch `configmap/internal-f

[2022-01-20 08:09] karuppiah7890 opened #2883 "vSphere E2E test failing due `BUILD_VERSION` not being set"
We have two pipelines failing with this error

https://github.com/vmware-tanzu/community-edition/actions/runs/1721486069

https://github.com/vmware-tanzu/community-edition/actions/runs/1721486071

The issue is due to the fact that we now download and use daily build by default for vSphere E2E tests and if it's not present only then we build TCE using `make release`. And for using the daily build,

[2022-01-20 10:34] #2809 closed

[2022-01-20 15:27] #2828 closed

[2022-01-20 15:47] #2876 closed

[2022-01-20 16:05] XudongLiuHarold commented on #2871
Hi @matthias-ontec , it looks like errors happen in AKO pod instead of the error you shared here. Could you please share more logs of AKO so we can know what exactly happened? Thanks.

[2022-01-20 16:37] matthias-ontec commented on #2871
Hi @XudongLiuHarold , attached the file below. This is the output of the AKO pod. Version used is 1.4.0. Thanks!

[avi-log.log](https://github.com/vmware-tanzu/community-edition/files/7906935/avi-log.log)

[2022-01-20 16:58] #2663 closed

[2022-01-20 17:04] XudongLiuHarold commented on #2871
Hi @matthias-ontec , which Cloud you are using on Avi Controller?
From the log, it looks like this is a NSX-T cloud, which is not supported in AKO 1.4.0.

Could you please to switch to a vCenter cloud on your Avi Controller?

[2022-01-20 17:37] jpmcb opened #2890 "`unmanaged-clusters` create should have a `--kubeconfig` flag"
## Bug Report

Currently, you can "bring your own cluster" with unmanaged-clusters using the config:
[code]

where the config looks like:

[code]

But there is no option to provide just a file path to the command line

## Expected Behavior

I would expect something like this to work:
[code]

## Steps to Reproduce the Bug

Run `tanzu unmanaged-clusters create help` and see no option to provide a ku

[2022-01-20 17:56] matthias-ontec commented on #2871
@XudongLiuHarold , it is a NSX-T cloud. Would that be supported in 1.6.0? We cannot switch to vCenter cloud due to basic license of Avi.

[2022-01-20 18:19] joshrosso commented on #1879
We're declining this proposal since work has completed out of band to resolve its intent.

[2022-01-20 18:19] #1879 closed

[2022-01-20 18:23] ciberkleid commented on #2875
Thanks for the explanation, @joshrosso! Makes sense. In that case, I would turn this into a documentation request... I think it would be helpful if the docs were explicit about discouraging the use of `latest` and providing info on where to verify what the latest version is. If other users are like me, the question will come up in their minds when they come to that section of the docs (point 2 abo

[2022-01-20 19:19] ciberkleid commented on #2698
1 - looks good
2 - I guess I would move that reference info to the place where it is needed further down where it says `Make a copy of the management cluster configuration file and save it with a new name`. As is the docs says `Copy the configuration file:` in one place, then again `Make a copy of the management cluster configuration file` lower down. I would remove one of the instructions to copy

[2022-01-20 20:16] kartiklunkad26 opened #2893 "[Docs] [Kubernetes Platform Documentation | Tanzu Community Edition](/docs/latest/) Rethinking the "Getting Started" Section"
## Description

Currently the "Getting Started" section refers to two primary topics - "Managed Clusters" and "Standalone Clusters". Each of these sections include documentation for a few tasks such as installing TCE (through a couple of different methods), creating a cluster on any of the four IaaSes, installing a Tanzu Package.

This ends up making the Getting Started guides quite long. The purp

[2022-01-20 20:21] garrying commented on #2418
Keen to see Kubeapps included as a package! A few open-ended thoughts from looking at [v2.4.2](https://github.com/kubeapps/kubeapps/releases/tag/v2.4.2) with `kapp-controller` plugin deployed on TCE (Unmanaged). Note, the plugin is in Developer Preview:
- The Catalog is showing Carvel packages amongst Helm charts. For example `cert-manager`: <img width="561" alt="Screen Shot 2022-01-20 at 2 30 23

[2022-01-20 20:26] #2870 closed

[2022-01-20 21:08] joshrosso commented on #2738
We should link this.

This seems like a strange statement

[2022-01-20 21:09] jpmcb commented on #2738
One thing I would like called out is how these feature lifecycles relate to the release semver, primarily when a deprecation of a stable feature happens. In my mind, that would be a major version bump (example `1.2.3 -> 2.0.0`)

[2022-01-20 21:10] stmcginnis commented on #2738
Since we are talking about lifecycle, should we call out deprecated and removed/EOL in the stages?

[2022-01-20 21:10] nrb commented on #2738
I read it as "If a feature has a GUI component, the GUI component must be present in the beta," whereas the alpha does not require the GUI component to be present.

[2022-01-20 22:09] vrabbi commented on #2418
The next version of kubeapps which should be very soon is adding a lot of functionality to carvel package management and will make them really work well from initial testing. I think that having a package for kubeapps would be great and as it has moved to a plugin model even for the core helm chart support, maybe from a UX perspective the default value could be enable carvel and disable helm but a

[2022-01-20 22:37] vladimirvivien commented on #2864
/assign

[2022-01-20 23:42] XudongLiuHarold commented on #2871
Hi @matthias-ontec ,  I am afraid that we are not supported NSX-T cloud for using AVI to provide control plane VIP yet.

[2022-01-21 07:07] karuppiah7890 opened #2898 "vSphere E2E test pipeline failures"
Recently there were lot of vSphere E2E test pipeline failures. This issue is to capture details about the issues behind it and also to think about solutions for such scenarios where such issues occur

In mid of December 2021, there were a few vSphere E2E failures, and I noticed that #2707 was one issue. There were more failures and issues but I assumed it was all due to #2707 , my bad. I also disa

[2022-01-21 08:19] matthias-ontec commented on #2871
Hi @XudongLiuHarold , thank you very much for the quick response! What would be our options then?
Is it possible to use AVI as load balancer in the workload cluster? Could we use it with cloud type "No Orchestrator"?

[2022-01-21 10:14] denisgolius commented on #2424
Hi @stmcginnis!
Do you need any help for adding VictoriaMetrics to Tanzu Packages?

[2022-01-21 16:29] miclettej commented on #2395
@hangyan or @jpmcb the ability to skip x509 check was merged in Nov. Please feel free to close this issue as I am unable to do so. Thanks!

[2022-01-21 16:31] jpmcb commented on #2395
We haven't bumped our version of tanzu framework yet to capture those changes so we will keep this open. This was incorrectly labeled stale and we're working on modifying the stale or to ignore issues like this one that correlate to long running tanzu framework changes

[2022-01-21 16:32] miclettej commented on #2134
Hi @qnetter, I have identified the following instance types that use ARM based processors and will go ahead with filtering these out of the AWS instance type lists unless you have any objection:
M6g, T4g, A1, C7g, C6g, C6gn, R6g, X2gd, G5g, Im4gn, Is4gen

[2022-01-21 16:33] miclettej commented on #2395
Ah got it, thanks!

[2022-01-21 17:40] XudongLiuHarold commented on #2871
Hi @matthias-ontec , I think you can still use AVI to provide Load Balance type of service, but you can't use it to provide control plane VIP.

You can still install the latest version of AKOO/AKO, but use kube-vip to provide control plane VIP, after your management cluster created, you can
[code]
both fill `spec.extraConfigs.networksConfig.nsxtT1LR` with correct value, then you will be able to us

[2022-01-21 17:41] qnetter commented on #2134
@miclettej Agreed - thanks.

[2022-01-21 18:13] joshrosso opened #2903 "Include tanzu-to-go workshop content in end-to-end automated tests"
## Feature Request

The solution engineering team is running a workshop that includes TCE. It exists at [https://github.com/Tanzu-Solutions-Engineering/tanzu-to-go-workshop](https://github.com/Tanzu-Solutions-Engineering/tanzu-to-go-workshop).

I've not personally dug into this repo, but bringing up the suggestion to consider whether there's a good hook for us to test our releases against this wor

[2022-01-21 19:50] #2873 closed

[2022-01-21 19:54] stmcginnis opened #2905 "`unmanaged-cluster list` should not error if the unmanaged config dir doesn't exist"
## Bug Report

On fresh install, or where no unmanaged clusters have been created yet, attempting to list clusters gives an error:

[code]

Followed by the `list` command help since we propagate the error back to cobra. Since this is not actually an error condition, we should just assume that if the directory cannot be accessed that there are no unmanaged clusters to list and return successfully.

[2022-01-21 20:13] garrying opened #2907 "Run plugin/config initialization script as part of brew install"
## Feature Request
Currently, after running `brew install vmware-tanzu/tanzu/tanzu-community-edition`, there is a post-installation step that prompts users to run `configure-tce.sh` to complete installation and reference to an uninstall script.

As an enhancement, `configuration-tce` operations we could be included as a seamless post-install step, that does not require users to run a script separa

[2022-01-21 21:08] joshrosso commented on #2893
@kartiklunkad26 one item of note, the `standalone` getting started guide is going away in favor of `unamange-cluster`:

https://github.com/vmware-tanzu/community-edition/pull/2820

@kcoriordan can you consider this change and the feedback above. Let us know how you'd like to proceed!

[2022-01-21 21:11] joshrosso commented on #2890
As a note, we talked about moving to `--existing-cluster-kubeconfig`

[2022-01-21 21:11] joshrosso commented on #2640
closing this out due to empty description! Feel free to reopen with content.

[2022-01-21 21:11] #2640 closed

[2022-01-21 21:18] joshrosso commented on #2543
Haven't heard back. Please feel free to reach out in slack or another github issue!

[2022-01-21 21:18] #2543 closed

[2022-01-21 21:22] stmcginnis commented on #2497
Assuming this has been resolved. This behavior sounds like it was trying to reconcile the desired state, but hitting some sort of error. Slack thread is unresolved, but it was left at the need to get the logs of the capv-controller. We've since added some debug steps here that can be used to find these logs to troubleshoot:

https://tanzucommunityedition.io/docs/latest/tsg-bootstrap/#troubleshooti

[2022-01-21 21:22] #2497 closed

[2022-01-21 21:23] nrb commented on #2424
@denisgolius The core team won't be taking this on right now, but we'll leave the issue open in case someone (or you) wants to create one.

cc @qnetter for PM consideration

[2022-01-21 21:26] joshrosso commented on #627
We're way past this point and some other thing happened in its place!

[2022-01-21 21:26] #627 closed

[2022-01-21 21:28] nrb commented on #2303
This will be tackled as part of #2717

[2022-01-21 21:28] jpmcb commented on #2852
Hmmmm still not able to reproduce on mac with iTerm or the default terminal, in different shells, on my linux desktop, or in a virtual machine.

Just so we're all working off the same binary here (since it's yet released), let's connect on K8s slack and I can drop you a newly built binary to try

[2022-01-21 22:10] eshanks16 opened #2909 "Package Management doc issue at: /docs/latest/package-management"
## Description

This page directs you to github where there are {Package}.yaml files used for examples. If you use one of those files, and try to deploy with it, you get an error becausee there are #@ lines in the file and it can't deploy correctly. Users will need to know to remove those lines or replace the file with a usable yaml file.

"expected to not find annotations inside data values file

[2022-01-21 22:19] kartiklunkad26 commented on #2848
@joshrosso I've introduced more detail regarding the User Experience above. I've also created a PR for the Design Doc that describes the Metapackage as a concept in general.

Let me know if this is helpful, and what content would you like us to provide next that we can include in this issue :)

[2022-01-21 22:44] stmcginnis commented on #2909
Are we missing some details here @seemiller?

[2022-01-22 00:41] berndtj commented on #2134
I would suggest maybe using a table rather than a dropdown, so that more metadata about the instance types can be presented.  Also the table could be sortable and filterable which would be a huge help.  Currently the worker instance type dropdown is unsorted, which makes is especially hard to use.

[2022-01-22 02:17] tsrats commented on #2216
Commenting to appease the stale gods.

[2022-01-22 02:42] denisgolius commented on #2424
Ok, I will try🙂

[2022-01-22 21:43] stmcginnis commented on #2807
Hey @m2si-mmo - just curious if things ever started working for you. If you get a chance, please let me know. Thanks!

[2022-01-22 21:44] stmcginnis commented on #2752
Hi @Excpt0r - just wondering if you had a chance to run the `tanzu diagnostics` command like Josh suggested, or if things started working for you. Thanks!

[2022-01-23 09:24] m2si-mmo commented on #2807
Hi,

it's working well with the 3.6 version. Did you know when the ARM will be supported ?

[2022-01-23 20:45] stmcginnis commented on #2807
Excellent!

You may want to watch this issue: https://github.com/vmware-tanzu/community-edition/issues/2171

We can build ARM clients today, but I think most folks are looking for ARM deployments. In other works, you can use the `tanzu` CLI to create clusters on ARM today, but only if you are deploying the cluster to an amd64 environment.

We would like to be able to deploy on ARM environments, bu

[2022-01-23 20:45] #2807 closed

[2022-01-24 01:53] xieyinghong2000 commented on #2780
@stmcginnis
Sorry, it's delayed because of other things.
I have tested that Ubuntu 20.04 is OK. Now I can confirm that the reason is the low version of Linux kernel.
thank you.

[2022-01-24 01:53] #2780 closed

[2022-01-24 10:23] matthias-ontec commented on #2871
Hi @XudongLiuHarold , thank you for clarification! How could we get the current package (or repo) of AKO?
In the tanzu repo I could only find version 1.4.0, which doesn't have this parameter.
How could I get the latest repo / packages?

I appreciate your assistance very much!

[2022-01-24 13:27] stmcginnis commented on #2780
No worries - thanks for trying that out and reporting back!

[2022-01-24 14:34] jpmcb commented on #2185
Closing this as we've consumed the `tanzu-framework` `v0.10.0` release which include the changes requested in https://github.com/vmware-tanzu/tanzu-framework/issues/800

This will be apart of the next release!

[2022-01-24 14:34] #2185 closed

[2022-01-24 14:36] jpmcb commented on #2196
This work was completed as part of `tanzu-framework` v0.14.0 which we will be able to consume in a future release of TCE: https://github.com/vmware-tanzu/tanzu-framework/releases/tag/v0.14.0

[2022-01-24 14:38] jpmcb commented on #2197
New Pinniped package has been merged, just waiting to release a new package repository with those changes and then will close this!

[2022-01-24 16:18] kcoriordan commented on #2200
@thesteve0 - a note was added here:
![image](https://user-images.githubusercontent.com/80768390/150821406-e8ff7883-a9ab-47a0-957a-0036ab670d1e.png)

[2022-01-24 18:09] lubronzhan opened #2916 "Folder ends with '[568vq]' will be ignored by git"
## Bug Report

Currently, folder end with letters within`[568vq]` will be ignored, https://github.com/vmware-tanzu/community-edition/blob/main/.gitignore#L31-L32

## Expected Behavior
After creating 1.22.5 folder, `git status` should show the folder is added
[code]
## Steps to Reproduce the Bug

[code]

## Screenshots or additional information and context

## Environment Details

* Build version (

[2022-01-24 18:22] kcoriordan commented on #2698
2. Ya makes sense. done
3  I'll leave as is, I don't really see a distinction between saying  'deploy workload clusters' versus 'deploy workload cluster configurations'.
4. done

Let me know if you any other comments.
thanks

[2022-01-24 18:47] #2462 closed

[2022-01-24 18:47] jpmcb commented on #2852
Ahhhhh I think I see what's happening. Here's how I've been able to reproduce it:

---

First, remove the existing bom so it initiates a download again
[code]

Run a create which should end the download logging animation loop:
[code]

---

In a _wide_ terminal window, this is the expected result:
![Screen Shot 2022-01-24 at 11 43 09 AM](https://user-images.githubusercontent.com/23109390/150844349-

[2022-01-24 18:52] jpmcb commented on #1903
Closing as `standalone-cluster` has been deprecated and we've removed the standalone section from the docs

[2022-01-24 18:52] #1903 closed

[2022-01-24 19:10] joshrosso commented on #2717
Updates the issue description to include the https://github.com/vmware-tanzu/tanzu-framework/issues/877 work done by framework which will declare what we need to create in order to produce a Tanzu Kubernetes Release (TKr).

[2022-01-24 19:24] berndtj opened #2920 "AWS IAM roles/profiles not created when "AUTOMATE CREATION OF AWS CLOUDFORMATION STACK" checked"
## Bug Report

In order to successfully create an mgmt cluster on AWS, a set of IAM roles/policies must be present or created (via cloudformation).  The UI presents an option:

`AUTOMATE CREATION OF AWS CLOUDFORMATION STACK`

Initially, I did not check that box and was hit with the failure:

[code]

After being instructed to make sure that checkbox is checked, I re-ran the configuration and faced

[2022-01-24 21:05] lubronzhan commented on #2916
Closed due to https://github.com/vmware-tanzu/community-edition/pull/2917

[2022-01-24 21:05] #2916 closed

[2022-01-24 21:07] seemiller commented on #2259
Closing - This issue can be handled via https://github.com/vmware-tanzu/community-edition/issues/2134

[2022-01-24 21:07] #2259 closed

[2022-01-24 21:09] seemiller commented on #2255
Closing - duplicate of https://github.com/vmware-tanzu/community-edition/issues/2134

[2022-01-24 21:09] #2255 closed

[2022-01-24 21:12] seemiller commented on #2132
@nrb believes that this issue has been resolved via another PR

[2022-01-24 21:12] #2132 closed

[2022-01-24 21:15] stmcginnis commented on #2207
Hey @SOUIHEL-ayoub. Just going through and following up on open issues. Sorry I didn't check back sooner, but just wondering if you were ever able to get by this issue after running the docker cleanup commands I posted? Please let me know if you are still having problems with this, or if we can just close this out. Thanks!

@rajks24 - I guess same for you if you were able to run those commands. If

[2022-01-24 21:37] thesteve0 commented on #2513
Might be an interesting test case
https://metal.equinix.com/developers/guides/kubernetes-cluster-api/

[2022-01-24 22:53] berndtj opened #2926 "CLI/UI should allow continuation after a failed installation"
## Feature Request

There are many reasons that an installation can fail.  It would be great if one didn't need to tear everything down and start over when that occurs.  Often times there are AWS resources that have already been created before the failure, and those too need to be cleaned up.  Additionally the process of cleaning up resources is not straight forward and a little incomplete.

For i

[2022-01-24 22:58] joshrosso commented on #2926
Opened tracker issue in framework to request this work from where we inherit the `management-cluster` plugin:

* https://github.com/vmware-tanzu/tanzu-framework/issues/1545

[2022-01-25 07:40] karuppiah7890 commented on #2903
Thanks for bringing this up @joshrosso ! We'll explore the https://github.com/Tanzu-Solutions-Engineering/tanzu-to-go-workshop repo 😄

[2022-01-25 07:59] karuppiah7890 commented on #2907
Thanks @garrying ! This has been on my mind for sometime too, no one wants to read all the installation output and run more commands to finish an installation 😅 We can do better to enhance the experience. This is a great step in that direction 😄

[2022-01-25 08:03] karuppiah7890 commented on #2907
Ideally just `brew install` and `brew uninstall` should be enough and any user, without reading extra docs would try to do just that to do the installation and uninstallation of any software, very rarely extra steps like modifying `.bashrc` file etc to update `PATH` environment variable etc. It's good that more folks have started thinking about this issue. I'm hoping we will reach at a good soluti

[2022-01-25 12:22] #2725 closed

[2022-01-25 14:42] kcoriordan commented on #1780
I think this will be covered by TAP when that is available?
I think right now, the closest thing we have in the docs right now are the Guides so I can add a link to them?

[2022-01-25 15:04] kcoriordan commented on #2147
Would adding a note similar to this help?
`**Note**: while the underlying resources associated with cert-manger are installed in the cert-manager namespace the actual cert-manager package is installed in to the default namespace as per the installation output message.`

[2022-01-25 17:30] pnbrown opened #2931 "Increasing Number of Maintainer Approvals for PR"
## Bug Report

[GOVERNANCE.md](https://github.com/vmware-tanzu/community-edition/blob/main/GOVERNANCE.md) requires that we have two maintainers review each PR. Our current automated checks only require one approval.

[2022-01-25 19:44] joshrosso commented on #2684
@jakerobinson did you have a chance to try this out?

[2022-01-25 19:55] garrying commented on #2907
I can imagine instructions on configuring shell completion (`tanzu completion ...`) being shown after `brew install`—recalling other installations I've seen. Something to consider for a new issue!

[2022-01-25 21:05] dvonthenen commented on #2931
Once we move packages into their own repos, we can look into implementing this. This would cause 2 approvals for package PRs.

[2022-01-25 21:08] dvonthenen commented on #2128
closing this out as it shoudnt be the case anymore

[2022-01-25 21:08] #2128 closed

[2022-01-25 21:09] dvonthenen commented on #2127
looks like this has been resolved. if that isn't the case, please reopen and we can follow up with this.

[2022-01-25 21:09] #2127 closed

[2022-01-25 21:11] dvonthenen commented on #1821
this has been fixed and will be available in the upcoming release

[2022-01-25 21:11] #1821 closed

[2022-01-25 21:19] #1292 closed

[2022-01-25 21:21] stmcginnis commented on #1346
Hey @miclettej - looks like we never linked this to a `tanzu-framework` issue to track it. Do you know if this is still an issue? I _think_ it has been addressed, but I haven't checked lately.

[2022-01-25 21:22] vladimirvivien opened #2934 "The Conformance plugin needs some doc"
## Description

The `Conformance` plugin has an empty README.md file. As a user of community-edition, it would be nice to have (at least) a high-level doc about the plugin.

## Location

https://github.com/vmware-tanzu/community-edition/blob/main/cli/cmd/plugin/conformance/README.md

[2022-01-25 21:27] miclettej commented on #1346
Hi @stmcginnis yes we fixed this one some time back. Let me see if I can find the original TF issue.

[2022-01-25 21:33] #2863 closed

[2022-01-25 21:36] miclettej commented on #1346
I think we did it as

Hi @stmcginnis I thought we had addressed this but after reading back through comments there is some uncertainty as to whether or not we should make those fields optional. I checked git history and current state of the UI; no changes have been made for making these fields required. Is this still a valid request? I recall that the user experience around use of temporary creds

[2022-01-25 21:39] stmcginnis commented on #1346
Thanks for checking @miclettej! I'm not really sure either. I'm tempted to say that we've gotten better documentation around this, and it hasn't been an ongoing issue, so it probably could be closed. But let's wait a bit more and see if anyone else chimes in with any other feedback.

[2022-01-25 22:01] #2852 closed

[2022-01-25 22:07] vladimirvivien opened #2936 "Introduce diagnostics collection for unmanaged-clusters"
## Feature Request

This is a follow up to #2864 which was worked in #2922 to remove support for the old mode of `stand-alone` cluster.
This issue is to introduce work that needs to be done to support the new `unmanaged-cluster` mode that will be introduced in v0.10.

[2022-01-25 23:32] #2804 closed

[2022-01-26 02:02] joshrosso opened #2939 "Support `none` CNI value in `unmanaged-clusters`"
## Feature Request

Unmanaged clusters should support installing no CNI. This can easily be signified when the configuration for CNI is set to `none`.

When no CNI is installed, the user is expected to:

a. have an existing CNI
b. install a CNI after the fact

## Describe alternatives you've considered

None

## Additional context

None

[2022-01-26 02:07] joshrosso opened #2940 "A failure to resolve a CNI package should not "fail" cluster creation in `unmanaged-cluster`"
## Feature Request

While it could be a misconfiguration, an inability to resolve a CNI package should not fully fail a `unmanaged-cluster` install.

Instead a warning should be printed and the cluster install flow should complete. This enables a user to troubleshoot the failed install.

## Describe alternatives you've considered

None.

## Additional context

None.

[2022-01-26 04:40] zyyw opened #2942 "harbor package 2.4.x support caBundleSecretName for chartmuseum, core, jobservice, registry, trivy components"
## Feature Request

It would be nice to expose `caBundleSecretName`, which must contain key named "ca.crt", to the end users of harbor package so that they could inject the custom ca for core, jobservice, registry, trivy components.

## Describe alternatives you've considered

## Additional context

[2022-01-26 12:06] Excpt0r commented on #2752
Hi @stmcginnis
I was able to reproduce the problem, the container `mymgmt-cluster-md-0-7f6466d5d7-g8pqd` keeps restarting,
and during the time it runs, I see again the executed command "curl https://get.docker.com/builds/Linux/x86_64/docker-1.12.0.tgz" that hangs.
My naive thought was that there would be a simple fix, to pass the proxy configuration to curl (via ENV, curlrc or maybe /etc/systemd/s

[2022-01-26 15:19] stmcginnis commented on #2931
I think the point was we need to update the governance doc to actually reflect how we are doing things. We should also remove the wording about waiting 5 days to merge PRs.

I think now that we have a documented feature proposal process in place, that addresses the majority of what the current content of the governance doc was getting at. But it's kind of muddled, as is. We may want to think about

[2022-01-26 15:23] pnbrown commented on #2931
The wording of the 5 days is coming in another PR. Changing the approvers was a different issue.

[2022-01-26 15:50] doddatpivotal opened #2946 "Prometheus: Allow to specify tlsCertificateSecretName"
## Feature Request

Currently you must provide the contents of you tlsCertificate in the data-values file for prometheus.  This is undesirable in cases were the tlsCertificate is being managed by cert-manger.

I'd like to see a tlsCertificateSecretName parameter, so that that the user can simply reference the secret that contains the credentials.

## Additional context

This improvement was just m

[2022-01-26 15:52] doddatpivotal opened #2947 "Grafana: Allow to specify tlsCertificateSecretName"
## Feature Request

Currently you must provide the contents of you tlsCertificate in the data-values file for grafana. This is undesirable in cases were the tlsCertificate is being managed by cert-manger.

I'd like to see a tlsCertificateSecretName parameter, so that that the user can simply reference the secret that contains the credentials.

## Describe alternatives you've considered

## Additio

[2022-01-26 15:57] stmcginnis opened #2948 "Url linter should not fail on certificate error"
## Bug Report

A recent patch adding an adopter is failing on the link to their web site with the error:

[code]

Going to the site directly, it looks like their certificate is fine. So this maybe isn't picking up the host's configured certificate authorities.

But after talking this through, in general we should not care about invalid certs, only that the link actually goes somewhere. So the chec

[2022-01-26 16:44] jonasrosland commented on #2931
So is the consensus of the maintainers then that you don't want to implement 2 approvers for PRs? It's a common rule that many other projects follow. Just want to make sure we're doing the right thing here.

[2022-01-26 19:54] stmcginnis commented on #2752
Thanks @Excpt0r - still asking around. In the meantime, I was directed to a little more detailed proxy information than what we have in the  TCE docs. Could you take a look through this and see if there's anything standing out that's missing in your setup?

https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.4/vmware-tanzu-kubernetes-grid-14/GUID-mgmt-clusters-create-config-file.html#proxies

[2022-01-26 20:02] stmcginnis commented on #2752
OK, a little more information. Proxy-only access may not be a supported feature. The issue is we deploy various services into the cluster that themselves do not support proxy access for the things they need to do.

Will report back if I find out more details about that.

[2022-01-26 20:31] Excpt0r commented on #2752
Thanks for the update.
I had a look at the proxy docs but don't see anything missing. The proxy does not need authentication, and vSphere is not involved.

Would also be interesting if this is a problem with TCE in combination with docker provider, TCE in general, or even TGK is not supporting airgapped environments.
Any docs about the technical difference between TCE and TKG would be appreciated.

[2022-01-26 21:02] joshrosso commented on #2947
@vmware-tanzu/pkg-grafana-owners

[2022-01-26 21:02] joshrosso commented on #2946
@vmware-tanzu/pkg-prometheus

[2022-01-26 21:07] joshrosso commented on #1678
cc @vmware-tanzu/pkg-velero-owners any status on this? Is it still something we want to improve or possible already have?

[2022-01-26 21:08] joshrosso commented on #1440
Seems docs have been added. if not, please feel free to reopen this issue!

[2022-01-26 21:08] #1440 closed

[2022-01-26 21:09] stmcginnis commented on #2752
Other than some package versions, for the most part they are the same today. Which helps in that any existing docs for TKG that don't have an equivalent in the TCE docs yet can usually be followed with no difference.

If you wanted to try fully airgapped instead of going through a proxy, you could try these:

https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.3/vmware-tanzu-kubernetes-grid-

[2022-01-26 21:09] joshrosso commented on #1437
@qnetter any update on this? Something we still want to get in the roadmap or potentially prioritize?

[2022-01-26 21:13] joshrosso commented on #1346
This is still an issue on v0.10.0, but perhaps it got fixed in a later release, we'll keep track of this to ensure there's some resolution.

![image](https://user-images.githubusercontent.com/6200057/151247892-743acf04-4824-4549-a152-44115da845b5.png)

[2022-01-26 21:14] joshrosso commented on #1346
We're going to close this issue to see if it ends up causing confusion in the future. For now it feels like there's not a clear path forward.

[2022-01-26 21:14] #1346 closed

[2022-01-26 21:37] qnetter commented on #1437
I think we do want to do this, and there is momentum internally and externally toward kube-vip.

[2022-01-26 21:42] qnetter commented on #2752
TCE has a greater scope than TKG alone - its scope more corresponds to Tanzu Standard minus SaaS and proprietary components, and is on its way to being more like Tanzu Advanced minus SaaS and proprietary components.

[2022-01-26 21:49] stmcginnis commented on #1064
We are looking to make this whole experience better with https://github.com/vmware-tanzu/community-edition/issues/2730

Going to close this specific issue in favor of that overall proposal. Please watch that issue and/or leave comments on the proposed plan. Thanks!

[2022-01-26 21:49] #1064 closed

[2022-01-27 00:26] dashaun commented on #2171
I'm not convinced this use case is harder or easier to achieve.

I would like to add ARM64 node(s) to an existing x86 cluster.

[2022-01-27 00:41] stmcginnis commented on #2171
I have heard some talk of mixed clusters, but mostly for mixing Linux and Windows nodes. I'm not sure how difficult that would be for ARM, but I think management of workloads would still come down to label matching. So possible.

[2022-01-27 06:35] blackpiglet commented on #1678
I will look into this.
I'm working on update Velero Carvel package version. v1.7.1 is already added.
Planning to add v1.8.0 after Chinese Spring festival, after that, I suppose the version mismatch should be resolved.
For the example image issue, we need to discuss to reach agreement on it in Velero team. Currently, we are facing the same issue on Velero BYOT test in vSphere environment too.

[2022-01-27 11:44] karuppiah7890 commented on #2948
cc @aman556 who was recently working on this to move the url linter to TCE repo. Related PR - #2746

[2022-01-27 11:51] aman556 commented on #2948
Thanks @stmcginnis for pointing this out will have a look and try to resolve this.

[2022-01-27 12:25] aman556 commented on #2948
@stmcginnis issue is resolved for complete contests please have a look at https://github.com/vmware-tanzu/community-edition/pull/2746#discussion_r793540434. Once [#2746 ](https://github.com/vmware-tanzu/community-edition/pull/2746) got merge this issue will be resolved.
Thanks!

[2022-01-27 14:12] tsrats commented on #2171
I have been running a vanilla Kubernetes cluster with x86 and ARM since the release of the ESXi on ARM fling. With so many container images cross building for both platforms, it is not too difficult to manage. Anything that needs to run on one or the other just needs a label on the deployment.

[2022-01-27 15:51] #2883 closed

[2022-01-27 17:26] #2948 closed

[2022-01-27 18:21] kcoriordan opened #2956 "Missing OS image step in AWS doc"
## Description

The installer has a “Step 7: OS Image” that isn’t documented: https://tanzucommunityedition.io/docs/latest/aws-install-mgmt/

## Location

## Additional Context

[2022-01-27 19:21] garrying opened #2958 "Missing Release Process page in TOC"
## Description

`/docs/latest/contribute/release-process/ ` is being indexed in Algolia, and appears as a search result, because it is listed in `sitemap.xml`. The page is not in the TOC or linked in other pages as far as I can tell.
- Should the page be listed on the site?
- and is the content still relevant? Last major update was in July, 2021

## Location

- https://tanzucommunityedition.io/doc

[2022-01-27 19:26] #2939 closed

[2022-01-27 19:26] #2940 closed

[2022-01-27 19:34] kartiklunkad26 commented on #2907
+1 for this feature. Are there technical reasons of why we have defined the configure-tce.sh as a follow-up step to `brew install` command?

[2022-01-27 19:56] seemiller commented on #2907
Yes, there are technical concerns why running the `configure-tce.sh` script is a manual step after `brew install`.

First item to know is that tanzu-framework, on which TCE is based, utilizes the `~/.config/tanzu` directory for storing configuration. Notice that this location is in the user's home account.

Second, Homebrew runs installations inside of a child, subprocess. This child process is es

[2022-01-27 20:25] kartiklunkad26 commented on #2847
@joshrosso added a lot more detail to the UX section especially. Will also add more about the implementation details.

While we do that, please let us know if you have questions about the proposal.

[2022-01-27 20:39] #2875 closed

[2022-01-28 19:19] joshrosso commented on #1293
This project is officially lead by product management, who owns the roadmap going forward.

The roadmap PR is available at https://github.com/vmware-tanzu/community-edition/pull/2913. And can be viewed, once merged, in the `ROADMAP.md`.

Please refer to that location going forward.

[2022-01-28 19:19] #1293 closed

[2022-01-28 21:18] #2867 closed

[2022-01-28 21:35] jakerobinson commented on #2684
All good, @joshrosso! Thanks for the info!

[2022-01-28 21:35] #2684 closed

[2022-01-28 23:40] PushkarJ opened #2967 "[Proposal] Image Vulnerability Scanning for Tanzu Packages"
# Image Vulnerability Scanning for Tanzu Packages

*Design doc*: https://github.com/vmware-tanzu/community-edition/pull/2968

## Summary

Create a periodically running job that:
- Identifies all the images that are part of available tanzu packages
- Runs a vulnerability scan on each image
- Fails when an actionable vulnerability is found

## Motivation

Tanzu Community Edition is shipped prebaked

[2022-01-29 03:20] 5280tunage opened #2970 "MGMT cluster on vSphere - single or multi - stuck at initial network configuration"
## Bug Report

Hi there, looking for some help with an issue that is happening every time I try to deploy a management clusters (development or production template) to a vSphere 7.0.2 Cluster running vCenter 7.0.3.

Current setup:
Windows 10 VM on vCenter/vSphere Cluster - running Docker Desktop just fine, no connection issues to hosts, clusters, vcenter.
Deployment Win10 Box has all pre-reqs inst

[2022-01-31 12:24] kcoriordan opened #2974 "Add instructions for downloading the windows binary and document"
## Description

request from
@ @thesteve0
We really should not require chocolately for Windows install, just like we don't require homebrew on Linux. While chocolately is cool and some people are using it, asking people to install a whole package management system just to install our software is a pretty intrusive requirement.For me personally, I would stop looking at this point bc I wouldn't want

[2022-01-31 14:43] kcoriordan opened #2976 "Add documentation for downloading/installing the mac binary"
## Description

For consistency across doc, add steps for binary download install for mac.

related to: #2973
## Location

## Additional Context

[2022-01-31 15:33] kcoriordan commented on #2875
Opening a new issue for 'adding a comment to the docs explaining to the user not to use latest' as per request from @ciberkleid.

[2022-01-31 15:34] kcoriordan opened #2977 "Add comment not to use 'latest' in docs"
## Description
Add a comment to the docs explaining to the user not to use latest' as per request from @ciberkleid in #2977.

Hey @ciberkleid there's a few reasons we keep latest out of sync and only for development.

From @joshrosso  in #2977
`Without going into all of them, the primary limitation is how our hosted-harbor instance caches the :latest tag at the CDN level. It leads to non-determini

[2022-01-31 15:41] qnetter commented on #2976
Thanks!

[2022-01-31 16:04] kcoriordan opened #2978 "Ignore - test 'Projects' value"
## Description
test 'Projects' value

## Location

## Additional Context

[2022-01-31 16:14] joshrosso commented on #2907
Sorry, didn't mean to close.

I do think this issue hits at a very desirable feature: You should be able to 1-click/1-command install the components of TCE.

[2022-01-31 16:23] #2978 closed

[2022-01-31 16:44] inacioikeda opened #2979 "Error deploying - Images not pulling"
## Bug Report

Hello everybody.

I have a problem at the time of deploy, where some images are not downloaded, causing the installation not to finish.

## Expected Behavior

![image](https://user-images.githubusercontent.com/8295045/151835560-b5d57f4a-d2a9-4501-ae41-a18bf2bd2756.png)

## Steps to Reproduce the Bug

1. tanzu management-cluster create --file confs/cluster-mgmt/cluster-mgmt.yaml

##

[2022-01-31 17:06] joshrosso commented on #2979
Hi @inacioikeda,

This is a really obscure behavior! Seems like the manifest said the layer of the container image with different from what it actually is/was.

I'm not able to re-produce this exact behavior, I wonder if it was a blip or something in the networking layer
Any chance you can try to delete everything and recreate the cluster?

Let me know if you get the same behavior!

![image](https

[2022-01-31 17:51] inacioikeda commented on #2979
I'll re-create, but this action already done before.

Thanks

[2022-01-31 18:32] joshrosso commented on #2979
Thanks! I double verified there is no issue with the container image:

[code]

[code]

[code]

You _could_ try these steps on your bootstrap machine to verify!

[2022-01-31 18:53] dashaun commented on #2171
I also have existing mixed-arch clusters running: amd64 + ARM64 + armhf.

[2022-01-31 21:06] stmcginnis commented on #2970
Hi @5280tunage - thanks for reaching out. I have seen similar failures to this when someone tried to deploy in an environment that did not have DHCP addresses available. Can you confirm that your environment has DHCP available and that the VMs are being created on a network that is able to get those request/responses?

[2022-01-31 21:11] jpmcb commented on #2958
Good catch - we are thinking this isn't something that needs to be generated. Assigning David to move this somewhere where it _won't_ get generated into the docs site.

[2022-01-31 21:26] jpmcb commented on #772
No description on this one - feel free to create a new one with a desc!

[2022-01-31 21:26] #772 closed

[2022-01-31 21:47] inacioikeda commented on #2979
After redeploy again (3 once), the image was pulled and the cluster is up.

Thanks and best regards.

[2022-01-31 21:47] #2979 closed

[2022-01-31 22:40] 5280tunage commented on #2970
Thanks @stmcginnis for your response.  As I believe I threw in the description, the vlan these VM's is assigned to has other K8s lab nodes that have been working just fine with DHCP and booting.  I did just double check, just to be sure, the DHCP scope on the router for that segment only has 23 current leases out of 200 available addresses, so that shouldn't be the issue.

Maybe this would help, c

[2022-01-31 23:05] jpmcb commented on #2159
Hi @berlin-ab, I don't believe there's a way right now to list the available cluster plans. If that sounds like something you'd like to propose a feature for, head over to the https://github.com/vmware-tanzu/tanzu-framework and file an issue!

[2022-01-31 23:43] stmcginnis commented on #2970
When the VM is deployed, it still required DHCP to provide it an IP address. After it is up and running, it still uses DHCP, but assigned a virtual IP address based on the provided static one from the configuration.

You had mentioned not receiving an IPV4 address, only IPV6, so that is why I asked. Something must be preventing it from properly getting its own address. I'm not sure what that could

[2022-02-01 01:26] qnetter commented on #888
@joshrosso has any work for the core team been identified on the road to TMC Starter?

[2022-02-01 01:58] joshrosso commented on #2979
@inacioikeda you're welcome. Thanks for following up with us.

[2022-02-01 04:43] 5280tunage commented on #2970
I actually just deployed a VM from the PhotonOS template (photon-3-kube-v1.21.2+vmware.1) and within seconds of booting it received a valid DHCP address in the correct VLAN.  While I wasn't able to login to the VM (root pass doesn't seem to be the default photon root), i was able to ping the VM from several servers and workstations just fine.  Definitely weird but I agree that was a good test.  Gi

[2022-02-01 11:30] kcoriordan opened #2984 "Add note linking to FAQ entry in Windows installation doc"
## Description

As this [Windows installation error](https://tanzucommunityedition.io/docs/latest/faq-cluster-bootstrapping/#x509-certificate-signed-by-unknown-authority-when-deploying-management-cluster-from-windows) will affect >20% users, mention it and link to it in the Windows installation procedure.

This is target to be fixed in v0.11.0  #1398

## Location

## Additional Context

[2022-02-01 13:25] joshrosso opened #2985 "Bump tanzu-framework dependency to 0.16"
Let's bump the tanzu-framework dependency to 0.16.

While we're still working through the release of `0.10.0`, let's start a `next` branch to start making this move.

Please note the biggest change is the new [context aware plugin](https://github.com/vmware-tanzu/tanzu-framework/blob/main/docs/design/context-aware-plugin-discovery-design.md) functionality. Our plugins should ideally still install

[2022-02-01 13:26] joshrosso commented on #2985
@dvonthenen is this something you could start chipping away at today?

[2022-02-01 13:30] jorgemoralespou opened #2986 "Allow to inject a cluster local CA to the nodes"
## Feature Request
When using cert-manager for certificate generation and using a [CA Issuer](https://cert-manager.io/docs/configuration/ca/) we might need to also inject that CA into the node's containerd so that it can be used to secure an in cluster registry and images can be pulled from it. This is typically useful for local development environments where a developer might have a local CA gene

[2022-02-01 13:34] jorgemoralespou opened #2987 "Provide stop/start lifecycle hooks in unmanaged clusters"
## Feature Request
For unmanaged clusters it would be ideal to be able to have a start/stop feature so that you don't have the cluster up and running always. Given this cluster is local, it would help on saving resources on the developer's machine when he's not using the cluster to be able to stop it. Similar to what Docker Desktop does now with the ability to pause DD to save resources:

![image]

[2022-02-01 13:46] kcoriordan opened #2988 "Document node pool management and use of different VM types"
## Description

Do we need to add content about Manage Node Pools of Different VM Types

https://kubernetes.slack.com/archives/C02GY94A8KT/p1643719823284929

](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.4/vmware-tanzu-kubernetes-grid-14/GUID-tanzu-k8s-clusters-node-pool.html)

## Location

## Additional Context

[2022-02-01 13:53] joshrosso commented on #2988
Yes, let's add this at some point. Not urgent though.

[2022-02-01 14:43] joshrosso commented on #882
@kcoriordan is investigating existing models for versioning.

If the project needs to figure this out, we'll switch ownership from Kay to engineering resources.

[2022-02-01 14:56] DennisFaucher commented on #2730
What about something similar to what Linux distros use for installation? A simple screen with one line the describes the current activity and the progress speedometer of that activity. The activity can be expanded to show detail if needed. Does not need to be a GUI, can be ascii/curses/whatever-based
![fedora_progress](https://user-images.githubusercontent.com/9034190/151992037-6e989db9-19c7-4051-

[2022-02-01 15:02] stmcginnis commented on #2730
Great idea @DennisFaucher. That's a slightly different approach from what is being proposed here, but I could see that as a great follow on. If we make the updates proposed in the design doc, the UI could read those and update the output like the example you show. Then there could be a "Details" expander or something that would give the full output.

What do you think @miclettej ?

[2022-02-01 15:03] kartiklunkad26 commented on #2907
If the implementation is where it makes it difficult to do it part of brew install, I can imagine `init` type of commands with the tanzu CLI that can help initialize the environment including plugins. I also imagine the `init` process should be consistent for the Tanzu CLI across all Tanzu products but that might be a stretch user outcome.

[2022-02-01 15:12] joshrosso commented on #2730
I agree that it's a great suggestion :tada: , but something we should consider for larger UI work and keep this proposal scoped to giving bootstrap log visibility.

For our future consideration, how do a progress UI like this differ from the kickstart UI?

![image](https://user-images.githubusercontent.com/6200057/151994999-e453e12c-a120-48c3-abbf-6e59c03ee9f5.png)

[2022-02-01 16:25] stmcginnis commented on #2970
That sounds like there is some metadata being left behind in `${HOME}/.config/tanzu/clusterconfigs` (I think that's the same on Windows).

Can you compare the configuration of the machine being created by TCE with the configuration used in your successful test? There really shouldn't be any difference when created with TCE, so it seems like it would have to be something underneath. Same vSwitch, s

[2022-02-01 16:45] AndriyKalashnykov opened #2990 "Add references to Cloud Infrastructure Providers implementation repositories"
## Description

TCE used Cloud Infrastructure Providers, but it does not reference where respective repositories are located. User may have hard time locating those implementations.

## Location

[Support Matrix](https://tanzucommunityedition.io/docs/latest/support-matrix/#infrastructure-providers-target-platforms)

## Additional Context

Modify `Support Matrix` by adding links to repositories of

[2022-02-01 17:07] #1780 closed, assigned to nobody

[2022-02-01 17:09] #2698 closed

[2022-02-01 17:14] miclettej commented on #2730
To Josh's point, we have something like this in the UI but may need to adjust the granularity of steps or filtering of logs. What we know from customers is that they like to know what stage of the deployment they are on, and what is remaining to complete. The step progress on the left was added in response to customer feedback. We can adjust appearance or granularity of steps/messaging to the cust

[2022-02-01 17:18] jpmcb commented on #1587
Closing - standalone-clusters are being deprecated in v0.11.0 in support of transitioning to unmanaged-clusters

Ref: https://github.com/vmware-tanzu/community-edition/issues/2266

[2022-02-01 17:18] #1587 closed, assigned to jpmcb

[2022-02-01 18:05] kartiklunkad26 commented on #2848
@joshrosso heads-up @mstergianis and Chris Samp have started work on this. Michael/Chris - feel free to ask the TCE team questions here or in the #tanzu-community-edition Slack channel in Kubernetes workspace.

[2022-02-01 18:17] nrb commented on #2716
Using the following versions from upstream tanzu-framework, I was not able to get a different UI with `management-cluster create`. The UI in the screenshot was the same whether my `edition` in `~/.config/tanzu/config.yaml` was `community-edition` or `tkg`.

[code]

![Screen Shot 2022-02-01 at 1 13 35 PM](https://user-images.githubusercontent.com/321387/152026989-185b04de-5db4-4749-b1f9-4f413c0a5a6

[2022-02-01 18:23] nrb commented on #2716
Inspecting some of the framework code, using `edition: tce` in the `~/.config/tanzu/config.yaml` file _does_ change the UI to the TCE branding.

[code]
![Screen Shot 2022-02-01 at 1 21 27 PM](https://user-images.githubusercontent.com/321387/152027656-ec24a52a-8208-44cd-8653-5cc0ab8c652e.png)

Additionally, I double checked the framework code, and the edition can currently [only be set via the conf

[2022-02-01 18:29] nrb commented on #2716
The value can also be changed via `tanzu config set cli.edition`.

[code]

[2022-02-01 18:56] seemiller opened #2991 "Edits for Package Maintenance Docs"
## Bug Report

The new package maintenance docs need some editing.

* Fix typos
* Fix broken links
* Add some missing content

[2022-02-01 19:04] joshrosso opened #2992 "Verify TMC Integration works for registering TCE clusters"

[2022-02-01 19:21] joshrosso commented on #1308
@qnetter to follow-up with PM to determine if we should try to do this in v0.11.0

[2022-02-01 20:26] #2976 closed

[2022-02-01 21:06] stmcginnis commented on #2986
cc @qnetter

[2022-02-01 21:43] 5280tunage commented on #2970
So I actually did another quick test today.  I took the exact OVA/template that I reference in the build (photon-3-kube-v1.21.2+vmware.1), converted it to a VM, booted the VM, and voila, in less than a minute it was sitting at a root login prompt and I could ping it's ipv4 address via any computer in the network.  vCenter was properly updated with the IP address that vmtools was reporting.

So wit

[2022-02-01 22:10] #2991 closed

[2022-02-01 22:28] joshrosso opened #2995 "Make TCE edition detectable in management cluster"
## Feature Request

In order to support systems such as Tanzu Mission Control, there should be a way to detect whether a management-cluster was bootstrapped via TCE. This should be done via an annotation in the cluster object that says `edition: tce`.

## Describe alternatives you've considered

None

## Additional context

This is largely a tracker issue for:

* https://github.com/vmware-tanzu/ta

[2022-02-01 23:27] seemiller commented on #2736
Reopening to capture desire to host these documents separate from other documentation

[2022-02-01 23:46] qnetter commented on #1308
This is a thinking-out-loud bit but: maybe we want a better approach based on stable or leading-edge repo... The easiest for us, of course, is just to tell them to set it by CLI or UI...

[2022-02-02 00:12] joshrosso commented on #2798
Just an FYI that I did build with v0.17 (of framework) today and this worked great.

[2022-02-02 11:05] kcoriordan opened #3002 "Add example application deployment to docs"
## Description

@thesteve0
Do we want to add an example in doc showing how to Deploy a Test Workload.
If so do we want to reuse one of the ones listed here or provide something new

Here is a simple example that @thesteve0 tested that works:
https://docs.vmware.com/en/VMware-vSphere/7.0/vmware-vsphere-with-tanzu/GUID-5DFC347C-694B-4288-96DA-EAEB5818D951.html

Here is another example that needs a l

[2022-02-02 11:42] kcoriordan opened #3003 "Reword Create Workload Clusters doc"
## Description

 For this doc
https://tanzucommunityedition.io/docs/latest/workload-clusters/#procedure
Assume you made a dev management cluster but then you want a prod workload cluster. In step 5 you set it to prod.On step 6 and 7,  the variables it says to edit won't actually exist because we are modifying a config for a dev management cluster.Do we think it should say "add or edit" or is it cl

[2022-02-02 11:50] kcoriordan commented on #2641
this needs to be re-added now that https://github.com/vmware-tanzu/community-edition/pull/2868 is merged

[2022-02-02 17:31] jpmcb opened #3005 "Remove `standalone-cluster` in `v0.11.0`"
In support of the new `unamanged-cluster` model, we are deprecating `standalone-cluster` in v0.11.0

Reference the following proposal in regards to implementing `unmanaged-cluster` and removing `standalone-cluster`: https://github.com/vmware-tanzu/community-edition/issues/2266

cc @qnetter

[2022-02-02 18:01] jpmcb opened #3008 "Remove `standalone-cluster` from e2e tests in `external-dns` addon"
cc @vmware-tanzu/pkg-external-dns-owners team

We are removing the deprecated `standalone-cluster` plugin in v0.11.0 of TCE. The e2e tests currently rely on `standalone-cluster`.

We are introduced `unamanged-cluster` in v0.10.0 which should suffice for your e2e tests.

Reference: https://github.com/vmware-tanzu/community-edition/issues/3005

[2022-02-02 18:08] kcoriordan commented on #2147
@mikegehard - I did a few more updates on this now, want to take a look a the PR #2930

[2022-02-02 18:19] qnetter opened #3009 "Remove CAPI specifics from roadmap"
## Bug Report

The ROADMAP.md doc mentions CAPI and a version of it explicitly - it should not, as that is an implementation detail and not in the scope of this team or repo.

## Expected Behavior

## Steps to Reproduce the Bug

## Screenshots or additional information and context

## Environment Details

* Build version (`tanzu version`):
* Deployment (Managed/Standalone cluster):
* Infrastructur

[2022-02-02 18:29] #2984 closed

[2022-02-02 18:33] #3009 closed

[2022-02-02 21:03] joshrosso commented on #3008
cc @vmware-tanzu/pkg-external-dns-owners

[2022-02-02 21:07] joshrosso commented on #3002
Sounds great. Can we introduce a Guide for `Deploying a sample app` and link it at the end of our getting started guide.

Something like "Next Steps", perhaps?

[2022-02-02 21:18] joshrosso commented on #2992
@berndtj are you and/or someone from your team able to look at this proposal and let us know if it makes sense based on  your understanding of needs for TCE+TMC interop?

[2022-02-03 00:23] mfine30 commented on #2992
Overall this looks like what I would expect, at least from a product perspective. I have a few questions just to confirm things though.

I see an Issue titled: "TMC must be able to use the tanzu-framework library to create TCE-specific workload clusters" but don't understand enough of the actual issue under it #2716 to know if that will solve the tile description. I assume it will since you linked

[2022-02-03 00:46] tylerschultz commented on #3008
Hi Friends,

We're looking to remove the reference to `./test/docker/run-tce-docker-standalone-cluster.sh` from the `external-dns` test `README.md` and replace it with a reference to an updated script and/or Makefile task that uses `unmanaged-cluster`.
There doesn't appear to be such scripts or Makefile tasks yet. We can certainly add a task/script, but we'd like to check in with you first. Though

[2022-02-03 00:53] 5280tunage commented on #2970
I've done a ton more troubleshooting, still to no avail.  Really not sure what else to do.  As stated, deploying a VM from either template in vCenter to exactly the same network works perfectly fine every time.  I thought I may have found an issue, in that the IPV4 settings in the downloaded OVA didn't have DHCP checked in the OVA settings, I changed those settings and converted back to a Template

[2022-02-03 02:05] joshrosso commented on #2992
@mfine30 thanks for the follow-up.

Yes, https://github.com/vmware-tanzu/community-edition/issues/2716 aims to solve a case where the tanzu `management-cluster` and `cluster` CLI plugins (from tanzu-framework) can operate against TCE and TKG clusters with the same binary.

I'd need guidance from TMC if more than this is needed.

Based on the current plumbing, TMC will know that the workload cluste

[2022-02-03 06:03] 5280tunage commented on #2970
Also just followed this doc to make sure my dhcp server is sending the correct dhcp options.  I can't believe I'm somehow the only person experiencing this...  I have a pretty common lab setup, HP hosts, NFS storage, 7U3 vCetner, 7U2 hosts, distributed virtual switches without NSX...

https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.4/vmware-tanzu-kubernetes-grid-14/GUID-mgmt-clusters-vsp

[2022-02-03 12:18] stmcginnis commented on #3008
@karuppiah7890 @rajaskakodkar is that script something your team maintains for release testing?

I would assume we would want something similar using `unmanaged-clusters`, but not sure who is best to own that.

[2022-02-03 14:07] karuppiah7890 opened #3022 "vSphere E2E test failing abruptly"
A lot of the vSphere E2E tests have been failing recently 😅 🙈

https://github.com/vmware-tanzu/community-edition/actions/workflows/e2e-vsphere-management-and-workload-cluster.yaml

https://github.com/vmware-tanzu/community-edition/actions/workflows/e2e-vsphere-standalone-cluster.yaml

Root Cause - Initially the pipelines failed due to `BUILD_VERSION` not being set, which was reported in #2883 and

[2022-02-03 14:53] kcoriordan opened #3023 "Update the OVA links in docs for v0.10.0"
## Description

Update 2 locations in the doc that link to TCE v0.9.0 OVA on Customer Connect - change to v0.10.0 link

1. Step 1  in this [procedure ](https://tanzucommunityedition.io/docs/latest/vsphere/#procedure) in the Prepare to Deploy a Management Cluster to vSphere  topic

2.  Step, 1, 2, 3, 7, 9 in the vsphere tab in [getting started guide](https://tanzucommunityedition.io/docs/latest/get

[2022-02-03 15:27] jwntrs opened #3024 "Add Cartographer as a package to TCE"
# Add Cartographer as a package to TCE

## Feature Request

### Problem
A path to production is a way of codifying an application’s value stream map as it makes its way from a developer’s workstation to a production environment.

Although Kubernetes has a rich ecosystem of APIs and tools to do the work, managing the communication paths between these resources can still be a big pain.

### Cartogra

[2022-02-03 15:32] joshrosso commented on #3024
Hi @jwntrs,

Please review our [package maintainer documentation](https://github.com/vmware-tanzu/community-edition/tree/main/docs/packaging).

If you're good with the above, let us know and we're happy to then approve this proposal and can accept a PR whenever your package is ready.

If you (or your team) cannot do what's described in those docs, let us know so we can figure out a plan.

Thank yo

[2022-02-03 15:48] jorgemoralespou opened #3025 "Proposal: Provide meaningful exit error codes for `unmanaged-cluster`"
## Feature Request
When executing the plugin from within a script it is almost impossible to know what is the reason of a failure without parsing the output file and processing it. It'll be ideal that every error would provide a different error exit code (!=0) and that these are documented so that embedding "unmanaged-cluster" functionality in other tools can be easier.

[2022-02-03 17:54] berndtj commented on #2992
I think what @mfine30 is getting at is that ideally a workload cluster attached only (i.e. registered management cluster) should also be detectable by TMC as coming from TCE (or TKG for that matter).

cc: @steven-zou

[2022-02-03 17:54] tcdowney opened #3029 "Provide a linkable non-version scoped page for each package"
## Description

This is a suggestion. It would be nice if each package had a higher level "landing page" that wasn't scoped to a particular version or an evergreen "latest" version. For example, I want to be able to write documentation that instructs users to install the latest version of Contour from TCE and link them to it. Right now I can only link to a specific version so anytime Contour is up

[2022-02-03 17:58] mfine30 commented on #2992
Here are the user stories that I have in mind driving this:
1. As a TMC/TCE user, I can register a TCE management cluster to TMC
2. As a TMC/TCE user with a registered TCE management cluster, I can use that management cluster to provision a TCE workload cluster
3. As a TMC/TCE user, I can identify that a management cluster registered to TMC is TCE vs TKG
4.  As a TMC/TCE user, I can identify that

[2022-02-03 19:20] jorgemoralespou opened #3030 "Knative serving on Docker (mac, windows) provider only works if "real" is selected"
## Description
Knative serving package does use magic-dns to configure DNS with the clusterIP of the envoy service when using sslip.io and nip.io and not reaal. The problem in docker provider on Windows and Mac is that the clusterIP provided is not accesible from the host, so a user needs to do 2 things:
- make sure that contour is exposed on the local host (standalone and unmanaged works differen

[2022-02-03 19:24] joshrosso commented on #2754
I verified today that `unmanaged` works in rootless mode. Since we'll be removing standalone in v0.11.0, i'll close this issue.

[2022-02-03 19:24] #2754 closed

[2022-02-03 19:34] joshrosso commented on #2992
@berndtj @mfine30, makes sense.

Can you please verify `4` and `5` **are** required out of the gate?

[2022-02-03 19:36] joshrosso commented on #2641
sorry! closed by mistake

[2022-02-03 19:37] joshrosso commented on #2240
closing this in favor of ticket tracking 0.30 :+1:

* https://github.com/vmware-tanzu/community-edition/projects/15

[2022-02-03 19:37] #2240 closed

[2022-02-03 19:45] mfine30 commented on #2992
Yes I'd consider 4 and 5 as required as well. I worry that only doing 1-3 creates a sub-par UX that looks to customers like we forgot to finish it.

[2022-02-03 20:20] seemiller commented on #1729
Can confirm that `3.7.0` is in the `0.9.2` package repository.

[code]

[2022-02-03 20:20] #1729 closed

[2022-02-03 21:16] kartiklunkad26 commented on #2848
Heads-up - I've removed references to the "developer" profile mostly, and focused on the "App-Platform" metapackage. The name may change!

[2022-02-03 21:26] joshrosso commented on #2736
The proposal closed out based on work done in https://github.com/vmware-tanzu/community-edition/pull/2980.

We made a call as a project to keep this content in GitHub for the near term, reference:

https://github.com/vmware-tanzu/community-edition/tree/main/docs/packaging

[2022-02-03 21:26] #2736 closed

[2022-02-03 23:19] joshrosso commented on #2992
k, i'll spec it out in the proposal above.

@mfine30 and @berndtj how do you do this detection for `4` and `5` with TKG **workload** clusters today?

[2022-02-04 01:18] joshrosso opened #3033 "Determine how the v0.11.0 release BOM will be produced"
We're aiming to release `v0.11.0` in the late March time-frame.

Due to new requirements to use an `antrea-standard` package, we moved to leveraging a Bill of Materials (BOM) produced by Tanzu Framework.

Let's use this issue to get details on who will produce the BOM for the TCE v0.11.0 release.

[2022-02-04 01:19] joshrosso commented on #3033
Hi @navidshaikh, while we're still pretty far out, I wanted to get in front of this future release and make sure we know who will be producing the v0.11.0 BOM and what's needed from the TCE team.

When March rolls around, what info is needed from us to kick off this process?

[2022-02-04 01:51] jpmcb commented on #3025
Love this!

Wondering if this needs it's own proposal or if @stmcginnis's proposal around improving error handling and visibility during bootstrapping incorporates this. But regardless, this probably warrants it's own proposal so we can have some buy in from the community on what the codes might mean.

[2022-02-04 01:53] jpmcb opened #3034 "`unmanaged-cluster` should resolve the OCI kbld image when pulling kapp-controller"
## Bug Report

Currently, for unmanaged-clusters, we are not introspecting the OCI kbld package for any `replace` statements. So the default docker hub image will get used for kapp-controller. This _may_ lead to users experience docker-hub rate limiting.

## Expected Behavior

We should
- pull in the kbld library
- resole the image correctly, including replace statements

[2022-02-04 07:24] karuppiah7890 commented on #2488
One more example is - https://github.com/vmware-tanzu/community-edition/actions/runs/1786387924 , but in this case, the antrea pods did come up and were running, just that it took sometime for them to be up. This can be noticed from the [diagnostics data](https://github.com/vmware-tanzu/community-edition/files/8000891/diagnostics-data.6.zip)

[2022-02-04 08:03] #2488 closed

[2022-02-04 08:05] karuppiah7890 commented on #2488
For now I have increased the timeout for waiting for pods to 15 minutes as I noticed cases where the pod does come up and runs. If we still notice timeout errors after this, we can dig into them with the diagnostics data and then debug

[2022-02-04 08:13] aman556 opened #3036 "Grafana Installation is failing"
## Bug Report

- After installing all the prerequisites packages like `cert-manager`, `local-path-storage`, and `contour` the grafana is failing in installation.
- Contour service type is `clusterIP`
- In grafana configuration `ingress.enabled: false`

## Expected Behavior

The installation has to be successful.
## Steps to Reproduce the Bug

Install grafana after all the required packages.
## Scr

[2022-02-04 08:14] aman556 commented on #3036
[code]
  How to do above connection?

[2022-02-04 08:21] aman556 opened #3037 "[multus-cni] e2e-test is failing"
## Bug Report

e2e-test is failing for multus-cni.
## Expected Behavior

Test has to pass.
## Steps to Reproduce the Bug
Run `make e2e-test` in `addon/package/multus-cni/3.7.1/test`

## Screenshots or additional information and context

[code]
## Environment Details

* Build version (`tanzu version`): `v0.10.1`
* Deployment (Managed/Standalone cluster): Standalone
* Infrastructure Provider (Docker

[2022-02-04 09:02] #2533 closed

[2022-02-04 09:03] karuppiah7890 commented on #2533
Due to this issue, there were many Azure TCE clusters lying around that weren't cleaned up 😅 . Cluster unique names that can be found in the pipelines -

[code]

[2022-02-04 09:11] navidshaikh commented on #3033
tanzu-framework v0.16.0 [release](https://github.com/vmware-tanzu/tanzu-framework/releases) (see release notes) onwards, we're defaulting to ship antrea-standard in the releases. So if you're planning to pin tanzu-framework at v0.16.0 (or any other higher release), we should be good (we'd need to check about the promotion of artifacts to prod registry though).

If TCE March release would like to p

[2022-02-04 10:58] #3022 closed

[2022-02-04 11:40] karuppiah7890 commented on #2488
Another similar error is - https://github.com/vmware-tanzu/community-edition/runs/5064119308?check_suite_focus=true

There are lot of places where we have timeouts defined 😅 Gotta refactor the code. For now I think we can start with fixing (increasing) the timeout value alone. I'll raise a PR for the fix

[2022-02-04 12:34] kcoriordan opened #3040 "Add steps in doc that describe how to add C:\Program Files\tanzu permanently into your system's PATH.""
## Description
When you install TCE on windows, the following output shows at the end of a successful installation:
`"Please add C:\Program Files\tanzu permanently into your system's PATH."`

Add these steps somewhere in the the doc:

1. Open the Start Search, type in “env”, and choose “Edit the system environment variables”:
2. Click the “Environment Variables…” button.
3.Under the “System Variab

[2022-02-04 12:36] stmcginnis commented on #3025
I agree, this is good as its own proposal. And also agree, this would be a good thing.

The only thing I am not sure of is the way cobra handles error returns and if there is a way to tell it to provide different exit codes. But from what I've seen, the `RunE` method of implementing commands rarely gives what we want, and we should probably just use `Run` and print out our own errors and exit dire

[2022-02-04 12:55] kcoriordan opened #3041 "Change TCE version in code samples to dynamic in Package Installation topic"
## Description

Replace  2 occurrences of 0.9.1 with {{< release_latest >}}
in output codeblocks in site\content\docs\assets\package-installation, step 2, 3

## Location

## Additional Context

[2022-02-04 15:04] jpmcb commented on #3025
Happy to write this proposal unless @jorgemoralespou is passionate about it! 👀

[2022-02-04 15:43] joshrosso opened #3043 "Update decoupled released design doc to include imgpkg copy"
The current design doc has a section on `container images` that mentions the need to copy upstream images into VMware's registry then creating the package. However, with `imgpkg copy -b` this can be done more easily and retain a package bundle source that points to the true upstream project.

Ask:

1. Take a minimal version of our `main` package repository.
    1. This should be a modified version

[2022-02-04 15:53] joshrosso commented on #3033
@navidshaikh we will pin to `v0.16.0` or greater.

With that now known, what should be our first step when it's time to release?

[2022-02-04 16:02] jpmcb opened #3045 "Implement `unmanaged-cluster` e2e tests"
## Feature Request

Since `standalone-cluster` is being removed, including all associated bits and tests, we should replace those tests with `unamanged-cluster` ones

## Additional context

Tracker issue: https://github.com/vmware-tanzu/community-edition/issues/3005
PR to remove e2e tests: https://github.com/vmware-tanzu/community-edition/pull/3007

cc @vmware-tanzu/tce-releng

[2022-02-04 16:04] jorgemoralespou commented on #3025
@jpmcb I'm never passionate about anything ;-) so you can go ahead, but TBH I think this could just be part of @stmcginnis's proposal around improving error handling and visibility during bootstrapping. I could understand not including it there if the proposal would extend to error codes across all the plugins and commands. But then, maybe this should be moved to tanzu-framework, or defined here a

[2022-02-04 16:05] jpmcb commented on #3008
I've created this issue to track work for replacing `standalone` e2e tests with `unamanged` ones: https://github.com/vmware-tanzu/community-edition/issues/3045

For now @tylerschultz, can your team use managed clusters with this script?
[code]

[2022-02-04 16:58] kartiklunkad26 commented on #2848
Additional detail - we are proposing this change to go in to the TCE v0.11 release.

[2022-02-04 17:21] joshrosso commented on #3033
@navidshaikh what's unclear is the pinning of the **compatibility file**, which drives the correlation of the TKG-BOM and TKR-BOM.

Looking at the 0.16.0 tag:

https://github.com/vmware-tanzu/tanzu-framework/blob/1fdb45bc1fda2597b85f56a2ea3adb6bc51e814f/Makefile#L61-L67

Framework is pointing to `framework-zshippable/tkg-compatibility`. Seems like will not guarantee the right compatibility file /

[2022-02-04 17:25] mfine30 commented on #2992
@joshrosso – thanks for pushing on that and making us think through it. From chatting with @berndtj, I realized that I thought we did more in TMC than TMC does today. TMC currently only shows the cloud vs the provider for an attached cluster (i.e. it's a vSphere cluster for an attached cluster).

I think that means for this track of work:
* item `4` can be inferred by TMC based on the management c

[2022-02-04 17:53] #2974 closed

[2022-02-04 18:31] joshrosso commented on #2992
perfect, that's exactly what I was hoping ya'll would say.

Make sense and I do agree it'd be a solid future-term thing to expose.

@berndtj can you throw us a :+1: you're on the same page with what @mfine30 said?

[2022-02-04 18:32] christianang commented on #3008
I think we will just point to the getting started guide to explain how to deploy a cluster. Thus removing the need for maintenance of this Readme when scripts change.

[2022-02-04 18:38] #3008 closed

[2022-02-04 20:26] #3041 closed

[2022-02-04 21:04] nrb commented on #3037
@vmware-tanzu/pkg-multus-cni-owners Could you please take a look at this failing e2e test?

[2022-02-04 21:09] nrb commented on #3029
This sounds like a good idea. @seemiller should we update our docs automation to make the latest version of package's README the landing page?

I think this will likely be pushed out to v0.12.0 or later as we figure out higher level versioning of TCE docs, too.

[2022-02-04 21:12] nrb commented on #3025
@jorgemoralespou can you provide a few examples of what errors you're thinking of? Doesn't need to be a proposal, but it'll help us understand what categories you've got in mind.

[2022-02-04 23:02] jorgemoralespou commented on #3025
Sure. When creating a cluster (I'm only thinking about unmanaged now), it goes through multiple steps (prereqs check, pulling down image, parsing tkr, pulling down kapp-controller, installing package repository,...). What we would like is to have a different error code for every error in these steps so that if e.g. we get error code -13 we know it means that kapp-controller image could not be pull

[2022-02-05 21:16] vfarcic opened #3049 "Failed to create kind cluster"
## Bug Report

When creating a management cluster, the following error pops up:

[code]

I tried it on an Intel and Silicon (M1) Mac and, in both machines, I tried deploying it as Docker and on AWS. The error is always the same.

The `kind create cluster` command works.

[code]

[code]

## Expected Behavior

Management cluster created

## Steps to Reproduce the Bug

Install latest Tanzu community

[2022-02-05 22:08] stmcginnis commented on #3049
Hi @vfarcic - thanks for reporting this.

[ARM is not currently supported](https://github.com/vmware-tanzu/community-edition/issues/2171), so unfortunately you will not be able to deploy from that machine.

Can you verify you are not using cgroupv2 on the Linux machine? If you run `docker info | grep Cgroup` that should show the version.

[2022-02-05 22:09] stmcginnis commented on #3049
Sorry, I mean on the Intel machine, not Linux. Intel MacOS is supported. We just need to make sure you are running a version of Docker Desktop prior to 4.3 when they switched over to cgroupv2.

[2022-02-06 01:38] vfarcic commented on #3049
I upgraded docker desktop yesterday so it is definitely never than 4.3. Is there an issue associated with the work on the support for cgroupv2 so that I can follow?

[2022-02-07 01:13] stmcginnis commented on #3049
OK, downgrading to anything prior to 4.3.0 should get things working for you. 4.2.x still used cgroupv1.

Support in TCE is dependent on changes in tanzu-framework. Those changes appear to have been made, but we need a newer release of TCE that uses a release that includes it. The tracking issue in the `community-edition` repo can be found here: https://github.com/vmware-tanzu/community-edition/is

[2022-02-07 08:04] steven-zou commented on #2992
From the TMC LCM engineering perspective, we'd like the current TKG LCM extension can also support managing the LCM of TCE clusters to reduce efforts and code complexities. To achieve this goal, there are some needs that need to be met.

The first and top thing is the **PRIMARY NEED2** of this proposal:

It should be noted here that the current TKG LCM extension is referring to the client library

[2022-02-07 08:07] steven-zou commented on #2992
Additionally, story `item 5` is really not part of LCM stories.

[2022-02-07 09:03] snehalbiche opened #3053 "OS Image with Kubernetes v1.21.5+vmware.1-tkg.1-tf-v0.10.1 required"
## Bug Report
OS Image with Kubernetes v1.21.5+vmware.1-tkg.1-tf-v0.10.1

## Expected Behavior
user should be able to select template version from uploaded OVF

## Steps to Reproduce the Bug
1) download and install v0.10.0-rc-3 from https://github.com/vmware-tanzu/community-edition/releases/tag/v0.10.0-rc.3
2) run tanzu management-cluster create --ui
observe UI complaints about template with below

[2022-02-07 12:20] stmcginnis commented on #3053
Hi @snehalbiche! Unfortunately we are not able to publish OVAs for pre-release versions of TCE. Once the final release goes out, we will then have them published in the expected place on Customer Connect.

We expect the v0.10.0 release to be out very soon, so watch for updates there. In the meantime, the published v0.9.1 release will work for vSphere deployments. If you want to try out any other u

[2022-02-07 12:20] #3053 closed

[2022-02-07 13:12] snehalbiche commented on #3053
Hi,

Thanks for the detailed information but unfortunately we already logged a bug "https://github.com/vmware-tanzu/tanzu-framework/issues/1203" against v0.9.1 and this is blocking our POC for the last 2-3 months. we suspect this is due to proxy we have to use in our network and cant disable proxy due to org policy.

do we have any workaround where we can edit version files and move ahead with the

[2022-02-07 13:15] snehalbiche commented on #3053
if I change versions under BOM files it looks like it will work but unable to figure out how its searches for the Template name?

Your management cluster will be deployed with Tanzu Kubernetes release (TKr) v1.21.2+vmware.1. We are unable to detect a VM template that belongs to this Tanzu Kubernetes release. You must install a VM template that belongs to Tanzu Kubernetes release v1.21.2+vmware.1 t